@use '../../base' as *;

// emoji 面板
[data-key="dialog-emojis"] {

    --b3-border-radius-b: 14px;

    .b3-dialog__scrim {
        backdrop-filter: none;
        transition: none;

        @include darkmode-counterpart {
            backdrop-filter: none;
            transition: none;
        }
    }

    .b3-dialog__container {
        // outline: 1px solid rgb(map-get($theme-light, on-background), 0.1);
        background-color: var(--b3-menu-background);
        outline-offset: 0;        
        @include theme-variant-border($border: true);

        .b3-dialog__body {
            border-radius: 11px;
            z-index: 0;
        }
    }
}

.emojis {
    padding: 0;

    // .fn__flex:first-child {
    //     // margin: 8px 0;
    //     padding: 8px 0;

    //     // 搜索框
    //     span.fn__space+.b3-form__icon {
    //         overflow: visible;
    //     }
    // }

    &__tabheader {
        padding-top: 8px;
        border-color: var(--b3-border-color-trans);
    }

    &__tabbody {
        [data-type="tab-emoji"] {
            >.fn__hr {
                display: none;
            }

            >.fn__flex:nth-child(2) {
                // position: absolute;
                // top: 6px;
                // margin-inline-start: 64px;
                // margin-inline-end: 30px;
                // width: -webkit-fill-available;

                margin: 8px 0 2px;
            }
        }
    }

    &__panel {
        padding: 0 8px;

        .emojis__content {
            display: grid;
            flex-wrap: wrap;
            grid-template-columns: repeat(auto-fill, minmax(36px, 4fr));
            gap: 6px;
            min-height: unset !important;

            .emojis__item {
                padding: 0;
                font-size: 28px;
                height: 36px;
                width: 36px; // https://github.com/mustakshif/Asri/issues/153

                &--current {
                    background-color: transparent;
                }

                &:hover {
                    background: transparent;
                    transform: scale(1.35);
                    transition: transform .7s var(--asri-ease-spring-4);
                    transform-origin: 50% 82.5%;
                }
            }
        }
    }

    // 保证自定义表情为空时正常显示
    &__title[data-type="1"] {
        +.emojis__content>div:only-child {
            grid-column: 1 / -1;
        }
    }

    &__panel+.fn__flex {
        border-top: 1px solid var(--b3-border-color-trans);
        font-family: var(--b3-font-family-emoji);

        .emojis__type {
            padding: 4px 0;
            filter: saturate(0.1) opacity(0.6);

            &:hover {
                filter: none;
                background-color: transparent;
            }
        }
    }

    &__item {
        border-radius: unset;
    }

    &__item img,
    &__item svg {
        height: 28px;
        width: 28px;
        margin: 0 auto;
    }

    // 自定义表情内容
}
