@use "../../base" as *;
@use "../utils" as *;

// 导出界面
body[style="-webkit-print-color-adjust: exact;"] {
  // https://github.com/mustakshif/Asri/issues/240
  .b3-button:not(.b3-button--outline, .b3-button--big),
  .b3-switch {
    --b3-theme-primary: rgb(52, 120, 246);
    --b3-theme-on-primary: #fff;
  }

  #action {
    .b3-label {
      border-bottom: none;
      display: flex;

      &:nth-child(-n + 3) {
        flex-direction: column;
      }

      .fn__hr {
        flex-grow: 1;
      }

      .b3-switch {
        margin-left: 8px;
        align-self: center;
      }
    }

    .b3-button--cancel {
      @include button-action("normal");
    }

    .b3-button--text {
      @include button-action("primary");
    }

    // padding-bottom: 8px; // unnecessary, use default value
    // >:last-child {
    //     padding: 8px 16px !important;
    // } // ❓ don't konw why this statement causes large cpu usage on mobile
  }
}

/* 
* 导出窗口 
*/

// #preview {
//     font-feature-settings: "ss06" on;
// } //避免在非苹果设备上出现意外的字形渲染结果

// #aciton {
//     .b3-button--cancel {
//         @include button-action('normal');
//     }

//     .b3-button--text {
//         @include button-action('primary');
//     }
// }
