@use "../../base" as *;
@use "../utils" as *;
@use "../../features/utils" as *;

.config-bazaar__panel {
  // padding-bottom: 8px;

  .config-bazaar__title {
    position: sticky;
    top: 0;
    z-index: 2;
    align-items: center;
    backdrop-filter: none;
    padding: 8px 16px;
    background-color: var(--b3-theme-background);

    .b3-form__icon .b3-text-field {
      @media (max-width: 830px) {
        width: calc(100% - 32px);
      }
    }

    .b3-switch {
      transform: translateX(11px);
      margin: 0 !important;
    }
  }

  .counter {
    background-color: transparent !important;
  }

  &[data-type="downloaded"] {
    .b3-button {
      @include button-action(1) {
        padding: 4px;
        outline: none;
      }

      &:not(.b3-button--outline) {
        background-color: transparent;
        color: var(--b3-theme-primary);
        font-weight: 600;

        &:hover,
        &:focus {
          box-shadow: none;
        }
      }

      &.b3-button--outline {
        background-color: transparent;
        color: var(--b3-theme-on-surface);
        font-weight: normal;

        &:hover {
          color: var(--b3-theme-on-background);
          box-shadow: none;
        }
      }

      & + .fn__space + .b3-form__icon {
        margin-left: 8px;
      }
    }

    [data-type="myPlugin"]:not(.b3-button--outline) ~ .counter {
      transform: translateX(negateForRTL(-64px));
    }

    // 统一更新的卡片
    [data-type="downloaded-update"] {
      .config-bazaar__content {
        margin: 10px 20px;

        .b3-card {
          &,
          &:hover {
            // box-shadow: 0 0 0 1px inset var(--b3-theme-primary-light);

            // @include darkmode-counterpart {
            //     box-shadow: 0 0 0 1px inset var(--b3-theme-primary);
            // }

            box-shadow: none;
          }
        }
      }

      // 有统一更新时的插件开关
      // &:not(:empty)~.config-bazaar__title {
      //     .b3-switch {
      //         transform: translateX(-20px);
      //     }
      // }

      .block__icon[target] + .block__icon {
        margin-left: auto;
      }
    }

    // 已下载卡片容器
    .config-bazaar__content {
      // padding: 0 0 16px 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(327px, 1fr));
      gap: 20px;
      margin: 10px 20px 20px;
      width: auto;

      &[data-loading="true"] {
        > div:not(.b3-card):first-child {
          grid-column: 1 / -1;
          transform: translateY(-44px);
        }

        // loading svg
      }

      > ul.b3-list {
        grid-column: 1 / -1;
        text-align: center;
      }

      // when empty

      .b3-card {
        display: grid;
        grid-template-areas: "img info" "img buttons";
        grid-template-columns: 90px 1fr;

        > .b3-card__img {
          grid-area: img;

          + div {
            grid-area: info;
          }
        }

        > .b3-card__actions {
          grid-area: buttons;
          padding: 0 16px 14px;
          align-self: flex-end;

          > [data-type="setting"],
          > [data-type="setting"].fn__none ~ [data-type="uninstall"],
          > [data-type="open"]:first-child {
            margin-left: auto;
            // justify-content: end;
            // flex-grow: 1; // 鼠标移至空白区域时也会激活图标

            // tooltip
            &::after {
              right: 0;
              margin-right: 0;
            }
          }

          // 赞助图标
          &--right a {
            margin-left: 0;
          }
        }

        .b3-card__info--left {
          padding: 16px 16px 8px;

          @media (max-width: 750px) {
            display: block;
          }
        }
      }
    }
  }

  // 未下载项目容器
  .config-bazaar__content {
    margin-top: 0;
    width: 100%;
    // 网格布局要求父容器的宽度不固定

    .b3-cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(327px, 1fr));
      gap: 20px;
      margin: 10px 20px 20px;

      > .fn__flex-1 {
        display: none;
      }
    }

    .b3-card {
      border-radius: $border-rd-card;
      background-color: var(--b3-theme-background);
      border: none;
      box-shadow: none;
      // box-shadow: 0 0 0 1px inset var(--b3-border-color-trans);
      outline: 1.5px solid var(--b3-border-color-trans);
      outline-offset: -1.5px;
      margin: 0;
      transition-property: outline, transform, box-shadow;
      transition-duration: 0.2s;
      overflow: visible;

      @include superellipse($border-rd-card);

      &--current {
        background-color: rgb(from var(--b3-theme-primary) r g b / 0.1);
        // box-shadow: 0 0 0 1px inset var(--b3-theme-primary-lighter);
      }

      &__img {
        margin-left: unset;
        margin-inline-start: 16px;
      }

      &--wrap {
        min-width: 327px;
      }

      &__info {
        font-weight: 500;
        padding: 16px 16px 8px;

        > * {
          font-weight: normal;
        }
      }

      &__desc {
        word-break: initial;
      }

      &__info .ft__smaller {
        display: none;
      }

      &:hover {
        transform: scale(1.01);
        // outline: 2px solid var(--b3-theme-primary-light);
        z-index: 1;
        // box-shadow: none;

        box-shadow: 0px 13px 25px -2px rgb(from var(--b3-theme-primary) r g b/0.1), 0px 0px 10px 0px rgb(from var(--b3-theme-primary) r g b/0.1);

        @include darkmode-counterpart {
          box-shadow: 0px 13px 25px -2px rgb(from var(--b3-theme-primary) r g b/0.3), 0px 0px 10px 0px rgb(from var(--b3-theme-primary) r g b/0.15);
        }
      }

      // &::after {
      //     content: '';
      //     display: block;
      //     position: absolute;
      //     width: 100%;
      //     height: 100%;
      //     border-radius: inherit;
      //     opacity: 0;
      //     transition: opacity .2s;
      //     pointer-events: none;
      //     // @include menu-shadow(var(--b3-theme-primary), $opacity-light: .2);
      //     // outline-color: transparent;

      //     box-shadow: 0px 13px 25px -2px rgb(from var(--b3-theme-primary) r g b/0.1), 0px 0px 10px 0px rgb(from var(--b3-theme-primary) r g b/0.1);

      //     @include darkmode-counterpart {
      //         box-shadow: 0px 13px 25px -2px rgb(from var(--b3-theme-primary) r g b/0.3), 0px 0px 10px 0px rgb(from var(--b3-theme-primary) r g b/0.15);
      //     }
      // }

      &--current,
      &:hover {
        outline-color: var(--b3-theme-primary-lighter);

        @include darkmode-counterpart {
          outline-color: var(--b3-theme-primary);
        }
      }

      // &:hover::after {
      //     opacity: 1;
      // }
    }
  }

  .b3-card__img img {
    @include superellipse(9px);
  }
}

#configBazaarReadme {
  transition: transform var(--asri-ease-in-2) 0.2s;
  opacity: 1;
  z-index: 2;
  padding: 0;

  will-change: transform; // fix https://github.com/mustakshif/Asri/issues/55

  // transform: scale(1.08);
  // right: 0;
  // opacity: 0;
  // pointer-events: none;
  // transition: opacity var(--asri-ease-out-5) 0.2s, transform 0.3s, filter var(--asri-ease-out-5) 0.3s;

  .item__side {
    padding: 16px;
    background-color: var(--b3-theme-surface);
    justify-content: center;

    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:
      30% minmax(max-content, 32px) 1.5em calc(2.4em + 28px) 3em calc(3em + 28px) 28px 56px repeat(auto-fill, minmax(28px, auto))
      3em;

    .fn__hr--b,
    .fn__hr,
    .fn__flex-1 {
      display: none;
    }

    .item__img {
      grid-column: 1 / -1;
      margin-bottom: 32px;
      margin-top: auto;

      @include superellipse(20px);

      + div {
        // repo name
        + div + div {
          grid-column: 1 / -1;
          height: 1em;
          // text-align: end;
        }
      }
    }

    // author
    > .block__icons {
      grid-column: 1 / -1;
      height: 1em;
      padding: 0;
      min-height: unset;
    }

    // 下载、反馈按钮
    > div:not([class]) {
      grid-column: 1 / -1;
    }

    // 底部图标
    > .fn__flex:nth-last-child(1 of .fn__flex) {
      grid-column: 1 / -1;
      align-items: center;
    }

    // 返回主题列表按钮
    > div:first-child {
      position: absolute;
      top: 16px;
    }

    > div:last-child {
      flex-grow: 0;
    }

    .fn__hr--b {
      height: 8px;
    }

    // author
    .block__icons {
      background-color: rgb(from var(--b3-theme-on-surface) r g b / 0.1);
      border-radius: 2em;
      width: fit-content;
      padding-inline-start: 8px;
      padding-inline-end: 12px;
      margin: 0 auto 12px;
      min-height: 2.4em;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.05);
      }

      .fn__space {
        width: 4px;
      }
    }

    a:not(.ft__on-surface, .b3-button) {
      color: var(--b3-theme-on-background);
    }

    > .ft__on-surface {
      font-weight: 600;
      color: var(--b3-theme-on-background);
      // font-size: 1em;

      &::first-line {
        font-weight: normal;
        color: var(--b3-theme-on-surface);
        // font-size: calc(1em / 1.2);
      }
    }

    .item__title {
      font-weight: 600;
      word-break: normal;
    }

    .b3-button {
      @include button-primary;
      color: var(--b3-theme-accent);

      // @include darkmode-counterpart {
      //     background-color: #0004;
      // }

      margin-top: 4px;

      &--progress {
        // border-radius: 99px;
        overflow: hidden;

        &:hover {
          background-color: transparent;
          outline-color: rgb(from var(--b3-theme-on-background) r g b/0.2);
        }

        > span {
          border-radius: 0;
          // transition: width .2s; // 没用，元素会随每次进度变化完全更新
          left: unset;
          inset-inline-start: 0px;

          // animation: downloading-color-change 2s infinite ;

          // @keyframes downloading-color-change {
          //     0% {
          //         background-color: var(--b3-theme-primary);
          //     }
          //     50% {
          //         background-color: hsl(from var(--b3-theme-primary) h s calc(l * 1.2) );
          //     }
          //     100% {
          //         background-color: var(--b3-theme-primary);
          //     }
          // }
        }
      }
    }
  }

  .item__main {
    margin-left: 0;
    padding: 0;
    background-color: var(--b3-theme-background);

    .b3-typography {
      padding: 0 max(32px, calc(50% - 21.5em));

      // @media (min-width: 1292px) {
      //     padding: 1px; //显示表格左右边框
      //     width: min(42em, calc(100% - 48px));
      //     margin: 24px auto 0;
      // }

      // > blockquote:first-child {
      //   // border: none;
      //   border-radius: 16px;
      //   padding: 12px 20px;
      //   color: rgb(from var(--b3-theme-on-background) r g b / 0.6);
      //   background-color: #0000;
      //   font-weight: 600;
      //   margin: 0;
      //   font-size: 120%;
      //   outline-width: 1.5px;
      //   outline-offset: -1.5px;
      // }

      &:not(.item__readme) {
        border-radius: 0;
        position: absolute;
        position-anchor: --preview;
        left: anchor(left);
        bottom: anchor(bottom);
        padding: 0;
        width: calc(100% - 292px);
        pointer-events: none;
        height: auto;
        mix-blend-mode: luminosity;
        // @include smoothGradientVar(var(--b3-theme-background), $direction: "to top");

        // float: left;

        // &::before {
        //   content: "";
        //   display: block;
        //   width: 100%;
        //   height: 100%;
        //   position: absolute;
        //   bottom: 0;
        //   mix-blend-mode: luminosity;
        //   // @include smoothGradientHex(#000, 0.5, $direction: "to top");
        //   background-image: linear-gradient(to bottom, #0000, #101010);
        // }

        > blockquote {
          margin: 0;
          width: 100%;
          box-sizing: border-box;
          padding: 80px max(32px, calc(50% - 21.5em / 1.5)) 16px;
          color: #fafafa;
          background-color: #0000;
          border-radius: 0 !important;
          font-weight: 600;
          font-size: 150%;
          text-shadow: 0px 0px 8px #0004;
          box-shadow: none;
          clip-path: none;
          @include smoothGradientHex(#111, 0.5, $direction: "to top");
          // mix-blend-mode: plus-lighter;
          text-wrap-style: balance;
          &::before {
            display: none;
          }

          > p {
            line-height: 1.3;
          }
        }
      }

      &.item__readme {
        padding-bottom: 32px;

        @for $i from 1 through 6 {
          > h#{$i}:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }

  .item__preview {
    border-radius: 0;
    anchor-name: --preview;

    &--fullscreen {
      anchor-name: none;
    }

    // background-position 性能表现不佳
    // view-timeline-name: --preview-background;
    // animation-timeline: --preview-background;
    // // view-timeline-axis: y;
    // animation-range: 67% normal;
    // animation-fill-mode: both;
    // animation-name: parallax-background, preview-cover-fade-out;
    // animation-timing-function: linear;

    // @keyframes parallax-background {
    //     100% {
    //         background-position: center calc(50% + 160px);
    //     }
    // }

    // @keyframes preview-cover-fade-out {

    //     0%,
    //     60% {
    //         opacity: 1;
    //     }

    //     90%,
    //     100% {
    //         opacity: 0;
    //     }
    // }
  }

  .fn__flex:nth-last-child(1 of .fn__flex) {
    margin-top: 12px;
  }

  &.config-bazaar__readme--show {
    transition: transform var(--asri-ease-out-5) 0.3s, filter linear 0.3s 0.1s;
    // transform: none;
    // opacity: 1;
    // pointer-events: all;
  }

  ::details-content {
    height: 0%;
    interpolate-size: allow-keywords;
    transition: content-visibility, height, opacity, transform;
    transition-behavior: allow-discrete;
    transition-duration: 0.22s, 0.25s, 0.1s, 0.25s;
    transition-delay: 0s, 0s, 0s, 0s;
    opacity: 0;
    transition-timing-function: linear, var(--asri-ease-in-out-5), linear, var(--asri-ease-in-out-3);
    transform-origin: calc(-100% * var(--gnf, 0)) 0%;
    transform: translateY(-1em) scale(0.8);
  }
  [open]::details-content {
    height: fit-content;
    opacity: 1;
    transition-duration: 0s, 0.3s, 0.05s, 0.3s;
    transition-delay: 0.05s, 0s, 0.13s, 0s;
    transform: none;
    transition-timing-function: linear, var(--asri-ease-in-out-5), linear, var(--asri-ease-in-out-5);
  }
  details {
    summary {
      cursor: pointer;
    }
  }
  // details {
  //   summary {
  //     cursor: pointer;
  //   }
  //   > summary + * {
  //     transition-property: margin;
  //     transition-duration: 0.1s;
  //     transition-timing-function: linear;
  //   }
  //   &:not([open]) > summary + * {
  //     margin: 0;
  //   }
  // }
}
