body:not(.body--blur) [data-type=wnd]:not(.shrink-in-tab) > .fn__flex:first-child {
  background-color: transparent;
  margin-bottom: -42px;
  z-index: 3;
}
body:not(.body--blur) [data-type=wnd] .layout-tab-bar .item--focus {
  -webkit-backdrop-filter: brightness(1) saturate(1.8);
          backdrop-filter: brightness(1) saturate(1.8);
}
html[data-theme-mode=dark] body:not(.body--blur) [data-type=wnd] .layout-tab-bar .item--focus {
  background-color: rgba(255, 255, 255, 0.1254901961);
  -webkit-backdrop-filter: brightness(1.2) saturate(1.8);
          backdrop-filter: brightness(1.2) saturate(1.8);
}
body:not(.body--blur) [data-type=wnd] .layout-tab-container > .protyle[data-loading=finished]::before {
  --blur-block-height: 84px;
  --blur-radius-main: 40px;
  content: "";
  display: block;
  width: 100%;
  height: min(var(--blur-radius-main) * 2 + var(--blur-block-height), 100%);
  position: absolute;
  top: 0;
  z-index: 2;
  pointer-events: none;
  -webkit-mask-image: linear-gradient(to bottom, black 0, black calc(var(--blur-block-height) - 0.5px), transparent calc(var(--blur-block-height) + 1px));
          mask-image: linear-gradient(to bottom, black 0, black calc(var(--blur-block-height) - 0.5px), transparent calc(var(--blur-block-height) + 1px));
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(1.1);
          backdrop-filter: blur(40px) saturate(3) brightness(1.1);
}
html[data-theme-mode=dark] body:not(.body--blur) [data-type=wnd] .layout-tab-container > .protyle[data-loading=finished]::before {
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(0.95);
          backdrop-filter: blur(40px) saturate(3) brightness(0.95);
}
body:not(.body--blur) [data-type=wnd] .layout-tab-container :not(#searchPreview) > .protyle-breadcrumb {
  padding-top: 42px;
  margin-bottom: -84px;
  height: 84px;
  background-color: rgba(255, 255, 255, 0.88);
  z-index: 2;
}
html[data-theme-mode=dark] body:not(.body--blur) [data-type=wnd] .layout-tab-container :not(#searchPreview) > .protyle-breadcrumb {
  background-color: rgba(30, 30, 30, 0.88);
}
body:not(.body--blur) [data-type=wnd] .layout-tab-container .protyle[data-loading=finished].fullscreen::before {
  --blur-block-height: var(--toolbar-height);
}
body:not(.body--blur) [data-type=wnd] .layout-tab-container .fullscreen > .protyle-breadcrumb {
  height: var(--toolbar-height) !important;
  padding-top: 0 !important;
}
body:not(.body--blur) [data-type=wnd] .layout-tab-container :not(#searchPreview) > .protyle-content {
  padding-top: 84px;
}
body:not(.body--blur) [data-type=wnd] .layout-tab-container > .file-tree .protyle-content {
  padding-top: 0 !important;
}
body:not(.body--blur) [data-type=wnd] .layout-tab-container .block__icons.search {
  padding-top: 42px;
}
body:not(.body--blur) [data-type=wnd] .pdf__outer#outerContainer #sidebarContainer {
  top: 84px;
}
body:not(.body--blur) [data-type=wnd] .pdf__outer#outerContainer .pdf__toolbar #toolbarContainer {
  padding-top: 42px;
}
body:not(.body--blur) [data-type=wnd] .pdf__outer#outerContainer .findbar {
  top: 78px;
}
body:not(.body--blur) [data-type=wnd] .pdf__outer#outerContainer #viewerContainer {
  top: 84px;
  transition: none;
}
body:not(.body--blur) [data-type=wnd] .pdf__outer#outerContainer #dialogContainer .dialog {
  background-color: rgba(236, 236, 236, 0.88);
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(1.1);
          backdrop-filter: blur(40px) saturate(3) brightness(1.1);
}
html[data-theme-mode=dark] body:not(.body--blur) [data-type=wnd] .pdf__outer#outerContainer #dialogContainer .dialog {
  background-color: rgba(50, 50, 50, 0.88);
}
html[data-theme-mode=dark] body:not(.body--blur) [data-type=wnd] .pdf__outer#outerContainer #dialogContainer .dialog {
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(0.95);
          backdrop-filter: blur(40px) saturate(3) brightness(0.95);
}
body:not(.body--blur) .protyle-background__img::after {
  content: "";
  display: inline-block;
  width: -webkit-fill-available;
  height: 13.5vh;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-mask-image: linear-gradient(to top, black 50%, transparent);
          mask-image: linear-gradient(to top, black 50%, transparent);
  transform: translateZ(0);
  pointer-events: none;
}
body:not(.body--blur) .protyle-toolbar {
  background-color: rgba(246, 246, 246, 0.8);
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(1.1);
          backdrop-filter: blur(40px) saturate(3) brightness(1.1);
}
html[data-theme-mode=dark] body:not(.body--blur) .protyle-toolbar {
  background-color: rgba(56, 56, 56, 0.8);
}
html[data-theme-mode=dark] body:not(.body--blur) .protyle-toolbar {
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(0.9);
          backdrop-filter: blur(40px) saturate(3) brightness(0.9);
}
body:not(.body--blur) .protyle-preview {
  margin-top: 84px;
}
body:not(.body--blur) #status {
  background-color: rgba(246, 246, 246, 0.8);
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(1.1);
          backdrop-filter: blur(40px) saturate(3) brightness(1.1);
}
html[data-theme-mode=dark] body:not(.body--blur) #status {
  background-color: rgba(56, 56, 56, 0.8);
}
html[data-theme-mode=dark] body:not(.body--blur) #status {
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(0.9);
          backdrop-filter: blur(40px) saturate(3) brightness(0.9);
}
body:not(.body--blur) .layout__dockl.layout--float,
body:not(.body--blur) .layout__dockr.layout--float {
  margin-top: 0;
}
body:not(.body--blur) .layout__dockl.layout--float::before, body:not(.body--blur) .layout__dockl.layout--float > .fn__flex-1:first-child::before,
body:not(.body--blur) .layout__dockr.layout--float::before,
body:not(.body--blur) .layout__dockr.layout--float > .fn__flex-1:first-child::before {
  background-color: rgba(255, 255, 255, 0.88) !important;
}
html[data-theme-mode=dark] body:not(.body--blur) .layout__dockl.layout--float::before, html[data-theme-mode=dark] body:not(.body--blur) .layout__dockl.layout--float > .fn__flex-1:first-child::before,
html[data-theme-mode=dark] body:not(.body--blur) .layout__dockr.layout--float::before,
html[data-theme-mode=dark] body:not(.body--blur) .layout__dockr.layout--float > .fn__flex-1:first-child::before {
  background-color: rgba(30, 30, 30, 0.88) !important;
}
body:not(.body--blur) .layout__dockl.layout--float .layout-tab-container .block__icons, body:not(.body--blur) .layout__dockl.layout--float .layout-tab-container .block__icons ~ *,
body:not(.body--blur) .layout__dockr.layout--float .layout-tab-container .block__icons,
body:not(.body--blur) .layout__dockr.layout--float .layout-tab-container .block__icons ~ * {
  background-color: rgba(255, 255, 255, 0.88);
}
html[data-theme-mode=dark] body:not(.body--blur) .layout__dockl.layout--float .layout-tab-container .block__icons, html[data-theme-mode=dark] body:not(.body--blur) .layout__dockl.layout--float .layout-tab-container .block__icons ~ *,
html[data-theme-mode=dark] body:not(.body--blur) .layout__dockr.layout--float .layout-tab-container .block__icons,
html[data-theme-mode=dark] body:not(.body--blur) .layout__dockr.layout--float .layout-tab-container .block__icons ~ * {
  background-color: rgba(30, 30, 30, 0.88);
}
body:not(.body--blur) .layout__dockl.layout--float .layout-tab-container .graph,
body:not(.body--blur) .layout__dockr.layout--float .layout-tab-container .graph {
  background-color: transparent;
}
body:not(.body--blur) .layout__dockl.layout--float .layout-tab-container .graph.fullscreen,
body:not(.body--blur) .layout__dockr.layout--float .layout-tab-container .graph.fullscreen {
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(1.1);
          backdrop-filter: blur(40px) saturate(3) brightness(1.1);
}
html[data-theme-mode=dark] body:not(.body--blur) .layout__dockl.layout--float .layout-tab-container .graph.fullscreen,
html[data-theme-mode=dark] body:not(.body--blur) .layout__dockr.layout--float .layout-tab-container .graph.fullscreen {
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(0.9);
          backdrop-filter: blur(40px) saturate(3) brightness(0.9);
}
body:not(.body--blur) .layout__dockl.layout--float::after,
body:not(.body--blur) .layout__dockr.layout--float::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(1.1);
          backdrop-filter: blur(40px) saturate(3) brightness(1.1);
}
html[data-theme-mode=dark] body:not(.body--blur) .layout__dockl.layout--float::after,
html[data-theme-mode=dark] body:not(.body--blur) .layout__dockr.layout--float::after {
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(0.9);
          backdrop-filter: blur(40px) saturate(3) brightness(0.9);
}
body:not(.body--blur) .b3-menu,
body:not(.body--blur) .b3-menu__submenu {
  background-color: transparent;
  overflow: hidden;
}
body:not(.body--blur) .b3-menu:not(#searchHistoryList)::before,
body:not(.body--blur) .b3-menu__submenu:not(#searchHistoryList)::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(1.1);
          backdrop-filter: blur(40px) saturate(3) brightness(1.1);
  background-color: rgba(236, 236, 236, 0.8);
}
html[data-theme-mode=dark] body:not(.body--blur) .b3-menu:not(#searchHistoryList)::before,
html[data-theme-mode=dark] body:not(.body--blur) .b3-menu__submenu:not(#searchHistoryList)::before {
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(0.9);
          backdrop-filter: blur(40px) saturate(3) brightness(0.9);
}
html[data-theme-mode=dark] body:not(.body--blur) .b3-menu:not(#searchHistoryList)::before,
html[data-theme-mode=dark] body:not(.body--blur) .b3-menu__submenu:not(#searchHistoryList)::before {
  background-color: rgba(50, 50, 50, 0.8);
}
body:not(.body--blur) .protyle-hint {
  background-color: rgba(236, 236, 236, 0.8);
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(1.1);
          backdrop-filter: blur(40px) saturate(3) brightness(1.1);
}
html[data-theme-mode=dark] body:not(.body--blur) .protyle-hint {
  background-color: rgba(50, 50, 50, 0.8);
}
html[data-theme-mode=dark] body:not(.body--blur) .protyle-hint {
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(0.9);
          backdrop-filter: blur(40px) saturate(3) brightness(0.9);
}
body:not(.body--blur) .protyle-util {
  background-color: rgba(236, 236, 236, 0.8);
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(1.1);
          backdrop-filter: blur(40px) saturate(3) brightness(1.1);
}
html[data-theme-mode=dark] body:not(.body--blur) .protyle-util {
  background-color: rgba(50, 50, 50, 0.8);
}
html[data-theme-mode=dark] body:not(.body--blur) .protyle-util {
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(0.9);
          backdrop-filter: blur(40px) saturate(3) brightness(0.9);
}
body:not(.body--blur) #searchHistoryList {
  background-color: rgba(236, 236, 236, 0.8);
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(1.1);
          backdrop-filter: blur(40px) saturate(3) brightness(1.1);
  overflow: auto;
}
html[data-theme-mode=dark] body:not(.body--blur) #searchHistoryList {
  background-color: rgba(50, 50, 50, 0.8);
}
html[data-theme-mode=dark] body:not(.body--blur) #searchHistoryList {
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(0.9);
          backdrop-filter: blur(40px) saturate(3) brightness(0.9);
}
body:not(.body--blur) .toolbar {
  z-index: 4;
}
body:not(.body--blur) .b3-dialog__body > .b3-cards .b3-card::before {
  --glow-offset: 50%;
  --glow-dir: 135deg;
  --glow-brightness: 1.2;
  --property-percentage: calc(var(--glow-offset) * -1);
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  filter: brightness(var(--glow-brightness)) blur(3px);
  -webkit-mask-image: linear-gradient(var(--glow-dir), transparent calc(var(--property-percentage) - var(--glow-offset)), black var(--property-percentage), transparent calc(var(--property-percentage) + var(--glow-offset)));
          mask-image: linear-gradient(var(--glow-dir), transparent calc(var(--property-percentage) - var(--glow-offset)), black var(--property-percentage), transparent calc(var(--property-percentage) + var(--glow-offset)));
}
body:not(.body--blur) .b3-dialog__body > .b3-cards .b3-card:hover::before {
  --property-percentage: calc(100% + var(--glow-offset));
  transition: --property-percentage 0.5s cubic-bezier(0, 0, 0, 1);
}
body:not(.body--blur) .b3-dialog.emojis-container .b3-dialog__container {
  background-color: rgba(236, 236, 236, 0.8);
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(1.1);
          backdrop-filter: blur(40px) saturate(3) brightness(1.1);
}
html[data-theme-mode=dark] body:not(.body--blur) .b3-dialog.emojis-container .b3-dialog__container {
  background-color: rgba(50, 50, 50, 0.8);
}
html[data-theme-mode=dark] body:not(.body--blur) .b3-dialog.emojis-container .b3-dialog__container {
  -webkit-backdrop-filter: blur(40px) saturate(3) brightness(0.9);
          backdrop-filter: blur(40px) saturate(3) brightness(0.9);
}
body:not(.body--blur) .tooltip {
  background-color: rgba(236, 236, 236, 0.8);
  -webkit-backdrop-filter: blur(20px) saturate(3) brightness(1.1);
          backdrop-filter: blur(20px) saturate(3) brightness(1.1);
}
html[data-theme-mode=dark] body:not(.body--blur) .tooltip {
  background-color: rgba(50, 50, 50, 0.8);
}
html[data-theme-mode=dark] body:not(.body--blur) .tooltip {
  -webkit-backdrop-filter: blur(20px) saturate(3) brightness(0.9);
          backdrop-filter: blur(20px) saturate(3) brightness(0.9);
}
body:not(.body--blur) .protyle-toolbar__item:hover::after {
  background-color: var(--b3-tooltips-background);
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
body:not(.body--blur) .protyle-icon:hover::after {
  background-color: var(--b3-tooltips-background);
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}