@property --property-percentage {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
.protyle-background[style="min-height: 30vh;"] {
  margin-bottom: -48px;
}
.protyle-background[style="min-height: 30vh;"] .protyle-background__img::before {
  content: "";
  display: inline-block;
  width: -webkit-fill-available;
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(to top, white 2%, rgba(255, 255, 255, 0.97) 10%, rgba(255, 255, 255, 0.9) 18%, rgba(255, 255, 255, 0.75) 33%, rgba(255, 255, 255, 0.05) 92%, transparent 99%);
  pointer-events: none;
}
html[data-theme-mode=dark] .protyle-background[style="min-height: 30vh;"] .protyle-background__img::before {
  background: linear-gradient(to top, #1e1e1e 2%, rgba(30, 30, 30, 0.97) 10%, rgba(30, 30, 30, 0.9) 18%, rgba(30, 30, 30, 0.75) 33%, rgba(30, 30, 30, 0.05) 92%, transparent 99%);
}
.protyle-background[style="min-height: 30vh;"].no-icon {
  margin-bottom: -120px;
}
.protyle-background[style="min-height: 30vh;"].no-icon .protyle-icons:not(:nth-of-type(2)) {
  transform: translateY(-48px);
}
.protyle-background[style="min-height: 30vh;"].no-icon .protyle-background__iconw {
  transform: translateY(-96px);
}
.protyle-background[style="min-height: 30vh;"] .protyle-background__iconw {
  transform: translateY(-48px);
}