/* 1层 */
.file-tree>.fn__flex-1>ul>.b3-list-item--focus .b3-list-item__text::before {
    content: "";
    background-color: var(--b3-list-hover);
    border-radius: 6px;
    height: 26px;
    position: absolute;
    width: calc(100% - 4px);
    right:2px;
    top: 2px;
}

/* 2层 */
.file-tree:hover>.fn__flex-1>ul>ul,
.file-tree:hover>.fn__flex-1>ul>ul:has(>.b3-list-item--focus+ul:not(.fn__none)){
	box-shadow: 21px 0 var(--b3-border-color) inset;
	-webkit-mask-image: linear-gradient(to right, transparent 20px, black 20px);
}
.file-tree>.fn__flex-1>ul>ul:has(>.b3-list-item--focus),
.file-tree>.fn__flex-1>ul>.b3-list-item--focus+ul:not(.fn__none){
	box-shadow: 21px 0 var(--b3-border-color) inset;
    -webkit-mask-image: linear-gradient(to right, transparent 20px, black 20px);
}
.file-tree:hover>.fn__flex-1>ul>ul:has(>.b3-list-item--focus),
.file-tree:hover>.fn__flex-1>ul>.b3-list-item--focus+ul:not(.fn__none){
	box-shadow: 21px 0 var(--b3-scroll-color) inset;
}
.file-tree:not(:hover)>.fn__flex-1>ul>ul:has(>.b3-list-item--focus+ul:not(.fn__none)){
    box-shadow: none;
}

.file-tree>.fn__flex-1>ul>ul>.b3-list-item--focus .b3-list-item__text::before {
    content: "";
    background-color: var(--b3-list-hover);
    border-radius: 6px;
    height: 26px;
    position: absolute;
    width: calc(100% - 6px - 18px * 1);
    right:2px;
    top: 2px;
}
.file-tree>.fn__flex-1>ul>ul>.b3-list-item.dragover .b3-list-item__text::before {
    background-color: var(--b3-theme-primary-lightest);
    content: "";
    border-radius: 6px;
    height: 26px;
    position: absolute;
    width: calc(100% - 6px - 18px * 1);
    right:2px;
    top: 2px;
}

/* 3层 */
.file-tree:hover>.fn__flex-1>ul>ul>ul,
.file-tree:hover>.fn__flex-1>ul>ul>ul:has(>.b3-list-item--focus+ul:not(.fn__none)){
	--mask-indent: calc(21px + 18px * 1);
	box-shadow: var(--mask-indent) 0 var(--b3-border-color) inset;
	-webkit-mask-image: linear-gradient(to right, transparent calc(var(--mask-indent) - 1px), black calc(var(--mask-indent) - 1px));
}
.file-tree>.fn__flex-1>ul>ul>ul:has(>.b3-list-item--focus),
.file-tree>.fn__flex-1>ul>ul>.b3-list-item--focus+ul:not(.fn__none){
	box-shadow: var(--mask-indent) 0 var(--b3-border-color) inset;
    --mask-indent: calc(21px + 18px * 1);
    -webkit-mask-image: linear-gradient(to right, transparent calc(var(--mask-indent) - 1px), black calc(var(--mask-indent) - 1px));
}
.file-tree:hover>.fn__flex-1>ul>ul>ul:has(>.b3-list-item--focus),
.file-tree:hover>.fn__flex-1>ul>ul>.b3-list-item--focus+ul:not(.fn__none){
	box-shadow: var(--mask-indent) 0 var(--b3-scroll-color) inset;
}
.file-tree:not(:hover)>.fn__flex-1>ul>ul>ul:has(>.b3-list-item--focus+ul:not(.fn__none)){
    box-shadow: none;
}

.file-tree>.fn__flex-1>ul>ul>ul>.b3-list-item--focus .b3-list-item__text::before {
    content: "";
    background-color: var(--b3-list-hover);
    border-radius: 6px;
    height: 26px;
    position: absolute;
    width: calc(100% - 6px - 18px * 2);
    right:2px;
    top: 2px;
}
.file-tree>.fn__flex-1>ul>ul>ul>.b3-list-item.dragover .b3-list-item__text::before {
    background-color: var(--b3-theme-primary-lightest);
    content: "";
    border-radius: 6px;
    height: 26px;
    position: absolute;
    width: calc(100% - 6px - 18px * 2);
    right:2px;
    top: 2px;
}

/* 4层 */
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul,
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul:has(>.b3-list-item--focus+ul:not(.fn__none)){
	--mask-indent: calc(21px + 18px * 2);
	box-shadow: var(--mask-indent) 0 var(--b3-border-color) inset;
	-webkit-mask-image: linear-gradient(to right, transparent calc(var(--mask-indent) - 1px), black calc(var(--mask-indent) - 1px));
}
.file-tree>.fn__flex-1>ul>ul>ul>ul:has(>.b3-list-item--focus),
.file-tree>.fn__flex-1>ul>ul>ul>.b3-list-item--focus+ul:not(.fn__none){
    --mask-indent: calc(21px + 18px * 2);
    -webkit-mask-image: linear-gradient(to right, transparent calc(var(--mask-indent) - 1px), black calc(var(--mask-indent) - 1px));
	box-shadow: var(--mask-indent) 0 var(--b3-border-color) inset;
}
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul:has(>.b3-list-item--focus),
.file-tree:hover>.fn__flex-1>ul>ul>ul>.b3-list-item--focus+ul:not(.fn__none){
	box-shadow: var(--mask-indent) 0 var(--b3-scroll-color) inset;
}
.file-tree:not(:hover)>.fn__flex-1>ul>ul>ul>ul:has(>.b3-list-item--focus+ul:not(.fn__none)){
    box-shadow: none;
}

.file-tree>.fn__flex-1>ul>ul>ul>ul>.b3-list-item--focus .b3-list-item__text::before {
    content: "";
    background-color: var(--b3-list-hover);
    border-radius: 6px;
    height: 26px;
    position: absolute;
    width: calc(100% - 6px - 18px * 3);
    right:2px;
    top: 2px;
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>.b3-list-item.dragover .b3-list-item__text::before {
    background-color: var(--b3-theme-primary-lightest);
    content: "";
    border-radius: 6px;
    height: 26px;
    position: absolute;
    width: calc(100% - 6px - 18px * 3);
    right:2px;
    top: 2px;
}

/* 5层 */
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul>ul,
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul>ul:has(>.b3-list-item--focus+ul:not(.fn__none)){
	--mask-indent: calc(21px + 18px * 3);
	box-shadow: var(--mask-indent) 0 var(--b3-border-color) inset;
	-webkit-mask-image: linear-gradient(to right, transparent calc(var(--mask-indent) - 1px), black calc(var(--mask-indent) - 1px));
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul:has(>.b3-list-item--focus),
.file-tree>.fn__flex-1>ul>ul>ul>ul>.b3-list-item--focus+ul:not(.fn__none){
    --mask-indent: calc(21px + 18px * 3);
    -webkit-mask-image: linear-gradient(to right, transparent calc(var(--mask-indent) - 1px), black calc(var(--mask-indent) - 1px));
	box-shadow: var(--mask-indent) 0 var(--b3-border-color) inset;
}
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul>ul:has(>.b3-list-item--focus),
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul>.b3-list-item--focus+ul:not(.fn__none){
	box-shadow: var(--mask-indent) 0 var(--b3-scroll-color) inset;
}
.file-tree:not(:hover)>.fn__flex-1>ul>ul>ul>ul>ul:has(>.b3-list-item--focus+ul:not(.fn__none)){
    box-shadow: none;
}

.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>.b3-list-item--focus .b3-list-item__text::before {
    content: "";
    background-color: var(--b3-list-hover);
    border-radius: 6px;
    height: 26px;
    position: absolute;
    width: calc(100% - 6px - 18px * 4);
    right:2px;
    top: 2px;
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>.b3-list-item.dragover .b3-list-item__text::before {
    background-color: var(--b3-theme-primary-lightest);
    content: "";
    border-radius: 6px;
    height: 26px;
    position: absolute;
    width: calc(100% - 6px - 18px * 4);
    right:2px;
    top: 2px;
}

/* 6层 */
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul>ul>ul,
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul>ul>ul:has(>.b3-list-item--focus+ul:not(.fn__none)){
	--mask-indent: calc(21px + 18px * 4);
	box-shadow: var(--mask-indent) 0 var(--b3-border-color) inset;
	-webkit-mask-image: linear-gradient(to right, transparent calc(var(--mask-indent) - 1px), black calc(var(--mask-indent) - 1px));
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul:has(>.b3-list-item--focus),
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>.b3-list-item--focus+ul:not(.fn__none){
    --mask-indent: calc(21px + 18px * 4);
    -webkit-mask-image: linear-gradient(to right, transparent calc(var(--mask-indent) - 1px), black calc(var(--mask-indent) - 1px));
	box-shadow: var(--mask-indent) 0 var(--b3-border-color) inset;
}
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul>ul>ul:has(>.b3-list-item--focus),
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul>ul>.b3-list-item--focus+ul:not(.fn__none){
	box-shadow: var(--mask-indent) 0 var(--b3-scroll-color) inset;
}
.file-tree:not(:hover)>.fn__flex-1>ul>ul>ul>ul>ul>ul:has(>.b3-list-item--focus+ul:not(.fn__none)){
    box-shadow: none;
}

.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>.b3-list-item--focus .b3-list-item__text::before {
    content: "";
    background-color: var(--b3-list-hover);
    border-radius: 6px;
    height: 26px;
    position: absolute;
    width: calc(100% - 6px - 18px * 5);
    right:2px;
    top: 2px;
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>.b3-list-item.dragover .b3-list-item__text::before {
    background-color: var(--b3-theme-primary-lightest);
    content: "";
    border-radius: 6px;
    height: 26px;
    position: absolute;
    width: calc(100% - 6px - 18px * 5);
    right:2px;
    top: 2px;
}

/* 7层 */
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul,
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul:has(>.b3-list-item--focus+ul:not(.fn__none)){
	--mask-indent: calc(21px + 18px * 5);
	box-shadow: var(--mask-indent) 0 var(--b3-border-color) inset;
	-webkit-mask-image: linear-gradient(to right, transparent calc(var(--mask-indent) - 1px), black calc(var(--mask-indent) - 1px));
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul:has(>.b3-list-item--focus),
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>.b3-list-item--focus+ul:not(.fn__none){
    --mask-indent: calc(21px + 18px * 5);
    -webkit-mask-image: linear-gradient(to right, transparent calc(var(--mask-indent) - 1px), black calc(var(--mask-indent) - 1px));
	box-shadow: var(--mask-indent) 0 var(--b3-border-color) inset;
}
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul:has(>.b3-list-item--focus),
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul>ul>ul>.b3-list-item--focus+ul:not(.fn__none){
	box-shadow: var(--mask-indent) 0 var(--b3-scroll-color) inset;
}
.file-tree:not(:hover)>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul:has(>.b3-list-item--focus+ul:not(.fn__none)){
    box-shadow: none;
}

.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>.b3-list-item--focus .b3-list-item__text::before {
    content: "";
    background-color: var(--b3-list-hover);
    border-radius: 6px;
    height: 26px;
    position: absolute;
    width: calc(100% - 6px - 18px * 6);
    right:2px;
    top: 2px;
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>.b3-list-item.dragover .b3-list-item__text::before {
    background-color: var(--b3-theme-primary-lightest);
    content: "";
    border-radius: 6px;
    height: 26px;
    position: absolute;
    width: calc(100% - 6px - 18px * 6);
    right:2px;
    top: 2px;
}

/* 8层 */
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul,
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul:has(>.b3-list-item--focus+ul:not(.fn__none)){
	--mask-indent: calc(21px + 18px * 6);
	box-shadow: var(--mask-indent) 0 var(--b3-border-color) inset;
	-webkit-mask-image: linear-gradient(to right, transparent calc(var(--mask-indent) - 1px), black calc(var(--mask-indent) - 1px));
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul:has(>.b3-list-item--focus),
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>.b3-list-item--focus+ul:not(.fn__none){
    --mask-indent: calc(21px + 18px * 6);
    -webkit-mask-image: linear-gradient(to right, transparent calc(var(--mask-indent) - 1px), black calc(var(--mask-indent) - 1px));
	box-shadow: var(--mask-indent) 0 var(--b3-border-color) inset;
}
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul:has(>.b3-list-item--focus),
.file-tree:hover>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>.b3-list-item--focus+ul:not(.fn__none){
	box-shadow: var(--mask-indent) 0 var(--b3-scroll-color) inset;
}
.file-tree:not(:hover)>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul:has(>.b3-list-item--focus+ul:not(.fn__none)){
    box-shadow: none;
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>.b3-list-item--focus .b3-list-item__text::before {
    content: "";
    background-color: var(--b3-list-hover);
    border-radius: 6px;
    height: 26px;
    position: absolute;
    width: calc(100% - 6px - 18px * 7);
    right:2px;
    top: 2px;
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>.b3-list-item.dragover .b3-list-item__text::before {
    background-color: var(--b3-theme-primary-lightest);
    content: "";
    border-radius: 6px;
    height: 26px;
    position: absolute;
    width: calc(100% - 6px - 18px * 7);
    right:2px;
    top: 2px;
}


.b3-list-item--focus .b3-list-item__text{
	z-index: 0;
}
.b3-list-item--focus .b3-list-item__text::before {
	z-index: -1;
	pointer-events: none;
}
.file-tree .b3-tooltips__nw::after {
	right: 200%;
    top: -15%;
    bottom: unset;
}/* 更多、新建图标提示条 */
.file-tree .b3-tooltips__n::after {
	left: -10%;
	right: unset;
	top: -10%;
	bottom: unset;
}/* 页面图标提示条 */

body.body--blur .layout__tab--active .b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) {
    background-color: transparent;
}
.file-tree .b3-list--background .b3-list-item:hover:not(.b3-list-item--focus),
.file-tree .b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom){
	background-color: unset;
}
.file-tree .b3-list-item:hover, .b3-list-item__arrow:hover,
.b3-list-item__action:hover,.counter:not(:empty):hover,.b3-list-item__icon:hover{
	background-color: transparent !important;
	color: var(--b3-theme-on-background);
}
.file-tree .b3-list-item--focus:hover{
	background-color: transparent !important;
}

.b3-list-item--focus:hover {
    background-color: var(--b3-list-hover) !important;
}
.file-tree .dragover {
    background-color: unset;
}


