@use '../base' as *;

$headingContent: "";

@for $i from 1 through 6 {
    $headingContent: $headingContent+"#";

    .h#{$i},
    h#{$i} {
        &::before {
            content: "##{$i}";
            // content:$headingContent;
            display: block;
            overflow: visible;
            font-weight: 900;
            font-size: 2.4em;
            // font-style: italic;
            position: absolute;
            top: -0.36em;
            right: 8px;
            // left: 0;
            color: inherit;
            opacity: 0.15;
            pointer-events: none;
            user-select: none;
            mask-image: linear-gradient(to bottom, black 20%, transparent 80%);

            @include darkmode-counterpart {
                opacity: 0.2;
            }
        }
    }

    h#{$i} {
        position: relative;
    }
}