@use '../base' as *;

@mixin toolbarHidden {
    opacity: 0;
    transform: translateY(calc(var(--toolbar-height) * -1 + 10px));

    #drag {
        height: var(--toolbar-height);
        line-height: var(--toolbar-height);
    }
}

@mixin toolbarShown {
    opacity: 1;
    transform: none;
}

@mixin hide-toolbar-common($paddingTop: 4px) {

    .dock#dockLeft,
    .dock#dockRight {
        padding-top: $paddingTop;
    }

    .layout__dockl,
    .layout__dockr {
        &::before {
            content: '';
            height: $paddingTop;
            width: auto;
            @include theme-variant-color(background-color, surface, 0.9);
        }

        &.layout--float {
            height: 100%;

            &::before {
                content: '';
                height: $paddingTop;
                width: auto;
                @include theme-variant-color(background-color, background);
            }
        }
    }
}

@mixin hide-toolbar-for-mac {
    @include hide-toolbar-common;

    // 避让红绿灯
    $paddingTopL: calc(var(--toolbar-height) - 6px - 10px);

    .dock#dockLeft {
        padding-top: calc($paddingTopL + 10px);
    }

    .layout__dockl {
        margin-top: 10px;
        min-height: calc(100% - 10px);

        &::before {
            height: $paddingTopL;
        }

        &.layout--float {
            &::before {
                height: calc($paddingTopL + 10px);
            }
        }

        // 填充顶部 10px 的空隙
        &>.fn__flex-1:first-child,
        &>.fn__flex-1.fn__none~.fn__flex-1 {
            position: relative;
            overflow: visible;

            &::before {
                content: '';
                width: 100%;
                height: 10px;
                position: absolute;
                top: calc(-1 * var(--toolbar-height) + 6px);
                @include theme-variant-color(background-color, surface, 0.9)
            }
        }

        &.layout--float>.fn__flex-1:first-child,
        &.layout--float>.fn__flex-1.fn__none~.fn__flex-1 {
            &::before {
                @include theme-variant-color(background-color, background);
            }
        }
    }
}


body:not(.body--mobile) {
    // -> js

    .toolbar {
        background-color: var(--b3-theme-background);
        height: var(--toolbar-height);
        position: fixed;
        top: 0;
        width: 100%;
        transition: opacity 300ms, transform 300ms;
        transition-delay: 0.3s;
        z-index: 3; //用 js 动态设置，比菜单低，比 layout--float 高
        @include toolbarHidden;

        &:hover {
            transition: opacity 200ms 100ms, transform 300ms 100ms;
            @include toolbarShown;
        }

        &.no-hover {
            @include toolbarHidden;

            #drag {
                app-region: drag;
            }
        }

        // --> js
    }

    @include hide-toolbar-for-mac;

    &.body--win32,
    &.body--browser {
        @include hide-toolbar-common;

        .layout__dockl {
            margin-top: 0;
            min-height: 100%;
        }
    }


    // 消息区域
    .b3-snackbars {
        top: 0;
    }


    // 侧栏面板顶部填充 
    &:not(.body--win32) {

        .layout__dockl {
            &:not(.layout--float) {

                &>.fn__flex-1:first-child,
                &>.fn__flex-1.fn__none~.fn__flex-1 {
                    .block__icons:first-child {
                        app-region: drag;

                        .block__icon,
                        .b3-text-field {
                            app-region: no-drag;
                        }
                    }
                }
            }
        }

        .layout__dockr {
            &:not(.layout--float) {

                &>.fn__flex-1:first-child,
                &>.fn__flex-1.fn__none~.fn__flex-1 {
                    .block__icons:first-child {

                        .block__logo,
                        .fn__space {
                            app-region: drag;
                        }

                        .fn__space {
                            height: 34px;
                            transform: translateY(4px);
                        }

                        .block__icon,
                        .b3-text-field {
                            app-region: no-drag;
                        }
                    }
                }
            }
        }

        #toolbar:hover+div #layouts {

            .layout__dockl {
                &:not(.layout--float) {

                    &>.fn__flex-1:first-child,
                    &>.fn__flex-1.fn__none~.fn__flex-1 {
                        .block__icons:first-child {
                            app-region: unset;
                        }
                    }
                }
            }

            .layout__dockr {
                &:not(.layout--float) {

                    &>.fn__flex-1:first-child,
                    &>.fn__flex-1.fn__none~.fn__flex-1 {
                        .block__icons:first-child {

                            .block__logo,
                            .fn__space {
                                app-region: unset;
                            }
                        }
                    }
                }
            }
        }
    }

    &.body--win32 {

        .layout__dockl,
        .layout__dockr {
            &:not(.layout--float) {

                &>.fn__flex-1:first-child,
                &>.fn__flex-1.fn__none~.fn__flex-1 {
                    .block__icons:first-child {

                        .block__logo,
                        .fn__space {
                            app-region: drag;
                        }

                        .fn__space {
                            height: 34px;
                            transform: translateY(4px);
                        }

                        .block__icon,
                        .b3-text-field {
                            app-region: no-drag;
                        }
                    }
                }
            }
        }

        #toolbar:hover+div #layouts {

            .layout__dockl,
            .layout__dockr {
                &:not(.layout--float) {

                    &>.fn__flex-1:first-child,
                    &>.fn__flex-1.fn__none~.fn__flex-1 {
                        .block__icons:first-child {

                            .block__logo,
                            .fn__space {
                                app-region: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}


// 窗口顶部的拖移区 ——————————————————————————————————————
#toolbar {
    .toolbar__item {
        app-region: no-drag;
    }

}

// tab-bar 容器
.fn__flex-column[data-type='wnd']>.fn__flex:first-child {
    app-region: drag;
    margin-top: 10px;
    height: calc(var(--toolbar-height) - 16px);

    #toolbar:hover+div #layouts &,
    .layout__dockl.layout--float:not([style*='transform'])~.layout__center & {
        app-region: unset;
    }

    // tab-bar 视觉下移
    .layout-tab-bar {
        margin-top: 0;

        &:not(.layout-tab-bar--readonly) {
            app-region: no-drag;
        }
    }

    .layout-tab-bar--readonly {
        .block__icon {
            app-region: no-drag;
        }
    }
}


// 面包屑
.protyle-breadcrumb {
    .layout-tab-container *:not(.protyle.fullscreen)>&__space {
        app-region: drag;

        &__item {
            app-region: no-drag;
        }

        button {
            app-region: no-drag;
        }
    }

    .layout__dockl.layout--float:not([style*='transform'])~.layout__center &__space {
        app-region: unset;
    }
}

// 左栏面板顶部
.layout__dockl {
    &:not(.layout--float) {
        &::before {
            app-region: drag;

            #toolbar:hover+div #layouts & {
                app-region: unset;
            }
        }
    }
}

// 禁用拖动的区域 ————————————————————————————————————
//菜单
.b3-menu,
.b3-menu__submenu,
.protyle-hint {
    app-region: no-drag;
}

//对话窗口、浮动窗口
.block__popover,
.b3-dialog__body {
    app-region: no-drag;
}

//其他
.block__icons>.block__icon,

.block__icons>.search__label,

.search__header,

.layout--float,

.protyle-breadcrumb .block__icon,

.b3-snackbar,

.protyle-toolbar,

.protyle-util {
    app-region: no-drag;
}