@use '../base' as *;

@mixin toolbarHidden {
    opacity: 0;
    transform: translateY(calc(var(--toolbar-height) * -1 + 10px));

    #drag {
        height: var(--toolbar-height);
        line-height: var(--toolbar-height);
    }
}

@mixin toolbarShown {
    opacity: 1;
    transform: none;
}

@mixin hide-toolbar-common($paddingTop: 4px) {

    .dock#dockLeft,
    .dock#dockRight {
        padding-top: $paddingTop;
    }

    .layout__dockl,
    .layout__dockr {
        &::before {
            content: '';
            height: $paddingTop;
            width: auto;
            @include theme-variant-color(background-color, surface, 1);
        }

        &.layout--float {
            height: 100%;

            &::before {
                content: '';
                height: $paddingTop;
                width: auto;
                @include theme-variant-color(background-color, background);
            }
        }
    }

    .fn__flex-1.has-dockb {

        // -> js
        .layout__dockl,
        .layout__dockr {

            // 浮动布局
            &.layout--float {
                height: calc(100% - 42px - var(--status-height, 32px));
                top: 0;
            }
        }
    }
}

@mixin hide-toolbar-for-mac {
    @include hide-toolbar-common;

    // 避让红绿灯
    $paddingTopL: calc(var(--toolbar-height) - 6px - 10px);

    .dock#dockLeft {
        padding-top: calc($paddingTopL + 10px);
    }

    .layout__dockl {
        margin-top: 10px;

        &:not(.layout--float) {
            min-height: calc(100% - 10px);
        }

        &::before {
            height: $paddingTopL;
        }

        &.layout--float {
            &::before {
                height: calc($paddingTopL + 10px);
            }
        }

        // 填充顶部 10px 的空隙
        &>.fn__flex-1:first-child,
        &>.fn__flex-1.fn__none~.fn__flex-1 {
            position: relative;
            overflow: visible;

            &::before {
                content: '';
                width: 100%;
                height: 10px;
                position: absolute;
                top: calc(-1 * var(--toolbar-height) + 6px);
                @include theme-variant-color(background-color, surface, 1)
            }
        }

        &.layout--float>.fn__flex-1:first-child,
        &.layout--float>.fn__flex-1.fn__none~.fn__flex-1 {
            &::before {
                @include theme-variant-color(background-color, background);
            }
        }
    }
}

body:not(.hadeeth-pin-toolbar, .body--fullscreen),
body.body--window {
    // -> js

    &:not(.body--mobile) {
        // -> js

        .toolbar {
            background-color: var(--b3-theme-background);
            height: var(--toolbar-height);
            position: fixed;
            top: 0;
            width: 100%;
            transition: opacity 300ms, transform 300ms;
            transition-delay: 0.3s;
            z-index: 16;
            // 需要比.fullscreen（z-index: 8）高
            //比菜单低(约 31)，比 layout--float 高

            &.hadeeth-toolbar-tutorial {
                opacity: 1;
                animation: toolbar-tutorial 2s;
                animation-iteration-count: 1;

                @keyframes toolbar-tutorial {
                    0% {
                        transform: none;
                        opacity: 1;
                    }
                    50% {
                        transform: none;
                    }
                    100% {
                        transform: translateY(calc(var(--toolbar-height) * -1 + 10px));
                        opacity: 1;
                    }
                }
            }

            @include toolbarHidden;

            &:hover {
                transition: opacity 100ms 100ms, transform 200ms 100ms;
                @include toolbarShown;
            }

            &.no-hover {
                @include toolbarHidden;

                #drag {
                    // 使鼠标事件立即失效
                    app-region: drag;
                }
            }

            // --> js
        }

        @include hide-toolbar-for-mac;

        &.body--win32,
        &.body--browser,
        &.body--fullscreen {
            // -> js
            @include hide-toolbar-common;

            .layout__dockl {
                margin-top: 0;
                min-height: 100%;
            }
        }


        // 消息区域
        .b3-snackbars {
            top: 0;
        }


        // 侧栏面板顶部填充 
        &:not(.body--win32) {

            .layout__dockl {
                &:not(.layout--float) {

                    &>.fn__flex-1:first-child,
                    &>.fn__flex-1.fn__none~.fn__flex-1 {
                        .block__icons:first-child {
                            app-region: drag;

                            .block__icon,
                            .b3-text-field {
                                app-region: no-drag;
                            }
                        }
                    }
                }
            }

            .layout__dockr {
                &:not(.layout--float) {

                    &>.fn__flex-1:first-child,
                    &>.fn__flex-1.fn__none~.fn__flex-1 {
                        .block__icons:first-child {

                            .block__logo,
                            .fn__space {
                                app-region: drag;
                            }

                            .fn__space {
                                height: 34px;
                                transform: translateY(4px);
                            }

                            .block__icon,
                            .b3-text-field {
                                app-region: no-drag;
                            }
                        }
                    }
                }
            }

            #toolbar:hover+div #layouts {

                .layout__dockl {
                    &:not(.layout--float) {

                        &>.fn__flex-1:first-child,
                        &>.fn__flex-1.fn__none~.fn__flex-1 {
                            .block__icons:first-child {
                                app-region: unset;
                            }
                        }
                    }
                }

                .layout__dockr {
                    &:not(.layout--float) {

                        &>.fn__flex-1:first-child,
                        &>.fn__flex-1.fn__none~.fn__flex-1 {
                            .block__icons:first-child {

                                .block__logo,
                                .fn__space {
                                    app-region: unset;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.body--win32 {

            .layout__dockl,
            .layout__dockr {
                &:not(.layout--float) {

                    &>.fn__flex-1:first-child,
                    &>.fn__flex-1.fn__none~.fn__flex-1 {
                        .block__icons:first-child {

                            .block__logo,
                            .fn__space {
                                app-region: drag;
                            }

                            .fn__space {
                                height: 34px;
                                transform: translateY(4px);
                            }

                            .block__icon,
                            .b3-text-field {
                                app-region: no-drag;
                            }
                        }
                    }
                }
            }

            #toolbar:hover+div #layouts {

                .layout__dockl,
                .layout__dockr {
                    &:not(.layout--float) {

                        &>.fn__flex-1:first-child,
                        &>.fn__flex-1.fn__none~.fn__flex-1 {
                            .block__icons:first-child {

                                .block__logo,
                                .fn__space {
                                    app-region: unset;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    // 窗口顶部的拖移区 ——————————————————————————————————————
    #toolbar {
        .toolbar__item {
            app-region: no-drag;
        }

    }

    // tab-bar 容器
    .fn__flex-column[data-type='wnd']>.fn__flex:first-child {
        app-region: drag;
        margin-top: 10px;
        height: calc(var(--toolbar-height) - 16px);

        // tab-bar 视觉下移
        .layout-tab-bar {
            margin-top: 0;

            &:not(.layout-tab-bar--readonly) {
                app-region: no-drag;
            }
        }

        .layout-tab-bar--readonly {
            .block__icon {
                app-region: no-drag;
            }
        }
    }

    #toolbar:hover+div #layouts .fn__flex-column[data-type=wnd]>.fn__flex:first-child,

    .layout__dockl.layout--float:not([style*=transform])~.layout__center .fn__flex-column[data-type=wnd]>.fn__flex:first-child {
        app-region: unset;
    }

    // 面包屑

    .layout-tab-container *:not(.protyle.fullscreen)>.protyle-breadcrumb__space {
        app-region: drag;
    }

    .layout__dockl.layout--float:not([style*='transform'])~.layout__center .protyle-breadcrumb__space,

    // 全屏视图下
    #toolbar:hover+.fn__flex-1 #layouts .fullscreen .protyle-breadcrumb__space {
        app-region: unset;
    }


    // 左栏面板顶部
    .layout__dockl {
        &:not(.layout--float) {
            &::before {
                app-region: drag;
            }
        }
    }

    #toolbar:hover+div #layouts .layout__dockl:not(.layout--float)::before {
        app-region: unset;
    }

    // 全屏关系图
    #toolbar:hover+.fn__flex-1 #layouts .fullscreen>.block__icons>.fn__flex-1,
    #toolbar:hover~.b3-dialog--open .fullscreen>.block__icons>.fn__flex-1 {
        app-region: unset;
    }


    // 禁用拖动的区域 ————————————————————————————————————
    //菜单
    .b3-menu,
    .b3-menu__submenu,
    .protyle-hint {
        app-region: no-drag;
    }

    //对话窗口、浮动窗口
    .block__popover,
    .b3-dialog__body {
        app-region: no-drag;
    }

    //其他
    .block__icons>.block__icon,

    .block__icons>.search__label,

    .search__header,

    .layout--float,

    .protyle-breadcrumb .block__icon,

    .protyle-breadcrumb__item,

    .protyle-breadcrumb button,

    .b3-snackbar,

    .protyle-toolbar,

    .protyle-util {
        app-region: no-drag;
    }
}

body:where(.hadeeth-pin-toolbar, .body--fullscreen):not(.body--window) {
    // -> js

    --toolbar-height: 40px;
    --b3-toolbar-left-mac: 72px;

    #toolbar #barWorkspace::before {
        height: 24px;
        transform: translate(-5px, 3px);
    }
}

body.body--win32.hadeeth-pin-toolbar {
    #toolbar {
        padding-left: 6px;
    }
}