@property --property-percentage {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
.toolbar {
  background-color: var(--b3-theme-background);
  height: var(--toolbar-height);
  position: fixed;
  top: 0;
  width: 100%;
  transition: opacity 300ms, transform 300ms;
  transition-delay: 0.3s;
  z-index: 3;
  opacity: 0;
  transform: translateY(calc(var(--toolbar-height) * -1 + 10px));
}
.toolbar #drag {
  height: var(--toolbar-height);
  line-height: var(--toolbar-height);
}
.toolbar:hover {
  transition: opacity 200ms 100ms, transform 300ms 100ms;
  opacity: 1;
  transform: none;
}
.toolbar.no-hover {
  opacity: 0;
  transform: translateY(calc(var(--toolbar-height) * -1 + 10px));
}
.toolbar.no-hover #drag {
  height: var(--toolbar-height);
  line-height: var(--toolbar-height);
}
.toolbar.no-hover #drag {
  app-region: drag;
}

body .dock#dockLeft,
body .dock#dockRight {
  padding-top: 4px;
}
body .layout__dockl::before,
body .layout__dockr::before {
  content: "";
  height: 4px;
  width: auto;
  background-color: rgba(246, 246, 246, 0.9);
}
html[data-theme-mode=dark] body .layout__dockl::before,
html[data-theme-mode=dark] body .layout__dockr::before {
  background-color: rgba(56, 56, 56, 0.9);
}
body .layout__dockl.layout--float,
body .layout__dockr.layout--float {
  height: 100%;
}
body .layout__dockl.layout--float::before,
body .layout__dockr.layout--float::before {
  content: "";
  height: 4px;
  width: auto;
  background-color: white;
}
html[data-theme-mode=dark] body .layout__dockl.layout--float::before,
html[data-theme-mode=dark] body .layout__dockr.layout--float::before {
  background-color: #1e1e1e;
}
body .dock#dockLeft {
  padding-top: calc(var(--toolbar-height) - 6px - 10px + 10px);
}
body .layout__dockl {
  margin-top: 10px;
  min-height: calc(100% - 10px);
}
body .layout__dockl::before {
  height: calc(var(--toolbar-height) - 6px - 10px);
}
body .layout__dockl.layout--float::before {
  height: calc(var(--toolbar-height) - 6px - 10px + 10px);
}
body .layout__dockl > .fn__flex-1:first-child, body .layout__dockl > .fn__flex-1.fn__none ~ .fn__flex-1 {
  position: relative;
  overflow: visible;
}
body .layout__dockl > .fn__flex-1:first-child::before, body .layout__dockl > .fn__flex-1.fn__none ~ .fn__flex-1::before {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  top: calc(-1 * var(--toolbar-height) + 6px);
  background-color: rgba(246, 246, 246, 0.9);
}
html[data-theme-mode=dark] body .layout__dockl > .fn__flex-1:first-child::before, html[data-theme-mode=dark] body .layout__dockl > .fn__flex-1.fn__none ~ .fn__flex-1::before {
  background-color: rgba(56, 56, 56, 0.9);
}
body .layout__dockl.layout--float > .fn__flex-1:first-child::before, body .layout__dockl.layout--float > .fn__flex-1.fn__none ~ .fn__flex-1::before {
  background-color: white;
}
html[data-theme-mode=dark] body .layout__dockl.layout--float > .fn__flex-1:first-child::before, html[data-theme-mode=dark] body .layout__dockl.layout--float > .fn__flex-1.fn__none ~ .fn__flex-1::before {
  background-color: #1e1e1e;
}
body.body--win32 .dock#dockLeft,
body.body--win32 .dock#dockRight, body.body--browser .dock#dockLeft,
body.body--browser .dock#dockRight {
  padding-top: 4px;
}
body.body--win32 .layout__dockl::before,
body.body--win32 .layout__dockr::before, body.body--browser .layout__dockl::before,
body.body--browser .layout__dockr::before {
  content: "";
  height: 4px;
  width: auto;
  background-color: rgba(246, 246, 246, 0.9);
}
html[data-theme-mode=dark] body.body--win32 .layout__dockl::before,
html[data-theme-mode=dark] body.body--win32 .layout__dockr::before, html[data-theme-mode=dark] body.body--browser .layout__dockl::before,
html[data-theme-mode=dark] body.body--browser .layout__dockr::before {
  background-color: rgba(56, 56, 56, 0.9);
}
body.body--win32 .layout__dockl.layout--float,
body.body--win32 .layout__dockr.layout--float, body.body--browser .layout__dockl.layout--float,
body.body--browser .layout__dockr.layout--float {
  height: 100%;
}
body.body--win32 .layout__dockl.layout--float::before,
body.body--win32 .layout__dockr.layout--float::before, body.body--browser .layout__dockl.layout--float::before,
body.body--browser .layout__dockr.layout--float::before {
  content: "";
  height: 4px;
  width: auto;
  background-color: white;
}
html[data-theme-mode=dark] body.body--win32 .layout__dockl.layout--float::before,
html[data-theme-mode=dark] body.body--win32 .layout__dockr.layout--float::before, html[data-theme-mode=dark] body.body--browser .layout__dockl.layout--float::before,
html[data-theme-mode=dark] body.body--browser .layout__dockr.layout--float::before {
  background-color: #1e1e1e;
}
body.body--win32 .layout__dockl, body.body--browser .layout__dockl {
  margin-top: 0;
  min-height: 100%;
}

.layout-tab-container .search__header {
  margin-top: 42px;
}

.b3-snackbars {
  top: 0;
}

#toolbar .toolbar__item {
  app-region: no-drag;
}

.fn__flex-column[data-type=wnd] > .fn__flex:first-child {
  app-region: drag;
  margin-top: 10px;
  height: calc(var(--toolbar-height) - 16px);
}
#toolbar:hover + div #layouts .fn__flex-column[data-type=wnd] > .fn__flex:first-child, .layout__dockl.layout--float:not([style*=transform]) ~ .layout__center .fn__flex-column[data-type=wnd] > .fn__flex:first-child {
  app-region: unset;
}
.fn__flex-column[data-type=wnd] > .fn__flex:first-child .layout-tab-bar {
  margin-top: 0;
}
.fn__flex-column[data-type=wnd] > .fn__flex:first-child .layout-tab-bar:not(.layout-tab-bar--readonly) {
  app-region: no-drag;
}
.fn__flex-column[data-type=wnd] > .fn__flex:first-child .layout-tab-bar--readonly .block__icon {
  app-region: no-drag;
}

.layout-tab-container *:not(.protyle.fullscreen) > .protyle-breadcrumb__space {
  app-region: drag;
}
.layout-tab-container *:not(.protyle.fullscreen) > .protyle-breadcrumb__space__item {
  app-region: no-drag;
}
.layout-tab-container *:not(.protyle.fullscreen) > .protyle-breadcrumb__space button {
  app-region: no-drag;
}
.layout__dockl.layout--float:not([style*=transform]) ~ .layout__center .protyle-breadcrumb {
  app-region: unset;
}

.layout__dockl:not(.layout--float)::before {
  app-region: drag;
}
#toolbar:hover + div #layouts .layout__dockl:not(.layout--float)::before {
  app-region: unset;
}

.b3-menu,
.b3-menu__submenu {
  app-region: no-drag;
}

.block__popover,
.b3-dialog__body {
  app-region: no-drag;
}

.graph.fullscreen > .block__icons > .block__icon,
.graph.fullscreen > .block__icons > .search__label,
.search__header,
.layout--float,
.protyle-breadcrumb .block__icon,
.b3-snackbar {
  app-region: no-drag;
}