/* 页签栏+面包屑 */
.layout-tab-bar {
    background-color: transparent;
}
#layouts .layout__center .fn__flex:has(>.layout-tab-bar):has(+.layout-tab-container>.protyle:not(.fn__none)>.protyle-content),
.body--window #layouts .fn__flex:has(>.layout-tab-bar):has(+.layout-tab-container>.protyle:not(.fn__none)>.protyle-content){
    margin-bottom: -56px;
    z-index: +3;
    background-color: transparent;
}
.protyle-breadcrumb {
    /* backdrop-filter: blur(40px) saturate(3);
    -webkit-backdrop-filter: blur(40px) saturate(3); */
    z-index: 2;
}
.layout-tab-container .protyle:has(>.protyle-breadcrumb:first-child)::before {
    --blur-block-height: 95px;
    --blur-radius-main: 40px;
	content: "";
	background-color: transparent;
	display: block;
	width: 100%;
	height: min(calc(var(--blur-radius-main) * 2 + var(--blur-block-height)), 100%);
	position: absolute;
	top: 0;
	z-index: 1;
	backdrop-filter: blur(var(--blur-radius-main)) saturate(3);
    -webkit-backdrop-filter: blur(var(--blur-radius-main)) saturate(3);
	pointer-events: none;
	-webkit-mask-image: linear-gradient(to bottom,black 0,	black var(--blur-block-height),transparent var(--blur-block-height));
    transform: translateZ(0);
}
.layout-tab-container .protyle:has(
    .protyle-content[data-scrolltop="0"],
    .protyle-content:not([data-scrolltop]))::before {
    backdrop-filter: none;
    -webkit-backdrop-filter:none;
}
.layout-tab-container #searchPreview.protyle:has(>.protyle-breadcrumb:first-child)::before {
    --blur-block-height: 39px;
}
:not(.block__popover--open .block__content) .layout-tab-container .protyle:not(.fullscreen, #searchPreview)>.protyle-breadcrumb {
    /* padding-top: 56px; */
    height: 95px;
    padding-top: 58px;
    margin-bottom: -92px;
}
.layout-tab-container *:not(.fullscreen, #searchPreview)>.protyle-content {
    padding-top: 92px;
    z-index: 0;/*修复macOS系统滚动条偶尔覆盖页面标签区域*/
}
.protyle-preview {
    padding-top: 92px;
}