@use 'style/base' as *;

html[data-theme-mode="light"]:root{
    @include theme-root($theme-light);
}
html[data-theme-mode="dark"]:root{
    @include theme-root($theme-dark);
}
:root {
    --b3-font-family: ui-sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "SF Pro SC", "SF Pro Text", "SF Pro Icons", Helvetica, "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "PingFang SC", "Segoe UI", "Microsoft Yahei", "Hiragino Sans GB", sans-serif, "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";

    --b3-font-family-code: SF Mono, SFMono-Regular, ui-monospace, Menlo, "JetBrainsMono-Regular", mononoki, Consolas, "Liberation Mono", Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";

    --b3-font-family-graph: mononoki;

    --b3-font-family-emoji: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji";

    --b3-font-family-math: KaTeX_Math;

    --b3-toolbar-left-mac: #{$toolbar-left-mac};
}

body {
    border: 0px !important;
    -webkit-font-smoothing: auto;
    html[data-theme-mode="dark"] & {
        -webkit-font-smoothing: antialiased;
    }
}

// layout
@import 'style/layout/status';
@import 'style/layout/shrink';
@import 'style/layout/dock';
@import 'style/layout/toolbar';

//components
@import 'style/components/counter';

// customizable