@use 'style/base' as *;
@use 'style/main';

html[data-theme-mode="light"]:root {
    @include theme-root($theme-light);
    @include font-family;
    @include cssvars;

    body {
        ::selection {
            background-color: var(--b3-theme-primary-lightest);
        }
    }
}

html[data-theme-mode="dark"]:root {
    @include theme-root($theme-dark);
    @include font-family;
    @include cssvars;
}

body {
    border: 0px !important;
    -webkit-font-smoothing: auto;

    @include darkmode-counterpart {
        -webkit-font-smoothing: antialiased;
    }

    text-underline-position: under;
}

// plugins
@import url(style/plugins/fold-list-preview.css);


div.test {
    @include theme-variant-color(color, on-background, $important: true);
}



