@use 'style/base' as *;
@use 'style/main';

html[data-theme-mode="light"]:root {
    @include theme-root($theme-light);
    @include font-family;
    @include cssvars;

    body {
        ::selection {
            background-color: var(--b3-theme-primary-lightest);
        }
    }
}

html[data-theme-mode="dark"]:root {
    @include theme-root($theme-dark);
    @include font-family;
    @include cssvars;
}

body {
    -webkit-font-smoothing: auto;

    @include darkmode-counterpart {
        -webkit-font-smoothing: antialiased;
    }

    text-underline-position: under;
}

// plugins


.custom-attr .block__logo.custom-attr__avheader {
    color: var(--b3-theme-primary);
}

.av {
    &__header {
        .layout-tab-bar {
            margin-left: 0;
            margin-right: 0;

            .item {
                .item__graphic {
                    color: var(--b3-theme-on-surface);
                }

                &:hover,
                &--focus {
                    .item__graphic {
                        color: var(--b3-theme-on-background);
                    }
                }
            }
        }

        .av__title {
            font-size: 1.2em;

        }
    }

    &__panel {
        .b3-menu {}
    }

    // 文本框键入
    &__mask {
        textarea {
            resize: both;
            background-color: var(--b3-theme-surface);
        }
    }
}

