@use '../base' as *;

.body-asri--mobile {
    // -> js

    //编辑区
    .protyle-wysiwyg {

        padding-right: 24px !important;

        .bq,
        .protyle-wysiwyg blockquote,
        [data-node-id].render-node[data-type=NodeBlockQueryEmbed] {
            padding: 4px 8px;
        }
    }

    .protyle-scroll {
        opacity: 1;
        transform: none;
        z-index: 4; // 高于数据库表头

        &__bar {
            right: calc(8px - var(--b3-dynamicscroll-width)/2);
        }
    }

    //菜单 

    #menu.b3-menu--fullscreen {
        box-shadow: none;
        border-radius: 0;

        .b3-menu {
            &__items {
                @include overflow-indicator-line;

                &::before {
                    top: -5px;
                }

                padding: 5px 0 12px;
            }

            &__title {
                background-color: oklch(from var(--b3-menu-background) l c h/0.8);
            }

            &__separator {
                height: 0;
                margin: 12px;
                background-color: transparent;
            }

            &__item {
                border-radius: 0;
                margin: 0 12px;
                width: calc(100% - 24px);

                &:not(:hover) {
                    background-color: var(--b3-theme-background);
                }
            }
        }

        .b3-menu__item:first-child,
        .b3-menu__separator+.b3-menu__item {
            border-radius: 12px 12px 0 0;
            padding-top: 4px;
        }

        .b3-menu__item:last-child,
        #menuNewNotebook,
        #menuHistory,
        #menuPlugin {
            border-radius: 0 0 12px 12px;
            padding-bottom: 4px;
        }

        #menuSafeQuit {
            border-radius: 12px;
            padding-top: 0;
        }
    }

    // 状态栏
    .status {
        padding: 8px;
        background-color: var(--b3-theme-surface);
    }

    //侧栏遮罩
    [style="transform: translateX(0px);"]~.side-mask {
        opacity: 0 !important;
    }
}