body.body--mobile {
    // -> js

    //编辑区
    .protyle-wysiwyg {

        .bq,
        .protyle-wysiwyg blockquote,
        [data-node-id].render-node[data-type=NodeBlockQueryEmbed] {
            padding: 4px 8px;
        }
    }

    //菜单 
    #menu {
        &.b3-menu--fullscreen {
            box-shadow: none;
        }
    }

    .b3-menu__separator {
        height: 1px;
        margin: 16px;
        width: calc(100% - 32px);
    }

    // 状态栏
    .status {
        padding: 8px;
        background-color: var(--b3-theme-surface);
    }

    //侧栏遮罩
    [style="transform: translateX(0px);"]~.side-mask {
        opacity: 0 !important;
    }
}