@use '../base' as *;

@mixin floating-status {
    background-color: var(--b3-theme-surface);
    right: 8px !important; // 否则dock和面板隐藏时会被内联样式覆盖
    bottom: -4px;
    border-radius: 20px;
    height: 26px;
    border: 0;
    padding: 0 26px 0 0;
    margin: 0 0 12px 0;
    overflow: hidden;
    z-index: 3; // 等于数据库 sticky header，不会其被覆盖

    @include theme-variant-border($border: false);

    .toolbar__item {
        height: 26px;

        span {
            margin: 3px;
            font-size: 12px;
        }

        &:not(.toolbar__item--close) {
            margin: 3px !important;
            padding: 3px;
            background-color: rgb(0, 0, 0, 0);
        }

        svg {
            padding: 3px 4px;
            color: var(--b3-dockright-color);
            width: 12px;
        }
    }

    &>.fn__flex-1 {
        position: relative !important;
        width: 0px !important;
        right: 0px;
        flex: 0;
    }

    #barDock {
        position: absolute;
        right: 0px;
        z-index: 8;
        color: var(--b3-theme-on-background);

        &::before {
            right: unset !important;
            left: 0px;
            transform: rotateY(180deg);
        }

        &::after {
            left: unset !important;
            right: 100%;
        }

        svg {
            color: var(--b3-theme-on-surface);

            &:hover {
                color: var(--b3-theme-on-background);
            }
        }
    }

    .status__msg:not(:empty) {
        // animation: statusmsg 5s ease-in-out;
        max-width: 140px;
        padding: 0px 8px;
        border-radius: 5px;
        margin: 0px;
        transition: max-width 300ms;
        transition-delay: 2000ms;
        position: relative;
        height: 26px;
        line-height: 26px;

        &::before {
            content: "";
            font-size: 12px;
            padding-right: 6px;
        }

        &:hover {
            max-width: 90vw;
            transition: max-width 300ms .125s;
        }
    }

    .status__backgroundtask {
        margin: 0px 0px 7px 0px;
        padding: 0px 0px 0px 8px;
        border-radius: 5px;
        height: 26px;
        line-height: 26px;
    }

    .status__counter:not(:empty) {
        border-radius: 5px;
        padding: 0px 0px 0 8px;
        margin: 0px 2px 0px 0px;
        height: 26px;
        line-height: 26px;
    }

    #statusHelp {
        position: relative;

        svg {
            color: var(--b3-theme-on-surface);

            &:hover {
                color: var(--b3-theme-on-background);
            }
        }
    }
}

#status {
    transition: transform .2s cubic-bezier(0.25, 0.46, 0.45, 0.94), background-color .2s;
    position: fixed;
}

#dockBottom.fn__none:not(.has-layout-dockb-float)~#status {
    body:not(.body-asri--mobile) & {
        @include floating-status();
    }
}

#dockBottom:not(.fn__none)~#status,
#dockBottom.fn__none.has-layout-dockb-float~#status {
    background-color: transparent;
    border-top-color: transparent;
    padding: 0 32px 0 6px;
    bottom: 5px;
    right: 2px;

    #barDock {
        position: absolute;
        right: 6px;
        z-index: 8;
        color: var(--b3-theme-on-background);
        transition: none;

        &::before {
            right: unset !important;
            left: 0px;
            transform: rotateY(180deg);
        }

        &::after {
            left: unset !important;
            right: 100%;
        }

        svg {
            color: var(--b3-theme-on-surface);

            &:hover {
                color: var(--b3-theme-on-background);
            }
        }
    }

    .status__counter,
    .status__msg,
    .status__backgroundtask {
        align-self: center;
    }
}

#dockBottom.has-layout-dockb-float~#status {
    // background-color: var(--b3-theme-background);
    position: static;
    padding-right: 34px;
    max-width: unset !important;
    transform: none !important;

    #barDock {
        right: 8px;
        transition: none;
    }
}

#dockBottom.has-layout-dockb-float.fn__none~#status {
    border-top-color: var(--b3-border-color);
    border-top-width: 1px;
}

body.body--window #status {
    @include floating-status();
    padding-right: 0 !important;
}

.body-asri--readOnly #status {
    padding-right: 0 !important;
}