@use 'layout';

@use 'typography';

@use 'components';

@use 'features';

@use 'platforms';

@use 'plugins';


@keyframes click {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.95);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

// @keyframes scroll-fadein {
//     0% {
//         opacity: 0;
//     }
//     // 2% {
//     //     opacity: 1;
//     // }
//     100% {
//         opacity: 1;
//     }
// }

// @property --property-length {
//     syntax: '<length>';
//     inherits: false;
//     initial-value: 0px;
// }

.body-asri--linux {
    @extend .body--win32;
}