@use 'layout/dock';
@use 'layout/status';
@use 'layout/toolbar';
@use 'layout/tab-bar';
@use 'layout/editor';
@use 'layout/shrink';

@use 'components/misc';
@use 'components/breadcrumb';
@use 'components/menu';
@use 'components/dialog';

// @use 'customizable/hide-toolbar';
@use 'customizable/cover-image-fading';
@use 'customizable/blur';
// @use 'customizable/topbar-fusion.scss';

// @use 'customizable/scroll-divider';

@use 'platforms/mobile';
@use 'platforms/windows';
@use 'platforms/linux';

@property --property-percentage {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@keyframes click {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.95);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scroll-fadein {
    0% {
        opacity: 0;
    }
    // 2% {
    //     opacity: 1;
    // }
    100% {
        opacity: 1;
    }
}

// @property --property-length {
//     syntax: '<length>';
//     inherits: false;
//     initial-value: 0px;
// }

