@use 'base' as *; // 用于实时看到效果，最后可以删除

@use 'layout/dock';
@use 'layout/status';
@use 'layout/toolbar';
@use 'layout/tab-bar';
@use 'layout/editor';
@use 'layout/shrink';

@use 'components/misc';
@use 'components/breadcrumb';
@use 'components/menu';
@use 'components/dialog';

@use 'customizable/hide-toolbar';



// 标题


// 块定位条
.protyle-scroll {
    opacity: 0;
    transform: scale(0.95, 0.9);
    transition: opacity 0.2s cubic-bezier(0, 0, 0.2, 1),
    transform 0.2s cubic-bezier(0, 0, 0.2, 1);
    transition-delay: 0.5s;

    &:hover {
        opacity: 1;
        transform: none;
        transition-delay: 0s;
    }
}






