$clr-primary: rgb(17, 139, 255);
$clr-secondary: rgb(198, 126, 44);
$clr-background: rgb(30, 30, 30);
$clr-surface: rgb(56, 56, 56);
$clr-error: rgb(255, 59, 48);
$clr-on-primary: #fff;
$clr-on-secondary: #fff;
$clr-on-background: rgb(222, 222, 222);
$clr-on-surface-gray: rgb(127, 127, 127);
$clr-border: rgba(255, 255, 255, 0.1);
$clr-scroll: rgba(255, 255, 255, 0.2);
$clr-list-hover: rgba(255, 255, 255, 0.05);
$clr-menu-background: rgb(50, 50, 50);
$clr-menu-item-hv-background: rgb(32, 80, 202);
$clr-menu-item-hv-on-background:#fff;
$clr-mask-background: rgba(0, 0, 0, 0.78);
$clr-card-error: rgb(233, 49, 71);
$clr-card-error-background: rgba(233, 49, 71, 0.1);
$clr-card-warning: rgb(224, 172, 0);
$clr-card-warning-background: rgba(224, 172, 0, 0.1);
$clr-card-info: rgb(8, 109, 221);
$clr-card-info-background: rgba(8, 109, 221, 0.1);
$clr-card-success: rgb(8, 185, 78);
$clr-card-success-background: rgba(8, 185, 78, 0.1);
$font-color1: #FFF;
$font-color2: rgb(152, 152, 157);
$font-color3: rgb(172, 142, 104);
$font-color4: rgb(255, 159, 10);
$font-color5: rgb(255, 214, 10);
$font-color6: rgb(50, 215, 75);
$font-color7: rgb(102, 212, 207);
$font-color8: rgb(90, 200, 245);
$font-color9: rgb(10, 132, 255);
$font-color10: rgb(94, 92, 230);
$font-color11: rgb(191, 90, 242);
$font-color12: rgb(255, 55, 95);
$font-color13: rgb(255, 69, 58);
$inline-link-color: #8ab4f8;
$inline-mark-background: #00d95964;
