$clr-primary: rgb(52, 120, 246);
$clr-secondary: rgb(241, 154, 55);
$clr-background: #fff;
$clr-surface: rgb(246, 246, 246);
$clr-error: rgb(234, 77, 60);
$clr-on-primary: #fff;
$clr-on-secondary: $clr-on-primary;
$clr-on-background: rgb(38, 38, 38);
$clr-on-surface-gray: rgb(127, 127, 127);
$clr-border: rgba(0, 0, 0, 0.1);
$clr-scroll: rgba(0, 0, 0, 0.2);
$clr-list-hover: rgba(0, 0, 0, 0.06);
$clr-menu-background: rgb(236, 236, 236);
$clr-menu-item-hv-background: rgb(41, 98, 217);
$clr-menu-item-hv-on-background: #fff;
$clr-mask-background: rgba(0, 0, 0, 0.78);
$clr-card-error: rgb(233, 49, 71);
$clr-card-error-background: rgba(233, 49, 71, 0.1);
$clr-card-warning: rgb(224, 172, 0);
$clr-card-warning-background: rgba(224, 172, 0, 0.1);
$clr-card-info: rgb(8, 109, 221);
$clr-card-info-background: rgba(8, 109, 221, 0.1);
$clr-card-success: rgb(8, 185, 78);
$clr-card-success-background: rgba(8, 185, 78, 0.1);
$font-color1: #000;
$font-color2: rgb(142, 142, 147);
$font-color3: rgb(162, 132, 94);
$font-color4: rgb(255, 149, 0);
$font-color5: rgb(255, 204, 0);
$font-color6: rgb(8, 185, 78);
$font-color7: rgb(0, 199, 190);
$font-color8: rgb(85, 190, 240);
$font-color9: rgb(0, 122, 255);
$font-color10: rgb(88, 86, 214);
$font-color11: rgb(175, 82, 222);
$font-color12: rgb(255, 45, 85);
$font-color13: rgb(255, 59, 48);
$inline-link-color: #4285f4;
$inline-mark-background: rgb(168, 251, 172);