@use './base' as *;

:root {
    @include font-family;
    
    &[data-theme-mode="light"] {
        color-scheme: light;
        // https://stackoverflow.com/questions/21157231/mac-os-x-scrollbar-is-sometimes-white-transparent-and-sometimes-black-transpare

        @include theme-root($theme-light);
        

        body {
            ::selection {
                background-color: var(--b3-theme-primary-lightest);
            }
        }
    }

    &[data-theme-mode="dark"] {
        color-scheme: dark;
        @include theme-root($theme-dark);
    }
}

body {
    -webkit-font-smoothing: auto;
    @include cssvars; // 防止被其他主题覆盖

    @include darkmode-counterpart {
        -webkit-font-smoothing: antialiased;
    }

    text-underline-position: under;
    text-decoration-skip-ink: all;
}