@use './base' as *;

:root {
    @include font-family;

    &:lang(ja_JP) {
        --b3-font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "SF Pro SC", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans", "Yu Gothic UI", "PingFang SC", "Segoe UI", "Microsoft Yahei", "Hiragino Sans GB", sans-serif, "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    }
}

[data-theme-mode="light"] {

    &:root, // fix being overridden by other themes
    body.has-exportimg {
        @include theme-root($theme-light)
    }

    body {
        ::selection {
            background-color: var(--b3-theme-primary-lightest);
        }
    }


    .body--mobile {
        --b3-theme-background: #fff;
    }

    // use hex to fix https://github.com/mustakshif/Asri/issues/39
}

[data-theme-mode="dark"] {
    &:root {
        color-scheme: dark;
        // https://stackoverflow.com/questions/21157231/mac-os-x-scrollbar-is-sometimes-white-transparent-and-sometimes-black-transpare
    }

    &:root,
    body.has-exportimg {
        @include theme-root($theme-dark);
    }
}

body {
    -webkit-font-smoothing: auto;
    text-underline-position: under;
    text-decoration-skip-ink: all; // not supported yet

    @include cssvars; // fix being overridden by other themes

    @include darkmode-counterpart {
        -webkit-font-smoothing: antialiased;
    }
}