[data-theme-mode="dark"]:root {
    /* 主色 */
    --b3-theme-primary: rgb(17,139,255);/* 主色 */
    --b3-theme-primary-light: rgba(17,139,255, 0.54);
    --b3-theme-primary-lighter: rgba(17,139,255, 0.38);
    --b3-theme-primary-lightest: rgba(17,139,255, 0.2);
    --b3-theme-primary-glass: rgba(17,139,255, 0.7);
    --b3-theme-secondary: rgb(198,126,44);
    --b3-theme-secondary-glass: rgba(198,126,44,.7);
    --b3-theme-background: rgb(30,30,30);/* 编辑区背景 */
    --b3-theme-background-rgb: 30, 30, 30;
    --b3-theme-background-glass: rgba(30,30,30,.8);
	--b3-theme-background-light: rgba(230, 230, 230, .1);
    --b3-theme-surface:rgb(56,56,56);/* 面板主色 */
    --b3-theme-surface-light: rgba(56,56,56, .5);
    --b3-theme-surface-glass: rgba(56,56,56, .8);
    --b3-theme-error: rgb(255,59,48);

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: rgb(222,222,222);
    --b3-theme-on-surface: rgb(255 255 255 / 56%);
    --b3-theme-on-surface-light: rgba(255,255,255,0.3);
    --b3-theme-on-error: #fff;

    /* 线条 */
    --b3-border-color: rgba(255,255,255, .1);
	--b3-border-color2: rgba(255,255,255, .1);
    --b3-border-shrink: rgba(255,255,255,0.4);

    /* 滚动条 */
    --b3-scroll-color: rgba(255,255,255,.2);
	--b3-scroll-color-hover: rgba(255,255,255,.4);
	--b3-scroll-bgcolor: transparent;

	--b3-border-scroll: rgba(255, 255, 255, 0.2);
	
	--webkit-scrollbar: 6px;
	--webkit-scrollbar-thumb: 4px;
    /* 列表 */
    --b3-list-hover: rgba(255,255,255, .05);

    /* 菜单 */
    --b3-menu-background: rgb(50,50,50);
    --b3-menu-background-glass: rgb(50,50,50,.8);
    --b3-menu-item-background-hover:rgb(32,80,202);
    --b3-menu-item-background-hover-glass:rgba(32,80,202);
    --b3-menu-item-background-hover-text:#fff;
    --b3-menu-item-background-hover-text-glass:rgba(255,255,255,.8);

    /* 提示 */

    /* 遮罩 */
    --b3-mask-background: rgba(0, 0, 0, 0.78);

    /* 卡片背景 */
    --b3-card-error-color: rgb(233, 49, 71);
    --b3-card-error-background: rgb(233, 49, 71, .1);
    --b3-card-warning-color: rgb(224, 172, 0);
    --b3-card-warning-background: rgb(224, 172, 0, .1);
    --b3-card-info-color: rgb(8, 109, 221);
    --b3-card-info-background: rgb(8, 109, 221, .1);
    --b3-card-success-color: rgb(8,185,78);
    --b3-card-success-background: rgb(8,185,78,.1);

    /* 自定义文字 */
	--b3-font-color1: #FFF;
    --b3-font-color2: rgb(152,152,157);
	--b3-font-color3: rgb(172,142,104);
    --b3-font-color4: rgb(255, 159,10);
	--b3-font-color5: rgb(255,214,10);
    --b3-font-color6: rgb(50,215,75);
	--b3-font-color7: rgb(102,212,207);
    --b3-font-color8: rgb(90,200,245);
    --b3-font-color9: rgb(10,132,255);
    --b3-font-color10: rgb(94,92,230);
    --b3-font-color11: rgb(191,90,242);
    --b3-font-color12: rgb(255, 55,95);
	--b3-font-color13: rgb(255,69,58);
    
	--b3-font-background1: rgb(255,255,255,.1);
    --b3-font-background2: rgb(152,152,157,.1);
    --b3-font-background3: rgb(172,142,104,.1);
    --b3-font-background4: rgb(255, 159,10,.1);
    --b3-font-background4-rgb:255,159,10;
	--b3-font-background5: rgb(255,214,10,.1);
    --b3-font-background5-rgb:255,214,10;
    --b3-font-background6: rgb(50,215,75,.1);
    --b3-font-background6-rgb:50,215,75;
    --b3-font-background7: rgb(102,212,207,.1);
	--b3-font-background8: rgb(90,200,245,.1);
    --b3-font-background8-rgb:90,200,245;
    --b3-font-background9: rgb(10,132,255,.1);
    --b3-font-background10: rgb(94,92,230,.1);
    --b3-font-background10-rgb:94,93,230;
    --b3-font-background11: rgb(191,90,242,.1);
    --b3-font-background11-rgb:191,90,242;
    --b3-font-background12: rgb(255, 55,95,.1);
    --b3-font-background13: rgb(255,69,58,.1);
    --b3-font-background13-rgb:255,69,58;

    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-width-transition: width .15s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
	--b3-menu-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-ref-line: #d23f31;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #4285f4;

    /* 编辑器搜索颜色 */
    --b3-protyle-search-background: #32593c;
    --b3-protyle-search-border-color: #486a51;
    --b3-protyle-search-current-background: #204282;

    /* 代码片段背景 */
    --b3-protyle-code-background: rgba(255,255,255, .05);
    --b3-protyle-code-linenumber-hl: #26364a;

    /* 所见即所得行内元素颜色 */
    --b3-protyle-inline-strong-color: #e8eaed;
    --b3-protyle-inline-em-color: #e8eaed;
    --b3-protyle-inline-s-color: #e8eaed;
    --b3-protyle-inline-link-color: #8ab4f8;
    --b3-protyle-inline-mark-background: #00d95964;
    --b3-protyle-inline-mark-color: #e8eaed;
    --b3-protyle-inline-tag-color: #9aa0a6;
    --b3-protyle-inline-blockref-color: #9876aa;

    /* PDF */
    --b3-pdf-selection: #779170;
    --b3-pdf-sidebar-width: 200px;
    --b3-pdf-offset: 0;
    --b3-pdf-background1: rgba(var(--b3-font-background4-rgb),.25);
    --b3-pdf-background2: rgba(var(--b3-font-background5-rgb),.25);
    --b3-pdf-background3: rgba(var(--b3-font-background6-rgb),.25);
    --b3-pdf-background4: rgba(var(--b3-font-background8-rgb),.25);
    --b3-pdf-background5: rgba(var(--b3-font-background10-rgb),.25);
    --b3-pdf-background6: rgba(var(--b3-font-background11-rgb),.25);
    --b3-pdf-background7: rgba(var(--b3-font-background13-rgb),.25);
}

html[data-theme-mode="dark"] body {
    -webkit-font-smoothing: antialiased;/*浅色背景下选择auto，深色背景下选择antialiased*/
}

html[data-theme-mode="dark"] .block__popover--open {
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px, 0 0 0 1px var(--b3-border-color);
}
html[data-theme-mode="dark"] .block__icons--menu {
    background-color: var(--b3-theme-surface);
}
html[data-theme-mode="dark"] .protyle-wysiwyg [data-node-id] span[data-type~=a] {
    text-decoration-color: var(--b3-font-color9);
}
html[data-theme-mode="dark"] .protyle-wysiwyg [data-node-id] span[data-type~=a]:hover {
    color: var(--b3-font-color9);
}

/* 按钮 */
html[data-theme-mode="dark"] .protyle-breadcrumb__icon[data-type="exit-focus"], 
html[data-theme-mode="dark"] .b3-button--outline, 
html[data-theme-mode="dark"] .b3-button:not(.b3-button--cancel), 
html[data-theme-mode="dark"] #searchInclude.b3-button:not(.b3-button--cancel) {
    background-color: rgb(0,0,0,.1);
}
html[data-theme-mode="dark"] .protyle-breadcrumb__icon[data-type="exit-focus"]:hover,
html[data-theme-mode="dark"] .b3-button--outline:hover,
html[data-theme-mode="dark"] .b3-button--outline:focus,
html[data-theme-mode="dark"] .b3-button:not(.b3-button--cancel):hover {
    color: var(--b3-theme-on-primary);
    background-color: var(--b3-theme-primary);
}

/* 面包屑 */
html[data-theme-mode="dark"] .protyle-breadcrumb__item:not(:first-child).protyle-breadcrumb__item--active>svg {
    color: var(--b3-theme-on-primary);
}

html[data-theme-mode="dark"] #barWorkspace .toolbar__text, 
html[data-theme-mode="dark"] #barWorkspace .toolbar__svg {
    color: var(--b3-theme-on-primary);
}

/* 弹出窗口、组件的边框 */
html[data-theme-mode="dark"] .protyle-util, 
html[data-theme-mode="dark"] .hint--menu {
    border: none;
}
html[data-theme-mode="dark"] .protyle-icons, 
html[data-theme-mode="dark"] .b3-dialog__container, 
html[data-theme-mode="dark"] #status{
    border: 1px solid var(--b3-border-color); 
}

html[data-theme-mode="dark"] .b3-switch:checked:after {
    background: #fff;
}
html[data-theme-mode="dark"] .b3-switch::after {
    background: rgba(255,255,255, .6);
}

/*提示条、菜单*/
html[data-theme-mode="dark"] :is(.tooltip, .b3-tooltips::after, .b3-menu .b3-menu__items, .b3-menu__submenu .b3-menu__items, .hint--menu, .protyle-util, .protyle-toolbar, .tooltip--memo, .protyle-hint) {
    /* border: 1px solid var(--b3-border-color); */
	box-shadow: 0 0 0 1px inset var(--b3-border-color), 0 0 0 0.5px rgb(0, 0, 0), 0 4px 12px rgb(0, 0, 0, .3),var(--b3-menu-shadow) !important; 
}

html[data-theme-mode="dark"] .b3-dialog__container{
    box-shadow: 0 0 0 0.5px rgb(0, 0, 0), var(--b3-dialog-shadow); 
}

html[data-theme-mode="dark"] .b3-card:hover {
    box-shadow: var(--b3-theme-primary-light) 0px 4px 10px -6px, 0px 9px 20px -3px var(--b3-theme-primary-lightest), var(--b3-theme-primary) 0 0 0 1.5px inset;
}

html[data-theme-mode="dark"] .b3-dialog--open .layout-tab-bar .item--focus {
    box-shadow: 0 1px 0 0 var(--b3-border-color) inset !important;
}

html[data-theme-mode="dark"] .b3-dialog__scrim {
    background-color: #00000080;
}
html[data-theme-mode="dark"] .b3-dialog--open .b3-dialog__scrim {
    backdrop-filter: saturate(0);
}

html[data-theme-mode="dark"] .protyle-wysiwyg[contenteditable="true"] span[data-type~="tag"]:hover {
    filter: brightness(1.5);
}

html[data-theme-mode="dark"] button::placeholder, 
html[data-theme-mode="dark"] input::placeholder, 
html[data-theme-mode="dark"] ::-webkit-input-placeholder {
    color: var(--b3-border-shrink);
}

html[data-theme-mode="dark"] .protyle-wysiwyg span[data-type~=kbd] {
    box-shadow: inset 0 1px 0 var(--b3-theme-surface-lighter);
}