body:not(.body-asri--mobile) {
    .protyle-title {

        // 属性位置调整至标题下方
        .protyle-attr {
            position: static;
            // font-family: serif;
            // font-style: italic;
            font-size: 14px;
            // font-weight: 500;
            // flex-wrap: wrap;
            // align-items: flex-start;
            overflow: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            >div:not(.protyle-attr--refcount) svg {
                // margin-top: 3px;
                // margin-bottom: 3px;
                height: 14px;
                width: 14px;
                // color: var(--b3-theme-accent);
            }

            >:not(.protyle-attr--memo) {
                flex-shrink: 0;
                max-width: 50%;
                // margin-top: 8px;
                // display: flex !important;
                // align-items: center;
                // justify-content: center;
            }

            >.protyle-attr--bookmark {
                flex-grow: unset;
                // flex-shrink: 0;
                flex-basis: fit-content;

                &::before {
                    transform: translateY(1.5px) scale(1.2);
                    mask-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 21l-7-4l-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"/></svg>');
                }

                &:hover::before {
                    background-color: var(--b3-theme-on-background);
                }
            }

            // 属性分隔符
            >:not(:nth-last-child(1), .protyle-attr--memo, .protyle-attr--refcount) {
                &::after {
                    content: '·';
                    display: inline-block;
                    font-size: 1.8em;
                    margin-inline-start: 7px;
                    line-height: 0;
                    vertical-align: -2px;
                    color: var(--b3-theme-on-surface);
                }

                &:hover::after {
                    color: var(--b3-theme-on-surface);
                }
            }

            >.protyle-attr--memo:not(:nth-last-child(1)) {
                &::after {
                    content: attr(aria-label) ' •';
                }
            }

            >.protyle-attr--refcount {
                position: static;
                font-size: inherit;
                line-height: 14px;
                font-family: inherit;
                height: 18px;
                color: var(--b3-theme-on-surface);

                &::before {
                    transform: translateY(2px) scale(1.4);
                    mask-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" stroke-width="1.4" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.7" d="m7 7l10 10M16 7H7v9"/></svg>');
                }

                &:hover {
                    font-weight: 400;
                    color: var(--b3-theme-accent);

                    &::before {
                        background-color: var(--b3-theme-accent);
                    }
                }
            }

            >.protyle-attr--refcount,
            .protyle-attr--bookmark {
                &::before {
                    content: '';
                    display: inline-block;
                    // background-color: var(--b3-theme-accent);
                    // background-color: var(--b3-theme-error);
                    background-color: var(--b3-theme-on-surface);
                    width: 1em;
                    height: 1em;
                    margin-right: 4px;
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    transition: inherit;
                }
            }

            // 备注常显
            >.protyle-attr--memo {

                display: flex;

                svg {
                    min-width: 12px;
                }

                &::after {
                    position: static;
                    margin: 0;
                    opacity: 1;
                    transform: none;
                    padding: 0;
                    background-color: transparent;
                    font-size: inherit;
                    color: var(--b3-theme-on-surface);
                    // line-height: 1.625;
                    margin-inline-start: 4px;
                    border-radius: 0;
                    z-index: unset;
                    transition: inherit;
                    box-shadow: none;
                    // text-wrap: wrap;
                }

                &:hover::after {
                    border: none;
                    box-shadow: none;
                    transform: none;
                    display: inline;
                    overflow: hidden;
                    color: var(--b3-theme-on-background);
                }
            }
        }

        // 文档标题分隔线
        &::after {
            content: '';
            display: block;
            height: 8px;
            // height: 4px;
            // width: calc(100% - .5em);
            // background-color: var(--b3-border-color-trans);
            // margin: 16px auto 8px;
            // border-radius: 99px;
        }
    }
}