@use "../base" as *;
@use "sass:string";

.file-tree:where(.sy__file, .sy__outline, .sy__bookmark, .sy__tag) .b3-list-item .b3-list-item__toggle {
  position: relative;
  border-radius: 0;

  &.fn__hidden::before {
    visibility: visible;
  }

  &::before {
    content: "";
    height: 50px;
    width: 29px;
    display: block;
    position: absolute;
    background-color: var(--b3-border-color-trans);
    mask-image: url('data:image/svg+xml,<svg width="100" height="100" viewBox="0 0 50 100" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M0.5 100.5V0C0.5 16.75 0.5 50.25 40.5 50.5" stroke-width="4" stroke="black"/></svg>'); // 40.5 决定了线条距离 toggle 的位置，越大越接近
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    left: unset;
    inset-inline-end: 6px;
    pointer-events: none;
    transition: 0.2s background-color;

    @at-root {
      :root.is-rtl-lang & {
        transform: scaleX(-1) translate(4px, 0px);
      }
    }
  }

  @at-root {
    .file-tree:where(.sy__file, .sy__outline, .sy__bookmark, .sy__tag) {
      .b3-list-item + ul {
        margin-top: -0.5px;
      }

      ul + .b3-list-item {
        margin-top: -0.5px;
      }
    }
    .file-tree:where(.sy__file, .sy__outline, .sy__bookmark, .sy__tag) li.b3-list-item:last-of-type > .b3-list-item__toggle::before {
      mask-image: url('data:image/svg+xml,<svg width="100" height="100" viewBox="-25 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 0C0.5 16.75 0.5 50.5 40.5 50.5" stroke-width="4" stroke="black"/></svg>');
    }

    .file-tree:where(.sy__file, .sy__outline, .sy__bookmark, .sy__tag) .b3-list > .b3-list-item > .b3-list-item__toggle::before {
      display: none;
    }
  }
}

.file-tree:where(.sy__file, .sy__outline, .sy__bookmark, .sy__tag) > .fn__flex-1 {
  $uls: ">ul";
  $indent: 18px;
  // $indent-start: 22px;
  --indent-offset: 0px; // fix .sy__tag indent offset

  //   --indent-color-inactive: rgb(from var(--b3-theme-on-background) r g b / 0.15);
  //   --indent-color-active: rgb(from var(--b3-theme-on-background) r g b / 0.3);
  //   --indent-color: var(--b3-border-color-trans);

  @for $i from 1 through 7 {
    $uls: string.insert(
      $string: $uls,
      $insert: ">ul",
      $index: 100
    );

    &#{$uls} {
      //   margin-inline-start: $indent;
      padding-inline-start: $indent;
      --indent-color: var(--b3-border-color-trans);
      box-shadow: negateForRTL(1px) 0 var(--indent-color) inset;

      .b3-list-item {
        margin-inline-start: calc($indent * $i * -1 + 6px + var(--indent-offset));

        > .b3-list-item__toggle {
          padding-left: unset !important;
          padding-inline-start: calc($indent * $i + 4px) !important;
        }
      }
    }
  }

  //   & > ul ul {
  //     transition-duration: 0.2s;
  //     transition-property: height;
  //   }

  // 颜色控制
  //   &:hover > ul ul,
  //   li.b3-list-item--focus + ul,
  //   ul.has-focus {
  //     --indent-color: var(--indent-color-inactive);
  //   }

  //   &:hover li.b3-list-item--focus + ul,
  //   &:hover ul.has-focus {
  //     --indent-color: var(--indent-color-active);
  //   }

  & > ul,
  & > ul > ul,
  ul:last-child {
    --indent-color: #0000;
  }
}

.file-tree:where(.sy__file, .sy__outline) > .fn__flex-1 {
  --indent-offset: -2px;
}

// 大纲数字层级标识
.sy__outline .b3-list-item[data-type="NodeHeading"] .b3-list-item__text::before {
  transform: translateX(negateForRTL(-18px));
  left: auto;
}
