@use '../base' as *;

// 文档树项目小圆点位置
.layout-tab-container .b3-list-item .b3-list-item__toggle.fn__hidden {
    position: relative;

    &::before {
        left: auto !important;
        inset-inline-end: 7px;
    }
}

// 大纲数字层级标识
.sy__outline .b3-list-item[data-type=NodeHeading] .b3-list-item__text::before {
    transform: translateX(negateForRTL(-18px));
    left: auto;
}

// 文档树缩进参考线 indent guides（方案一）
.file-tree>.fn__flex-1 {
    $uls: '>ul';
    $indent: 18px;
    // $indent-start: 22px;
    --indent-offset: 0px; // fix .sy__tag indent offset

    --indent-color-inactive: rgb(from var(--b3-theme-on-background) r g b / .15);
    --indent-color-active: rgb(from var(--b3-theme-on-background) r g b / .3);
    --indent-color: #0000;

    @for $i from 1 through 7 {
        $uls: str-insert($string: $uls, $insert: '>ul', $index: 100);

        &#{$uls} {
            margin-inline-start: $indent;
            --indent-color: #0000;
            box-shadow: negateForRTL(1px) 0 var(--indent-color) inset;

            .b3-list-item {
                margin-inline-start: calc($indent * $i * -1 + 6px + var(--indent-offset));

                >.b3-list-item__toggle {
                    padding-left: unset !important;
                    padding-inline-start: calc($indent * $i + 4px) !important;
                }
            }
        }
    }

    &>ul ul {
        transition-duration: .2s;
        transition-property: box-shadow, height;
    }

    // 颜色控制
    &:hover>ul ul,
    li.b3-list-item--focus+ul,
    ul.has-focus {
        --indent-color: var(--indent-color-inactive);
    }

    &:hover li.b3-list-item--focus+ul,
    &:hover ul.has-focus {
        --indent-color: var(--indent-color-active);
    }

    &>ul {
        box-shadow: none !important;
    }
}

// .sy__outline>.fn__flex-1 {
//     --indent-offset: -1px;
// }

// ————————————————————————————————————————————————————————
// 文档树缩进参考线 indent guides（方案二，性能更差，导致展开文档目录动画卡顿）
// @property --indent-color {
//     syntax: '<color>';
//     initial-value: #0000;
//     inherits: false;
// }

// .file-tree>.fn__flex-1 {
//     $uls: '>ul';
//     $indent: 18px;

//     --indent-color-inactive: rgb(from var(--b3-theme-on-background) r g b / .15);
//     --indent-color-active: rgb(from var(--b3-theme-on-background) r g b / .3);

//     --indent-color: #0000;

//     @for $i from 1 through 7 {
//         $uls: str-insert($string: $uls, $insert: '>ul', $index: 100);

//         &#{$uls} {
//             background-image: linear-gradient(
//                 90deg,
//                 #0000 0 $indent,
//                 var(--indent-color) $indent calc($indent + 1px),
//                 #0000 calc($indent + 1px) 100%
//             );

//             $indent: $indent + 18px;
//         }
//     }

//     &>ul ul {
//         transition-duration: 0.2s;
//         transition-property: --indent-color, height; // added height to fix https://github.com/mustakshif/Asri/issues/118
//     }

//     &:hover>ul ul,
//     li.b3-list-item--focus+ul,
//     ul.has-focus {
//         --indent-color: var(--indent-color-inactive);
//         // box-shadow: 1px 0 oklch(from var(--b3-theme-on-background) l c h / .15) inset;

//         // @include darkmode-counterpart {
//         //     box-shadow: 1px 0 oklch(from var(--b3-theme-on-background) l c h / .15) inset;
//         // }
//     }

//     &:hover li.b3-list-item--focus+ul,
//     &:hover ul.has-focus {
//         --indent-color: var(--indent-color-active);
//         // box-shadow: 1px 0 oklch(from var(--b3-theme-on-background) l c h / .3) inset;

//         // @include darkmode-counterpart {
//         //     box-shadow: 1px 0 oklch(from var(--b3-theme-on-background) l c h / .3) inset;
//         // }
//     }

// }