/**
* inspired by ardov in https://github.com/ardov/hdr-web
*/

@use "../components/utils.scss" as *;
@use "../base" as *;

@media (color-gamut: p3) {
  [data-theme-mode="light"] {
    :is(.b3-menu, .b3-menu__submenu) {
      @include menu-shadow(
        $opacity-light: 0.15,
        $extra-shadow-light: (
          hdr-shadow("3px 6px 6px -3px", 1.5, 0.12, ""),
        )
      );
    }
    :is(.b3-menu, .b3-menu__submenu):not(.b3-menu--fullscreen)::before {
      box-shadow: hdr-shadow("0 0 0 1px", 1.5, 0.05), hdr-shadow("1px 2px 1px -1px", 2, 0.15),
        hdr-shadow("-1px -2px 1px -1px", 2, 0.1);

      // box-shadow: 0 0 0 1px color(srgb 1 1 1 / 0.5) inset, 0 2px 1px -1px color(srgb 1 1 1 / 1) inset;
    }

    // .av__gallery-fields:first-child {
    //   box-shadow: inset 0 2px 1px -1px color(display-p3 #{$w} #{$w} #{$w} / 0.1);
    //   border-radius: var(--gibr);
    // }
    // .av__gallery-cover {
    //   box-shadow: inset 0 2px 1px -1px color(display-p3 #{$w} #{$w} #{$w} / 0.1);
    // }
  }

  .protyle-toolbar {
    @include menu-shadow(
      $extra-shadow-light: (
        hdr-shadow("0 0 0 1px", 1.3, 0.05),
        hdr-shadow("1px 2px 2px -2px", 2, 0.5),
        hdr-shadow("-1px -2px 2px -2px", 1.7, 0.4),
        hdr-shadow("3px 5px 6px -3px", 1.5, 0.12, ""),
      ),
      $extra-shadow-dark: glassy-shadow("255, 255, 255", 0.6, "0 0 0 1px", "1px 1px 1px -1px", "-1px -1px 1px -1px")
    );
  }

  .protyle-util,
  #message.b3-snackbars .b3-snackbar__content {
    @include menu-shadow(
      $extra-shadow-light: (
        hdr-shadow("0 0 0 1px", 1.7, 0.05),
        hdr-shadow("1px 2px 1px -1px", 2, 0.1),
        hdr-shadow("-1px -2px 1px -1px", 1.5, 0.1),
        hdr-shadow("3px 6px 6px -3px", 1.5, 0.12, ""),
      )
    );
  }

  [data-key="dialog-emojis"] .b3-dialog__container {
    @include dialog-shadow(
      $extra-shadow-light: (
        "0 0 0 1px rgba(0, 0, 0, 0.05)",
        hdr-shadow("0 0 0 1px", 1.7, 0.05),
        hdr-shadow("1px 2px 1px -1px", 2, 0.15),
        hdr-shadow("-1px -2px 1px -1px", 2, 0.1),
        hdr-shadow("2px 12px 12px -3px", 1.5, 0.15, ""),
      )
    );
  }

  // [data-theme-mode="dark"] {
  //   .item__preview {
  //     dynamic-range-limit: standard; 
  //   }
  // } // hdr map will be automatically removed when transferred through the network
  
}
