@use '../base' as *;

// 顶部控件自动隐藏
body:not(.body-asri--mobile, .body-asri--android, .body-asri--iosApp) {

    // .sy__globalGraph, .sy__graph // 导致关系图闪烁
    .sy__file,
    .sy__outline,
    .sy__bookmark,
    .sy__tag,
    .sy__backlink {
        position: relative;

        --dots-clr: var(--b3-border-color-trans);
        --icons2dots-timing-func: var(--asri-ease-spring-3);
        --dots2icons-timing-func: var(--asri-ease-spring-3);
        --icons2dots-dur: .4s;
        --dots2icons-dur: .35s;
        --icons2dots-delay: .2s;
        --dots2icons-delay: .125s;

        .block__icons {
            transition: var(--icons2dots-dur) var(--icons2dots-timing-func) var(--icons2dots-delay);

            // dots
            height: 20px;
            min-height: unset;

            &::before {
                content: '';
                width: 4px;
                height: 4px;
                background-color: var(--dots-clr);
                box-shadow: 8px 0 0 0 var(--dots-clr), 16px 0 0 0 var(--dots-clr), 24px 0 0 0 var(--dots-clr);
                border-radius: 50%;
                position: absolute;
                top: 10px;
                left: 50%;
                transform: translateX(-12px);
                transform-origin: top center;
                transition: var(--icons2dots-dur) var(--icons2dots-timing-func) var(--icons2dots-delay);
            }

            >:where(div, span) {
                transform: scale(.6);
                transition: var(--icons2dots-dur) var(--icons2dots-timing-func) var(--icons2dots-delay);
                opacity: 0 !important;
                // transform-origin: top center;

                &:first-child {
                    transform-origin: negateForRTL(calc(max(calc(15.5em - 100%), 100%) * var(--exaggerate-factor, 1))) 50%;
                }

                &.counter {
                    transform-origin: negateForRTL(400%) 50%;
                }

                &:nth-last-child(3 of .block__icon) {
                    transform-origin: negateForRTL(calc(-200% * var(--exaggerate-factor, 1))) 50%;
                }

                &:nth-last-child(2 of .block__icon) {
                    transform-origin: negateForRTL(calc(-300% * var(--exaggerate-factor, 1))) 50%;
                }

                &:last-child {
                    transform-origin: negateForRTL(calc(-500% * var(--exaggerate-factor, 1))) 50%;
                }
            }

            &:hover,
            &:focus-within {
                height: 42px;

                transition-timing-function: var(--dots2icons-timing-func);
                transition-duration: var(--dots2icons-dur);
                transition-delay: var(--dots2icons-delay);

                &::before {
                    transform: translateX(calc(-12px * 3.5)) scale(3.5);
                    opacity: 0;
                    transition-timing-function: var(--dots2icons-timing-func);
                    transition-duration: var(--dots2icons-dur);
                    transition-delay: var(--dots2icons-delay);
                }

                >:where(div, span) {
                    transform: none;
                    opacity: 1 !important;
                    transition-timing-function: var(--dots2icons-timing-func);
                    transition-duration: var(--dots2icons-dur);
                    transition-delay: var(--dots2icons-delay);
                }
            }

            .search__label:not(.fn__none)~.block__icon {
                opacity: 0 !important
            }
        }
    }

    .sy__backlink {
        --exaggerate-factor: 1.5;

        >:nth-child(2 of .block__icons) {
            position: relative;
        }
    }
}