// @use "colorful-asri"; // -> Asrify
@use "rtl"; // no change needed
@use "high-readability-variants"; // -> Asrify configureable

// @use "tree-branch-indents.scss"; // -> deprecated
// @use 'panda-scheme'; // -> deprecated
// @use 'mode-transition'; // -> deprecated
// @use 'hide-toolbar'; // -> deprecated
// @use 'cover-image-fading'; // -> deprecated

// @use "topbar-fusion"; // -> Asrify
@use "blur"; // -> Asrify configureable
@use "cover-image-parallax-scrolling"; // -> Asrify configureable, need fintuning for CSS only case
@use "doc-attr-reposition"; // -> Asrify configureable
// @use "filetree-indents-indicator"; // -> Asrify
@use "custom-attributes"; // no change needed

// @use 'heading-indicators'; // -> deprecated
// @use 'gradient-headings'; // -> deprecated

@use "overflow-indicator"; // -> pruning needed
@use "list-counter-style"; // -> Asrify configureable
// @use 'reading-mode'; // -> deprecated
// @use "topbar-fusion-plus"; // -> Asrify
@use "selected-block-indicator"; // -> Asrify
@use "hide-side-panel-block-icons"; // -> Asrify configureable
// @use "performance-improvements"; // -> deprecated
// @use "sticky-stacks"; // -> deprecated
// @use 'floating-docks'; // -> deprecated
// @use 'layout-bento'; // -> deprecated
// @use "layout-paper"; // -> deprecated
// @use "vibrancy.scss"; // -> Asrify
// @use "floating-tabbar"; // -> deprecated
// @use "hdr"; // -> Asrify