@use 'colorful-asri';
// @use 'panda-scheme';
@use 'mode-transition';
// @use 'hide-toolbar';
@use 'cover-image-fading';
@use 'blur';
@use 'filetree-indents-indicator';
@use 'topbar-fusion';
@use 'custom-attributes';
@use 'high-readability-variants';
// @use 'heading-indicators';
@use 'overflow-indicator';
@use 'list-counter-style';
@use 'reading-mode';
// @use 'immersive-tabbar';