$li-types: ".li[data-subtype=o]", ".li[data-subtype=u]";

.list[data-subtype="o"] {
  counter-reset: olcounter1 0 olcounter2 0 olcounter3 0;
}
:not(.export-img)> // https://ld246.com/article/1763139003515
.protyle-wysiwyg {
  @each $type in $li-types {
    $start: $type;
    $j: 1;

    @for $i from 1 through 3 {
      @if $type == ".li[data-subtype=o]" {
        #{$start} {
          counter-increment: olcounter1;

          @if $j >3 {
            > .protyle-action {
              color: transparent !important;

              &::after {
                content: counter(olcounter1) ".";
              }
            }
          }

          #{$type} {
            counter-increment: olcounter2;

            > .protyle-action {
              color: transparent !important;

              &::after {
                content: counter(olcounter2, lower-alpha) ".";
              }
            }

            #{$type} {
              counter-increment: olcounter3;

              > .protyle-action {
                color: transparent !important;

                &::after {
                  content: counter(olcounter3, lower-roman) ".";
                }
              }
            }
          }
        }
      } @else {
        #{$start} {
          > .protyle-action::after {
            content: "•";
          }

          #{$type} {
            > .protyle-action::after {
              content: "◦";
            }

            #{$type} {
              > .protyle-action::after {
                content: "▪";
              }
            }
          }
        }
      }

      $start: $start + " " + $type + " " + $type + " " + $type;
      $j: $j + 3;
    }
  }

  // other styles
  // ordered list starting from 2nd level li
  .li .li[data-subtype="o"] > .protyle-action {
    &::after {
      color: var(--b3-theme-on-background);
      white-space: nowrap;
      text-align: end;
      min-width: fit-content;
      left: unset;
      inset-inline-end: calc(50% - 0.5em);
      // font-family:var(--b3-font-family);
    }

    &:hover {
      // color: transparent !important;

      &::after {
        color: var(--b3-theme-primary);
      }
    }
  }

  .li:not([data-subtype="t"]) > .protyle-action {
    line-height: 1em;
  }

  // unordered list
  .li[data-subtype="u"] > .protyle-action {
    // color: transparent !important;
    svg {
      visibility: hidden;
    }

    &::after {
      font-family: Arial;
      font-size: 1.5em;
      text-align: center;
      // color: var(--b3-theme-on-background);
      line-height: 1;
      color: inherit;
      left: unset;
      top: unset;
      margin: 0;
    }
  }

  // folded list
  .li[fold="1"] {
    &:not([data-subtype="t"]) {
      .protyle-action {
        &::after {
          transform: none;
          // outline: .25em solid rgb(from var(--b3-theme-on-background) r g b / .1);
          box-shadow: 0 0 0 0.25em rgb(from var(--b3-theme-on-background) r g b / 0.1);
        }

        &:hover::after {
          background-color: rgb(from var(--b3-theme-on-background) r g b / 0.1);
        }
      }
    }

    &[data-subtype="u"] {
      .protyle-action::after {
        box-shadow: none;
      }
    }
  }
}
