@use "../base" as *;
@use "./utils" as *;

.asri-tfp:not(.asri-disable-backdrop-blur, .body-asri--mobile) {
  &.asri-dragging-gutter {
    // fix the issue when dragging a block up, the auto-scroll is not triggered

    .protyle-breadcrumb,
    :where(.layout__wnd--active, [data-type="wnd"]) > .fn__flex:first-child {
      pointer-events: none;
    }
  }

  svg.asri-experimental {
    transition: 0.2s opacity;
    &:hover {
      opacity: 1 !important;
    }
  }

  .protyle .wysiwygLoading {
    z-index: 0;
  } // fix wysiwyg loading covering tab bar

  // 以下breadcrumb 相关代码导致：
  // 1. 块拖动至页面顶部时无法触发自动滚动
  // 2. 页面块进度条（.protyle-scroll）无法自动定位；点击时跳转到块的位置，但溢出页面顶部

  --blur-block-height: 84px;

  .layout__wnd--active,
  [data-type="wnd"] {
    --blur-radius-main: 40px;

    > .fn__flex:first-child {
      background-color: transparent;
      margin-bottom: -42px;
      z-index: 4;
    }

    :not(.av__views) > .layout-tab-bar {
      .item {
        // backdrop-filter: brightness(1) saturate(1);

        &--focus {
          font-weight: 500;
          // background-color: transparent;
          backdrop-filter: brightness(1) saturate(1.8);

          @include darkmode-counterpart {
            // background-color: #ffffff20;
            backdrop-filter: brightness(1.2) saturate(1.8);
          }
        }
      }
    }

    .layout-tab-container {
      & > .protyle[data-loading="finished"]::before {
        content: "";
        display: block;
        width: 100%;
        height: min(calc(var(--blur-radius-main) * 2 + var(--blur-block-height)), 100%);
        position: absolute;
        top: 0;
        z-index: 2;
        pointer-events: none;
        // mask-image: linear-gradient(to bottom,black 0, black var(--blur-block-height),transparent var(--blur-block-height));
      }

      .protyle:not(#searchPreview, .card__block, .plugin-panel, .docs-flow__protyle) > .protyle-breadcrumb:not([slot]) {
        padding-top: 42px;
        margin-bottom: calc(var(--blur-block-height) * -1);
        height: var(--blur-block-height);
        // @include theme-variant-color(background-color, background, $thick-transparency);
        z-index: 3;
      }

      .protyle[data-loading="finished"].fullscreen {
        &::before,
        &::after {
          --blur-block-height: var(--toolbar-height);
        }
      }

      .fullscreen > .protyle-breadcrumb {
        height: var(--toolbar-height) !important;
        padding-top: 0 !important;
      }

      .protyle:not(#searchPreview, .card__block, .plugin-panel, .docs-flow__protyle) > .protyle-breadcrumb + .protyle-content {
        padding-top: var(--blur-block-height);
      }

      & > .file-tree .protyle-content {
        padding-top: 0 !important;
      }

      // .block__icons.search {
      //     padding-top: 42px;
      // }
    }

    .protyle-background__img img {
      --offset-y: 10px;
    }

    .protyle-background__icon,
    .img .protyle-action__drag {
      z-index: auto;
    }

    // pdf
    // #outerContainer {
    //     #sidebarContainer {
    //         top: var(--blur-block-height);
    //     }

    //     .pdf__toolbar {
    //         #toolbarContainer {
    //             padding-top: 42px;
    //         }
    //     }

    //     .findbar {
    //         top: 78px;
    //     }

    //     #viewerContainer {
    //         top: var(--blur-block-height);
    //         transition: none;
    //     }

    // }
  }

  // fix export preview
  .protyle > .protyle-content.fn__none ~ .protyle-preview {
    margin-top: var(--blur-block-height);
  }

  &.asri-tfp-acrylic {
    .layout__wnd--active,
    [data-type="wnd"] {
      .layout-tab-container {
        & > .protyle[data-loading="finished"] {
          &::before {
            mask-image: linear-gradient(to bottom, black 0, black calc(var(--blur-block-height) - 0.5px), transparent calc(var(--blur-block-height) + 1px));

            @include bg-blur(20px, $brightness-light: 1, $brightness-dark: 0.9);
          }

          &::after {
            content: "";
            display: block;
            width: 100%;
            height: var(--blur-block-height);
            position: absolute;
            pointer-events: none;
            // background-color: rgba(255, 0, 0, 0.604);
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><filter id='noise'><feTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' /></filter><rect width='100%' height='100%' filter='url(%23noise)' /></svg>");
            background-repeat: repeat;
            background-size: 100px 100px;
            z-index: 2;
            mix-blend-mode: overlay;
            opacity: 1; // control the strength
          }
        }
      }

      .protyle:not(#searchPreview, .card__block, .plugin-panel, .docs-flow__protyle) > .protyle-breadcrumb:not([slot]) {
        background-color: rgb(from var(--b3-theme-background) r g b / $medium-transparency);

        [data-asri-palette="polar"][data-theme-mode="dark"] & {
          background-color: rgb(from var(--b3-theme-background) r g b / 0.7);
        }

        @include darkmode-counterpart {
          background-color: rgb(from var(--b3-theme-background) r g b / $medium-transparency);
        }
      }
    }
  }

  // luminous glass
  &.asri-tfp-luminous {
    .layout__wnd--active,
    [data-type="wnd"] {
      .layout-tab-container {
        & > .protyle[data-loading="finished"] {
          &::before {
            mask-image: linear-gradient(
              to bottom,
              black 0,
              // pass-through
              #000 calc(var(--blur-block-height) - 8px),
              #000a calc(var(--blur-block-height) - 0px),
              // line
              #000 calc(var(--blur-block-height)),
              #000 calc(var(--blur-block-height) + 0.5px),
              // // glow
              // #0006 calc(var(--blur-block-height) + 0.5px),
              // transparent calc(var(--blur-block-height) + 40px)
              #0000 calc(var(--blur-block-height) + 1px)
            );

            @include bg-blur(6px, $saturate-value: 1, $brightness-light: 1, $brightness-dark: 0.95);
            // @include darkmode-counterpart {
            //   backdrop-filter: blur(8px) saturate(1) contrast(1.2);
            // }
          }

          &::after {
            --glow-strength: rgb(0, 0, 0, 0.3);
            content: "";
            display: block;
            width: 100%;
            // background-color: rgba(255, 0, 0, 0.474);
            height: min(calc(var(--blur-radius-main) * 2 + var(--blur-block-height)), 100%);
            position: absolute;
            top: 0;
            pointer-events: none;
            @include bg-blur(40px, $saturate-value: 3, $brightness-light: 1.1, $brightness-dark: 1.2);

            mask-image: linear-gradient(
              to bottom,
              #0000 0,
              // inner glow
              #000 calc(var(--blur-block-height)),
              // line
              #0007 calc(var(--blur-block-height) + 2px),
              // outer glow
              var(--glow-strength) calc(var(--blur-block-height) + 2px),
              #0000 calc(var(--blur-block-height) + 40px)
            );

            [data-asri-palette="polar"][data-theme-mode="dark"] & {
              --glow-strength: #0006;
            }

            @include darkmode-counterpart {
              // backdrop-filter: blur(40px) saturate(4) contrast(1.2);
              --glow-strength: #0003;
              mask-image: linear-gradient(
                to bottom,
                #0000 0,
                // inner glow
                #000 calc(var(--blur-block-height)),
                // line
                #000 calc(var(--blur-block-height) + 1px),
                // outer glow
                var(--glow-strength) calc(var(--blur-block-height) + 1.5px),
                #0000 calc(var(--blur-block-height) + 21px)
              );
            }
          }
        }
      }

      .protyle:not(#searchPreview, .card__block, .plugin-panel, .docs-flow__protyle) > .protyle-breadcrumb:not([slot]) {
        box-shadow: 0 1px 0 0 #fff, 0 0px 20px 0px rgb(from var(--b3-theme-on-background) r g b / 0.06);
        background-color: rgb(from var(--b3-theme-background) r g b / 0.8);

        // [data-asri-palette="polar"][data-theme-mode="dark"] & {
        //   background-color: rgb(from var(--b3-theme-background) r g b / 0.6);
        // }

        @include darkmode-counterpart {
          // mix-blend-mode: hard-light;
          box-shadow: 0 0.5px 0 0 #fff2, 0 -8px 5px -5px rgb(from var(--b3-theme-background) r g b / 0.25) inset;
          // background-color: rgb(from var(--b3-theme-background) r g b / 0.5);
          background: linear-gradient(to bottom, rgb(from var(--b3-theme-background) r g b / 0.6), rgb(from var(--b3-theme-background) r g b / 0.45));
          background-color: #0000;
        }

        [data-asri-palette="polar"][data-theme-mode="dark"] & {
          background-color: #0000;
          background-image: linear-gradient(to bottom, rgb(from var(--b3-theme-background) r g b / 0.6), rgb(from var(--b3-theme-background) r g b / 0.3));
        }
      }
    }

    :where(.layout__wnd--active, [data-type="wnd"]) > .fn__flex:first-child,
    .toolbar {
      mix-blend-mode: multiply;

      @include darkmode-counterpart {
        mix-blend-mode: screen;
      }
    }
  }

  &.asri-tfp-progressive {
    .protyle:not(.fn__none) {
      .protyle-content {
        animation: none;
      }
    }

    .protyle-content {
      overflow-x: hidden;
    }

    .protyle-background__img {
      --bgimg-top-space: 6px;

      // &::after {
      //   content: "";
      //   display: inline-block;
      //   position: absolute;
      //   pointer-events: none;

      //   //方案一
      //   $offset: 30px;
      //   width: 100%;
      //   left: 0;
      //   height: calc(30vh + var(--blur-block-height) - $offset);
      //   top: $offset;
      //   background: linear-gradient(
      //     to top,
      //     var(--b3-theme-background) 2%,
      //     rgb(from var(--b3-theme-background) r g b / 0.97) 9%,
      //     rgb(from var(--b3-theme-background) r g b / 0.9) 18%,
      //     rgb(from var(--b3-theme-background) r g b / 0.75) 33%,
      //     rgb(from var(--b3-theme-background) r g b / 0.05) 92%,
      //     transparent 99%
      //   );

      //   //方案二
      //   // $width: 180%;
      //   // width: $width;
      //   // height: calc(30vh + var(--blur-block-height));
      //   // top: 0;
      //   // left: calc(($width - 100%) / -2);
      //   // background: radial-gradient(farthest-side at 50% 42px, transparent 1%, rgb(from var(--b3-theme-background) r g b /.05) 8%, rgb(from var(--b3-theme-background) r g b / .75) 67%, rgb(from var(--b3-theme-background) r g b / .9) 82%, rgb(from var(--b3-theme-background) r g b /.97) 91%, var(--b3-theme-background) 98%);
      // }
    }

    // .protyle-background__icon {
    //   filter: drop-shadow(0px -8px 10px rgb(from var(--b3-theme-background) r g b / 0.5));
    // }

    :where(.layout__wnd--active, [data-type="wnd"]) {
      // tabbar overlay blend mode
      > .fn__flex:first-child {
        mix-blend-mode: multiply;

        @include darkmode-counterpart {
          mix-blend-mode: screen;
        }
      }

      :not(.av__views) > .layout-tab-bar {
        border-radius: 0;
        @include overflow-indicator-fadein-mask(24px, $range: "left right");

        // .item:not(.item--pin) {
        //     margin-inline-end: 0;

        //     &:last-child {
        //         margin-inline-end: 1px;
        //     }
        // }

        // .item--focus:not(.item--pin) {
        //     margin-inline-start: 8px;
        //     margin-inline-end: 8px;
        // }

        // .item--focus:last-child {
        //     margin-inline-end: 0;
        // }

        // .item--pin+.item:not(.item--pin, .item--readonly) {
        //     margin-inline-start: 0;

        //     &::before {
        //         inset-inline-start: 0;
        //     }
        // }

        // .item__text {
        //     color: var(--b3-theme-on-background);
        // }

        .item:not(.item--readonly, .item--focus) {
          background-color: transparent;

          // .item__text {
          //     filter: drop-shadow(0 0 3.5px var(--b3-theme-background));
          // }

          @include darkmode-counterpart {
            background-color: transparent;
          }
        }

        // @supports (color: oklch(from red clamp(0, (l * 0.5), 0.3) 0 h)) {
        //     .item:not(.item--readonly, .item--focus) {
        //         // background-color: oklch(from var(--b3-theme-background) .9 c h / .4);

        //         @include darkmode-counterpart {
        //             // background-color: oklch(from var(--b3-theme-background) .4 c h / .4);
        //         }
        //     }

        //     // .item:not(.item--readonly, .item--full.item--focus):hover,
        //     // .item.item--focus {
        //     //     background-color: oklch(from var(--b3-theme-primary) .8 clamp(0, calc(.05 * var(--asri-c-factor, 1) * var(--asri-c-0, 1)), .18) h / .5);

        //     //     @include darkmode-counterpart {
        //     //         background-color: oklch(from var(--b3-theme-primary) .6 clamp(0, calc(.06 * var(--asri-c-factor, 1) * var(--asri-c-0, 1)), .18) h / .5);
        //     //     }
        //     // }
        // }

        .item:not(.item--readonly, .item--full.item--focus, .item--focus):hover {
          // box-shadow: inset 0 0 0 1px rgb(from var(--b3-theme-on-background) r g b / .8);
          background-color: transparent !important;
        }

        &:not(.layout-tab-bar--readonly) .item {
          // font-weight: 500;
          border-radius: 7px;
          // @include bg-blur(8px, $saturate-value: 2, $brightness-light: 1);
          // backdrop-filter: saturate(2);
          // outline: 1px solid rgb(from var(--b3-theme-background) r g b / .2);
          // outline-offset: -1px;
          box-shadow: inset 0 0 0 1px rgb(from var(--b3-theme-on-background) r g b / 0.2);
          @include superellipse(7px);

          &--focus {
            // @include bg-blur(8px, $saturate-value: 2, $brightness-light: 1);
            // backdrop-filter: saturate(2.5);
            border-radius: 6px;
            box-shadow: none;
            backdrop-filter: none;
            @include superellipse(6px);
            // background-color: var(--b3-theme-background);
            // box-shadow: inset 0 0 0 1px rgb(from var(--b3-theme-on-background) r g b / .9);
          }
        }
      }

      .layout-tab-container {
        .protyle {
          --pgbb: 1px; // progressive blur base
          --blur-block-height-progressive: calc(var(--blur-block-height) + 8px);

          &.fullscreen{
            --pgbb: 0.4px;
          }
        }
        & > .protyle[data-loading="finished"] {
          // 中层模糊
          &::before {
            mask-image: linear-gradient(to bottom, black 0, black calc(var(--blur-block-height-progressive) * 0.5), transparent calc(var(--blur-block-height-progressive) * 0.75));

            // @include bg-blur($blur-radius: 2px, $saturate-value: 1, $brightness-light: 1, $brightness-dark: 1);
            backdrop-filter: blur(calc(var(--pgbb) * 2.5));
          }

          // 底层模糊
          &::after {
            content: "";
            display: block;
            width: 100%;
            height: min(calc(var(--blur-radius-main) * 2 + var(--blur-block-height)), 100%);
            position: absolute;
            top: 0;
            pointer-events: none;
            // background: linear-gradient(to bottom, rgb(from var(--b3-theme-background) r g b / .6), transparent var(--blur-block-height));
            backdrop-filter: blur(var(--pgbb));
            mask-image: linear-gradient(to bottom, black 0, black calc(var(--blur-block-height-progressive) * 0.7), transparent calc(var(--blur-block-height-progressive) * 1));
          }

          &.fullscreen::after {
            background: unset;
          }

          .protyle-breadcrumb + .protyle-content {
            scroll-timeline-name: --protyle-content-scroll;

            &::before {
              --mask-opacity-factor-light: 0.9;
              --mask-opacity-factor-dark: 0.8;
              content: "";
              position: absolute;
              top: 0;
              width: 100%;
              height: min(calc(var(--blur-block-height) + 50px), 100%);
              // height: var(--blur-block-height);
              z-index: 1;
              pointer-events: none;

              mix-blend-mode: luminosity;
              opacity: 0.8;

              @include darkmode-counterpart {
                // mix-blend-mode: normal;
                opacity: 0.75;
              }

              @include smoothGradientVar(var(--b3-theme-background), var(--mask-opacity-factor-light), var(--mask-opacity-factor-dark));

              [data-asri-palette="polar"][data-theme-mode="light"] & {
                --mask-opacity-factor-light: 0.8;
              }

              [data-asri-palette="polar"][data-theme-mode="dark"] & {
                --mask-opacity-factor-dark: 0.7;
              }

              @supports (animation-timeline: view()) {
                animation-timeline: --protyle-content-scroll;
                animation-range: -2px 30vh;
                animation-fill-mode: both;
                animation-name: dynamic-opacity;
                animation-timing-function: linear;

                @keyframes dynamic-opacity {
                  to {
                    opacity: 1;
                  }
                }
              }

              @supports not (animation-timeline: view()) {
                opacity: 1;
              }
            }
          }
        }
      }

      .protyle:not(#searchPreview, .card__block, .plugin-panel, .docs-flow__protyle) > .protyle-breadcrumb:not([slot]) {
        background-color: transparent;
        // mix-blend-mode: luminosity;
        // mix-blend-mode: difference;
        position: relative;

        // 顶层模糊
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          height: 80%;
          // background-color: transparent;
          backdrop-filter: blur(calc(var(--pgbb) * 5)) saturate(1.8);
          mask-image: linear-gradient(to bottom, #000 calc(var(--blur-block-height-progressive) * 0.2), #0000 calc(var(--blur-block-height-progressive) * 0.55));
          pointer-events: none;

          @include darkmode-counterpart {
            backdrop-filter: blur(calc(var(--pgbb) * 5)) saturate(1.1);
          }
        }

        .protyle-breadcrumb__item {
          &:not(:first-child) {
            @include overflow-indicator-fadein-mask($range: "left right");
          }
          &::-webkit-scrollbar {
            display: none;
          }
          scrollbar-width: none;
        }

        // "exit focus" button
        .protyle-breadcrumb__icon:not(:hover) {
          color: var(--b3-theme-on-background);
          background-color: var(--b3-theme-background-light);
        }

        // .protyle-breadcrumb__text,
        // .popover__block {
        //     // color: var(--b3-theme-on-background);
        //     font-weight: 600;
        //     // overflow: visible;
        //     filter: drop-shadow(0 0 4px var(--b3-theme-background));
        //     // color: #fffa;
        // }

        // mix-blend-mode: multiply;

        // @include darkmode-counterpart {
        //     mix-blend-mode: screen;
        // }

        .block__icon,
        .protyle-breadcrumb__arrow {
          filter: drop-shadow(0 0 3px var(--b3-theme-background));
        }
      }

      :not(.fullscreen, .plugin-panel) > .protyle-breadcrumb:not([slot]) {
        .protyle-breadcrumb__bar {
          height: fit-content;
          margin: 6px 0;
          padding: 0 2px;
          background-color: rgb(from var(--b3-theme-background) r g b / 0.4);
          // background: radial-gradient(closest-side,var(--b3-theme-background) 0%, #0000 100%);
          // background-color: var(--b3-theme-surface-light);
          border-radius: 6px;
          @include bg-blur(8px, 1.5, $brightness-light: 1);
        }
      }

      .protyle-top {
        margin-top: calc(-1 * var(--blur-block-height));

        --bgimg-top-space: 12px; // -> parallax scrolling fix
        --cover-img-height: calc(30vh + var(--blur-block-height));
      }

      .protyle-background__img {
        img {
          height: calc(30vh + var(--blur-block-height));
        }

        .protyle-icons {
          top: 92px;
        }

        &.fn__none + .protyle-background__ia {
          margin-top: 92px !important;
        }
      }
    }

    //页签栏图标、顶栏图标
    // .item--readonly .block__icon,
    // .toolbar .toolbar__item:not(#barWorkspace) {
    //     filter: drop-shadow(0 0 3px var(--b3-theme-background));
    // }
    .toolbar {
      mix-blend-mode: multiply;

      @include darkmode-counterpart {
        mix-blend-mode: screen;
      }
    }
  }

  &:not(.body-asri--mobile, .body--window) > #toolbar {
    z-index: 5;
  }

  .layout__resize {
    z-index: 3;
  }

  > :not(.block__popover, .b3-dialog--open) :is(.av__row--header, .av__colsticky, .av__row--footer) {
    z-index: 1;
  }

  // .av__row--header {
  //   top: 0;
  //   transition: top .4s var(--asri-ease-in-out-5);
  // }

  > :not(.block__popover, .b3-dialog--open) .av__row--header {
    &::before {
      content: "";
      display: block;
      position: absolute;
      margin-top: calc(var(--blur-block-height) * -1.5);
      width: 100%;
      height: calc(var(--blur-block-height) * 1.5);
      background-color: var(--b3-parent-background);
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.3s linear;
    }
    &[style*="transform"] {
      z-index: 2;
      top: calc(var(--blur-block-height) + 1px); // https://github.com/mustakshif/Asri/issues/200

      &::before {
        opacity: 1;
      }
    }
  }

  // .protyle-breadcrumb{
  //     anchor-name: --breadcrumb;
  // }

  // .av__row--header {
  //     transform: none !important;
  //     position: sticky;
  //     top: calc(anchor(bottom) + 42px);
  // }

  &.body--window {
    --blur-block-height: 74px;
  }

  .layout__center {
    // // 大纲、反链面板
    // .file-tree,
    // // 搜索面板
    // .layout-tab-container>[data-timeout] {
    //     margin-top: 42px;
    //     min-height: calc(100% - 42px);
    // }

    .layout-tab-container > :not(.protyle) {
      margin-top: 42px;
      // min-height: calc(100% - 42px);
      min-height: unset;
    }

    // [data-key="dialog-opencard"] {
    //     padding-top: 42px;

    //     // >.card__main>.block__icons {
    //     //     background-color: var(--b3-theme-background);
    //     // }
    // }
  }

  // 适配插件、挂件
  iframe[src="/widgets/Whiteboard/"] {
    margin-top: 48px;
  }

  .enhanceProtyleBottomContainer .protyle-content {
    padding-top: 0 !important;

    &::before {
      display: none;
    }
  }

  .backlinkArea.arco-collapse .backlinkAreaCollapse > .arco-collapse-item-header {
    z-index: 1;
  }
}
