// #region 避让
.toolbar {
  margin-bottom: calc(var(--toolbar-height) * -1);
  z-index: var(--topbar-z-index);
  border-bottom-color: transparent;
  background-color: transparent;
}

.layout__center .layout-tab-container {
  padding-top: var(--avoid-topbar);
}

.dock#dockLeft {
  padding-top: calc(var(--avoid-topbar) - 6px);
  background-color: transparent;
}

#dockRight {
  background-color: var(--b3-theme-background);
  padding-top: var(--avoid-topbar);
}

.layout__dockl,
.layout__dockr {
  > .fn__flex:first-child,
  > .fn__flex.fn__none ~ .fn__flex {
    .layout-tab-container {
      padding-top: var(--avoid-topbar);
    }
  }

  &.layout--float {
    height: 100%;
  }
}

.layout__dockl {
  > .fn__flex:first-child,
  > .fn__flex.fn__none ~ .fn__flex {
    .layout-tab-container {
      padding-top: calc(var(--avoid-topbar) - 6px);
    }
  }

  // &:not(.layout--float) {
  //     .layout-tab-container {
  //         border-right: 1px solid var(--b3-border-color-trans);
  //     }
  // }
}

#dockLeft,
#dockRight {
  &:not(.dock-layout-expanded) {
    background-color: var(--b3-theme-background);

    &::before {
      //遮挡侧栏边线
      content: "";
      height: var(--toolbar-height);
      position: fixed;
      background-color: inherit;
      width: inherit;
      top: 0;
    }
  }
}

#dockRight::before {
  right: 1px; // fix https://github.com/mustakshif/Asri/issues/149
}

.body-asri--mac {
  #dockRight {
    padding-top: var(--avoid-topbar);
  }
}

.body-asri--mac,
.body-asri--browser {
  #dockRight::before {
    display: none;
  }
}

.layout__dockl.layout--float {
  &::before {
    content: "";
    width: 41px;
    height: var(--toolbar-height);
    position: fixed;
    left: 0;
    background-color: var(--b3-theme-background);
  }
}

#dockLeft.fn__none + #layouts .layout__dockl.layout--float::before {
  display: none;
}

.layout--float {
  > .fn__flex:not(.fn__none):first-child,
  > .fn__flex.fn__none ~ .fn__flex {
    .layout-tab-container {
      padding-top: 4px;
    }
  }
}

.body-asri--mac:not(.body-asri--browser, .body--fullscreen) {
  .layout__dockl.layout--float {
    > .fn__flex:not(.fn__none):first-child,
    > .fn__flex.fn__none ~ .fn__flex {
      .layout-tab-container {
        padding-top: calc(var(--toolbar-height) - 6px);
      }
    }
  }
}

.fn__flex-1.has-dockb.has-layout-dockb-float {
  // -> js
  .layout__dockl,
  .layout__dockr {
    &.layout--float {
      height: calc(100% - 42px - var(--status-height, 32px));
      top: 0;
    }
  }
}

.fn__flex-1.has-dockb:not(.has-layout-dockb-float) {
  .layout__dockl,
  .layout__dockr {
    &.layout--float {
      height: calc(100% - 42px);
      top: 0;
    }
  }
}

.fn__flex-1.has-layout-dockb-float:not(.has-dockb) {
  .layout__dockl,
  .layout__dockr {
    &.layout--float {
      height: calc(100% - var(--status-height, 32px));
      top: 0;
    }
  }
}

.body--win32 {
  .fullscreen > .block__icons,
  .fullscreen > .protyle-breadcrumb {
    padding-right: 10px;
  }
}

.layout__dockr {
  > .fn__flex:not(.fn__none):first-child,
  > .fn__flex.fn__none ~ .fn__flex {
    .layout-tab-container {
      padding-top: var(--avoid-topbar);
    }
  }

  &:not(.layout--float) {
    .layout-tab-container {
      background-color: var(--b3-theme-background);
      border-left: 1px solid var(--b3-border-color-trans);
    }
  }
}
// #endregion
