body.asri-vibrancy:not(.body-asri--browser) {
  background-color: transparent;

  .layout__dockl:not(.layout--float) .layout-tab-container,
  // .layout__dockr .layout-tab-container,#dockRight 
  .dock.dock-layout-expanded {
    background-color: var(--b3-theme-surface-light);
  }

  &.body--win32 {
    .layout__dockl:not(.layout--float) .layout-tab-container,
  // .layout__dockr .layout-tab-container,#dockRight 
  .dock.dock-layout-expanded {
    background-color: var(--b3-theme-surface-light);
    @supports (color: oklch(from blue l c h)) {
      background-color: oklch(from var(--b3-theme-background) l c h / 0.68);
    }
  }
  }

  // // fully transparent
  // .layout-tab-container,
  // .layout__dockr .layout-tab-container,
  // #dockLeft:not(.dock-layout-expanded),
  // #dockRight,
  // .fn__flex-column[data-type="wnd"] > .fn__flex:first-child {
  //   background-color: var(--b3-theme-surface-light);
  // }

  // #dockLeft::before {
  //   display: none;
  // }

  // .protyle,
  // .protyle-breadcrumb {
  //   background-color: transparent;
  // }
}
