@use "./utils";

body.asri-vibrancy:not(.body-asri--browser, .body-asri--fullscreen) {
  background-color: transparent;

  #{utils.$vibrancy-applicable-elements} {
    background-color: var(--b3-theme-surface-light);
    // @supports (color: oklch(from blue l c h)) {
    //   background-color: oklch(from var(--b3-theme-background) l c h / 0.5);
    // }
  }

  #dockBottom:not(.fn__none, .has-layout-dockb-float) + .status{
    background-color: transparent !important;
  }

  &.body--win32 {
    #{utils.$vibrancy-applicable-elements} {
      background-color: var(--b3-theme-surface-light);
      @supports (color: oklch(from blue l c h)) {
        background-color: oklch(from var(--b3-theme-background) l c h / 0.68);
      }
    }
  }

  // // fully transparent
  // .layout-tab-container,
  // .layout__dockr .layout-tab-container,
  // #dockLeft:not(.dock-layout-expanded),
  // #dockRight,
  // .fn__flex-column[data-type="wnd"] > .fn__flex:first-child {
  //   background-color: var(--b3-theme-surface-light);
  //   background-color: oklch(from var(--b3-theme-background) l c h / 0.5);
  // }

  // #dockLeft::before {
  //   display: none;
  // }

  // .protyle,
  // .protyle-breadcrumb {
  //   background-color: transparent;
  // }
}
