@property --property-percentage {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}
.dock {
  box-sizing: border-box;
  background-color: transparent;
}
.dock .dock__item {
  color: rgba(38, 38, 38, 0.6);
}
html[data-theme-mode=dark] .dock .dock__item {
  color: rgba(222, 222, 222, 0.6);
}
.dock .dock__item:not(.dock__item--activefocus, .dock--active):hover {
  color: var(--b3-theme-on-background);
}
.dock .dock__item--activefocus, .dock .dock__item--active {
  color: var(--b3-theme-primary) !important;
  background-color: transparent !important;
}
.dock#dockLeft {
  border-right-width: 1px;
}
.dock#dockRight {
  border-left-width: 1px;
}