.layout-tab-container {
  background-color: transparent;
}

.protyle-background .protyle-icons .protyle-icon {
  height: 30px;
  padding: 8px 6px;
}
.protyle-background .protyle-icons .protyle-icon--first {
  padding-left: 12px;
}
.protyle-background .protyle-icons .protyle-icon--last {
  padding-right: 12px;
}
.protyle-background__icon:not(.fn__none) + .protyle-icons {
  margin-top: 50px;
}
.protyle-icons {
  border-radius: 99px;
}
.protyle-icons:hover {
  -webkit-backdrop-filter: blur(20px) saturate(3);
          backdrop-filter: blur(20px) saturate(3);
  transition: none;
  opacity: 1 !important;
}
.protyle-icons .protyle-icon {
  background-color: rgba(246, 246, 246, 0.8);
  color: rgba(38, 38, 38, 0.6);
  padding: 5px 6px;
}
html[data-theme-mode=dark] .protyle-icons .protyle-icon {
  background-color: rgba(56, 56, 56, 0.8);
}
html[data-theme-mode=dark] .protyle-icons .protyle-icon {
  color: rgba(222, 222, 222, 0.6);
}
.protyle-icons .protyle-icon:not(.protyle-icon--text, .protyle-icon--only):hover {
  color: var(--b3-theme-on-background);
}
.protyle-icons .protyle-icon--first {
  border-radius: 99px 0 0 99px;
  padding-left: 10px;
}
.protyle-icons .protyle-icon--last {
  border-radius: 0 99px 99px 0;
  padding-right: 10px;
}
.protyle-icons .protyle-icon--text {
  border-radius: 99px;
  padding: 5px 8px;
}
.protyle-icons .protyle-icon--only {
  border-radius: 99px;
  padding: 5px;
  transition: none;
}
.protyle-icons .protyle-icon--only:hover {
  color: var(--b3-theme-on-background);
  -webkit-backdrop-filter: blur(20px) saturate(3);
          backdrop-filter: blur(20px) saturate(3);
  transition: none;
}
.protyle-action {
  border-radius: 99px;
}
.protyle-action:hover {
  -webkit-backdrop-filter: blur(20px) saturate(3);
          backdrop-filter: blur(20px) saturate(3);
  transition: none;
  opacity: 1 !important;
}
.protyle-action .protyle-icon {
  background-color: rgba(246, 246, 246, 0.8);
  color: rgba(38, 38, 38, 0.6);
  padding: 5px 6px;
}
html[data-theme-mode=dark] .protyle-action .protyle-icon {
  background-color: rgba(56, 56, 56, 0.8);
}
html[data-theme-mode=dark] .protyle-action .protyle-icon {
  color: rgba(222, 222, 222, 0.6);
}
.protyle-action .protyle-icon:not(.protyle-icon--text, .protyle-icon--only):hover {
  color: var(--b3-theme-on-background);
}
.protyle-action .protyle-icon--first {
  border-radius: 99px 0 0 99px;
  padding-left: 10px;
}
.protyle-action .protyle-icon--last {
  border-radius: 0 99px 99px 0;
  padding-right: 10px;
}
.protyle-action .protyle-icon--text {
  border-radius: 99px;
  padding: 5px 8px;
}
.protyle-action .protyle-icon--only {
  border-radius: 99px;
  padding: 5px;
  transition: none;
}
.protyle-action .protyle-icon--only:hover {
  color: var(--b3-theme-on-background);
  -webkit-backdrop-filter: blur(20px) saturate(3);
          backdrop-filter: blur(20px) saturate(3);
  transition: none;
}
.protyle-action:hover {
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
.protyle-content {
  background-color: var(--b3-theme-background);
}
.protyle-title__input {
  font-weight: 600;
  font-size: 2.4em;
  line-height: 1.4;
  padding-top: 8px;
  padding-bottom: 8px;
}
.protyle-title__input:empty:after {
  opacity: 0.6;
}
.protyle-wysiwyg [data-node-id], .b3-typography [data-node-id] {
  border-radius: 10px;
}
.protyle-wysiwyg .h1, .b3-typography .h1,
.protyle-wysiwyg h1,
.b3-typography h1 {
  font-weight: 600;
  margin-top: 1.2em;
}
.protyle-wysiwyg .h1 + .h2, .b3-typography .h1 + .h2,
.protyle-wysiwyg h1 + h2,
.b3-typography h1 + h2 {
  margin-top: 0;
}
.protyle-wysiwyg .h1 + .h3, .b3-typography .h1 + .h3,
.protyle-wysiwyg h1 + h3,
.b3-typography h1 + h3 {
  margin-top: 0;
}
.protyle-wysiwyg .h1 + .h4, .b3-typography .h1 + .h4,
.protyle-wysiwyg h1 + h4,
.b3-typography h1 + h4 {
  margin-top: 0;
}
.protyle-wysiwyg .h1 + .h5, .b3-typography .h1 + .h5,
.protyle-wysiwyg h1 + h5,
.b3-typography h1 + h5 {
  margin-top: 0;
}
.protyle-wysiwyg .h1 + .h6, .b3-typography .h1 + .h6,
.protyle-wysiwyg h1 + h6,
.b3-typography h1 + h6 {
  margin-top: 0;
}
.protyle-wysiwyg .h2, .b3-typography .h2,
.protyle-wysiwyg h2,
.b3-typography h2 {
  font-weight: 600;
  margin-top: 1.2em;
}
.protyle-wysiwyg .h2 + .h3, .b3-typography .h2 + .h3,
.protyle-wysiwyg h2 + h3,
.b3-typography h2 + h3 {
  margin-top: 0;
}
.protyle-wysiwyg .h2 + .h4, .b3-typography .h2 + .h4,
.protyle-wysiwyg h2 + h4,
.b3-typography h2 + h4 {
  margin-top: 0;
}
.protyle-wysiwyg .h2 + .h5, .b3-typography .h2 + .h5,
.protyle-wysiwyg h2 + h5,
.b3-typography h2 + h5 {
  margin-top: 0;
}
.protyle-wysiwyg .h2 + .h6, .b3-typography .h2 + .h6,
.protyle-wysiwyg h2 + h6,
.b3-typography h2 + h6 {
  margin-top: 0;
}
.protyle-wysiwyg .h3, .b3-typography .h3,
.protyle-wysiwyg h3,
.b3-typography h3 {
  font-weight: 600;
  margin-top: 1.2em;
}
.protyle-wysiwyg .h3 + .h4, .b3-typography .h3 + .h4,
.protyle-wysiwyg h3 + h4,
.b3-typography h3 + h4 {
  margin-top: 0;
}
.protyle-wysiwyg .h3 + .h5, .b3-typography .h3 + .h5,
.protyle-wysiwyg h3 + h5,
.b3-typography h3 + h5 {
  margin-top: 0;
}
.protyle-wysiwyg .h3 + .h6, .b3-typography .h3 + .h6,
.protyle-wysiwyg h3 + h6,
.b3-typography h3 + h6 {
  margin-top: 0;
}
.protyle-wysiwyg .h4, .b3-typography .h4,
.protyle-wysiwyg h4,
.b3-typography h4 {
  font-weight: 600;
  margin-top: 1.2em;
}
.protyle-wysiwyg .h4 + .h5, .b3-typography .h4 + .h5,
.protyle-wysiwyg h4 + h5,
.b3-typography h4 + h5 {
  margin-top: 0;
}
.protyle-wysiwyg .h4 + .h6, .b3-typography .h4 + .h6,
.protyle-wysiwyg h4 + h6,
.b3-typography h4 + h6 {
  margin-top: 0;
}
.protyle-wysiwyg .h5, .b3-typography .h5,
.protyle-wysiwyg h5,
.b3-typography h5 {
  font-weight: 600;
  margin-top: 1.2em;
}
.protyle-wysiwyg .h5 + .h6, .b3-typography .h5 + .h6,
.protyle-wysiwyg h5 + h6,
.b3-typography h5 + h6 {
  margin-top: 0;
}
.protyle-wysiwyg .h6, .b3-typography .h6,
.protyle-wysiwyg h6,
.b3-typography h6 {
  font-weight: 600;
  margin-top: 1.2em;
}
.protyle-wysiwyg [data-type=NodeSuperBlock] > [data-type=NodeHeading]:first-child, .b3-typography [data-type=NodeSuperBlock] > [data-type=NodeHeading]:first-child,
.protyle-wysiwyg .protyle-wysiwyg__embed > [data-type=NodeHeading]:first-child,
.b3-typography .protyle-wysiwyg__embed > [data-type=NodeHeading]:first-child,
.protyle-wysiwyg .protyle-wysiwyg__embed > .protyle-breadcrumb__bar + [data-type=NodeHeading],
.b3-typography .protyle-wysiwyg__embed > .protyle-breadcrumb__bar + [data-type=NodeHeading] {
  margin-top: 0;
}
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref], .b3-typography [data-node-id] span[data-type~=block-ref],
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref],
.b3-typography [data-node-id] span[data-type~=file-annotation-ref] {
  color: inherit;
  -webkit-text-decoration: underline dashed;
          text-decoration: underline dashed;
  text-decoration-color: var(--b3-theme-primary);
  text-decoration-thickness: 0.1em;
  background: linear-gradient(90deg, var(--b3-theme-primary-lightest) 100%, transparent 0%) center right;
  background-size: 0;
  background-repeat: no-repeat;
  opacity: 1;
  transition: background-size 0.2s;
}
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:hover, .b3-typography [data-node-id] span[data-type~=block-ref]:hover,
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref]:hover,
.b3-typography [data-node-id] span[data-type~=file-annotation-ref]:hover {
  background-position: center left;
  text-decoration-style: solid !important;
  background-size: 100% !important;
}
.protyle-wysiwyg [data-node-id] span[data-type=virtual-block-ref], .b3-typography [data-node-id] span[data-type=virtual-block-ref] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-decoration-color: var(--b3-theme-on-surface-light);
  text-decoration-style: dashed;
  background: linear-gradient(90deg, var(--b3-border-color) 100%, transparent 0%) center right;
  background-size: 0;
  background-repeat: no-repeat;
  transition: background-size 0.2s;
}
.protyle-wysiwyg [data-node-id] span[data-type=virtual-block-ref]:hover, .b3-typography [data-node-id] span[data-type=virtual-block-ref]:hover {
  background-position: center left;
  border: none;
  background-size: 100% !important;
}
.protyle-wysiwyg [data-node-id] span[data-type~=a], .b3-typography [data-node-id] span[data-type~=a] {
  color: inherit;
  -webkit-text-decoration: underline solid;
          text-decoration: underline solid;
  text-decoration-thickness: 0.1em;
  text-decoration-color: var(--b3-theme-primary);
}
.protyle-wysiwyg [data-node-id] span[data-type~=a]:hover, .b3-typography [data-node-id] span[data-type~=a]:hover {
  color: var(--b3-theme-primary);
  border-bottom: none;
}
.protyle-wysiwyg span[data-type~=strong], .b3-typography span[data-type~=strong],
.protyle-wysiwyg span[data-type~=em],
.b3-typography span[data-type~=em] {
  color: inherit;
}
.protyle-wysiwyg span[data-type~=u], .b3-typography span[data-type~=u] {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  border-bottom: none;
}
.protyle-wysiwyg span[data-type~=s], .b3-typography span[data-type~=s] {
  color: inherit;
}
.protyle-wysiwyg span[data-type~=mark], .b3-typography span[data-type~=mark] {
  background: transparent;
  box-shadow: 0 -0.5em 0 0 inset var(--b3-protyle-inline-mark-background), 0 0.1em 0 0 var(--b3-protyle-inline-mark-background);
  color: inherit;
}
.protyle-wysiwyg span[data-type~=kbd], .b3-typography span[data-type~=kbd] {
  font: 80% SF Pro, Consolas, "Liberation Mono", Menlo, Courier, var(--b3-font-family);
  padding: 0.15em 0.5em;
  border-radius: 1em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  vertical-align: baseline;
}
html[data-theme-mode=dark] .protyle-wysiwyg span[data-type~=kbd], html[data-theme-mode=dark] .b3-typography span[data-type~=kbd] {
  box-shadow: inset 0 1px 0 var(--b3-theme-surface-lighter);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag], .b3-typography [data-node-id] span[data-type~=tag] {
  font-size: 90%;
  border-radius: 1em;
  padding: 0.1em 0.5em 0.15em;
  border: none;
  box-shadow: 0 0 0 0.065em inset;
  background-color: transparent;
  transition: all 200ms;
  color: var(--b3-theme-secondary);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:hover, .b3-typography [data-node-id] span[data-type~=tag]:hover {
  background-color: transparent;
  color: #bf6c0d;
}
html[data-theme-mode=dark] .protyle-wysiwyg [data-node-id] span[data-type~=tag]:hover, html[data-theme-mode=dark] .b3-typography [data-node-id] span[data-type~=tag]:hover {
  color: #e3b682;
}
.protyle-wysiwyg span[data-type~=code], .b3-typography span[data-type~=code] {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  border-radius: 0.4em;
  color: inherit;
}
.protyle-wysiwyg span[data-type~=inline-memo], .b3-typography span[data-type~=inline-memo] {
  background-color: transparent;
  border-bottom: none;
  text-decoration: underline;
  text-decoration-color: var(--b3-font-color5);
  transition: all 150ms;
}
.protyle-wysiwyg span[data-type~=inline-memo]:hover, .b3-typography span[data-type~=inline-memo]:hover {
  box-shadow: 0 -1.2em 0 0 inset #ffeb99;
  transition: all 150ms;
  text-decoration-color: #ffeb99;
  color: var(--b3-theme-on-background);
  border-radius: 0;
}
html[data-theme-mode=dark] .protyle-wysiwyg span[data-type~=inline-memo]:hover, html[data-theme-mode=dark] .b3-typography span[data-type~=inline-memo]:hover {
  box-shadow: 0 -1.2em 0 0 inset #ddba0d;
  color: var(--b3-theme-background);
  text-decoration-color: #ddba0d;
}
.protyle-wysiwyg .bq, .b3-typography .bq,
.protyle-wysiwyg blockquote,
.b3-typography blockquote {
  padding: 16px;
  border: 1.5px solid var(--b3-border-color-trans);
  margin: 1em 0;
}
.protyle-wysiwyg .bq > [data-type=NodeHeading]:first-child, .b3-typography .bq > [data-type=NodeHeading]:first-child,
.protyle-wysiwyg blockquote > [data-type=NodeHeading]:first-child,
.b3-typography blockquote > [data-type=NodeHeading]:first-child {
  margin-top: 0;
}
.protyle-wysiwyg .sb .bq, .b3-typography .sb .bq,
.protyle-wysiwyg .sb blockquote,
.b3-typography .sb blockquote {
  border: none;
}
.protyle-wysiwyg .code-block, .b3-typography .code-block {
  margin: 0.4em 0;
}
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language, .b3-typography .code-block .protyle-action .protyle-action__language {
  margin-top: 0;
}
.protyle-wysiwyg .code-block .protyle-linenumber__rows, .b3-typography .code-block .protyle-linenumber__rows {
  padding: 2em 4px;
}
.protyle-wysiwyg .code-block .hljs, .b3-typography .code-block .hljs {
  border-radius: 10px;
  background-color: var(--b3-theme-surface);
  padding: 2em 16px;
}
.protyle-wysiwyg .li .protyle-action, .b3-typography .li .protyle-action {
  opacity: 0.8;
  color: inherit !important;
}
.protyle-wysiwyg .li .protyle-action--task, .b3-typography .li .protyle-action--task {
  color: inherit;
}
.protyle-wysiwyg .li .protyle-action--task:hover, .b3-typography .li .protyle-action--task:hover {
  color: var(--b3-theme-primary) !important;
  opacity: 1;
}
.protyle-wysiwyg [data-node-id].li::before, .b3-typography [data-node-id].li::before {
  border-left: 1px solid;
  border-left-color: inherit;
  -webkit-mask-image: linear-gradient(to bottom, transparent 1px, black 1px);
          mask-image: linear-gradient(to bottom, transparent 1px, black 1px);
  opacity: 0.1;
  transition: opacity 0.2s;
}
.protyle-wysiwyg [data-node-id].li:hover::before, .b3-typography [data-node-id].li:hover::before {
  border-left-color: inherit;
  opacity: 0.3;
}
.protyle-wysiwyg [data-node-id].li > :is(.bq, blockquote), .b3-typography [data-node-id].li > :is(.bq, blockquote) {
  padding-right: 16px;
}
.protyle-wysiwyg .protyle-task--done > div[data-node-id].p, .b3-typography .protyle-task--done > div[data-node-id].p {
  opacity: 0.45;
  color: inherit;
  text-decoration: none;
}
.protyle-wysiwyg .protyle-task--done > .protyle-action--task, .b3-typography .protyle-task--done > .protyle-action--task {
  opacity: 0.45;
}
.protyle-wysiwyg [data-node-id] .img img, .b3-typography [data-node-id] .img img {
  border-radius: 6px;
}
.protyle-wysiwyg [data-node-id] .img--select, .b3-typography [data-node-id] .img--select {
  filter: none;
}
.protyle-wysiwyg [data-node-id] .img--select img, .b3-typography [data-node-id] .img--select img {
  filter: brightness(0.8);
}
.protyle-wysiwyg [data-node-id] .img .protyle-action__drag, .b3-typography [data-node-id] .img .protyle-action__drag {
  top: 50%;
  transform: translateY(-50%);
}
.protyle-wysiwyg [data-node-id] .img:hover .protyle-action__drag, .b3-typography [data-node-id] .img:hover .protyle-action__drag {
  background-color: transparent;
  -webkit-backdrop-filter: invert(1) blur(200px) saturate(0) contrast(0.5) brightness(1.15);
          backdrop-filter: invert(1) blur(200px) saturate(0) contrast(0.5) brightness(1.15);
  filter: contrast(10) invert(0.1);
  box-shadow: none;
  transition: transform 50ms;
}
.protyle-wysiwyg [data-node-id] .img:hover .protyle-action__drag:hover, .b3-typography [data-node-id] .img:hover .protyle-action__drag:hover {
  transform: scale(1.2) translateY(-40%);
}
.protyle-wysiwyg table, .b3-typography table {
  border-radius: 6px;
  border: 1px solid var(--b3-border-color-trans);
}
.protyle-wysiwyg table td, .b3-typography table td,
.protyle-wysiwyg table th,
.b3-typography table th {
  border: 1px solid var(--b3-border-color-trans);
  background-color: var(--b3-theme-background);
}
.protyle-wysiwyg table thead tr th, .b3-typography table thead tr th {
  background-color: var(--b3-theme-surface);
  border-top: none;
}
.protyle-wysiwyg table thead tr th:first-child, .b3-typography table thead tr th:first-child {
  border-left: none;
}
.protyle-wysiwyg table thead tr th:last-child, .b3-typography table thead tr th:last-child {
  border-right: none;
}
.protyle-wysiwyg table tbody tr:nth-child(2n) td, .b3-typography table tbody tr:nth-child(2n) td {
  background-color: var(--b3-theme-surface);
}
.protyle-wysiwyg table tbody tr:last-child td, .b3-typography table tbody tr:last-child td {
  border-bottom: none;
}
.protyle-wysiwyg table tbody tr td:first-child, .b3-typography table tbody tr td:first-child {
  border-left: none;
}
.protyle-wysiwyg table tbody tr td:last-child, .b3-typography table tbody tr td:last-child {
  border-right: none;
}
.protyle-wysiwyg [data-node-id].table[custom-pinthead=true] thead, .b3-typography [data-node-id].table[custom-pinthead=true] thead {
  position: sticky;
  z-index: 1;
  box-shadow: 0px -1px 0px var(--b3-border-color-trans) inset;
}
.protyle-wysiwyg [data-node-id].hr > div:after, .b3-typography [data-node-id].hr > div:after {
  background-color: var(--b3-border-color-trans);
  height: 2px;
  border-radius: 2px;
}
.protyle-wysiwyg video, .b3-typography video {
  border-radius: 4px;
}
.protyle-wysiwyg > .sb + .sb, .b3-typography > .sb + .sb,
.protyle-wysiwyg [data-node-id].sb[data-sb-layout=row] .sb:not(:first-child),
.b3-typography [data-node-id].sb[data-sb-layout=row] .sb:not(:first-child) {
  margin-top: 24px;
}
.protyle-wysiwyg [data-node-id].sb[data-sb-layout=col] > .sb, .b3-typography [data-node-id].sb[data-sb-layout=col] > .sb {
  margin-top: 0;
}
.protyle-wysiwyg .sb > .bq, .b3-typography .sb > .bq {
  margin: 0;
}
.protyle-wysiwyg .sb > .code-block, .b3-typography .sb > .code-block {
  margin: 0.2em 0;
}
.protyle-wysiwyg .sb[data-sb-layout=row] > :where(.bq, .sb, blockquote) + :where(.bq, blockquote), .b3-typography .sb[data-sb-layout=row] > :where(.bq, .sb, blockquote) + :where(.bq, blockquote) {
  margin-top: 24px;
}
.protyle-wysiwyg [data-node-id].render-node[data-type=NodeBlockQueryEmbed], .b3-typography [data-node-id].render-node[data-type=NodeBlockQueryEmbed] {
  border-left: none;
  padding: 16px;
}
.protyle-wysiwyg [data-node-id].render-node[data-type=NodeBlockQueryEmbed] > .protyle-wysiwyg__embed, .b3-typography [data-node-id].render-node[data-type=NodeBlockQueryEmbed] > .protyle-wysiwyg__embed {
  border-top: 1px solid var(--b3-border-color-trans);
}
.protyle-wysiwyg [data-node-id].iframe iframe, .b3-typography [data-node-id].iframe iframe {
  border-radius: 4px;
  border-color: transparent;
  transition: border-color 0.2s;
}
.protyle-wysiwyg [data-node-id].iframe:hover iframe, .b3-typography [data-node-id].iframe:hover iframe {
  border-color: var(--b3-border-color-trans);
}
.protyle-wysiwyg [data-node-id].iframe:hover .protyle-action__drag, .b3-typography [data-node-id].iframe:hover .protyle-action__drag {
  opacity: 0.5;
}
.protyle-wysiwyg [data-node-id].iframe .protyle-action__drag, .b3-typography [data-node-id].iframe .protyle-action__drag {
  height: 24px;
  width: 24px;
  background: url(img/iframeScaler.svg);
  background-size: contain;
  box-shadow: none;
  border-radius: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  right: -8px;
  bottom: -8.5px;
  filter: brightness(0.5);
  display: inline-block;
  opacity: 0;
}
html[data-theme-mode=dark] .protyle-wysiwyg [data-node-id].iframe .protyle-action__drag, html[data-theme-mode=dark] .b3-typography [data-node-id].iframe .protyle-action__drag {
  filter: none;
}
.protyle-wysiwyg [data-node-id].iframe .protyle-action__drag:hover, .b3-typography [data-node-id].iframe .protyle-action__drag:hover {
  box-shadow: none;
  opacity: 1;
  background-color: transparent;
  transform: scale(1.2);
}
.protyle-wysiwyg [data-node-id].iframe .protyle-action__drag::after, .b3-typography [data-node-id].iframe .protyle-action__drag::after {
  display: none;
}
.protyle-wysiwyg > div[data-type=NodeHeading]:first-child, .b3-typography > div[data-type=NodeHeading]:first-child, .protyle-wysiwyg > [data-node-id].sb:first-child .sb:first-child, .b3-typography > [data-node-id].sb:first-child .sb:first-child {
  margin-top: 0;
}
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading], .b3-typography div[fold="1"][data-type=NodeHeading] {
  background-color: var(--b3-theme-surface-lighter);
  outline: 1.5px solid var(--b3-border-color-trans);
  opacity: 0.6;
}
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading]::before, .b3-typography div[fold="1"][data-type=NodeHeading]::before {
  display: none;
}
.protyle-toolbar {
  animation: toolbar 0.2s ease-in-out;
  border: none;
  border-radius: 40px;
  padding: 4px 6px;
  background-color: var(--b3-theme-surface);
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.05), 0px 13px 19px -2px rgba(0, 0, 0, 0.1), 0px 30px 50px -20px rgba(0, 0, 0, 0.08), 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  border: none;
}
html[data-theme-mode=dark] .protyle-toolbar {
  box-shadow: 0 0 0 1px black, 0px 13px 19px -7px rgba(0, 0, 0, 0.3), 0px 30px 50px -20px rgba(0, 0, 0, 0.3), 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
html[data-theme-mode=dark] .protyle-toolbar {
  outline: 1px solid var(--b3-border-color);
}
.protyle-toolbar__item {
  height: 30px;
  width: 30px;
  padding-top: 3px;
  border-radius: 20px;
}
.protyle-toolbar__item:hover {
  background-color: rgba(38, 38, 38, 0.1);
}
html[data-theme-mode=dark] .protyle-toolbar__item:hover {
  background-color: rgba(222, 222, 222, 0.1);
}
.protyle-toolbar__item:not(.protyle-toolbar__item--current) {
  color: rgba(38, 38, 38, 0.8);
}
html[data-theme-mode=dark] .protyle-toolbar__item:not(.protyle-toolbar__item--current) {
  color: rgba(222, 222, 222, 0.8);
}
.protyle-toolbar__item:not(.protyle-toolbar__item--current):hover {
  color: #262626;
}
html[data-theme-mode=dark] .protyle-toolbar__item:not(.protyle-toolbar__item--current):hover {
  color: #dedede;
}
.protyle-toolbar__divider {
  border-left: 1px solid var(--b3-border-color-trans);
}
.protyle-scroll {
  opacity: 0;
  transform: scale(0.95, 0.9);
  transition: opacity 0.2s cubic-bezier(0, 0, 0.2, 1), transform 0.2s cubic-bezier(0, 0, 0.2, 1);
  transition-delay: 0.5s;
}
.protyle-scroll:hover {
  opacity: 1;
  transform: none;
  transition-delay: 0s;
}
.protyle-font .color__square {
  width: 20px;
  height: 20px;
  box-shadow: none;
  border-radius: 50%;
  line-height: 20px;
  font-size: 14px;
}
.protyle-font .color__square:hover {
  box-shadow: 0 0 0 1px inset var(--b3-border-color-trans);
  transform: scale(1.2);
  font-weight: bold;
}
.protyle-font .protyle-font__style {
  font-size: 14px;
}
.protyle-font .protyle-font__style:hover {
  transform: scale(1.1);
  box-shadow: none;
  border-color: transparent;
  background-color: var(--b3-list-hover);
}
.protyle-font .b3-button {
  border-radius: 99px;
  padding: 4px 12px;
  color: var(--b3-theme-on-surface);
}
.protyle-font .b3-button:active {
  transform: scale(0.95);
  opacity: 0.8;
}
.protyle-font .b3-button:hover {
  background-color: var(--b3-list-hover);
  color: var(--b3-theme-on-background);
}
.protyle-font .b3-button:active, .protyle-font .b3-button:focus {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--b3-theme-on-background);
}
html[data-theme-mode=dark] .protyle-font .b3-button:active, html[data-theme-mode=dark] .protyle-font .b3-button:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
.protyle .protyle-preview__action {
  background-color: var(--b3-theme-background);
  border-bottom: 1px solid var(--b3-border-color-trans);
}
.protyle .protyle-preview__action button {
  background-color: transparent;
}
.protyle .protyle-preview__action button.protyle-preview__action--current {
  background-color: transparent;
  font-weight: 600;
}
.protyle .protyle-preview__action button:not(.protyle-preview__action--current):hover {
  background-color: transparent;
  color: var(--b3-theme-on-background);
}

.pdf__outer#outerContainer #sidebarContainer {
  top: 42px;
  z-index: 1;
}
.pdf__outer#outerContainer #sidebarContainer #sidebarResizer {
  right: -3px;
}
.pdf__outer#outerContainer #sidebarContainer #sidebarResizer::after {
  background-color: transparent;
}
.pdf__outer#outerContainer #sidebarContainer #sidebarResizer:hover::after {
  background-color: var(--b3-theme-primary-light);
}
.pdf__outer#outerContainer #sidebarContainer #sidebarContent .treeItem > a {
  line-height: 1.5;
}
.pdf__outer#outerContainer .pdf__toolbar #toolbarContainer #toolbarViewer {
  height: 42px;
  align-items: center;
}
.pdf__outer#outerContainer .pdf__toolbar #toolbarContainer #toolbarViewer .dropdownToolbarButton {
  margin: 4px 8px 4px 0;
}
.pdf__outer#outerContainer .findbar {
  padding: 4px 8px;
  right: 8px;
  overflow: visible !important;
}
.pdf__outer#outerContainer .findbar > :is(input, button, label.b3-button) {
  margin-top: 4px;
  margin-bottom: 4px;
}
.pdf__outer#outerContainer .findbar .b3-button {
  transition: 0.2s;
  border-radius: 99px;
  padding: 4px 12px;
  color: var(--b3-theme-primary);
  font-weight: 600;
  margin: 0;
  background-color: transparent;
}
.pdf__outer#outerContainer .findbar .b3-button:active {
  transform: scale(0.95);
  opacity: 0.8;
}
.pdf__outer#outerContainer .findbar .b3-button:hover {
  background-color: var(--b3-theme-primary-lightest);
}
.pdf__outer#outerContainer .findbar .b3-button:active, .pdf__outer#outerContainer .findbar .b3-button:focus {
  background-color: var(--b3-theme-primary);
  color: var(--b3-theme-on-primary);
}
.pdf__outer#outerContainer .findbar .b3-button:hover {
  box-shadow: none;
}
.pdf__outer#outerContainer .findbar .b3-button--outline {
  border-radius: 99px;
  padding: 4px 12px;
  color: var(--b3-theme-on-surface);
}
.pdf__outer#outerContainer .findbar .b3-button--outline:active {
  transform: scale(0.95);
  opacity: 0.8;
}
.pdf__outer#outerContainer .findbar .b3-button--outline:hover {
  background-color: var(--b3-list-hover);
  color: var(--b3-theme-on-background);
}
.pdf__outer#outerContainer .findbar .b3-button--outline:active, .pdf__outer#outerContainer .findbar .b3-button--outline:focus {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--b3-theme-on-background);
}
html[data-theme-mode=dark] .pdf__outer#outerContainer .findbar .b3-button--outline:active, html[data-theme-mode=dark] .pdf__outer#outerContainer .findbar .b3-button--outline:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
.pdf__outer#outerContainer .findbar #findResultsCount {
  pointer-events: none;
  font-weight: 400;
}
.pdf__outer#outerContainer #viewerContainer {
  top: 42px;
  transition: none;
}
body.body-status-shown .pdf__outer#outerContainer #viewerContainer {
  padding-bottom: 42px;
}
.pdf__outer#outerContainer #dialogContainer .dialog {
  padding: 16px;
  box-shadow: 0px 13px 18px -2px rgba(0, 0, 0, 0.1), 0px 30px 50px 0px rgba(0, 0, 0, 0.1), 0px 0px 12px 0px rgba(0, 0, 0, 0.05), 0px 75px 65px -50px rgba(0, 0, 0, 0.1);
  border: none;
}
html[data-theme-mode=dark] .pdf__outer#outerContainer #dialogContainer .dialog {
  box-shadow: 0 0 0 1px #000, 0px 13px 18px -2px rgba(0, 0, 0, 0.3), 0px 30px 50px 0px rgba(0, 0, 0, 0.3), 0px 0px 12px 0px rgba(0, 0, 0, 0.15), 0px 75px 65px -50px rgba(0, 0, 0, 0.3);
}
html[data-theme-mode=dark] .pdf__outer#outerContainer #dialogContainer .dialog {
  outline: 1px solid var(--b3-border-color);
}
.pdf__outer#outerContainer #dialogContainer .dialog #documentPropertiesClose {
  border-radius: 99px;
  padding: 4px 12px;
  color: var(--b3-theme-primary);
  font-weight: 600;
  background-color: transparent;
  transition: 0.2s;
}
.pdf__outer#outerContainer #dialogContainer .dialog #documentPropertiesClose:active {
  transform: scale(0.95);
  opacity: 0.8;
}
.pdf__outer#outerContainer #dialogContainer .dialog #documentPropertiesClose:hover {
  background-color: var(--b3-theme-primary-lightest);
}
.pdf__outer#outerContainer #dialogContainer .dialog #documentPropertiesClose:active, .pdf__outer#outerContainer #dialogContainer .dialog #documentPropertiesClose:focus {
  background-color: var(--b3-theme-primary);
  color: var(--b3-theme-on-primary);
}
.pdf__outer#outerContainer #dialogContainer .dialog #documentPropertiesClose:hover, .pdf__outer#outerContainer #dialogContainer .dialog #documentPropertiesClose:active, .pdf__outer#outerContainer #dialogContainer .dialog #documentPropertiesClose:focus {
  box-shadow: none;
}
.pdf__outer#outerContainer .pdf__util {
  padding: 6px;
}
.pdf__outer#outerContainer .pdf__util .color__square {
  height: 14px;
  width: 14px;
  margin-right: 6px;
  box-shadow: none;
  border-radius: 50%;
}
.pdf__outer#outerContainer .pdf__util .color__square:hover {
  box-shadow: 0 0 0 1px inset var(--b3-border-color-trans);
  transform: scale(1.2);
}
.pdf__outer#outerContainer .pdf__util .color__square:last-child {
  margin-right: 0;
}
.pdf__outer#outerContainer .pdf__util .b3-menu__item:not(:hover) {
  background-color: transparent;
}