@use '../base' as *;

// 页面小工具条
@mixin protyle-icons {
    border-radius: 99px;
    // transition: none;

    &:hover {
        transition: none;
        opacity: 1 !important;
    }

    .protyle-icon {
        @include theme-variant-color(background-color, surface, 0.8);
        @include theme-variant-color(color, on-background, 0.6);
        padding: 5px 6px;

        &:not(.protyle-icon--text, .protyle-icon--only):hover {
            color: var(--b3-theme-on-background);
        }

        &--first {
            border-radius: 99px 0 0 99px;
            padding-left: 10px;
        }

        &--last {
            border-radius: 0 99px 99px 0;
            padding-right: 10px;
        }

        &--text {
            //调整题头图上下位置
            border-radius: 99px;
            padding: 5px 8px;
        }

        &--only {
            // 正文图片
            border-radius: 99px;
            padding: 5px;
            transition: none;

            &:hover {
                color: var(--b3-theme-on-background);
                transition: none;
            }
        }
    }
}

@mixin typography-elements {

    //所有内容块 ————————————————————————
    [data-node-id] {
        border-radius: 10px;
    }

    // h1-h6 ————————————————————————
    @for $i from 1 through 6 {

        .h#{$i},
        h#{$i} {
            margin-top: 1.2em;
        }

        @for $j from 2 through 6 {
            @if $i < $j {

                .h#{$i}+.h#{$j},
                h#{$i}+h#{$j} {
                    margin-top: 0;
                }
            }
        }
    }

    // .h1+.h2,
    // :is(.h1, .h2)+.h3,
    // :is(.h1, .h2, .h3)+.h4,
    // :is(.h1, .h2, .h3, .h4)+.h5,
    // :is(.h1, .h2, .h3, .h4, .h5)+.h6 {
    //     margin-top: 0;
    // }
    [data-type='NodeSuperBlock']>[data-type='NodeHeading']:first-child,
    .protyle-wysiwyg__embed>[data-type='NodeHeading']:first-child,
    .protyle-wysiwyg__embed>.protyle-breadcrumb__bar+[data-type='NodeHeading'] {
        margin-top: 0;
    }

    // 块引用 ————————————————————————————————————
    [data-node-id] span[data-type~=block-ref]:not(.av__celltext),
    [data-node-id] span[data-type~=file-annotation-ref] {
        color: inherit;
        text-decoration: underline dashed;
        text-decoration-color: var(--b3-theme-primary);
        text-decoration-thickness: 0.1em;
        background: linear-gradient(90deg, var(--b3-theme-primary-lightest) 100%, transparent 0%) center right;
        background-size: 0;
        background-repeat: no-repeat;
        opacity: 1;
        transition: background-size 0.2s;

        &:hover {
            background-position: center left;
            text-decoration-style: solid !important;
            background-size: 100% !important;
        }
    }

    // 虚拟引用 ——————————————————————————————————————
    [data-node-id] span[data-type=virtual-block-ref] {
        border-bottom: none;
        text-decoration: underline;
        text-decoration-thickness: 0.1em;
        text-decoration-color: var(--b3-theme-on-surface-light);
        text-decoration-style: dashed;
        background: linear-gradient(90deg, var(--b3-border-color) 100%, transparent 0%) center right;
        background-size: 0;
        background-repeat: no-repeat;
        transition: background-size 0.2s;

        &:hover {
            background-position: center left;
            border: none;
            background-size: 100% !important;
        }
    }

    // 超链接 ————————————————————————————————————————
    [data-node-id] span[data-type~=a] {
        color: inherit;
        text-decoration: underline solid;
        text-decoration-thickness: 0.1em;
        text-decoration-color: var(--b3-theme-primary);

        &:hover {
            color: var(--b3-theme-primary);
            border-bottom: none;
        }
    }

    //加粗、倾斜 ——————————————————————————————————————
    span[data-type~=strong],
    span[data-type~=em] {
        color: inherit;
    }

    // 下划线 —————————————————————————————————————————
    span[data-type~=u] {
        text-decoration: underline;
        text-decoration-thickness: 0.1em;
        border-bottom: none;
    }

    // 删除线 ————————————————————————————————————————
    span[data-type~=s] {
        color: inherit;
    }

    //高亮标记 ——————————————————————————————————————
    span[data-type~=mark] {
        background: transparent;
        box-shadow: 0 -0.5em 0 0 inset var(--b3-protyle-inline-mark-background), 0 0.1em 0 0 var(--b3-protyle-inline-mark-background);
        color: inherit;
    }

    // 快捷键 ——————————————————————————————————————
    span[data-type~=kbd] {
        font: 80% SF Pro, Consolas, "Liberation Mono", Menlo, Courier, var(--b3-font-family);
        padding: 0.15em 0.5em;
        border-radius: 1em;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        vertical-align: baseline;

        @include darkmode-counterpart {
            box-shadow: inset 0 1px 0 var(--b3-theme-surface-lighter);
        }
    }



    // 标签 ——————————————————————————————————————
    [data-node-id] span[data-type~="tag"] {
        --tag-color: var(--b3-font-color4);

        font-size: 90%;
        border-radius: 1em;
        padding: 0.1em 0.5em 0.15em;
        border: none;
        box-shadow: 0 0 0 0.1em inset var(--tag-color);
        background-color: transparent;
        color: var(--tag-color);
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;

        &:hover {
            box-shadow: 0 0 0 0.8em inset var(--tag-color);
            color: var(--b3-theme-background);
            background-color: transparent;
            // color: change-color($color: pickThemeColor($theme-light, secondary), $lightness: 40%);

            // @include darkmode-counterpart {
            //     color: change-color($color: pickThemeColor($theme-dark, secondary), $lightness: 70%);
            // }
        }

        @include darkmode-counterpart {
            // --tag-color: #{mix(map-get($theme-dark, background), map-get($theme-dark, font-color4), 20%)};
            --tag-color: #{change-color(map-get($theme-dark, font-color4), $lightness: 40%)};
        }
    }

    // 行级代码 ————————————————————————————————————
    span[data-type~=code] {
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        border-radius: 0.4em;
        color: inherit;
    }

    // 备注 ——————————————————————————————————————
    span[data-type~=inline-memo] {
        background-color: transparent;
        border-bottom: none;
        text-decoration: underline;
        text-decoration-color: var(--b3-font-color5);
        transition: all 150ms;
        box-decoration-break: clone;

        &:hover {
            --memo-bg: #{mix(map-get($theme-light, font-color5), map-get($theme-light, background))};

            background-color: var(--memo-bg);
            box-shadow: 0 0 0 8px var(--memo-bg);
            transition: all 0.15s;
            text-decoration-color: var(--memo-bg);
            color: var(--b3-theme-on-background) !important;
            border-radius: 1px;
            z-index: 1;
            position: relative;
            // padding-left: 8px;
            // padding-right: 8px;
            // margin-left: -8px;
            // margin-right: -8px;

            @include darkmode-counterpart {
                // box-shadow: 0 -1.2em 0 0 inset mix(map-get($theme-dark, font-color5), map-get($theme-dark, background), 85%);
                --memo-bg: #{mix(map-get($theme-dark, font-color5), map-get($theme-dark, background), 85%)};

                color: var(--b3-theme-background) !important;
            }
        }
    }

    // 引用块 ——————————————————————————————————————
    .bq,
    blockquote {
        padding: 16px;
        border: 1.5px solid var(--b3-border-color-trans);
        margin: 1em 0;

        &>[data-type='NodeHeading']:first-child {
            margin-top: 0;
        }
    }

    .sb .bq,
    .sb blockquote {
        border: none;
    }

    //代码块 ——————————————————————————————————————
    .code-block {
        margin: 0.4em 0;

        .protyle-action .protyle-action__language {
            margin-top: 0;
        }

        .protyle-linenumber__rows {
            padding: 2em 4px;
        }

        .hljs {
            border-radius: 10px;
            background-color: var(--b3-theme-surface);
            padding: 2em 16px;
        }
    }

    // 列表 ——————————————————————————————————————
    .li {

        // 列表项序号、图标
        .protyle-action {
            opacity: 0.8;
            color: inherit !important;

            //任务列表
            &--task {
                color: inherit;

                &:hover {
                    color: var(--b3-theme-primary) !important;
                    opacity: 1;
                }
            }
        }
    }

    [data-node-id].li {

        // 缩进参考线
        &::before {
            border-left: 1px solid;
            border-left-color: inherit;
            mask-image: linear-gradient(to bottom, transparent 1px, black 1px); // 隐藏原有的1px 剩余
            opacity: 0.1;
            transition: opacity 0.2s;
        }

        &:hover::before {
            border-left-color: inherit;
            opacity: 0.3;
        }

        // 引用块 
        &>:is(.bq, blockquote) {
            padding-right: 16px;
        }

        //折叠时序号背景
        &[fold="1"]>.protyle-action:after {
            border-radius: 99px;
            transform: scale(1.5);
            @include theme-variant-color(background-color, on-background, 0.1);
        }
    }

    // 任务列表项 ————————————————————————————————
    .protyle-task--done {
        &>div[data-node-id].p {
            opacity: 0.45;
            color: inherit;
            text-decoration: none;
        }

        &>.protyle-action--task {
            opacity: 0.45;
        }
    }

    // 图片 ——————————————————————————————————
    [data-node-id] .img {
        img {
            border-radius: 6px;
        }

        &--select {
            filter: none;

            img {
                filter: brightness(0.8);
            }
        }

        .protyle-action__drag {
            top: 50%;
            transform: translateY(-50%);


        }

        &:hover {
            .protyle-action__drag {
                box-shadow: 0 0 0 1px var(--b3-theme-on-surface);

                &:hover {
                    transform: scale(1.2) translateY(-40%);
                }
            }
        }
    }

    // 表格 ——————————————————————————————————————
    table {
        border-radius: 6px;
        border: 1px solid var(--b3-border-color-trans);

        td,
        th {
            border: 1px solid var(--b3-border-color-trans);
            // background-color: var(--b3-theme-background);
            // @include theme-variant-color(background-color, background, 0.5);
            background-color: transparent;
        }

        thead {
            tr {
                th {
                    // background-color: var(--b3-theme-surface);
                    @include theme-variant-color(background-color, on-surface-gray, 0.05, 0.15);
                    border-top: none;

                    &:first-child {
                        border-left: none;
                    }

                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }

        tbody {
            tr {
                &:nth-child(2n) {
                    td {
                        // background-color: var(--b3-theme-surface);
                        @include theme-variant-color(background-color, on-surface-gray, 0.05, 0.15);
                    }
                }

                &:last-child {
                    td {
                        border-bottom: none;
                    }
                }

                td:first-child {
                    border-left: none;
                }

                td:last-child {
                    border-right: none;
                }
            }
        }
    }

    [data-node-id].table[custom-pinthead=true] thead {
        position: sticky;
        z-index: 1;
        box-shadow: 0px -1px 0px var(--b3-border-color-trans) inset;
    }

    .table[custom-pinthead="true"] {
        thead {
            tr {
                th {
                    background-color: var(--b3-theme-surface);
                }
            }
        }
    }

    // 分隔线 ————————————————————————————————————
    [data-node-id].hr>div:after {
        background-color: var(--b3-border-color-trans);
        height: 2px;
        border-radius: 2px;
    }

    // 视频 ——————————————————————————————————————
    video {
        border-radius: 4px;
    }


    // 超级块 ————————————————————————————————————
    $sb-gap: 24px;

    &>.sb+.sb,
    [data-node-id].sb[data-sb-layout=row]>.sb:not(:first-child) {
        margin-top: $sb-gap;
    }

    [data-node-id].sb[data-sb-layout=col]>div {
        margin-right: $sb-gap;
    }

    // [data-node-id].sb[data-sb-layout=row]>.sb:first-child {
    //     margin-top: 0;
    // }
    [data-node-id].sb[data-sb-layout=col]>.sb {
        margin-top: 0;
    }

    .sb>.bq {
        margin: 0;
    }

    .sb>.code-block {
        margin: 0.2em 0;
    }

    .sb[data-sb-layout=row]>:where(.bq, .sb, blockquote)+ :where(.bq, blockquote) {
        margin-top: $sb-gap;
    }

    // 嵌入块 ——————————————————————————————————————
    [data-node-id].render-node[data-type=NodeBlockQueryEmbed] {
        border-left: none;
        padding: 16px;

        &>.protyle-wysiwyg__embed {
            border-top: 1px solid var(--b3-border-color-trans);
        }
    }

    // iframe ————————————————————————————————————————
    [data-node-id].iframe {
        iframe {
            border-radius: 4px;
            border-color: transparent;
            transition: border-color 0.2s;
        }

        &:hover {
            iframe {
                border-color: var(--b3-border-color-trans);
            }

            .protyle-action__drag {
                opacity: 0.5;
            }
        }

        .protyle-action__drag {
            height: 24px;
            width: 24px;
            background-color: var(--b3-theme-on-surface);
            mask-image: url(img/iframeScaler.svg);
            mask-size: contain;
            mask-repeat: no-repeat;
            box-shadow: none;
            border-radius: 0;
            right: -8px;
            bottom: -8.5px;
            filter: brightness(0.5);
            display: inline-block;
            opacity: 0;

            @include darkmode-counterpart {
                filter: none;
            }

            &:hover {
                box-shadow: none;
                opacity: 0.8;
                background-color: var(--b3-theme-on-background);
                transform: scale(1.2);
            }

            &::after {
                display: none;
            }
        }
    }
}

@mixin protyle-font {
    .color__square {
        width: 20px;
        height: 20px;
        box-shadow: none;
        border-radius: 50%;
        line-height: 20px;
        font-size: 14px;

        &:hover {
            box-shadow: 0 0 0 1px inset var(--b3-border-color-trans);
            transform: scale(1.2);
            font-weight: bold;
        }
    }

    .protyle-font__style {
        font-size: 14px;

        &:hover {
            transform: scale(1.1);
            box-shadow: none;
            border-color: transparent;
            background-color: var(--b3-list-hover);
        }
    }

    .b3-button {
        @include button-action('normal');
    }
}

.layout-tab-container {
    background-color: transparent;
    transition: padding 0.2s;
}

.protyle {

    // 题头图区域
    &-background {

        // 工具条
        .protyle-icons {
            .protyle-icon {
                height: 30px;
                padding: 8px 6px;

                &--first {
                    padding-left: 12px;
                }

                &--last {
                    padding-right: 12px;
                }
            }
        }

        // 图标工具条
        &__icon:not(.fn__none)+.protyle-icons {
            margin-top: 50px;
        }

        // 文档图标
        // &__iconw {
        // }

        // 文档标签
        .b3-chips {
            padding: 8px 16px;
            justify-content: flex-end;

            .b3-chip--pointer {
                opacity: 1;
            }

            position: relative;

            .b3-chip--middle {
                padding: 4px 8px;

                &::before {
                    content: '';
                    width: 8px;
                    transition: var(--b3-transition);
                }

                &:hover::before {
                    width: 0px;
                }

                .b3-chip__close {
                    width: 8px;
                    opacity: 0;
                    // transform: scale(0);
                    margin-right: -4px;
                }

                &:hover .b3-chip__close {
                    width: 16px;
                    opacity: 0.7;

                    &:hover {
                        opacity: 1;
                    }
                }

                $chip-colors: (
                    secondary: font-color4,
                    primary: font-color5,
                    info: font-color6,
                    success: font-color8,
                    warning:font-color9,
                    error: font-color10,
                    "pink": font-color12
                );

            @each $chip-type, $chip-color in $chip-colors {
                &.b3-chip--#{$chip-type} {
                    @include theme-variant-color(background-color, $chip-color, 1);
                    font-weight: 500;
                    mix-blend-mode: luminosity;
                    @include theme-variant-color(background-color, surface, 1);
                    @include theme-variant-color(color, on-background, 0.8, 1);
                    // color: rgba(128, 128, 128, .8);
                    // background-color: #fffd;
                    // @include darkmode-counterpart {
                    //     background-color: rgba(112, 112, 112, .5);
                    //     color: #fffd;
                    // }
                }
            }
        }
    }
}

&-icons {
    // 工具条
    @include protyle-icons;
}

&-action {
    // 代码块
    @include protyle-icons;
}

//编辑区域
&-content {
    background-color: var(--b3-theme-background);
}

//文档标题
&-title {
    &__input {
        font-weight: 600;
        font-size: 2.4em;
        line-height: 1.4;
        padding-top: 8px;
        padding-bottom: 8px;

        &:empty:after {
            opacity: 0.6;
        }
    }
}

// 正文内容
&-wysiwyg {
    @include typography-elements;

    // 正文紧挨文档标题的标题块
    &>div[data-type="NodeHeading"]:first-child,
    &>[data-node-id].sb:first-child .sb:first-child {
        margin-top: 0;
    }

    // 折叠块--标题块
    div[fold="1"] {
        &[data-type=NodeHeading] {
            background-color: var(--b3-theme-surface-lighter);
            outline: 1.5px solid var(--b3-border-color-trans);
            opacity: 0.6;

            &::before {
                display: none;
            }
        }
    }
}

//文字格式工具条
&-toolbar {
    animation: toolbar 0.2s ease-in-out;
    border: none;
    border-radius: 40px;
    padding: 4px 6px;
    // transform: translateY(-12px);
    background-color: var(--b3-theme-surface);
    @include menu-shadow;
    @include border-or-not;

    &__item {
        height: 30px;
        width: 30px;
        padding-top: 3px;
        border-radius: 20px;

        &:hover {
            @include theme-variant-color(background-color, on-background, 0.1);
        }

        &:not(.protyle-toolbar__item--current) {
            @include theme-variant-color(color, on-background, 0.8);

            &:hover {
                @include theme-variant-color(color, on-background, 1);
            }
        }
    }

    &__divider {
        border-left: 1px solid var(--b3-border-color-trans);
    }
}

// 块定位滚动条
&-scroll {
    opacity: 0;
    transform: scale(0.95, 0.9);
    transition: opacity 0.2s cubic-bezier(0, 0, 0.2, 1),
        transform 0.2s cubic-bezier(0, 0, 0.2, 1);
    transition-delay: 0.5s;

    &:hover {
        opacity: 1;
        transform: none;
        transition-delay: 0s;
    }

    // 溢出显示
    >.protyle-scroll__bar {
        overflow: visible
    }

    &__bar {
        top: calc(50% - 12px);
    }
}


// 文字外观
&-font {
    @include protyle-font();
}

// 框选框
// &-select {
// outline: 1px solid var(--b3-theme-primary-lighter);
// }

// 预览模式 ————————————————————————————
.protyle-preview__action {
    background-color: var(--b3-theme-background);
    border-bottom: 1px solid var(--b3-border-color-trans);

    button {
        background-color: transparent;

        &.protyle-preview__action--current {
            background-color: transparent;
            font-weight: 600;
        }

        &:not(.protyle-preview__action--current):hover {
            background-color: transparent;
            color: var(--b3-theme-on-background);
        }
    }
}
}

.b3-typography {
    @extend .protyle-wysiwyg;
}

// PDF ————————————————————————————————
.pdf__outer#outerContainer {
    #sidebarContainer {
        top: 42px;
        z-index: 1;

        #sidebarResizer {
            right: -3px;

            &::after {
                background-color: transparent;
            }

            &:hover::after {
                background-color: var(--b3-theme-primary-light);
            }
        }

        #sidebarContent {
            .treeItem>a {
                line-height: 1.5;
            }
        }
    }

    .pdf__toolbar {
        #toolbarContainer {

            #toolbarViewer {
                height: 42px;
                align-items: center;

                .dropdownToolbarButton {
                    margin: 4px 8px 4px 0;
                }
            }
        }
    }

    .findbar {
        padding: 4px 8px;
        right: 8px;
        overflow: visible !important;

        &> :is(input, button, label.b3-button) {
            margin-top: 4px;
            margin-bottom: 4px;
        }

        .b3-button {
            transition: 0.2s;

            // 选中样式
            @include button-action('primary') {
                margin: 0;
                background-color: transparent;

                &:hover {
                    box-shadow: none;
                }
            }

            // 默认样式
            &--outline {
                @include button-action('normal')
            }

        }

        #findResultsCount {
            pointer-events: none;
            font-weight: 400;
        }
    }

    #viewerContainer {
        top: 42px;
        transition: none;

        body.body-status-shown & {
            padding-bottom: 42px;
        }

        // -> js
    }

    #dialogContainer {
        .dialog {
            padding: 16px;

            @include dialog-shadow;
            @include border-or-not;

            #documentPropertiesClose {
                @include button-action('primary') {
                    background-color: transparent;
                    transition: 0.2s;

                    &:hover,
                    &:active,
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }
    }

    .pdf__util {
        padding: 6px;

        .color__square {
            height: 14px;
            width: 14px;
            margin-right: 6px;
            box-shadow: none;
            border-radius: 50%;

            &:hover {
                box-shadow: 0 0 0 1px inset var(--b3-border-color-trans);
                transform: scale(1.2);
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .b3-menu__item {
            &:not(:hover) {
                background-color: transparent;
            }
        }
    }
}

// 数据库/属性视图 ————————————————————————————

.av {

    // 数据库视图切换、标题
    &__header {
        .layout-tab-bar {
            @include dialog-tabbar;

            .item:not(.item--focus) {
                .item__graphic {
                    color: var(--b3-theme-on-surface);
                }

                &:hover {
                    .item__graphic {
                        color: var(--b3-theme-on-background);
                    }
                }
            }

            .item--focus {
                &:hover {
                    @include theme-variant-color(background-color, light-components, 1, 0.2, $important: true);
                }
            }
        }

        .block__icon {
            &:hover {
                background-color: transparent !important;
            }

            &--active {
                color: var(--b3-theme-primary);
                background-color: transparent;
            }
        }

        .av__title {
            font-size: 1.2em;
            margin: 0 0 4px;
        }

        .av__counter {
            display: inline-block;
            width: 100%;
            padding: 4px;
        }
    }

    // 数据库主体
    &__scroll {
        .av__row--header {
            color: var(--b3-theme-on-surface);
            font-weight: 500;
        }

        .av__row {
            border-bottom-color: var(--b3-border-color-trans);

            &:hover .b3-chip[data-type=block-more] {
                opacity: 1;
            }

            .av__cell {
                border-right-color: var(--b3-border-color-trans);

                .b3-chip {
                    border-radius: 4px;
                    padding: 2px 6px;
                    color: var(--b3-theme-on-surface);
                    background-color: var(--b3-theme-surface);

                    &:hover {
                        color: var(--b3-theme-on-background);
                    }
                }

                // 「更新」按钮
                .popover__block {
                    color: var(--b3-theme-primary);
                    font-weight: 500;

                    &:hover {
                        background-color: var(--b3-theme-primary);
                        color: var(--b3-theme-on-primary);
                    }
                }

                .b3-chip[data-type=block-more] {
                    font-weight: 500;
                }

                .av__celltext--url,
                .av__celltext--ref {
                    border-bottom: none;
                    text-decoration: underline var(--b3-border-color-trans);
                    text-decoration-thickness: 0.1em;
                }

                &:hover {
                    .block__icon {
                        background-color: var(--b3-theme-surface) !important;
                    }
                }
            }
        }

        // 单元格选中状态
        .av__cell--select {
            box-shadow: none;
            outline: 3px solid var(--b3-theme-primary-light);
            z-index: 3;
        }
    }

    // 菜单
    &__panel {
        .b3-menu {
            .b3-menu__items {
                .b3-menu__item[data-type="nobg"] {
                    cursor: default;
                    align-items: center;
                    height: 30px;

                    .b3-menu__label {
                        font-weight: 500;
                        color: var(--b3-theme-on-surface)
                    }

                    // ~.b3-menu__item {
                    //     input:focus {
                    //         background-color: var(--b3-menu-background);
                    //     }
                    // }
                }

                .b3-menu__item[data-type="goUpdateColType"] {
                    height: 30px;
                    align-items: center;
                    margin-top: 4px;
                }

                .b3-menu__item[draggable=true] {
                    mix-blend-mode: normal !important;

                    .b3-chip:not(.b3-chip--primary) {
                        background-color: var(--b3-theme-surface);
                    }

                    &:hover .b3-menu__action {
                        opacity: 0.7;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }

            .b3-chips {
                border-bottom: 1px solid var(--b3-border-color-trans);
                margin-bottom: 4px;

                //多选标签
                .b3-chip--middle {
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 8px;
                        transition: var(--b3-transition);
                    }

                    .b3-chip__close {
                        opacity: 0;
                        width: 8px;
                    }

                    &:hover {
                        &::before {
                            width: 0;
                        }

                        .b3-chip__close {
                            opacity: 1;
                            width: 16px;
                        }
                    }
                }

                .b3-chip--middle,
                &~div [data-type="addColOptionOrCell"] .b3-chip {
                    border-radius: 4px;
                }

                input {
                    background-color: transparent;
                }
            }
        }

    }


    // 文本框键入
    &__mask {
        textarea {
            resize: both;
            background-color: var(--b3-theme-surface);
        }

        .b3-text-field,
        select.b3-select {
            background-color: var(--b3-theme-surface);
        }
    }
}

.b3-menu {
    &[data-name="av-col-option"] {
        .b3-menu__item {
            .color__square {
                box-shadow: none;
            }
        }
    }

    &[data-name*="set-filter"],
    &[data-name="av-col-option"] {
        .b3-menu__item {
            input:focus {
                background-color: var(--b3-menu-background);
            }
        }
    }

    .b3-menu__label {
        .b3-chip {
            border-radius: 4px;
        }
    }

    &__item:not(.b3-menu__item--readonly) {
        .b3-menu__accelerator {
            svg {
                height: 24px !important;
            }
        }

        &:hover textarea,
        textarea:focus {
            background-color: var(--b3-menu-background);
            transition: none;
        }

        &:hover {
            select {
                background-color: var(--b3-menu-background);
                transition: none;
            }
        }

        .b3-button {
            @include button-primary;
        }

        .block__icon {
            font-family: var(--b3-font-family-emoji);
        }
    }

    .b3-chip {
        border-radius: 4px;

        &[style*="background-color"] {
            padding: 4px 8px;
        }

        .icon {
            font-family: var(--b3-font-family-emoji);
        }
    }
}

.protyle-hint {
    &>input.b3-text-field {
        margin: 0 !important;
        background-color: var(--b3-menu-background);
        padding: 8px;
        box-sizing: content-box;
        border-bottom: 1px solid var(--b3-border-color-trans);
        border-radius: 0;

        &:focus {
            background-color: var(--b3-menu-background);
            outline: none;
        }
    }
}