@use '../base' as *;

@mixin layout-tab-container-contents {
    .block__icons {
        .block__logo {
            svg {
                visibility: hidden;
                width: 0px;
            }

            font-weight: 600;

            @include theme-variant-color(color, on-background, 0.5);
        }

        .block__icon {
            &:hover {
                background-color: transparent;
            }
        }

        .fn__space {
            width: 0;
        }

        &,
        &~* {
            @content;
            // 指定背景颜色
        }

        &~.fn__flex-1 {
            margin-bottom: 0 !important;
        }
    }

    .b3-list-item {
        margin: 4px 8px;

        .b3-list-item__text {
            color: var(--b3-theme-on-surface);
        }

        .b3-list-item__toggle {
            @include theme-variant-color(color, on-background, 0.6);

            &--hl:hover {
                color: var(--b3-theme-on-background) !important;
                background-color: transparent;
            }
        }

        &:hover {
            background-color: transparent;

            .b3-list-item__text {
                color: var(--b3-theme-on-background);
            }
        }

        &--focus {
            background-color: var(--b3-list-hover);

            .b3-list-item__text {
                color: var(--b3-theme-on-background);
                font-weight: 600;
            }

            &:hover {
                background-color: var(--b3-list-hover);
            }
        }

        .b3-list-item__icon {
            font-size: 14px;
        }

        .b3-list-item__action {
            color: var(--b3-theme-on-surface);

            &:hover {
                color: var(--b3-theme-on-background);
                background-color: transparent;
            }
        }
    }

    .sy__outline {
        .b3-list-item[title] {
            display: none;
        }
    }
}

.layout__dockl,
.layout__dockr {
    .layout-tab-container {
        background-color: transparent;

        @include layout-tab-container-contents {
            @include theme-variant-color(background-color, surface, 0.9);
        }
    }

    // 浮动布局
    &.layout--float {
        .layout-tab-container {
            .block__icons {
                &,&~* {
                    @include theme-variant-color(background-color,background);
                }
            }
        }

        box-shadow: none;
        height: calc(100% - var(--toolbar-height));
        bottom: 0;
        top: unset;
        border-radius: 0;
        border-top: none;
        border-bottom: none;
        opacity: 1 !important;
    }
}
.layout__dockr {
    &.layout--float {
        .b3-list--background {
            padding-bottom: 0;
        }
    };
}

// 边框
.layout__dockl {
    &.layout--float {
        border-right: 1px solid var(--b3-border-color);
    }
}

.layout__dockr {
    .b3-list--background {
        padding-bottom: 36px;
    }

    &.layout--float {
        border-left: 1px solid var(--b3-border-color);
    }
}

// 作为页签打开时
.layout__center {
    @include layout-tab-container-contents {
        background-color: var(--b3-theme-background);
    }
}