@use '../base' as *;

@mixin layout-tab-container-contents {
    .block__icons {
        
        .block__logo {
            svg {
                visibility: hidden;
                width: 0px;
            }

            font-weight: 600;

            @include theme-variant-color(color, on-background, 0.5);
        }

        .block__icon {
            &:hover {
                background-color: transparent;
            }
        }

        .fn__space {
            width: 0;
        }

        &,
        &~* {
            @content;
            // 指定背景颜色
        }

        &~.fn__flex-1 {
            margin-bottom: 0 !important;

            &:not(.graph__svg, .backlinkList, .backlinkMList) {
                padding: 0 2px;
            }
        }
    }

    .b3-list-item {
        margin: 4px 6px;

        .b3-list-item__text {
            color: var(--b3-theme-on-surface);
        }

        .b3-list-item__toggle {
            @include theme-variant-color(color, on-background, 0.6);
            // transform: translateX(1px);

            // 小圆点
            &.fn__hidden::before {
                visibility: visible;
                content: '';
                // margin: 0 -11px 0 8px;
                position: absolute;
                left: 12px;
                clip-path: circle(45% at center);
                width: 3px;
                height: 3px;
                @include theme-variant-color(background-color, on-background, 0.6);
            }

            &--hl:hover {
                color: var(--b3-theme-on-background) !important;
                background-color: transparent;
            }
        }

        &:hover {
            // background-color: transparent;

            .b3-list-item__text {
                color: var(--b3-theme-on-background);
            }
        }

        &--focus {
            background-color: var(--b3-list-hover);

            .b3-list-item__text {
                color: var(--b3-theme-on-background);
                font-weight: 600;
            }

            &:hover {
                background-color: var(--b3-list-hover);
            }
        }

        .b3-list-item__icon {
            font-size: 14px;
        }

        .b3-list-item__action {
            color: var(--b3-theme-on-surface);

            &:hover {
                color: var(--b3-theme-on-background);
                background-color: transparent;
            }
        }
    }
}

.layout__dockl,
.layout__dockr {
    .layout-tab-container {
        background-color: transparent;

        @include layout-tab-container-contents {
            @include theme-variant-color(background-color, surface, 0.9);
        }
    }

    // 浮动布局
    &.layout--float {
        .layout-tab-container {
            .block__icons {

                &,
                &~* {
                    @include theme-variant-color(background-color, background);
                }
            }
        }

        box-shadow: none;
        height: calc(100% - var(--toolbar-height));
        bottom: 0;
        top: unset;
        border-radius: 0;
        border-top: none;
        border-bottom: none;
        opacity: 1 !important;
    }
}

// .layout__dockr {
//     &.layout--float {
//         .b3-list--background {
//             padding-bottom: 0;
//         }
//     }
// }

// 边框
.layout__dockl {
    &.layout--float {
        border-right: 1px solid var(--b3-border-color);
    }
}

.layout__dockr {
    &.layout--float {
        border-left: 1px solid var(--b3-border-color);
    }
}

// 其他模块 ——————————————
.sy__outline {
    .b3-list-item[title] {
        display: none;
    }

    .b3-list-item[data-type="NodeHeading"] {
        // $titleIcons: 'h1' '❶', 'h2' '❷', 'h3' '❸', 'h4' '❹', 'h5' '❺', 'h6' '❻';
        // @each $title, $icon in $titleIcons {
        //     &[data-subtype=#{$title}] .b3-list-item__text::before {
        //         content: $icon;
        //     }
        // }

        $titleIcons: '❶', '❷', '❸', '❹', '❺', '❻';

        @for $i from 1 through length($titleIcons) {
            &[data-subtype=h#{$i}] .b3-list-item__text::before {
                content: nth($titleIcons, $i);
            }
        }

        .b3-list-item__text::before {
            position: absolute;
            background-color: transparent;
            left: 24px;
            top: 0;
            opacity: 0.5;
            z-index: 0;
            transition: 0.2s;
            font-family: SF Pro;
            font-size: 16px;

            body.body--win32 & {
                font-family: "Segoe UI";
                font-size: 11px;
            }
        }

        &>svg {
            color: transparent;
            z-index: 1;

            &:hover~.b3-list-item__text::before {
                color: var(--b3-theme-primary);
                opacity: 1;
            }
        }
    }
}

.sy__tag {
    .b3-list-item__graphic {
        display: none;
    }
}

.sy__backlink {
    .block__icons {
        .search__label:not(.fn__none)~.block__icon {
            opacity: 0;
        }

        &+.fn__flex-1 {
            li {
                z-index: 1;

                &:not(.b3-list--empty) {
                    position: sticky;
                    top: 0;
                    // box-shadow: 0 -0.5px inset var(--b3-border-color-trans), 0 0.5px inset var(--b3-border-color-trans);
                }

                &.protyle-shown {
                    // -> js
                }

                &:not(.b3-list--empty) {
                    margin: 0;
                    padding: 2px 8px;
                    border-radius: 0;
                    background-color: change-color($color: pickThemeColor($theme-light, surface), $lightness: 93%) !important;

                    @include darkmode-counterpart {
                        background-color: change-color($color: pickThemeColor($theme-dark, surface), $lightness: 28%) !important;
                    }

                    .layout--float &,
                    .layout__center & {
                        background-color: var(--b3-theme-surface) !important;
                    }
                }

            }
        }
    }

    .protyle {

        &,
        &-content {
            background-color: transparent;
        }

        .protyle-breadcrumb__bar {
            &:not(:first-child) {
                border-top: 1px solid var(--b3-border-color-trans);
            }

            margin-bottom: 0 !important;
            height: 36px;
        }

        .protyle-wysiwyg {
            padding-top: 0 !important;
        }
    }
}

.graph:not(.fullscreen) {
    background-color: transparent;
}

.graph__panel{
    .b3-button{
        @include button-action('normal');
        background-color: transparent;
    }
}

// // 避让状态栏
// body.body-status-shown {
//     .layout__dockr:not(.layout--float),
//     .layout__resize+.fn__flex-1 .layout-tab-container .file-tree {
//         .b3-list--background {
//             padding-bottom: 36px;
//         }
//     }
// }

// -> js

// 作为页签打开时
.layout__center {
    @include layout-tab-container-contents {
        background-color: var(--b3-theme-background);
    }
}


// 文档树缩进参考线 indent guides
.file-tree>.fn__flex-1 {
    $uls: '>ul';
    $indent: 18px;
    $indent-start: 22px;

    @for $i from 1 through 7 {
        $uls: str-insert($string: $uls, $insert: '>ul', $index: 100);

        &#{$uls} {
            span.b3-list-item__toggle {
                padding-left: 4px !important;
            }

            // margin-left: $indent-start;
            margin-left: $indent;
            box-shadow: 1px 0 transparent inset;
        }

        // $indent-start: $indent;
    }

    &>ul ul {
        transition: 0.2s;
    }

    &:hover>ul ul {
        box-shadow: 1px 0 pickThemeColor($theme-light, on-background, 0.15) inset;

        @include darkmode-counterpart {
            box-shadow: 1px 0 pickThemeColor($theme-dark, on-background, 0.15) inset;
        }
    }

    li.b3-list-item--focus+ul,
    ul.has-focus {
        box-shadow: 1px 0 pickThemeColor($theme-light, on-background, 0.15) inset;

        @include darkmode-counterpart {
            box-shadow: 1px 0 pickThemeColor($theme-dark, on-background, 0.15) inset;
        }
    }

    // -> js

    &:hover li.b3-list-item--focus+ul,
    &:hover ul.has-focus {
        box-shadow: 1px 0 pickThemeColor($theme-light, on-background, 0.3) inset;

        @include darkmode-counterpart {
            box-shadow: 1px 0 pickThemeColor($theme-dark, on-background, 0.3) inset;
        }
    }

    // -> js

    &>ul {
        box-shadow: none !important;
    }
}

// 列表展开动画
.file-tree__sliderDown {
    top: -4px !important;
}

// 全屏状态
.fullscreen > .block__icons {
    height: var(--toolbar-height);
    padding-right: 10px;

    > .fn__flex-1:hover {
        background-color: transparent;
    }

    body.body--win32 & {
        padding-right: 10px;
    }
}