.layout__dockl .layout-tab-container,
.layout__dockr .layout-tab-container {
  background-color: transparent;
}
.layout__dockl .layout-tab-container .block__icons .block__logo,
.layout__dockr .layout-tab-container .block__icons .block__logo {
  font-weight: 600;
  color: rgba(38, 38, 38, 0.5);
}
.layout__dockl .layout-tab-container .block__icons .block__logo svg,
.layout__dockr .layout-tab-container .block__icons .block__logo svg {
  visibility: hidden;
  width: 0px;
}
html[data-theme-mode=dark] .layout__dockl .layout-tab-container .block__icons .block__logo,
html[data-theme-mode=dark] .layout__dockr .layout-tab-container .block__icons .block__logo {
  color: rgba(222, 222, 222, 0.5);
}
.layout__dockl .layout-tab-container .block__icons .block__icon:hover,
.layout__dockr .layout-tab-container .block__icons .block__icon:hover {
  background-color: transparent;
}
.layout__dockl .layout-tab-container .block__icons .fn__space,
.layout__dockr .layout-tab-container .block__icons .fn__space {
  width: 0;
}
.layout__dockl .layout-tab-container .block__icons, .layout__dockl .layout-tab-container .block__icons ~ *,
.layout__dockr .layout-tab-container .block__icons,
.layout__dockr .layout-tab-container .block__icons ~ * {
  background-color: rgba(246, 246, 246, 0.9);
}
html[data-theme-mode=dark] .layout__dockl .layout-tab-container .block__icons, html[data-theme-mode=dark] .layout__dockl .layout-tab-container .block__icons ~ *,
html[data-theme-mode=dark] .layout__dockr .layout-tab-container .block__icons,
html[data-theme-mode=dark] .layout__dockr .layout-tab-container .block__icons ~ * {
  background-color: rgba(56, 56, 56, 0.9);
}
.layout__dockl .layout-tab-container .block__icons ~ .fn__flex-1,
.layout__dockr .layout-tab-container .block__icons ~ .fn__flex-1 {
  margin-bottom: 0 !important;
}
.layout__dockl .layout-tab-container .block__icons ~ .fn__flex-1:not(.graph__svg),
.layout__dockr .layout-tab-container .block__icons ~ .fn__flex-1:not(.graph__svg) {
  padding: 0 2px;
}
.layout__dockl .layout-tab-container .b3-list-item,
.layout__dockr .layout-tab-container .b3-list-item {
  margin: 4px 6px;
}
.layout__dockl .layout-tab-container .b3-list-item .b3-list-item__text,
.layout__dockr .layout-tab-container .b3-list-item .b3-list-item__text {
  color: var(--b3-theme-on-surface);
}
.layout__dockl .layout-tab-container .b3-list-item .b3-list-item__toggle,
.layout__dockr .layout-tab-container .b3-list-item .b3-list-item__toggle {
  color: rgba(38, 38, 38, 0.6);
}
html[data-theme-mode=dark] .layout__dockl .layout-tab-container .b3-list-item .b3-list-item__toggle,
html[data-theme-mode=dark] .layout__dockr .layout-tab-container .b3-list-item .b3-list-item__toggle {
  color: rgba(222, 222, 222, 0.6);
}
.layout__dockl .layout-tab-container .b3-list-item .b3-list-item__toggle.fn__hidden::before,
.layout__dockr .layout-tab-container .b3-list-item .b3-list-item__toggle.fn__hidden::before {
  visibility: visible;
  content: "";
  position: absolute;
  left: 12px;
  -webkit-clip-path: circle(45% at center);
          clip-path: circle(45% at center);
  width: 3px;
  height: 3px;
  background-color: rgba(38, 38, 38, 0.6);
}
html[data-theme-mode=dark] .layout__dockl .layout-tab-container .b3-list-item .b3-list-item__toggle.fn__hidden::before,
html[data-theme-mode=dark] .layout__dockr .layout-tab-container .b3-list-item .b3-list-item__toggle.fn__hidden::before {
  background-color: rgba(222, 222, 222, 0.6);
}
.layout__dockl .layout-tab-container .b3-list-item .b3-list-item__toggle--hl:hover,
.layout__dockr .layout-tab-container .b3-list-item .b3-list-item__toggle--hl:hover {
  color: var(--b3-theme-on-background) !important;
  background-color: transparent;
}
.layout__dockl .layout-tab-container .b3-list-item:hover .b3-list-item__text,
.layout__dockr .layout-tab-container .b3-list-item:hover .b3-list-item__text {
  color: var(--b3-theme-on-background);
}
.layout__dockl .layout-tab-container .b3-list-item--focus,
.layout__dockr .layout-tab-container .b3-list-item--focus {
  background-color: var(--b3-list-hover);
}
.layout__dockl .layout-tab-container .b3-list-item--focus .b3-list-item__text,
.layout__dockr .layout-tab-container .b3-list-item--focus .b3-list-item__text {
  color: var(--b3-theme-on-background);
  font-weight: 600;
}
.layout__dockl .layout-tab-container .b3-list-item--focus:hover,
.layout__dockr .layout-tab-container .b3-list-item--focus:hover {
  background-color: var(--b3-list-hover);
}
.layout__dockl .layout-tab-container .b3-list-item .b3-list-item__icon,
.layout__dockr .layout-tab-container .b3-list-item .b3-list-item__icon {
  font-size: 14px;
}
.layout__dockl .layout-tab-container .b3-list-item .b3-list-item__action,
.layout__dockr .layout-tab-container .b3-list-item .b3-list-item__action {
  color: var(--b3-theme-on-surface);
}
.layout__dockl .layout-tab-container .b3-list-item .b3-list-item__action:hover,
.layout__dockr .layout-tab-container .b3-list-item .b3-list-item__action:hover {
  color: var(--b3-theme-on-background);
  background-color: transparent;
}
.layout__dockl .layout-tab-container .sy__outline .b3-list-item[title],
.layout__dockr .layout-tab-container .sy__outline .b3-list-item[title] {
  display: none;
}
.layout__dockl .layout-tab-container .sy__tag .b3-list-item__graphic,
.layout__dockr .layout-tab-container .sy__tag .b3-list-item__graphic {
  display: none;
}
.layout__dockl.layout--float,
.layout__dockr.layout--float {
  box-shadow: none;
  height: calc(100% - var(--toolbar-height));
  bottom: 0;
  top: unset;
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  opacity: 1 !important;
}
.layout__dockl.layout--float .layout-tab-container .block__icons, .layout__dockl.layout--float .layout-tab-container .block__icons ~ *,
.layout__dockr.layout--float .layout-tab-container .block__icons,
.layout__dockr.layout--float .layout-tab-container .block__icons ~ * {
  background-color: white;
}
html[data-theme-mode=dark] .layout__dockl.layout--float .layout-tab-container .block__icons, html[data-theme-mode=dark] .layout__dockl.layout--float .layout-tab-container .block__icons ~ *,
html[data-theme-mode=dark] .layout__dockr.layout--float .layout-tab-container .block__icons,
html[data-theme-mode=dark] .layout__dockr.layout--float .layout-tab-container .block__icons ~ * {
  background-color: #1e1e1e;
}
.layout__dockl .sy__backlink .block__icons .search__label:not(.fn__none) ~ .block__icon,
.layout__dockr .sy__backlink .block__icons .search__label:not(.fn__none) ~ .block__icon {
  opacity: 0;
}

.layout__dockl.layout--float {
  border-right: 1px solid var(--b3-border-color);
}

.layout__dockr.body-status-shown .b3-list--background {
  padding-bottom: 36px;
}
.layout__dockr.layout--float {
  border-left: 1px solid var(--b3-border-color);
}

.layout__center .block__icons .block__logo {
  font-weight: 600;
  color: rgba(38, 38, 38, 0.5);
}
.layout__center .block__icons .block__logo svg {
  visibility: hidden;
  width: 0px;
}
html[data-theme-mode=dark] .layout__center .block__icons .block__logo {
  color: rgba(222, 222, 222, 0.5);
}
.layout__center .block__icons .block__icon:hover {
  background-color: transparent;
}
.layout__center .block__icons .fn__space {
  width: 0;
}
.layout__center .block__icons, .layout__center .block__icons ~ * {
  background-color: var(--b3-theme-background);
}
.layout__center .block__icons ~ .fn__flex-1 {
  margin-bottom: 0 !important;
}
.layout__center .block__icons ~ .fn__flex-1:not(.graph__svg) {
  padding: 0 2px;
}
.layout__center .b3-list-item {
  margin: 4px 6px;
}
.layout__center .b3-list-item .b3-list-item__text {
  color: var(--b3-theme-on-surface);
}
.layout__center .b3-list-item .b3-list-item__toggle {
  color: rgba(38, 38, 38, 0.6);
}
html[data-theme-mode=dark] .layout__center .b3-list-item .b3-list-item__toggle {
  color: rgba(222, 222, 222, 0.6);
}
.layout__center .b3-list-item .b3-list-item__toggle.fn__hidden::before {
  visibility: visible;
  content: "";
  position: absolute;
  left: 12px;
  -webkit-clip-path: circle(45% at center);
          clip-path: circle(45% at center);
  width: 3px;
  height: 3px;
  background-color: rgba(38, 38, 38, 0.6);
}
html[data-theme-mode=dark] .layout__center .b3-list-item .b3-list-item__toggle.fn__hidden::before {
  background-color: rgba(222, 222, 222, 0.6);
}
.layout__center .b3-list-item .b3-list-item__toggle--hl:hover {
  color: var(--b3-theme-on-background) !important;
  background-color: transparent;
}
.layout__center .b3-list-item:hover .b3-list-item__text {
  color: var(--b3-theme-on-background);
}
.layout__center .b3-list-item--focus {
  background-color: var(--b3-list-hover);
}
.layout__center .b3-list-item--focus .b3-list-item__text {
  color: var(--b3-theme-on-background);
  font-weight: 600;
}
.layout__center .b3-list-item--focus:hover {
  background-color: var(--b3-list-hover);
}
.layout__center .b3-list-item .b3-list-item__icon {
  font-size: 14px;
}
.layout__center .b3-list-item .b3-list-item__action {
  color: var(--b3-theme-on-surface);
}
.layout__center .b3-list-item .b3-list-item__action:hover {
  color: var(--b3-theme-on-background);
  background-color: transparent;
}
.layout__center .sy__outline .b3-list-item[title] {
  display: none;
}
.layout__center .sy__tag .b3-list-item__graphic {
  display: none;
}

.file-tree > .fn__flex-1 > ul > ul {
  margin-left: 18px;
  box-shadow: 1px 0 transparent inset;
}
.file-tree > .fn__flex-1 > ul > ul span.b3-list-item__toggle {
  padding-left: 4px !important;
}
.file-tree > .fn__flex-1 > ul > ul > ul {
  margin-left: 18px;
  box-shadow: 1px 0 transparent inset;
}
.file-tree > .fn__flex-1 > ul > ul > ul span.b3-list-item__toggle {
  padding-left: 4px !important;
}
.file-tree > .fn__flex-1 > ul > ul > ul > ul {
  margin-left: 18px;
  box-shadow: 1px 0 transparent inset;
}
.file-tree > .fn__flex-1 > ul > ul > ul > ul span.b3-list-item__toggle {
  padding-left: 4px !important;
}
.file-tree > .fn__flex-1 > ul > ul > ul > ul > ul {
  margin-left: 18px;
  box-shadow: 1px 0 transparent inset;
}
.file-tree > .fn__flex-1 > ul > ul > ul > ul > ul span.b3-list-item__toggle {
  padding-left: 4px !important;
}
.file-tree > .fn__flex-1 > ul > ul > ul > ul > ul > ul {
  margin-left: 18px;
  box-shadow: 1px 0 transparent inset;
}
.file-tree > .fn__flex-1 > ul > ul > ul > ul > ul > ul span.b3-list-item__toggle {
  padding-left: 4px !important;
}
.file-tree > .fn__flex-1 > ul > ul > ul > ul > ul > ul > ul {
  margin-left: 18px;
  box-shadow: 1px 0 transparent inset;
}
.file-tree > .fn__flex-1 > ul > ul > ul > ul > ul > ul > ul span.b3-list-item__toggle {
  padding-left: 4px !important;
}
.file-tree > .fn__flex-1 > ul > ul > ul > ul > ul > ul > ul > ul {
  margin-left: 18px;
  box-shadow: 1px 0 transparent inset;
}
.file-tree > .fn__flex-1 > ul > ul > ul > ul > ul > ul > ul > ul span.b3-list-item__toggle {
  padding-left: 4px !important;
}
.file-tree > .fn__flex-1 > ul ul {
  transition: 0.2s;
}
.file-tree > .fn__flex-1:hover > ul ul {
  box-shadow: 1px 0 var(--b3-border-color-trans) inset;
}