@use '../base' as *;

@mixin layout-tab-container-contents {
    .block__icons {

        .block__logo {
            .block__logoicon {
                visibility: hidden;
                width: 0px;
                padding: 0;
            }

            &.fn__pointer {
                .block__logoicon {
                    visibility: visible;
                    width: 16px;
                    padding: 4px;
                }
            }

            // fix https://github.com/mustakshif/Asri/issues/31

            font-weight: 600;
            color: oklch(from var(--b3-theme-on-surface) l c h / .5);

            @supports not (color: oklch(from red calc(l * 0.5) 0 h)) {
                @include theme-variant-color(color, on-background, 0.5);
            }
        }

        .block__icon {
            &:hover {
                background-color: transparent;
            }
        }

        .fn__space {
            width: 4px;
        }

        // &,
        // &~* {
        //     @content;
        //     // 指定背景颜色
        // }

        &~.fn__flex-1 {
            margin-bottom: 0 !important;

            &:not(.graph__svg, .backlinkList, .backlinkMList) {
                padding: 0 2px;
            }
        }
    }

    .b3-list-item {
        margin: 4px 6px;

        .b3-list-item__graphic,
        .b3-list-item__text {
            color: var(--b3-theme-on-surface);
        }

        .b3-list-item__toggle {
            color: oklch(from var(--b3-theme-on-surface) l c h / .6);

            @supports not (color: oklch(from red calc(l * 0.5) 0 h)) {
                @include theme-variant-color(color, on-background, 0.6);
            }

            // transform: translateX(1px);

            // 小圆点
            &.fn__hidden::before {
                visibility: visible;
                content: '';
                // margin: 0 -11px 0 8px;
                position: absolute;
                left: 12px;
                clip-path: circle(45% at center);
                width: 3px;
                height: 3px;
                background-color: oklch(from var(--b3-theme-on-surface) l c h / .6);

                @supports not (color: oklch(from red calc(l * 0.5) 0 h)) {
                    @include theme-variant-color(background-color, on-background, 0.6);
                }
            }

            &--hl:hover {
                color: var(--b3-theme-on-background) !important;
                background-color: transparent;
            }
        }

        &:hover {
            // background-color: transparent;

            .b3-list-item__text {
                color: var(--b3-theme-on-background);
            }
        }

        &--focus {
            background-color: var(--b3-list-hover);

            .b3-list-item__text {
                color: var(--b3-theme-on-background);
                font-weight: 600;
            }

            &:hover {
                background-color: var(--b3-list-hover);
            }
        }

        .b3-list-item__icon {
            font-size: 15px;
        }

        .b3-list-item__action {
            color: var(--b3-theme-on-surface);

            &:hover {
                color: var(--b3-theme-on-background);
                background-color: transparent;
            }
        }
    }
}

.layout__dockl,
.layout__dockr {

    .layout-tab-container {
        // background-color: transparent;
        background-color: var(--b3-theme-surface);

        @include layout-tab-container-contents;
    }

    // 浮动布局
    &.layout--float {
        .layout-tab-container {
            background-color: var(--b3-theme-background);

            .block__icons {

                &,
                &~* {
                    // @include theme-variant-color(background-color, background);
                }
            }
        }

        box-shadow: none;
        height: calc(100% - var(--toolbar-height));
        bottom: 0;
        top: unset;
        border-radius: 0;
        border-top: none;
        border-bottom: none;
        opacity: 1 !important;
    }
}

.fn__flex-1.has-dockb {

    // -> js
    .layout__dockl,
    .layout__dockr {

        // 浮动布局
        &.layout--float {
            height: calc(100% - var(--toolbar-height) - 42px - var(--status-height, 32px));
            top: var(--toolbar-height);
        }
    }
}

.layout__dockb {
    .layout-tab-container {
        // background-color: transparent;
        background-color: var(--b3-theme-surface);

        @include layout-tab-container-contents;
    }

    &.layout--float {
        box-shadow: none;
        opacity: 1 !important;

        .fn__flex-1.has-dockb &:not([style*="transform"]) {
            bottom: calc(42px + var(--status-height, 32px) - 1px) !important;
        }

        &[style*="bottom: 26px"] {
            bottom: 0 !important;
        }

        .layout-tab-container {
            background-color: var(--b3-theme-background);

            .block__icons {

                &,
                &~* {
                    // @include theme-variant-color(background-color, background)
                }
            }
        }
    }
}

// .layout__dockr {
//     &.layout--float {
//         .b3-list--background {
//             padding-bottom: 0;
//         }
//     }
// }

// 边框
.layout__dockl {
    &.layout--float {
        border-right: 1px solid var(--b3-border-color);
    }
}

.layout__dockr {
    &.layout--float {
        border-left: 1px solid var(--b3-border-color);
    }
}

.layout__dockb {
    &.layout--float {
        border-top: 1px solid var(--b3-border-color);
    }
}

// 停靠栏常驻时面板的间距优化
// #dockLeft:not(.fn__none) {
//     +#layouts {
//         .layout__dockl:not(.layout--float) {
//             margin-left: -8px;
//         }

//         .layout__dockr:not(.layout--float) {
//             margin-right: -8px;
//         }
//     }
// } // 调整窗口大小后侧栏面板宽度异常无法恢复

// 其他模块 ——————————————
.sy__outline {
    .b3-list-item[title] {
        display: none;
    }

    .b3-list-item[data-type="NodeHeading"] {
        // $titleIcons: 'h1' '❶', 'h2' '❷', 'h3' '❸', 'h4' '❹', 'h5' '❺', 'h6' '❻';
        // @each $title, $icon in $titleIcons {
        //     &[data-subtype=#{$title}] .b3-list-item__text::before {
        //         content: $icon;
        //     }
        // }

        $titleIcons: '❶', '❷', '❸', '❹', '❺', '❻';

        @for $i from 1 through length($titleIcons) {
            &[data-subtype=h#{$i}] .b3-list-item__text::before {
                content: nth($titleIcons, $i);
            }
        }

        .b3-list-item__text::before {
            position: absolute;
            background-color: transparent;
            left: 24px;
            top: 0;
            opacity: 0.5;
            z-index: 0;
            transition: 0.2s;
            font-family: SF Pro;
            font-size: 16px;

            body.body--win32 & {
                font-family: "Segoe UI";
                font-size: 11px;
            }

            body.body--linux & {
                font-family: Dejavu Sans;
            }
        }

        &>svg {
            color: transparent !important;
            z-index: 1;

            &:hover~.b3-list-item__text::before {
                color: var(--b3-theme-primary);
                opacity: 1;
            }
        }
    }
}

.sy__tag {
    .b3-list-item__graphic {
        display: none;
    }
}

.sy__backlink {
    .block__icons {

        .block__logo+.counter {
            line-height: 24px;
        }

        &+.fn__flex-1 {
            li {
                z-index: 1;

                &:not(.b3-list--empty) {
                    position: sticky;
                    top: 0;
                    // box-shadow: 0 -0.5px inset var(--b3-border-color-trans), 0 0.5px inset var(--b3-border-color-trans);
                }

                &.protyle-shown {
                    // -> js
                }

                &:not(.b3-list--empty) {
                    // margin: 0;
                    padding: 2px 8px;
                    // border-radius: 0;
                    background-color: change-color($color: pickThemeColor($theme-light, surface), $lightness: 90%);

                    @include darkmode-counterpart {
                        background-color: change-color($color: pickThemeColor($theme-dark, surface), $lightness: 28%);
                    }

                    &:first-child {
                        margin-top: 0;
                    }

                    >.b3-list-item__text {
                        font-weight: 500;
                    }

                    .layout--float &,
                    .layout__center &,
                    .layout__dockr & {
                        background-color: var(--b3-theme-surface) !important;
                    }
                }

            }
        }
    }

    .protyle {

        &,
        &-content {
            background-color: transparent;
        }

        .protyle-breadcrumb__bar {
            &:not(:first-child) {
                border-top: 1px solid var(--b3-border-color-trans);
            }

            margin-bottom: -8px !important;
            height: 36px;

            span.protyle-breadcrumb__item,
            svg.protyle-breadcrumb__arrow {
                display: none;
            }

            span.protyle-breadcrumb__item:nth-last-of-type(1),
            span.protyle-breadcrumb__item:nth-last-of-type(2) {
                display: flex;
            }

            svg.protyle-breadcrumb__arrow:last-of-type {
                display: block;
            }

            span.protyle-breadcrumb__item:nth-last-of-type(1) {
                opacity: 0;
                transition: opacity 0.2s;
            }

            &:hover span.protyle-breadcrumb__item:nth-last-of-type(1) {
                opacity: 1;
            }

            span.protyle-breadcrumb__item:first-child {
                opacity: 1;
            }

            .protyle-breadcrumb__item--active svg {
                background-color: var(--b3-theme-primary);
                color: var(--b3-theme-on-primary);
            }
        }

        .protyle-wysiwyg {
            padding-top: 0 !important;
        }
    }
}

.sy__graph,
.sy__globalGraph {
    .graph__svg {
        background-color: transparent;
    }
}

.graph:not(.fullscreen) {
    background-color: transparent;
}

.graph__panel {
    .b3-button {
        @include button-action('normal');
        background-color: transparent;
    }
}

// // 避让状态栏
// body.body-status-shown {
//     .layout__dockr:not(.layout--float),
//     .layout__resize+.fn__flex-1 .layout-tab-container .file-tree {
//         .b3-list--background {
//             padding-bottom: 36px;
//         }
//     }
// }

// -> js

// 作为页签打开时
.layout__center {
    @include layout-tab-container-contents
}


// 文档树缩进参考线 indent guides
.file-tree>.fn__flex-1 {
    $uls: '>ul';
    $indent: 18px;
    $indent-start: 22px;

    @for $i from 1 through 7 {
        $uls: str-insert($string: $uls, $insert: '>ul', $index: 100);

        &#{$uls} {
            span.b3-list-item__toggle {
                padding-left: 4px !important;
            }

            // margin-left: $indent-start;
            margin-left: $indent;
            box-shadow: 1px 0 transparent inset;
        }

        // $indent-start: $indent;
    }

    &>ul ul {
        transition: 0.2s;
    }

    &:hover>ul ul,
    li.b3-list-item--focus+ul,
    ul.has-focus {
        box-shadow: 1px 0 oklch(from var(--b3-theme-on-background) l c h / .15) inset;

        @include darkmode-counterpart {
            box-shadow: 1px 0 oklch(from var(--b3-theme-on-background) l c h / .15) inset;
        }

        @supports not (color: oklch(from red calc(l * 0.5) 0 h)) {
            box-shadow: 1px 0 pickThemeColor($theme-light, on-background, 0.15) inset;


            @include darkmode-counterpart {
                box-shadow: 1px 0 pickThemeColor($theme-dark, on-background, 0.15) inset;
            }
        }
    }

    // -> js

    &:hover li.b3-list-item--focus+ul,
    &:hover ul.has-focus {
        box-shadow: 1px 0 oklch(from var(--b3-theme-on-background) l c h / .3) inset;

        @include darkmode-counterpart {
            box-shadow: 1px 0 oklch(from var(--b3-theme-on-background) l c h / .3) inset;
        }

        @supports not (color: oklch(from red calc(l * 0.5) 0 h)) {
            box-shadow: 1px 0 pickThemeColor($theme-light, on-background, 0.3) inset;


            @include darkmode-counterpart {
                box-shadow: 1px 0 pickThemeColor($theme-dark, on-background, 0.3) inset;
            }
        }
    }

    // -> js

    &>ul {
        box-shadow: none !important;
    }
}

// 列表展开动画
.file-tree__sliderDown {
    top: -4px !important;
}

// 全屏状态
.fullscreen>.block__icons {
    height: var(--toolbar-height);
    padding-right: 10px;

    >.fn__flex-1:hover {
        background-color: transparent;
    }

    // body.body--win32:not(.hadeeth-pin-toolbar) & {
    //     padding-right: 10px;
    // }
}

.block__icons .search__label:not(.fn__none)~.block__icon {
    opacity: 0 !important;
}