.fn__flex-column[data-type=wnd] > .fn__flex:first-child {
  height: 42px;
}

.layout-tab-bar {
  background-color: transparent;
  height: 28px;
  border-bottom: 0;
  overflow-y: hidden;
  border-radius: 6px;
  margin: 8px 8px 6px;
}
.layout-tab-bar .item {
  margin-right: 8px;
  border-radius: 6px !important;
  min-width: unset;
  min-height: unset;
  line-height: 24px;
  overflow: visible;
  background-color: var(--b3-list-hover);
}
.layout-tab-bar .item:last-child {
  margin-right: 0;
}
.layout-tab-bar .item:not(.item--readonly, .item--full.item--focus):hover {
  background-color: rgba(0, 0, 0, 0.12);
}
html[data-theme-mode=dark] .layout-tab-bar .item:not(.item--readonly, .item--full.item--focus):hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.layout-tab-bar .item__icon {
  padding: 0 0 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 28px;
  font-size: 14px;
  vertical-align: -1px;
}
.layout-tab-bar .item__text {
  padding: 2px 6px 2px 6px;
  -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0, #000 8px);
          mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0, #000 8px);
}
.layout-tab-bar .item__close {
  padding: 4px 6px 4px 2px;
}
.layout-tab-bar .item__close svg {
  width: 10px;
  height: 10px;
}
.layout-tab-bar .item--pin {
  height: 24px;
  padding: 2px;
}
.layout-tab-bar .item--pin .item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px 0;
}
.layout-tab-bar .item--pin + .item:not(.item--pin, .item--readonly) {
  margin-left: 14px;
}
.layout-tab-bar .item--pin + .item:not(.item--pin, .item--readonly)::before {
  content: "";
  position: absolute;
  left: -12px;
  display: block;
  width: 2px;
  background-color: var(--b3-border-color-trans);
  height: 1.5em;
  border-radius: 9px;
  pointer-events: none;
}
.layout-tab-bar .item--focus {
  max-width: 21rem;
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.12);
  animation: click 0.2s;
}
html[data-theme-mode=dark] .layout-tab-bar .item--focus {
  background-color: rgba(255, 255, 255, 0.15);
}
.layout-tab-bar .item--focus::after {
  display: none;
}

.layout-tab-bar--readonly {
  margin-left: 0;
  min-width: 59px;
}
.layout-tab-bar--readonly .item {
  background-color: transparent;
  padding: 0;
  height: 28px;
}
.layout-tab-bar--readonly .item:hover {
  background-color: transparent;
}
.layout-tab-bar--readonly .item .block__icon {
  padding: 8px;
}
.layout-tab-bar--readonly .item .block__icon svg {
  width: 12px;
  height: 12px;
}
.layout-tab-bar--readonly .item span:nth-child(2) {
  font-size: 0;
}

body.body--blur .layout__wnd--active .layout-tab-bar .item--focus {
  box-shadow: none;
}