@use '../base' as *;

// tab-bar 容器
.fn__flex-column[data-type='wnd']>.fn__flex:first-child {
    height: 42px;
}

.layout-tab-bar {
    background-color: transparent;
    height: 28px;
    border-bottom: 0;
    overflow-y: hidden;
    border-radius: 6px;
    margin: 8px 8px 6px;
    transition: margin 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    // bug：当容器无需滚动时遮罩层会一直显示
    // &:not(.layout-tab-bar--readonly) {
    //     $size: 40px;

    //     &::before, &::after { 
    //         --timeline: not-specified;
    //         content: '';
    //         height: 100%;
    //         min-width: $size;
    //         display: block;
    //         position: sticky;         
    //         pointer-events: none;
    //         animation-name: scroll-fadein;
    //         animation-timeline: scroll(x);
    //         z-index: 1;
    //     }

    //     &::before {
    //         left: 0;
    //         margin-right: $size * -1;
    //         background: linear-gradient(to right, var(--b3-theme-background), transparent);
    //         animation-range: 0 2%;
    //     }

    //     &::after {
    //         right: 0;
    //         margin-left: $size * -1;
    //         background: linear-gradient(to left, var(--b3-theme-background), transparent);
    //         animation-direction: reverse;
    //         animation-range: 98% 100%;
    //     }
    // }

    .item {
        // transition: none;
        margin-right: 8px;
        border-radius: 6px !important;
        min-width: unset;
        min-height: unset;
        line-height: 24px;
        overflow: visible;
        background-color: var(--b3-list-hover);
        // transition-property: max-width, width, backdrop-filter, background-color, color;
                
        &:last-child {
            margin-right: 0;
        }

        &:not(.item--readonly, .item--full.item--focus):hover {
            @include theme-variant-color(background-color, list-hover, 0.12, 0.15);
        }

        &__icon {
            padding: 0 0 0 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 28px;
            font-size: 14px;
            vertical-align: -1px;
        }

        &__text {
            padding: 2px 6px 2px 6px;
            mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0, #000 8px);
        }

        &__close {
            padding: 4px 6px 4px 2px;

            svg{
                width: 10px;
                height: 10px;
            }
        }

        &--pin {
            height: 24px;
            padding: 2px;

            .item__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2px 5px 0;

                body.body--win32 & {
                    padding: 2px 5px;
                }
            }

            &+.item:not(.item--pin, .item--readonly) {
                margin-left: 14px;

                &::before {
                    content: "";
                    position: absolute;
                    left: -12px;
                    display: block;
                    width: 2px;
                    background-color: var(--b3-border-color-trans);
                    height: 1.5em;
                    border-radius: 9px;
                    pointer-events: none;
                }
            }
        }

        &--focus {
            max-width: 21rem;
            transition: 0.2s;
            @include theme-variant-color(background-color, list-hover, 0.12, 0.15);          

            animation: click 0.2s;

            &::after {
                display: none;
            }
        }
    }
}

.layout-tab-bar--readonly {
    margin-left: 0;
    min-width: 59px;

    .item {
        background-color: transparent;
        padding: 0;
        height: 28px;
        cursor: default;

        &:hover {
            background-color: transparent;
        }

        .block__icon {
            padding: 8px;

            svg {
                width: 12px;
                height: 12px;
            }
        }

        span:nth-child(2) {
            font-size: 0;
        }
    }
}

body.body--blur .layout__wnd--active .layout-tab-bar .item--focus {
    box-shadow: none
}