@use '../base' as *;

#toolbar {
    height: var(--toolbar-height);
    background-color: var(--b3-theme-background);

    #barWorkspace {
        background-color: transparent;
        color:var(--b3-theme-on-primary);
        font-weight: 600;
        height: var(--toolbar-height);
        position: relative;
        transition: none;

        &::before {
            content: '';
            display: block;
            height: 28px;
            width: 100%;
            position: absolute;
            background-color: var(--b3-theme-primary);
            z-index: -1;
            transform: translate(-5px, 5px);
            border-radius: 6px;
        }

        .toolbar__text {
            font-size: 14px;
            align-self: center;
        }

        svg.toolbar__svg{
            align-self: center;
        }
    }

    .toolbar__item {
        height: var(--toolbar-height);
        
        svg {
            align-self: center;
        }
    }

    &.toolbar--browser,
    body.body--win32 & {
        padding-left: 8px;
    }

    #closeWindow{
        padding: 9px;
        padding-right: 16px;
        &:hover,
        body.body--win32 &:hover{
            color: var(--b3-theme-error);
            background-color: transparent;
        }
    }


    // 应用全屏时
    &[style="padding-left: 0px;"] {
        padding-left: 8px !important;
    }
}