#toolbar {
  height: var(--toolbar-height);
  background-color: var(--b3-theme-background);
}
#toolbar #barWorkspace {
  background-color: var(--b3-theme-primary);
  color: var(--b3-theme-on-primary);
  font-weight: 600;
}
#toolbar #barWorkspace .toolbar__text {
  font-size: 13px;
  line-height: 13.5px;
}
#toolbar.toolbar--browser, body.body--win32 #toolbar {
  padding-left: 8px;
}