@use '../base' as *;

#toolbar {
    height: var(--toolbar-height);
    background-color: var(--b3-theme-background);
    border-bottom: 1px solid var(--b3-border-color);
    overflow: visible;

    #barWorkspace {
        background-color: transparent;
        color:var(--b3-theme-on-surface);
        font-weight: 600;
        height: var(--toolbar-height);
        position: relative;
        transition: color 0.2s;

        &::before {
            content: '';
            display: block;
            height: 28px;
            width: 100%;
            position: absolute;
            z-index: 0;
            transform: translate(-5px, 5px);
            border-radius: 6px;
            transition: background-color 0.2s, outline 0.2s, box-shadow 0.2s;
            outline: 1px solid var(--b3-border-color-trans);
            outline-offset: -1px;
        }

        &:hover{
            color: var(--b3-theme-on-primary);

            &::before{
                background-color: var(--b3-theme-primary);
                outline: 1px solid transparent;
                // @include menu-shadow(map-get($theme-light, primary), map-get($theme-dark, primary), 0.3, 0.4, 0px);
            }
        }

        .toolbar__text {
            font-size: 14px;
            align-self: center;
            z-index: 1;
        }

        svg.toolbar__svg{
            align-self: center;
        }
    }

    .toolbar__item {
        height: var(--toolbar-height);

        &:hover{
            background-color: transparent;
        }
        
        svg {
            align-self: center;
        }
    }

    &.toolbar--browser,
    body.body--win32 & {
        padding-left: 8px;
    }

    #closeWindow{
        padding: 9px;
        padding-right: 16px;
        &:hover,
        body.body--win32 &:hover{
            color: var(--b3-theme-error);
            background-color: transparent;
        }
    }


    // 应用全屏时
    &[style="padding-left: 0px;"] {
        padding-left: 8px !important;
    }
}