@use '../base' as *;

#toolbar {
    height: var(--toolbar-height);
    background-color: var(--b3-theme-background);
    #barWorkspace {
        background-color: var(--b3-theme-primary);
        color:var(--b3-theme-on-primary);
        font-weight: 600;
        .toolbar__text {
            font-size: 13px;
            line-height: 13.5px;
        }
    }
}