@use "../base" as *;

.body-asri--mobile {
  // -> js

  .toolbar {
    border: none;
  }
  //编辑区
  .protyle-background {
    --cover-img-height: 200px;

    &__img {
      --bgimg-top-space: 92px; // 修复题头图跳动（实际为 90.5px, 这里给一点变动空间）
      --bgimg-scale: 1.1;
    }
  }

  .protyle-wysiwyg {
    padding-right: 24px !important;

    // .bq,
    // .protyle-wysiwyg blockquote,
    [data-node-id].render-node[data-type="NodeBlockQueryEmbed"] {
      padding: 4px 8px;
    }
  }

  .b3-typography,
  .protyle-wysiwyg {
    font-family: var(--b3-font-family);
  }

  .protyle-scroll {
    opacity: 1;
    transform: none;
    z-index: 4; // 高于数据库表头

    &__bar {
      right: calc(8px - var(--b3-dynamicscroll-width) / 2);
    }
  }

  //菜单
  .mobile-main-menu__groups,
  .b3-menu--sheet {
    .b3-menu__item {
      border-radius: 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .b3-menu--sheet {
    .b3-menu__items {
      padding-inline: 0;
    }

    .b3-menu__item--readonly {
      padding-inline: 20px;
    }
  }

  // 状态栏
  .status {
    padding: 8px;
    background-color: var(--b3-theme-surface);
  }

  //侧栏遮罩
  [style="transform: translateX(0px);"] ~ .side-mask {
    opacity: 0 !important;
  }
}

.mobile-bottom-bar {
  background-color: var(--b3-theme-surface);

  &__item {
    color: var(--b3-theme-on-surface);
    border-radius: 99px !important;
  }

  .toolbar__tabs-count {
    color: inherit;
  }
}

#model .config--mobile .config-bazaar__content, #menu .config--mobile .config-bazaar__content {
  margin-top: 12px;
}

.config-group .b3-label {
  border-bottom: none;
}