@use '../base' as *;

// full-width display ——————————————————

body:not([style*='-webkit-print-color-adjust']) {

    .protyle-wysiwyg {

        // 图片 ——————————————————————
        &[custom-asri-full-width-display="all"]>.p:not([custom-asri-full-width-display="off"]),
        &[custom-asri-full-width-display~="p"]>.p:not([custom-asri-full-width-display="off"]),
        >.p[custom-asri-full-width-display="on"] {

            .img {
                margin: 0 calc(-1 * var(--protyle-spacing) - 9px);
                max-width: unset !important;
                display: block !important;
                transition: margin .2s;

                >span:nth-child(2) {
                    width: 100%;

                    img {
                        width: 100% !important;
                        max-width: unset;
                        border-radius: 0;
                    }

                    .protyle-action__drag {
                        display: none;
                    }
                }
            }
        }

        // iframe ———————————————————
        &[custom-asri-full-width-display="all"]>.iframe:not([custom-asri-full-width-display="off"]),
        &[custom-asri-full-width-display~="iframe"]>.iframe:not([custom-asri-full-width-display="off"]),
        >.iframe[custom-asri-full-width-display="on"] {

            margin: calc(-12em / 17) 0;
            .iframe-content {
                display: block;
                margin: calc(20em / 17) calc(var(--protyle-spacing) * -1 - 5px);

                video,
                iframe {
                    max-height: unset;
                    border-radius: 0;
                    width: 100% !important;
                }

                .protyle-action__drag {
                    background-color: var(--b3-theme-surface);
                    width: 30%;
                    height: 4px;
                    left: 50%;
                    right: unset;
                    transform: translateX(-50%);
                    transition-property: transform, background-color, opacity;
                    transition-duration: .15s;
                    border-radius: 4px;
                    mask-image: none;

                    cursor: ns-resize;

                    &:hover {
                        transform: scale(1.1) translateX(-50% * 1 / 1.1);
                    }

                    @include darkmode-counterpart {
                        background-color: var(--b3-theme-on-surface);
                    }
                }
            }
        }


        // 数据库 ——————————————————
        &[custom-asri-full-width-display="all"]>.av:not([custom-asri-full-width-display="off"]),
        &[custom-asri-full-width-display~="db"]>.av:not([custom-asri-full-width-display="off"]),
        >.av[custom-asri-full-width-display="on"] {
            .av__container {
                margin: 0 calc(var(--protyle-spacing) * -1 - 4px);

                .av__header,
                .av__scroll {
                    padding: 0 var(--protyle-spacing);
                }

                // 「添加行」按钮
                .av__colsticky {
                    left: calc(var(--protyle-spacing) * -1);
                }

                .av__firstcol {
                    border-right: 1px solid var(--b3-border-color-trans);
                    opacity: 0;

                    &:hover {
                        opacity: 1;
                    }
                }

                .av__row--select {
                    .av__firstcol {
                        opacity: 1;
                    }
                }
            }
        }


        // .protyle-gutters {
        //     [data-type="NodeAttributeViewRow"],
        //     [data-type="NodeAttributeViewRowMenu"] {
        //         transform: translateX(min(calc(var(--protyle-spacing) * -1 + 72px), 0px));
        //     }
        // }


        // 超级块 ————————————————————
        &[custom-asri-full-width-display="all"]>.sb[data-sb-layout="col"]:not([custom-asri-full-width-display="off"]),
        &[custom-asri-full-width-display~="sb"]>.sb[data-sb-layout="col"]:not([custom-asri-full-width-display="off"]),
        >.sb[data-sb-layout="col"][custom-asri-full-width-display="on"] {
            > :first-child {
                margin-left: calc(var(--protyle-spacing)*-1 + min(24px, var(--protyle-spacing)));

                // >*,
                // .sb,
                // .bq,
                // .render-node {
                //     border-top-left-radius: 0;
                //     border-bottom-left-radius: 0;
                // } // ❓ 为什么这里又没事？？
            }

            > :nth-last-child(1 of [data-node-id]) {
                margin-right: calc(var(--protyle-spacing)*-1 + min(24px, var(--protyle-spacing)));

                // >*,
                // .sb,
                // .bq,
                // .render-node {
                //     border-top-right-radius: 0;
                //     border-bottom-right-radius: 0;
                // } // ❓ 为什么这个声明会导致 tabbar 滚动卡顿 + 行内备注 hover 状态取消时动画卡顿？？
            }

            // > .sb:first-child {
            //     margin-left: calc(var(--protyle-spacing)*-1);
            // }

            // > .sb:nth-last-child(2) {
            //     margin-right: calc(var(--protyle-spacing)*-1);
            // }
        }
    }
}