@use '../base' as *;

// full-width display ——————————————————

body:not([style*='-webkit-print-color-adjust']) {

    .protyle-wysiwyg {

        // 图片 ——————————————————————
        &[custom-afwd="all"]>.p:not([custom-afwd="off"]),
        &[custom-afwd~="p"]>.p:not([custom-afwd="off"]),
        >.p[custom-afwd="on"] {

            .img {
                margin: 0 calc(-1 * var(--protyle-spacing) - 9px);
                max-width: unset !important;
                display: block !important;
                transition: margin .2s;

                >span:nth-child(2) {
                    width: 100%;

                    img {
                        width: 100% !important;
                        max-width: unset;
                        border-radius: 0;
                    }

                    .protyle-action__drag {
                        display: none;
                    }
                }

                &__net {
                    border-radius: 0 0 6px 0;
                }

                // 图片标题
                .protyle-action__title {
                    width: auto;
                    padding: .5em var(--protyle-spacing) 0;
                }
            }
        }

        // iframe ———————————————————

        &[custom-afwd="all"]>.iframe:not([custom-afwd="off"]),
        &[custom-afwd~="iframe"]>.iframe:not([custom-afwd="off"]),
        >.iframe[custom-afwd="on"] {

            margin: calc(-12em / 17) 0;

            .iframe-content {
                display: block;
                margin: calc(20em / 17) calc(var(--protyle-spacing) * -1 - 5px);
                transition: margin .2s;

                video,
                iframe {
                    max-height: unset;
                    border-radius: 0;
                    width: 100% !important;
                }

                .protyle-action__drag {
                    background-color: transparent;
                    width: 30%;
                    height: 20px;
                    left: 50%;
                    right: unset;
                    bottom: -16px;
                    transform: translateX(-50%);
                    transition-property: transform, background-color, opacity;
                    transition-duration: .15s;
                    border-radius: 4px;
                    mask-image: none;

                    cursor: ns-resize;

                    &::before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 4px;
                        margin: 8px 0;
                        background-color: var(--b3-theme-surface);
                        border-radius: 4px;

                        @include darkmode-counterpart {
                            background-color: var(--b3-theme-on-surface);
                        }
                    }

                    &:hover {
                        transform: scale(1.1) translateX(-50% * 1 / 1.1);
                    }
                }
            }
        }


        // 数据库 ——————————————————

        &[custom-afwd="all"]>.av:not([custom-afwd="off"]),
        &[custom-afwd~="db"]>.av:not([custom-afwd="off"]),
        >.av[custom-afwd="on"] {
            .av__container {
                margin: 0 calc(var(--protyle-spacing) * -1 - 3px);
                transition: margin .2s;

                .av__header .av__counter {
                    width: calc(100% - 2 * var(--protyle-spacing) - 6px);
                }

                .av__header,
                .av__scroll {
                    padding: 0 calc(var(--protyle-spacing) + 3px);
                    transition: padding .2s;
                }

                .av__scroll::-webkit-scrollbar {
                    display: none;
                }

                // 「添加行」按钮
                .av__colsticky {
                    left: calc(var(--protyle-spacing) * -1 - 3px);

                    // 固定列左侧勾选框
                    .av__firstcol {
                        opacity: 1;
                    }
                }

                .av__firstcol {
                    // border-right: 1px solid var(--b3-border-color-trans);
                    opacity: 0;

                    &:hover {
                        opacity: 1;
                    }
                }

                .av__row--select {
                    .av__firstcol {
                        opacity: 1;
                    }
                }
            }
        }


        // 超级块 ————————————————————

        &[custom-afwd="all"]>.sb[data-sb-layout="col"]:not([custom-afwd="off"]),
        &[custom-afwd~="sb"]>.sb[data-sb-layout="col"]:not([custom-afwd="off"]),
        >.sb[data-sb-layout="col"][custom-afwd="on"] {
            > :first-child {
                margin-left: calc(var(--protyle-spacing)*-1 + min(24px, var(--protyle-spacing)));
                transition: margin .2s;

                // >*,
                // .sb,
                // .bq,
                // .render-node {
                //     border-top-left-radius: 0;
                //     border-bottom-left-radius: 0;
                // }
            }

            > :nth-last-child(1 of [data-node-id]) {
                margin-right: calc(var(--protyle-spacing)*-1 + min(24px, var(--protyle-spacing)));

                // >*, // 这个选择器导致 tabbar 滚动卡顿 + 行内备注 hover 状态取消时动画卡顿
                // .sb,
                // .bq,
                // .render-node {
                //     border-top-right-radius: 0;
                //     border-bottom-right-radius: 0;
                // } 
            }

            // > .sb:first-child {
            //     margin-left: calc(var(--protyle-spacing)*-1);
            // }

            // > .sb:nth-last-child(2) {
            //     margin-right: calc(var(--protyle-spacing)*-1);
            // }
        }
    }
}

// 数据库添加、拖移按钮
.protyle-gutters {

    [data-type="NodeAttributeViewRow"],
    [data-type="NodeAttributeViewRowMenu"] {
        // transform: translateX(min(calc(var(--protyle-spacing) * -1 + 72px), 0px));
        transform: translateX(4px); // 防止按钮在鼠标移出数据库项后消失
    }
}

// text direction ———————————————————————
[custom-tdir=rtl] {
    direction: rtl;
}

[custom-tdir=ltr] {
    direction: ltr;
}