
// 文档树缩进参考线 indent guides
.file-tree>.fn__flex-1 {
    $uls: '>ul';
    $indent: 18px;
    $indent-start: 22px;

    @for $i from 1 through 7 {
        $uls: str-insert($string: $uls, $insert: '>ul', $index: 100);

        &#{$uls} {
            span.b3-list-item__toggle {
                padding-left: 4px !important;
            }

            // margin-left: $indent-start;
            margin-left: $indent;
            box-shadow: 1px 0 transparent inset;
        }

        // $indent-start: $indent;
    }

    &>ul ul {
        transition: 0.2s;
    }

    &:hover>ul ul,
    li.b3-list-item--focus+ul,
    ul.has-focus {
        box-shadow: 1px 0 oklch(from var(--b3-theme-on-background) l c h / .15) inset;

        @include darkmode-counterpart {
            box-shadow: 1px 0 oklch(from var(--b3-theme-on-background) l c h / .15) inset;
        }

        @supports not (color: oklch(from red calc(l * 0.5) 0 h)) {
            box-shadow: 1px 0 pickThemeColor($theme-light, on-background, 0.15) inset;


            @include darkmode-counterpart {
                box-shadow: 1px 0 pickThemeColor($theme-dark, on-background, 0.15) inset;
            }
        }
    }

    // -> js

    &:hover li.b3-list-item--focus+ul,
    &:hover ul.has-focus {
        box-shadow: 1px 0 oklch(from var(--b3-theme-on-background) l c h / .3) inset;

        @include darkmode-counterpart {
            box-shadow: 1px 0 oklch(from var(--b3-theme-on-background) l c h / .3) inset;
        }

        @supports not (color: oklch(from red calc(l * 0.5) 0 h)) {
            box-shadow: 1px 0 pickThemeColor($theme-light, on-background, 0.3) inset;


            @include darkmode-counterpart {
                box-shadow: 1px 0 pickThemeColor($theme-dark, on-background, 0.3) inset;
            }
        }
    }

    // -> js

    &>ul {
        box-shadow: none !important;
    }
}