@use '../base' as *;

$thick-transparency: 0.85;
$thick-blur-rd: 40px;
$medium-transparency: 0.8;
$medium-blur-rd: 20px;
$thin-transparency: 0.75;
$thin-blur-rd: 12px;

body.asri-immersive-tabbar:not(.asri-disable-backdrop-blur) {

    // 以下breadcrumb 相关代码导致：
    // 1. 块拖动至页面顶部时无法触发自动滚动
    // 2. 页面块进度条（.protyle-scroll）无法自动定位；点击时跳转到块的位置，但溢出页面顶部

    --blur-block-height: 84px;

    .layout__wnd--active,
    [data-type="wnd"] {

        --blur-radius-main: 40px;

        &>.fn__flex:first-child {
            background-color: transparent;
            margin-bottom: -42px;
            z-index: 3;
        }

        // -> js

        :not(.av__views)>.layout-tab-bar {
            .item {
                // backdrop-filter: brightness(1) saturate(1);

                &--focus {
                    // background-color: transparent;
                    backdrop-filter: brightness(1) saturate(1.8);

                    @include darkmode-counterpart {
                        // background-color: #ffffff20;
                        backdrop-filter: brightness(1.2) saturate(1.8);
                    }
                }
            }
        }

        .layout-tab-container {
            &>.protyle[data-loading="finished"]::before {
                content: "";
                display: block;
                width: 100%;
                height: min(calc(var(--blur-radius-main) * 2 + var(--blur-block-height)), 100%);
                position: absolute;
                top: 0;
                z-index: 2;
                pointer-events: none;
                // mask-image: linear-gradient(to bottom,black 0, black var(--blur-block-height),transparent var(--blur-block-height));
            }

            :not(#searchPreview, .card__block)>.protyle-breadcrumb {
                padding-top: 42px;
                margin-bottom: calc(var(--blur-block-height) * -1);
                height: var(--blur-block-height);
                // @include theme-variant-color(background-color, background, $thick-transparency);
                z-index: 2;
            }

            .protyle[data-loading="finished"].fullscreen {
                &::before,
                &::after {
                    --blur-block-height: var(--toolbar-height);
                }
            }

            .fullscreen>.protyle-breadcrumb {
                height: var(--toolbar-height) !important;
                padding-top: 0 !important;
            }

            :not(#searchPreview)>.protyle-content {
                padding-top: var(--blur-block-height);
            }

            &>.file-tree .protyle-content {
                padding-top: 0 !important;
            }

            .block__icons.search {
                padding-top: 42px;
            }
        }

        // ————————————————————————————————————

        // pdf
        #outerContainer {
            #sidebarContainer {
                top: 84px;
            }

            .pdf__toolbar {
                #toolbarContainer {
                    padding-top: 42px;
                }
            }

            .findbar {
                top: 78px;
            }

            #viewerContainer {
                top: 84px;
                transition: none;
            }

        }
    }

    // two types of immersive tabbar
    &.asri-imsvtb-classic {

        .layout__wnd--active,
        [data-type="wnd"] {

            .layout-tab-container {
                &>.protyle[data-loading="finished"]::before {
                    mask-image: linear-gradient(to bottom, black 0, black calc(var(--blur-block-height) - 0.5px), transparent calc(var(--blur-block-height) + 1px));

                    @include bg-blur($brightness-dark: 0.95);
                }
            }

            :not(#searchPreview, .card__block)>.protyle-breadcrumb {
                background-color: rgb(from var(--b3-theme-background) r g b / $thick-transparency);
            }
        }
    }

    &.asri-imsvtb-trending {

        .layout__wnd--active,
        [data-type="wnd"] {

            :not(.av__views)>.layout-tab-bar {

                &:not(.layout-tab-bar--readonly) .item {
                    backdrop-filter: blur($medium-blur-rd);
                }

                .item {
                    &--focus {
                        // background-color: transparent;
                        backdrop-filter: blur($medium-blur-rd) brightness(1) saturate(1.8);

                        @include darkmode-counterpart {
                            // background-color: #ffffff20;
                            backdrop-filter: blur($medium-blur-rd) brightness(1) saturate(1.2);
                        }
                    }
                }
            }

            .layout-tab-container {
                &>.protyle[data-loading="finished"] {
                    &::before {
                        mask-image: linear-gradient(to bottom, black 0, black calc(var(--blur-block-height) - 25px), transparent calc(var(--blur-block-height) - 5px));

                        @include bg-blur($blur-radius: 5px, $saturate-value: 1, $brightness-light: 1, $brightness-dark: 1);
                    }

                    &::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: min(calc(var(--blur-radius-main) * 2 + var(--blur-block-height)), 100%);
                        position: absolute;
                        top: 0;
                        pointer-events: none;
                        // background: linear-gradient(to bottom, rgb(from var(--b3-theme-background) r g b / .6), transparent var(--blur-block-height));
                        backdrop-filter: blur(2px);
                        mask-image: linear-gradient(to bottom, black 0, black calc(var(--blur-block-height) - 15px), transparent calc(var(--blur-block-height) + 0px));
                    }

                    &.fullscreen::after {
                        background: unset;
                    }

                    .protyle-content::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: min(calc(var(--blur-block-height) + 40px), 100%);
                        // height: var(--blur-block-height);
                        z-index: 1;
                        pointer-events: none;

                        @include smoothGradientVar(var(--b3-theme-background), .85);
                    }
                }
            }

            :not(#searchPreview, .card__block)>.protyle-breadcrumb {
                // background: linear-gradient(to bottom, rgb(from var(--b3-theme-background) r g b / $thick-transparency), transparent);
                background-color: transparent;
                mix-blend-mode: luminosity;
                // mix-blend-mode: difference;

                // text-shadow: 0 0 10px var(--b3-theme-background);

                .protyle-breadcrumb__item {
                    overflow: auto;
                    // color: rgb(from var(--b3-theme-on-background) r g b / .85);

                    // svg {
                    //     color: rgb(from var(--b3-theme-on-background) r g b / .85);
                    // }

                    &:not(:first-child){
                        @include overflow-indicator-fadein-mask($range: 'left right');
                    }

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
                
                .protyle-breadcrumb__text,
                .popover__block {
                    // color: var(--b3-theme-on-background);
                    font-weight: 600;
                    overflow: visible;
                    filter: drop-shadow(0 0 4px var(--b3-theme-background));
                    // color: #fffa;
                }

                .block__icon,
                .protyle-breadcrumb__arrow {
                    filter: drop-shadow(0 0 4px var(--b3-theme-background));
                }
            }

            .protyle-background__icon,
            .img .protyle-action__drag {
                z-index: auto;
            }
        }
    }

    &:not(.body--mobile, .body--window)>#toolbar {
        z-index: 4;
    }

    .layout__resize {
        z-index: 3;
    }

    .av__row--header,
    .av__colsticky,
    .av__row--footer {
        z-index: 1;
    }

    &.body--window {
        --blur-block-height: 74px;
    }

    .layout__center {

        // 大纲、反链面板
        .file-tree,
        // 搜索面板
        .layout-tab-container>[data-timeout] {
            margin-top: 42px;
            min-height: calc(100% - 42px);
        }

        [data-key="dialog-opencard"] {
            padding-top: 42px;

            // >.card__main>.block__icons {
            //     background-color: var(--b3-theme-background);
            // }
        }
    }

    // 适配插件、挂件
    iframe[src="/widgets/Whiteboard/"] {
        margin-top: 48px;
    }

    .enhanceProtyleBottomContainer .protyle-content {
        padding-top: 0 !important;

        &::before {
            display: none;
        }
    }

    .backlinkArea.arco-collapse .backlinkAreaCollapse>.arco-collapse-item-header {
        z-index: 1;
    }
}