.asri-mode-transition {
    &,
    > :where(.fn__flex-1, [id], [data-key], .block__popover) * {
        transition-property: background-color, color, border-color;
        transition-duration: .5s;
        transition-delay: .1s;
        transition-timing-function: cubic-bezier(.2, 0, 0, 1);
    }

    #status {
        transition-duration: .5s !important;
    }
}