@use '../base' as *;
@use "sass:string";

$fadeout-size-s: 18px;
$fadeout-size-m: 32px;
$fadeout-size-l: 40px;
$fadeout-size-xl: 50px;

// .layout-tab-bar {
//     @include overflow-indicator-fadein-mask($fadeout-size-s, $range: 'left right');
// }

.file-tree:not(.sy__backlink) .block__icons~.fn__flex-1,
.sy__file>.b3-list>.fn__flex-1 {
    @include overflow-indicator-fadein-mask($fadeout-size-s, 'top');
}

.file-tree.sy__file .block__icons~.fn__flex-1 {
    @include overflow-indicator-fadein-mask($fadeout-size-s, 'top bottom');
}

.layout__dockb.layout--float .file-tree:not(.sy__backlink) .block__icons~.fn__flex-1 {
    @include overflow-indicator-fadein-mask($fadeout-size-s, 'top bottom');
}

// .file-tree.sy__backlink .backlinkList {
//     @include overflow-indicator-fadein-mask($fadeout-size-s, 'bottom');
// } //文字编辑工具条会被裁切

.layout__dockb {
    .file-tree:not(.sy__backlink) .block__icons~.fn__flex-1 {
        @include overflow-indicator-fadein-mask($fadeout-size-s, 'top');
    }
}

[data-name="bazaar"] .config-bazaar__panel {
    @include overflow-indicator-fadein-bgClr($fadeout-size-l, $range: 'top');

    &::before {
        top: 44px;
        z-index: 2;
    }
}

[data-name="AI"] .layout-tab-bar+.fn__flex-1,
.history__repo[data-type="repo"] .b3-list--background {
    @include overflow-indicator-fadein-bgClr($fadeout-size-m, $range: 'top');
}

// pdf 侧边导航
#thumbnailView,
#outlineView {
    @include overflow-indicator-fadein-bgClr($fadeout-size-m, $range: 'top');

    &::before {
        top: -10px;
    }
}

// 部分插件配置窗口，移动文档窗口
.b3-dialog__header:not(.fn__none)+.b3-dialog__body :where(.config__tab-container, .layout-tab-bar+.fn__flex-1){
    @include overflow-indicator-fadein-bgClr($fadeout-size-m, $range: 'top');
}

#foldTree {
    @include overflow-indicator-fadein-bgClr($fadeout-size-m, $range: 'top bottom');
}

body:not(.has-exportimg) // https://github.com/mustakshif/Asri/issues/106
.b3-dialog__header:not(.fn__none)+.b3-dialog__body .b3-dialog__content {
    @include overflow-indicator-fadein-bgClr($fadeout-size-m, $range: 'top bottom');
    
    &::before {
        top: -12px;
    }
    
    &::after {
        bottom: -12px;
    }
}

[data-key="dialog-snippets"] .b3-dialog__body>.fn__flex-1 {
    @include overflow-indicator-fadein-bgClr($fadeout-size-m, $range: 'top bottom');

    &::before {
        top: -16px;
    }
    
    &::after {
        bottom: -16px;
    }
}

[data-key="dialog-backgroundrandom"] .b3-dialog__body>.b3-cards {
    @include overflow-indicator-fadein-bgClr($fadeout-size-xl, $range: 'top');

    padding-top: 0;

    &::before {
        grid-column: 1/-1;
    }
}

// .b3-dialog .emojis__panel {
//     @include overflow-indicator-line;
//     // @include overflow-indicator-fadein-mask($fadeout-size-l, $range: 'top');

//     &::before {
//         width: calc(100% + 16px);
//         margin-left: -8px;
//         margin-right: -8px;
//     }
// }

body:not(.asri-imsvtb-trending) .protyle-breadcrumb__bar {
    @include overflow-indicator-fadein-mask($fadeout-size-s, $range: 'left right');
}

// body:not(.asri-immersive-tabbar) {
//     .protyle-content {
//         @include overflow-indicator-fadein-bgClr($fadeout-size-xxl, $range: 'top');

//         .protyle-background__icon {
//             z-index: auto;
//         }
//     }
// }

[data-key="dialog-exportimage"] .b3-dialog__content::before,
[data-key="dialog-replacetype"] .b3-dialog__content::before,
[data-key="dialog-searchtype"] .b3-dialog__content::before {
    display: none !important; // fix https://github.com/mustakshif/Asri/issues/80
}

[data-key="dialog-searchtype"] .b3-dialog__content::after {
    grid-column: 1 / -1;
}

[data-key="dialog-searchtype"] .b3-dialog__content,
[data-key="dialog-replacetype"] .b3-dialog__content {
    @include overflow-indicator-fadein-mask($fadeout-size-m, $range: 'top');
}

@keyframes maskAppear-bgClr {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}