@use '../base' as *;
@use "sass:string";

@property --mask-stop-start {
    syntax: '<length>';
    inherits: false;
    initial-value: 0px;
}

@property --mask-stop-end {
    syntax: '<length>';
    inherits: false;
    initial-value: 0px;
}

.file-tree:not(.sy__backlink) .block__icons~.fn__flex-1,
.sy__file>.b3-list>.fn__flex-1 {
    @include overflow-indicator-fadein-mask(18px, 'top');
}

.file-tree.sy__file .block__icons~.fn__flex-1 {
    @include overflow-indicator-fadein-mask(18px, 'top bottom');
}

.layout__dockb.layout--float .file-tree:not(.sy__backlink) .block__icons~.fn__flex-1 {
    @include overflow-indicator-fadein-mask(18px, 'top bottom');
}

// .file-tree.sy__backlink .backlinkList {
//     @include overflow-indicator-fadein-mask(18px, 'bottom');
// } //文字编辑工具条会被裁切

.layout__dockb {
    .file-tree:not(.sy__backlink) .block__icons~.fn__flex-1 {
        @include overflow-indicator-fadein-mask(18px, 'top');
    }
}

[data-name="bazaar"] .config-bazaar__panel {
    @include overflow-indicator-fadein-bgClr(40px, $range: 'top');

    &::before {
        top: 44px;
        z-index: 2;
    }
}

[data-name="AI"] .layout-tab-bar+.fn__flex-1,
.history__repo[data-type="repo"] .b3-list--background,
[data-key="dialog-snippets"] .b3-dialog__body>.fn__flex-1 {
    @include overflow-indicator-fadein-bgClr(20px, $range: 'top');
}

// pdf 侧边导航
#thumbnailView,
#outlineView {
    @include overflow-indicator-fadein-bgClr(20px, $range: 'top');

    &::before {
        top: -8px;
    }
}

// 部分插件配置窗口，移动文档窗口
.b3-dialog__header:not(.fn__none)+.b3-dialog__body :where(.config__tab-container, .layout-tab-bar+.fn__flex-1),
#foldTree {
    @include overflow-indicator-fadein-bgClr(20px, $range: 'top');
}

.b3-dialog__header:not(.fn__none)+.b3-dialog__body .b3-dialog__content {
    @include overflow-indicator-fadein-bgClr(20px, $range: 'top');

    &::before {
        top: -16px;
    }
}

[data-key="dialog-snippets"] .b3-dialog__body>.fn__flex-1 {

    &::before {
        top: -16px;
    }
}

[data-key="dialog-backgroundrandom"] .b3-dialog__body>.b3-cards {
    @include overflow-indicator-fadein-bgClr(50px, $range: 'top');

    padding-top: 0;

    &::before {
        grid-column: 1/-1;
    }
}

.b3-dialog .emojis__panel {
    @include overflow-indicator-line;

    &::before {
        width: calc(100% + 16px);
        margin-left: -8px;
        margin-right: -8px;
    }
}

.protyle-breadcrumb__bar {
    @include overflow-indicator-fadein-mask(18px, $range: 'left right');
}

// .protyle-content {
//     @include overflow-indicator-fadein-bgClr(40px, $range: 'top');
// }

[data-key="dialog-searchtype"] .b3-dialog__content {
    @include overflow-indicator-fadein-mask(20px, $range: 'top');
}

@keyframes maskAppear-bgClr {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}