:root[data-theme-mode='light'] {
    --b3-theme-primary: oklch(from var(--asri-sys-accent, rgb(52, 120, 246)) 68% c h);
    --b3-theme-primary-light: color-mix(in srgb, var(--b3-theme-primary), #0000 44%);
    --b3-theme-primary-lighter: color-mix(in srgb, var(--b3-theme-primary), #0000 62%);
    --b3-theme-primary-lightest: color-mix(in srgb, var(--b3-theme-primary), #0000 80%);
    --b3-theme-accent: var(--asri-sys-accessible-accent-light);
    --b3-menu-item-background-hover: oklch(from var(--asri-sys-accent, rgb(52, 120, 246)) 60% c h / 0.8);
}

:root[data-theme-mode='dark'] {
    --b3-theme-primary: oklch(from var(--asri-sys-accent, rgb(17, 139, 255)) 65% c h);
    --b3-theme-primary-light: color-mix(in srgb, var(--b3-theme-primary), #0000 44%);
    --b3-theme-primary-lighter: color-mix(in srgb, var(--b3-theme-primary), #0000 62%);
    --b3-theme-primary-lightest: color-mix(in srgb, var(--b3-theme-primary), #0000 80%);
    --b3-theme-accent: var(--asri-sys-accessible-accent-dark);
    --b3-menu-item-background-hover: oklch(from var(--asri-sys-accent, rgb(52, 120, 246)) 58% c h / 0.8);
}