@use '../base' as *;
@use './utils' as *;

.b3-menu,
.b3-menu__submenu {
    @include menu-shadow($opacity-light: .15);

    @include theme-variant-border($border: false) {
        // outline: #fff4 solid 1px;
        // outline-offset: -1px;
    }

    &:not(#searchHistoryListm, #findbar, .pdf__util)::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        // background-position: center top;
        // background-size: cover;
        // background-attachment: fixed;
        border-radius: 10px;
    }

    &::before {
        box-shadow: 0 0 0 1px #fff2 inset, 0 2px 1px -1px #fff2 inset;
    }

    border-radius: $border-rd-menu;
    padding: 0;
    // animation: menu-pop-up .5s var(--asri-ease-spring-3);

    // @keyframes menu-pop-up {
    //     0%,100% {
    //         transform: none;
    //     }

    //     3% {
    //         transform: scale(1.02);
    //     }
    // }

    .b3-menu__items {
        padding: 5px;

        .b3-menu__item {
            // padding: 0 8px; //用默认主题样式
            background-color: transparent;
            line-height: 24px;
            border-radius: 5px;
            align-items: center;

            &:first-child {
                margin-top: .5px;
            }

            &:last-child {
                margin-bottom: .5px;
            }

            &:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom, .b3-menu__item--disabled):not([disabled]):not([data-type="nobg"]),
            &--current:not(.b3-menu__item--readonly, .b3-menu__item--disabled):not([disabled]):not([data-type="nobg"]) {
                background-color: var(--b3-menu-item-background-hover);
                color: var(--b3-menu-item-background-hover-text);

                >.b3-menu__icon,
                >.b3-menu__label>.b3-menu__icon {
                    color: var(--b3-menu-item-background-hover-text) !important;
                }

                >.b3-menu__accelerator,
                >.b3-menu__label>.ft__on-surface {
                    color: var(--b3-menu-item-background-hover-text);
                    opacity: 0.8;
                }

                >.b3-menu__label>.b3-tooltips .b3-slider {
                    &::-webkit-slider-runnable-track {
                        background-color: #fff4;
                    }
                }

                >:where(.b3-menu__action, .b3-menu__checked) {
                    color: var(--b3-theme-on-primary);
                    opacity: .8;

                    &:hover {
                        opacity: 1;
                        color: inherit;
                        background-color: transparent;
                    }
                }

                .b3-text-field {
                    background-color: var(--b3-menu-background);
                }
            }

            &.b3-menu__item--custom.b3-menu__item--current:not(.b3-menu__item--disabled) {
                >.b3-menu__label>div>.b3-menu__icon {
                    color: var(--b3-menu-item-background-hover-text);
                }
            }

            >.b3-menu__label>.fn__flex {
                margin: 2px 0 !important;
            }

            // &--show:not(.b3-menu__item--readonly):not([disabled]):not(.b3-menu__item--current) {
            //     background-color:
            //         grayscale(pickThemeColor($theme-light, menu-item-hv-background));

            //     @include darkmode-counterpart {
            //         background-color:
            //             grayscale(pickThemeColor($theme-dark, menu-item-hv-background, 0.5));
            //     }
            // }
            // 会闪烁
        }

        .b3-menu__icon {
            color: var(--b3-theme-on-surface);
            font-family: var(--b3-font-family-emoji);
            font-size: 15px;
        }

        .b3-menu__item--selected {
            // &.b3-menu__item--current > .b3-menu__label {
            //     text-decoration: underline;
            // }

            svg {
                color: inherit;
            }
        }
    }
}

.b3-menu {

    // @include bouncy-scaling-animation;

    // &::before {
    // animation: solid2trans .5s $timing-function-accelerate;

    //     @keyframes solid2trans {
    //         0%, 50% {
    //             background-color: var(--b3-menu-background);
    //         }
    //         to {
    //             background-color: transparent;
    //         }
    //     }
    // }

    &__submenu {
        max-height: none;
    }

    &__accelerator {
        font-family: var(--b3-font-family);
        opacity: .6;
    }

    &__separator {
        background-color: var(--b3-border-color-trans);
    }
}

// pdf
.toolbarButton.toggled,
.secondaryToolbarButton.toggled {
    svg {
        color: inherit !important;
    }
}

.b3-list mark {
    background-color: transparent;
}

// '/'菜单
.protyle-hint {
    --b3-border-radius-b: 12px;
    @include menu-shadow;

    @include theme-variant-border($border: true);

    padding: 0;
    background-color: var(--b3-menu-background);

    transform-origin: top left;
    animation: scaleBounce .5s var(--asri-ease-spring-3);

    @keyframes scaleBounce {

        // fix location bug
        0%,
        5% {
            opacity: 0;
            transform: none;
        }

        5% {
            opacity: 0;
            transform: scale(0.98);
        }

        // 70% {
        //     opacity: 1;
        //     transform: scale(1.002);
        // }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    &.hint--menu {

        .color__square {
            width: 20px;
            height: 20px;
        }

        @media screen and (min-width: 1292px) {

            width: 75vw;
            max-width: calc(12em * 7);
            max-height: 65vh;

            &>div {
                // column-count: 5;
                column-width: 12em;
                column-gap: 4px;
                column-rule: 1px solid var(--b3-border-color-trans);

                .b3-list-item {
                    .b3-list-item__text {
                        width: max-content;
                        margin-right: 4px;
                    }
                }

                button:nth-child(-n + 3 of .b3-menu__separator),
                button:nth-child(5 of .b3-menu__separator) {
                    break-before: column;
                    margin-bottom: -5px;
                    background-color: transparent
                }
            }

            &>.emojis {
                min-width: 100%;
            }

            // https://github.com/mustakshif/Asri/issues/30
        }
    }

    &>div {
        padding: 4px 0;

        .b3-list-item {
            width: calc(100% - 12px) !important;

            &--focus:not(:hover) {
                background-color: var(--b3-theme-primary-lightest);
            }
        }
    }

    .b3-list-item {
        &__graphic {
            color: var(--b3-theme-on-surface);
        }

        &:hover .b3-list-item__graphic {
            color: var(--b3-theme-on-background);
        }
    }

    // 引用、嵌入块菜单
    .b3-list-item--first,
    .b3-list-item--two {
        .b3-list-item__text {
            font-weight: 500;

            >mark {
                color: var(--b3-theme-primary);
                background-color: transparent;
            }
        }
    }

    .b3-list-item--two .b3-list-item__meta.b3-list-item__showall:not(:first-child) {
        padding: 4px 4px 4px 22px;
        width: fit-content;
        border-radius: 4px;
        word-break: normal;
        opacity: 0.8;
    }

    .b3-list-item--two .b3-list-item__meta {
        padding: 4px 3px;

        mark {
            color: var(--b3-theme-primary);
            background-color: transparent;
        }
    }

    // emojis
    .emojis {
        .fn__flex:last-child {
            display: none;
        }

        &__panel {
            padding-bottom: 8px;
        }
    }

    .color__square {
        box-shadow: none;
    }
}

.protyle-util {
    background-color: var(--b3-menu-background);
    padding: 0;
    border-radius: 12px;
    animation: scaleBounce .5s var(--asri-ease-spring-3);

    @include menu-shadow;

    @include theme-variant-border($border: true);

    .block__icons {
        .resize__move {
            font-weight: 600;
        }
    }

    .block__icons,
    textarea {
        background-color: transparent;
    }

    textarea {
        resize: both;
    }

    .protyle-font {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

// emoji 面板
[data-key="dialog-emojis"] {

    --b3-border-radius-b: 14px;

    .b3-dialog__scrim {
        backdrop-filter: none;
        transition: none;

        @include darkmode-counterpart {
            backdrop-filter: none;
            transition: none;
        }
    }

    .b3-dialog__container {
        outline: 1px solid rgb(map-get($theme-light, on-background), 0.1);
        background-color: var(--b3-menu-background);
        outline-offset: 0;
        // @include theme-variant-border($border: false) {
        //     outline: #fff4 solid 1px;
        //     outline-offset: -1px;
        // }

        .b3-dialog__body {
            border-radius: 11px;
            z-index: 0;
        }
    }
}

.emojis {
    padding: 0;

    // .fn__flex:first-child {
    //     // margin: 8px 0;
    //     padding: 8px 0;

    //     // 搜索框
    //     span.fn__space+.b3-form__icon {
    //         overflow: visible;
    //     }
    // }

    &__tabheader {
        padding-top: 8px;
        border-color: var(--b3-border-color-trans);
    }

    &__tabbody {
        [data-type="tab-emoji"] {
            >.fn__hr {
                display: none;
            }

            >.fn__flex:nth-child(2) {
                // position: absolute;
                // top: 6px;
                // margin-inline-start: 64px;
                // margin-inline-end: 30px;
                // width: -webkit-fill-available;

                margin: 8px 0 2px;
            }
        }
    }

    &__panel {
        padding: 0 8px;

        .emojis__content {
            display: grid;
            flex-wrap: wrap;
            grid-template-columns: repeat(auto-fill, minmax(36px, 4fr));
            gap: 6px;
            min-height: unset !important;

            .emojis__item {
                padding: 0;
                font-size: 28px;
                height: 36px;
                width: 36px; // https://github.com/mustakshif/Asri/issues/153

                &--current {
                    background-color: transparent;
                }

                &:hover {
                    background: transparent;
                    transform: scale(1.35);
                    transition: transform .7s var(--asri-ease-spring-4);
                    transform-origin: 50% 82.5%;
                }
            }
        }
    }

    // 保证自定义表情为空时正常显示
    &__title[data-type="1"] {
        +.emojis__content>div:only-child {
            grid-column: 1 / -1;
        }
    }

    &__panel+.fn__flex {
        border-top: 1px solid var(--b3-border-color-trans);
        font-family: var(--b3-font-family-emoji);

        .emojis__type {
            padding: 4px 0;
            filter: saturate(0.1) opacity(0.6);

            &:hover {
                filter: none;
                background-color: transparent;
            }
        }
    }

    &__item {
        border-radius: unset;
    }

    &__item img,
    &__item svg {
        height: 28px;
        width: 28px;
        margin: 0 auto;
    }

    // 自定义表情内容
}


#searchHistoryList {
    background-color: var(--b3-menu-background);
    overflow: auto;
}

#commonMenu {
    &[data-name='search-history'] {
        .b3-menu__items {
            max-height: calc(70vh - 10px);
        }
    }

    // 资源面板
    &[data-name="background-asset"] {
        .b3-menu__items {
            padding: 0;

            .b3-menu__item--custom {
                margin: 0;
                padding: 0;

                .b3-menu__label>.fn__flex {
                    margin: 0 !important;

                    .fn__flex-column {

                        // 搜索框
                        >.fn__flex:first-child {
                            margin: 8px !important;
                        }

                        // 列表
                        .b3-list {
                            padding-bottom: 8px;
                        }
                    }
                }
            }
        }

        #preview {
            >* {
                border-radius: 4px;
            }
        }
    }
}