@use '../base' as *;

.protyle-breadcrumb {
    height: 42px;
    color: var(--b3-theme-on-surface);

    // alt+Y 全屏视图
    .fullscreen>& {
        height: var(--toolbar-height);
        padding-right: 10px;

        >.protyle-breadcrumb__space:hover{
            background-color: transparent;
        }

        body.body--win32:not(.hadeeth-pin-toolbar) & {
            // -> js
            
            padding-right: 10px;
            // 默认会给窗口控制留空间，为108px
        }
    }

    // 以下代码影响页面滚动性能
    // ————————————————————————————————————————
    // border-bottom: 1px solid var(--b3-border-color);
    // transition: 0.2s border-bottom;

    // // 页面滚动时才显示下边界，借鉴 @TinkMingKing 的 VSCode Lite 主题 
    // .protyle:has(.protyle-content[data-scrolltop="0"], .protyle-content:not([data-scrolltop])) & {
    //     border-bottom: 1px solid transparent;
    //     transition: 0.2s border-bottom;
    // }
    // end ——————————————————————————————————

    &__item {
        // &:first-child {
        //     padding: 0;
        // }

        // &:last-child {
        //     .protyle-breadcrumb__text {
        //         max-width: 21rem;
        //     }
        // }

        svg {
            // outline: 2px solid var(--b3-theme-primary);
            border-radius: 3px;
            padding: 3px;
            width: 12px;
            height: 12px;
        }

        &:not(&--active):hover {
            svg {
                color: var(--b3-theme-on-background);
            }
        }

        &--active {
            background-color: transparent;
            

            &:hover {
                background-color: var(--b3-list-hover);
            }

            &:not(:first-child) {
                svg {
                    background-color: var(--b3-theme-primary);
                    color: var(--b3-theme-on-primary);
                }
            }
        }
    }

    // 退出聚焦按钮
    & &__icon {
        @include button-primary;
        padding: 0 8px;
    }
}

// 覆盖 webview 插件
.layout__center .layout-tab-container .fn__flex-column > .protyle-breadcrumb {
    height: 42px;

    .address-field {
        margin: 8px 4px;
    }
}