@use '../base' as *;

.b3-dialog--open {
    .b3-dialog {
        &.emojis-container {
            .b3-dialog__scrim {
                backdrop-filter: none;
                transition: none;

                @include darkmode-counterpart {
                    backdrop-filter: none;
                    transition: none;
                }
            }
        }

        // -> js

        .b3-dialog__container {
            // overflow: hidden; // 导致搜索窗口上部溢出
            background-color: var(--b3-theme-background);

            @include border-or-not;
            @include dialog-shadow;

            .b3-dialog__close {
                visibility: hidden;
            }

            .b3-dialog__body {
                border-radius: 12px;
            }

            // 设置面板 ————————————————————————————————
            .config__panel {
                .b3-tab-bar {
                    background-color: var(--b3-theme-surface);
                    padding: 16px 8px;

                    .b3-list-item {
                        height: 32px;
                        line-height: 30px;
                        margin: 4px 8px;

                        &:hover:not(.b3-list-item--focus) {
                            background-color: transparent;

                            .b3-list-item__graphic,
                            .b3-list-item__text {
                                color: var(--b3-theme-on-background);
                            }
                        }

                        &__graphic,
                        &__text {
                            color: var(--b3-theme-on-surface);
                        }

                        &--focus {

                            .b3-list-item__graphic,
                            .b3-list-item__text {
                                color: var(--b3-theme-on-background);
                                font-weight: 600;
                            }
                        }
                    }
                }

                .config__tab-wrap {
                    padding: 0;

                    .config__tab-container {
                        padding: 8px 0;
                        background-color: var(--b3-theme-background);

                        &--top {
                            margin-top: 0;
                            height: 100%;
                            padding: 8px 0 0;
                        }

                        .b3-label {
                            box-shadow: none;

                            // 表单元素溢出显示
                            >.fn__flex-1 {
                                overflow: visible;
                            }
                        }

                        .bazaarPanel {
                            padding-bottom: 8px;

                            .fn__hr--b {
                                height: 4px;

                                +.fn__flex:nth-child(2) {
                                    position: sticky;
                                    top: 4px;
                                    z-index: 2;

                                    &::before {
                                        content: '';
                                        background-color: var(--b3-theme-background);
                                        width: 100%;
                                        height: 40px;
                                        display: block;
                                        position: absolute;
                                        top: -4px;
                                        z-index: -1;
                                    }
                                }
                            }

                            .counter {
                                background-color: transparent !important;
                            }

                            &[data-type='downloaded'] {
                                .b3-button {
                                    @include button-action(1) {
                                        padding: 4px;
                                    }

                                    &:not(.b3-button--outline) {
                                        background-color: transparent;
                                        color: var(--b3-theme-primary);
                                        font-weight: 600;

                                        &:hover,
                                        &:focus {
                                            box-shadow: none;
                                        }
                                    }

                                    &.b3-button--outline {
                                        background-color: transparent;
                                        color: var(--b3-theme-on-surface);
                                        font-weight: normal;

                                        &:hover {
                                            color: var(--b3-theme-on-background);
                                            box-shadow: none;
                                        }
                                    }

                                    &+.fn__space+.b3-form__icon {
                                        margin-left: 8px;
                                    }
                                }
                            }

                            #configBazaarDownloaded {
                                padding: 0 0 16px 0;

                                .b3-card {
                                    margin: 20px;
                                }
                            }

                            div[id*=configBazaar] {
                                width: 100%;
                                // 网格布局要求父容器的宽度不固定

                                .b3-cards {
                                    display: grid;
                                    grid-template-columns: repeat(auto-fill, minmax(342px, 1fr));
                                    gap: 20px;
                                    margin: 20px;
                                }

                                .b3-card {
                                    transition-duration: 0.2s;
                                    border-radius: $border-rd-card;
                                    background-color: var(--b3-theme-background);
                                    outline: 1.5px solid var(--b3-border-color);
                                    border: none;
                                    @include menu-shadow($initialized: true);
                                    margin: 0;

                                    &--current {
                                        outline: 3px solid var(--b3-theme-primary-lighter);

                                        @include darkmode-counterpart {
                                            outline-color: var(--b3-theme-primary-light);
                                        }
                                    }

                                    &__info {
                                        font-weight: 500;
                                        >* {
                                            font-weight: normal;
                                        }
                                    }

                                    &__desc {
                                        word-break: initial;
                                    }

                                    &:hover {
                                        transform: scale(1.01);
                                        outline: 2px solid var(--b3-theme-primary-light);
                                        z-index: 1;

                                        @include menu-shadow(map-get($theme-light, primary), map-get($theme-dark, primary));

                                        @include darkmode-counterpart {
                                            outline: 2px solid var(--b3-theme-primary);
                                        }
                                    }
                                }
                            }
                        }

                        .config-bazaar__readme {
                            transition: transform $timing-function-accelerate 0.2s, filter linear 0.2s;
                            opacity: 1;
                            z-index: 2;
                            padding: 0;

                            // transform: scale(1.08);
                            // right: 0;
                            // opacity: 0;
                            // pointer-events: none;
                            // transition: opacity $timing-function-decelerate 0.2s, transform 0.3s, filter $timing-function-decelerate 0.3s;

                            .item__side {
                                padding: 16px;
                                background-color: var(--b3-theme-surface);

                                .item__title {
                                    font-weight: 600;
                                    word-break: normal;
                                }

                                .b3-button {
                                    @include button-primary;

                                    margin-top: 12px;

                                    &--progress>span {
                                        border-radius: 99px;
                                    }
                                }
                            }

                            .item__main {
                                margin-left: 0;
                                padding: 0;
                                background-color: var(--b3-theme-background);


                                .item__preview {
                                    border-radius: 0;
                                }

                                .b3-typography {
                                    padding: 0 32px;

                                    .bq {
                                        border: none;
                                        padding: 0;
                                        background-color: transparent;
                                        font-weight: 600;
                                        margin: 0;
                                        font-size: 120%;
                                        opacity: 0.8;
                                    }

                                    &.item__readme {
                                        padding-bottom: 32px;

                                        @for $i from 1 through 6 {
                                            >h#{$i}:first-child {
                                                margin-top: 0;
                                            }
                                        }
                                    }
                                }
                            }

                            &--show {
                                transition: transform $timing-function-decelerate 0.3s, filter linear 0.3s 0.1s;

                                // transform: none;
                                // opacity: 1;
                                // pointer-events: all;
                            }
                        }

                        &[data-name="account"] {
                            padding: 0;

                            .config-account {
                                &__avatar {
                                    box-shadow: none;
                                    border: none;
                                }

                                &__name {
                                    bottom: -72px;

                                    &>.fn__a {
                                        display: block;
                                    }
                                }

                                .b3-button--text {
                                    @include button-action('primary');
                                }

                                .b3-button--cancel {
                                    @include button-action('normal');
                                }
                            }
                        }
                    }

                    &>.fn__hr--b {
                        display: none;
                    }
                }

                .config-keymap__key {
                    font-family: SF Pro, Consolas, "Liberation Mono", Menlo, Courier, monospace, var(--b3-font-family);
                }
            }

            // 数据历史 ————————————————————————————————————————
            .history__panel {

                &>.b3-list,
                &>.history__diff {
                    width: min(256px, 30%);
                    min-width: fit-content;
                    background-color: var(--b3-theme-surface);
                }
            }
        }

        // 对话框底部按钮区域 ——————————————————————————————
        &__action {
            padding: 8px 24px;

            .b3-button {
                &--cancel {
                    @include button-action('normal');
                }

                &--text {
                    @include button-action('primary');
                }

                &--error {
                    @include button-action('danger');
                }
            }
        }
    }

    // 搜索 ————————————————————————————————————
    &[data-key="⌘P"] {
        .b3-dialog__container {
            .b3-dialog__body {
                .search__layout {
                    #searchList {
                        background-color: var(--b3-theme-surface);
                    }
                }

                .search__tip {
                    padding: 4px 8px;
                    margin: 0;
                    color: var(--b3-theme-on-surface);
                }
            }
        }
    }

    .search__tip kbd {
        font-family: SF Pro, Consolas, "Liberation Mono", Menlo, Courier, var(--b3-font-family);
    }

    // 对话框中的 tab-bar ——————————————————————————————
    .layout-tab-bar {
        margin: 8px auto 8px;
        border-radius: 8px !important;
        background-color: var(--b3-list-hover);
        padding: 2px;
        height: 32px;

        .item {
            border-radius: 6px !important;
            background-color: transparent;
            transition: none !important;
            padding: 2px 12px;

            &:hover:not(.item--focus) {
                background-color: transparent !important;

                .item__text {
                    color: var(--b3-theme-on-background) !important;
                }
            }

            &--focus {
                max-width: unset;
                box-shadow: 0 1px 4px -1px #0003;
                animation: none;

                @include darkmode-counterpart {
                    box-shadow: 0 1px 0 0 inset rgba(255, 255, 255, 0.1), 0 1px 4px -1px #0003;
                }

                @include theme-variant-color(background-color, light-components, 1, 0.2);

                .item__text {
                    color: var(--b3-theme-on-background);
                }
            }
        }

        .item:not(.item--focus, .fn__none)+.item:not(.item--focus):not(:first-child)::before {
            content: "";
            position: absolute;
            display: block;
            width: 2px;
            height: 1.3em;
            left: -4px;
            border-radius: 9px;

            @include theme-variant-color(background-color, list-hover, 0.08);
        }
    }
}

.b3-dialog__scrim {
    background-color: #80808080;
    backdrop-filter: saturate(0.5);
    transition: opacity 250ms 0s, backdrop-filter 300ms 0s;

    @include darkmode-counterpart {
        background-color: #00000080;
        backdrop-filter: saturate(0);
    }
}

// 弹出动画
.b3-dialog__container {
    transform: translateY(-40px);
    transition: opacity 150ms linear 0s, transform 300ms $timing-function-decelerate;
}

// 搜索通用
#searchInput,
#searchAssetInput,
#replaceInput {
    background-color: transparent;
}

#criteria {
    .b3-button {
        @include button-action('primary') {
            background-color: transparent;
            padding: 2px 8px;
            box-shadow: none;
        }
    }
}

// 随机题头图列表
.b3-dialog__body {
    position: relative;
    z-index: 0;

    &>.b3-cards {
        grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
        margin: 0;
        padding: 32px;
        gap: 32px;
        display: grid;

        .b3-card {
            width: auto !important;
            margin: 0;
            border-radius: $border-rd-card;
            padding: 0;
            box-shadow: none;
            top: 0;
            // transform: scale(0.9);

            &:hover {
                transform: scale(1.05);
                // box-shadow: 0 4px 18px -8px #0000001b;
                animation: card-hover 0.3s;
                @include menu-shadow;

                @keyframes card-hover {
                    50% {
                        filter: brightness(1.1);
                    }

                    100% {
                        filter: none;
                    }
                }

                @include darkmode-counterpart {
                    box-shadow: 0 8px 28px -8px #00000062;
                }
            }
        }
    }
}

// 弹出窗口 ——————————————————————————————————————
.block__popover {
    @include dialog-shadow;
    @include border-or-not;

    .block__icons {
        .block__icon {
            &:hover:not([disabled]):not(.ft__primary) {
                background-color: transparent;
            }

            &--active {
                color: var(--b3-theme-primary);
                background-color: transparent;

                &:hover:not([disabled]):not(.ft__primary) {
                    color: var(--b3-theme-primary);
                }
            }
        }
    }
}


// 浮窗 ————————————————————————————————————————
.protyle-util {
    @include dialog-shadow;
    @include border-or-not;

    textarea {
        resize: both;
    }
}




//导出窗口 ——————————————————————————

#aciton {
    .b3-button--cancel {
        @include button-action('normal');
    }

    .b3-button--text {
        @include button-action('primary');
    }
}


// 新窗口 ————————————————————————
body.body--window {
    .toolbar__window {
        .toolbar__item {
            app-region: no-drag;
            color: var(--b3-theme-on-surface);

            &:hover {
                color: var(--b3-theme-on-background);
            }

            &--active {
                color: var(--b3-theme-primary);

                &:hover {
                    color: var(--b3-theme-primary);
                }
            }
        }
    }

    // &.body--mac {
    //     .fn__flex:first-child>[data-type="wnd"] {
    //         .layout-tab-bar:not(.layout-tab-bar--readonly) {
    //             margin-left: var(--b3-toolbar-left-mac);
    //         }
    //     }
    // } // -> js 

    #status {
        right: 8px !important;
        padding-right: 0;
    }
}

// 图片预览 ——————————————————————
.viewer-backdrop {
    @extend .b3-dialog__scrim;
    @include bg-blur($saturate-value: 1);
    backdrop-filter: blur(40px);
    animation: fadeIn 0.3s;
    transform-origin: var(--mouseX) var(--mouseY);

    animation-timing-function: $timing-function-decelerate;

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(0.1);
        }

        to {
            opacity: 1;
            transform: none;
        }
    }

}

.viewer-title {
    padding: 4px 8px;
    background-color: var(--b3-theme-surface);
    border-radius: 99px;
}



// 闪卡复习 ————————————————————————————————————
.card__main {
    .card__action {
        >div {
            margin: 0 12px 8px;
        }

        .b3-button {
            font-weight: 600;
            border-radius: $border-rd-card;
            transition: 0.2s;

            &:hover {
                transform: scale(1.05);
            }

            &:active {
                transform: scale(0.95);
                opacity: 0.8;
                box-shadow: none;
            }

            &:focus {
                box-shadow: none;
            }

            $button-colors: (
                (map-get($theme-light, card-error), map-get($theme-dark, card-error)),
                (map-get($theme-light, card-warning), map-get($theme-dark, card-warning)),
                (map-get($theme-light, card-info), map-get($theme-dark, card-info)),
                (map-get($theme-light, card-success), map-get($theme-dark, card-success))
            );

            @for $i from 1 through 4 {
            &[data-type="#{$i}"]:hover {
                @include menu-shadow(nth($button-colors, $i)..., $opacity-dark: 0.2)
            }
            }

            // 显示答案按钮、(p)按钮 
            &[data-type="-1"], &[data-type="-2"] {
                &:hover {
                    transform: none;
                    box-shadow: none;
                }

                &:active {
                    transform: scale(0.9)
                }
            }

            // 跳过按钮
            &[data-type="-3"]:hover {
                background-color: var(--b3-list-hover);
            }
        }
    }
}