.b3-menu,
.b3-menu__submenu {
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.05), 0px 13px 19px -2px rgba(0, 0, 0, 0.1), 0px 30px 50px -20px rgba(0, 0, 0, 0.08), 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 10px;
  padding: 0;
}
html[data-theme-mode=dark] .b3-menu,
html[data-theme-mode=dark] .b3-menu__submenu {
  box-shadow: 0 0 0 0.5px black, 0px 13px 19px -7px rgba(0, 0, 0, 0.3), 0px 30px 50px -20px rgba(0, 0, 0, 0.3), 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
html[data-theme-mode=dark] .b3-menu,
html[data-theme-mode=dark] .b3-menu__submenu {
  border: 1px solid var(--b3-border-color);
}
.b3-menu .b3-menu__items,
.b3-menu__submenu .b3-menu__items {
  padding: 5px;
}
.b3-menu .b3-menu__items .b3-menu__item,
.b3-menu__submenu .b3-menu__items .b3-menu__item {
  padding: 0 8px;
  background-color: transparent;
  line-height: 24px;
  border-radius: 5px;
}
.b3-menu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom):not([disabled]), .b3-menu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]),
.b3-menu__submenu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom):not([disabled]),
.b3-menu__submenu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) {
  background-color: var(--b3-menu-item-background-hover);
  color: var(--b3-menu-item-background-hover-text);
}
.b3-menu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom):not([disabled]) > .b3-menu__icon, .b3-menu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom):not([disabled]) > .b3-menu__accelerator, .b3-menu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__icon, .b3-menu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__accelerator,
.b3-menu .b3-menu__submenu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__accelerator,
.b3-menu__submenu .b3-menu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__accelerator,
.b3-menu__submenu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom):not([disabled]) > .b3-menu__icon,
.b3-menu__submenu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom):not([disabled]) > .b3-menu__accelerator,
.b3-menu__submenu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__icon,
.b3-menu__submenu .b3-menu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__accelerator,
.b3-menu .b3-menu__submenu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__accelerator,
.b3-menu__submenu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__accelerator {
  color: var(--b3-menu-item-background-hover-text) !important;
}
.b3-menu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom):not([disabled]) > .b3-menu__accelerator, .b3-menu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__accelerator,
.b3-menu__submenu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom):not([disabled]) > .b3-menu__accelerator,
.b3-menu__submenu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__accelerator {
  opacity: 0.8;
}
.b3-menu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom):not([disabled]) > .b3-menu__label > .b3-tooltips .b3-slider::-webkit-slider-runnable-track, .b3-menu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__label > .b3-tooltips .b3-slider::-webkit-slider-runnable-track,
.b3-menu__submenu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom):not([disabled]) > .b3-menu__label > .b3-tooltips .b3-slider::-webkit-slider-runnable-track,
.b3-menu__submenu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__label > .b3-tooltips .b3-slider::-webkit-slider-runnable-track {
  background-color: rgba(255, 255, 255, 0.2666666667);
}
.b3-menu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom):not([disabled]) > .b3-menu__action, .b3-menu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__action,
.b3-menu__submenu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom):not([disabled]) > .b3-menu__action,
.b3-menu__submenu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__action {
  color: var(--b3-theme-on-primary);
}
.b3-menu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom):not([disabled]) > .b3-menu__action:hover, .b3-menu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__action:hover,
.b3-menu__submenu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom):not([disabled]) > .b3-menu__action:hover,
.b3-menu__submenu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__action:hover {
  opacity: 1;
}
.b3-menu .b3-menu__items .b3-menu__icon, .b3-menu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom):not([disabled]) > .b3-menu__accelerator, .b3-menu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__accelerator,
.b3-menu .b3-menu__submenu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__accelerator,
.b3-menu__submenu .b3-menu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__accelerator,
.b3-menu__submenu .b3-menu__items .b3-menu__icon,
.b3-menu__submenu .b3-menu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__accelerator,
.b3-menu .b3-menu__submenu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__accelerator,
.b3-menu__submenu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom):not([disabled]) > .b3-menu__accelerator,
.b3-menu__submenu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly):not([disabled]) > .b3-menu__accelerator {
  color: var(--b3-theme-on-surface);
}
.b3-menu .b3-menu__items .b3-menu__separator,
.b3-menu__submenu .b3-menu__items .b3-menu__separator {
  background-color: var(--b3-border-color-trans);
}

.b3-menu__submenu {
  max-height: none;
}

.b3-menu__accelerator {
  font-family: var(--b3-font-family);
}

.protyle-hint {
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.05), 0px 13px 19px -2px rgba(0, 0, 0, 0.1), 0px 30px 50px -20px rgba(0, 0, 0, 0.08), 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  border: none;
  padding: 0;
  background-color: var(--b3-menu-background);
}
html[data-theme-mode=dark] .protyle-hint {
  box-shadow: 0 0 0 0.5px black, 0px 13px 19px -7px rgba(0, 0, 0, 0.3), 0px 30px 50px -20px rgba(0, 0, 0, 0.3), 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
html[data-theme-mode=dark] .protyle-hint {
  border: 1px solid var(--b3-border-color);
}
.protyle-hint > div {
  padding: 4px 0;
}
.protyle-hint > div .b3-list-item--focus:not(:hover) {
  background-color: var(--b3-theme-primary-lightest);
}
.protyle-hint .b3-list-item__graphic {
  color: var(--b3-theme-on-surface);
}
.protyle-hint .b3-list-item:hover .b3-list-item__graphic {
  color: var(--b3-theme-on-background);
}
.protyle-hint .b3-list-item--two .b3-list-item__meta.b3-list-item__showall:not(:first-child) {
  background-color: rgba(0, 0, 0, 0.0549019608);
  padding: 4px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
}
.protyle-hint .emojis .fn__flex:last-child {
  display: none;
}
.protyle-hint .emojis__panel {
  padding-bottom: 8px;
}

.protyle-util {
  background-color: var(--b3-menu-background);
  padding: 8px 0 0;
}

.emojis {
  padding: 0;
}
.emojis .fn__flex:first-child {
  margin: 8px 0;
}
.emojis .fn__flex:first-child span.fn__space + .b3-form__icon {
  overflow: visible;
}
.emojis__panel {
  padding: 0 8px;
}
.emojis__panel .emojis__content:not([style="min-height:28px"]) {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(36px, 4fr));
  gap: 6px;
}
.emojis__panel .emojis__content:not([style="min-height:28px"]) .emojis__item {
  padding: 0;
  font-size: 28px;
  height: 36px;
}
.emojis__panel .emojis__content:not([style="min-height:28px"]) .emojis__item:hover {
  background: transparent;
  transform: scale(1.3) translateY(-2px);
  transition: transform 0.3s cubic-bezier(0.12, 0, 0.05, 2.5);
  animation: lighten 0.3s ease-in-out;
}
@keyframes lighten {
  0% {
    filter: brightness(1);
  }
  60% {
    filter: brightness(1.15);
  }
  100% {
    filter: brightness(1);
  }
}
.emojis__panel + .fn__flex {
  border-top: 1px solid var(--b3-border-color);
}
.emojis__panel + .fn__flex .emojis__type {
  padding: 4px 0;
  filter: saturate(0.1) opacity(0.6);
}
.emojis__panel + .fn__flex .emojis__type:hover {
  filter: none;
  background-color: transparent;
}

#searchHistoryList {
  background-color: var(--b3-menu-background);
  overflow: auto;
}

#commonMenu[data-name=search-history] .b3-menu__items {
  max-height: calc(70vh - 10px);
}