@use '../base' as *;

.b3-menu,.b3-menu__submenu {
    @include menu-shadow;
    @include border-or-not;
    border-radius: $border-rd-menu;
    padding: 0;

    .b3-menu__items {
        padding: 5px;

        .b3-menu__item {
            padding: 0 8px;
            background-color: transparent;
            line-height: 24px;
            border-radius: 5px;

            &:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom):not([disabled]),
            &--current:not(.b3-menu__item--readonly):not([disabled]){
                background-color: var(--b3-menu-item-background-hover);
                color: var(--b3-menu-item-background-hover-text);

                &>.b3-menu__icon {
                    color: var(--b3-menu-item-background-hover-text) !important;
                }

                &>.b3-menu__accelerator {
                    @extend .b3-menu__icon;
                    opacity: 0.8;
                }
            }       
            
            .b3-menu__accelerator {
                font-family: var(--b3-font-family);
            }
        }

        .b3-menu__icon {
            color: var(--b3-theme-on-surface);
        }

        .b3-menu__separator {
            @include theme-variant-color(background-color, on-surface-gray, 0.15);
        }
    }
}