.layout__dockl,
.layout__dockr {
    min-height: 90%;
}

.layout-tab-container>.fn__flex-column {
    padding: 0;
    min-height: 90%;
    overflow-x: hidden;
}

/*面板标题图标*/
.block__icons {
    min-height: 40px;
}

:not(.sy__backlink)>.block__icons .block__logo svg {
    width: 13px;
    height: 13px;
    padding: 4px;
    margin: 0px 4px 0px 0px;
    color: var(--b3-theme-on-background);
    visibility: hidden;
    margin-right: -13px;
}

.block__icons .block__logo {
    font-weight: bold;
    color: var(--b3-theme-on-background);
    opacity: 0.5;
}

.file-tree .block__icons>.block__icon svg,
.file-tree .block__icons>.fn__flex>.block__icon svg {
    padding: 3px 0px;
    color: var(--b3-theme-on-surface);
    margin: 0px 3px;
}

.file-tree .block__icons>.block__icon,
.file-tree .block__icons>.fn__flex>.block__icon {
    padding: 0px;
    margin: -2px;
}

.file-tree .block__icons>.fn__flex>.block__icon[type="checkbox"] {
    margin: 0px 0px 0px -8px;
}

.file-tree .block__icons .block__icon:hover {
    background-color: transparent;
}

.file-tree .block__icons .block__icon:hover>svg {
    color: var(--b3-theme-on-background);
}

.layout__tab--active .b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) {
    background-color: unset;
}

.file-tree .b3-list-item {
    margin: 0px 4px 2px 4px !important;
    line-height: 26px;
}

.b3-list-item {
    border-radius: var(--b3-list-item-radius);
}

.fn__flex>.fn__flex>.layout-tab-container>.fn__flex-column .b3-list-item {
    margin: 0 4px;
    padding: 1px 4px 1px 2px;
}

.layout__dockl .sy__outline .b3-list-item[title],
.layout__dockr .sy__outline .b3-list-item[title] {
    display: none;
}

/* 不显示侧栏面板中大纲的标题栏 */
.b3-list-item__arrow {
    color: var(--b3-theme-on-surface-light);
    padding: 5px;
    margin: 0px 0px 0px 1px;
    border-radius: 3px;
}

.b3-list-item__icon {
    margin-left: -4px;
    height: 22px;
    width: 16px;
    font-size: 14px;
    line-height: 22px;
    padding: 0 3px;
}

.b3-list-item__icon svg,
.b3-list-item__icon img {
    margin: 0px;
    padding: 3px 0px 2px 0px;
    border-radius: 3px;
}

.b3-list-item__graphic {
    padding: 3px 3px;
    border-radius: 3px;
}

.b3-list-item__toggle.fn__hidden:before {
    visibility: visible !important;
    content: "";
    margin: 0px -13px 0 10px;
    clip-path: circle(45% at center);
    width: 3px;
    height: 3px;
    background-color: var(--b3-theme-on-surface-light);
}

.b3-list-item__text {
    color: var(--b3-theme-on-surface);
}

.b3-list-item--hide-action .b3-list-item__action {
    height: 20px;
    padding: 0 3px;
    margin-left: 4px;
    border-radius: 3px;
    color: var(--b3-theme-on-surface);
}

/*新建文档*/

/*引用数*/
.b3-list-item .counter:not(:empty) {
    height: 20px;
    line-height: 20px;
    text-align: center;
    min-width: 12px;
    border-radius: 3px;
    padding: 0 4px;
    margin-left: 4px;
}

.b3-list-item:hover,
.b3-list-item__arrow:hover,
.b3-list-item__action:hover,
.counter:not(:empty):hover,
.b3-list-item__icon:hover {
    background-color: transparent !important;
    color: var(--b3-theme-on-background);
}

.b3-list-item--focus:hover {
    background-color: var(--b3-list-background-focus) !important;
}

.b3-list-item__toggle:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

:is(.b3-list-item:hover,
    .b3-list-item__arrow:hover,
    .b3-list-item__action:hover,
    .counter:not(:empty):hover,
    .b3-list-item__icon:hover) .b3-list-item__text {
    color: var(--b3-theme-on-background) !important;
}

/* 面板列表项 选中状态*/
.b3-list-item--focus .b3-list-item__text {
    font-weight: 600;
    color: var(--b3-theme-on-background);
}

/*书签、标签树*/
.sy__bookmark>.fn__flex-1>ul>.b3-list-item>.b3-list-item__graphic,
.sy__bookmark ul ul li>.b3-list-item__graphic,
.sy__tag>.fn__flex-1>ul>.b3-list-item>.b3-list-item__graphic,
.sy__tag ul ul li>.b3-list-item__graphic {
    margin: 0 0 0 -6px;
    width: 10px;
    color: var(--b3-theme-on-surface);
}

.sy__inbox .inbox__details {
    top: 40px;
}

input[type="checkbox" i] {
    margin-left: 6px;
}

/*大纲面板*/
.sy__outline>.b3-list-item>.b3-list-item__graphic {
    padding-left: 8px;
}

/*大纲前圆点*/
.sy__outline .b3-list-item__arrow.fn__hidden {
    visibility: visible !important;
    opacity: 0.6;
    width: 3px;
    height: 3px;
    color: transparent;
    background-color: var(--b3-theme-on-surface-light);
    border-radius: 50%;
    padding: 0px;
    margin: 0 8px 0 11px;
}

.sy__outline .b3-list-item__arrow.fn__hidden:hover {
    background-color: var(--b3-theme-on-surface-light) !important;
}

/*大纲数字*/
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"]>span:first-child::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"]>span:first-child::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"]>span:first-child::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"]>span:first-child::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"]>span:first-child::after,
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"]>span:first-child::after {
    visibility: visible !important;
    position: relative;
    left: 4px;
    border-radius: 3px;
    opacity: 0.5;
    font-size: 10px;
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h1"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"] svg.b3-list-item__graphic,
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"] svg.b3-list-item__graphic {
    margin-left: -19px;
    margin-right: 2px;
    color: transparent;
}

.file-tree ul.b3-list.b3-list--background :is([data-subtype="h1"],
    [data-subtype="h2"],
    [data-subtype="h3"],
    [data-subtype="h4"],
    [data-subtype="h5"],
    [data-subtype="h6"])>span:first-child::after {
    pointer-events: none;
    font-family: SF Pro;
    font-size: 1.2em;
    color: var(--b3-theme-on-surface);
    width: 1em;
}

body.body--win32 .file-tree ul.b3-list.b3-list--background :is([data-subtype="h1"],
    [data-subtype="h2"],
    [data-subtype="h3"],
    [data-subtype="h4"],
    [data-subtype="h5"],
    [data-subtype="h6"])>span:first-child::after {
    pointer-events: none;
    font-family: "Segoe UI";
    font-size: 0.9em;
    color: var(--b3-theme-on-surface);
    width: 1.4em;
}

.file-tree ul.b3-list.b3-list--background :is([data-subtype="h1"],
    [data-subtype="h2"],
    [data-subtype="h3"],
    [data-subtype="h4"],
    [data-subtype="h5"],
    [data-subtype="h6"])>span:first-child:has(+ svg:hover)::after {
    color: var(--b3-theme-primary);
    opacity: 1;
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h1"]>span:first-child::after {
    content: "❶";
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h2"]>span:first-child::after {
    content: "❷";
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h3"]>span:first-child::after {
    content: "❸";
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h4"]>span:first-child::after {
    content: "❹";
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h5"]>span:first-child::after {
    content: "❺";
}

.file-tree ul.b3-list.b3-list--background [data-subtype="h6"]>span:first-child::after {
    content: "❻";
}

/* 反链面板 */
.sy__backlink .block__icons .counter {
    position: absolute;
    padding: 0px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: var(--b3-block-logo-color);
    background-color: var(--b3-block-logo-background-color);
    text-align: center;
    border-radius: 6px;
}

.sy__backlink .protyle-wysiwyg [data-node-id].li>.list {
    padding-left: 0px !important;
}

/*反链列表间距收窄*/
.sy__backlink.layout__tab--active .block__icons .counter {
    background-color: var(--b3-theme-primary);
}

.backlinkList>.b3-list>.protyle,
.backlinkMList>.b3-list>.protyle {
    margin: 0 4px 6px 4px;
    border-radius: 0 0 6px 6px;
    box-shadow: inset 0 0 0 1px var(--b3-border-color);
}

.backlinkList>.b3-list .b3-list-item:has(+ .protyle:not(.fn__none)),
.backlinkMList>.b3-list .b3-list-item:has(+ .protyle:not(.fn__none)) {
    margin-bottom: 0px !important;
    border-radius: 6px 6px 0 0;
    border-top: 1px solid var(--b3-border-color);
    border-left: 1px solid var(--b3-border-color);
    border-right: 1px solid var(--b3-border-color);
}

.sy__backlink .b3-text-field {
    height: 24px;
}

.b3-form__icon--small .b3-form__icon-input {
    padding-left: 24px !important;
}

.sy__backlink .b3-text-field:not(.b3-text-field:focus) {
    box-shadow: inset 0 0 0 1px var(--b3-border-color);
}

.sy__backlink .protyle-wysiwyg [data-node-id] [contenteditable] {
    font-size: 90%;
}

.sy__backlink .protyle-breadcrumb__bar:not(:first-child) {
    padding-top: 3px;
    border-top: 1px dashed var(--b3-border-color);
}

.sy__backlink .protyle-wysiwyg>[data-node-id] {
    margin: 0 10px 0 24px;
}

.sy__backlink .protyle-wysiwyg>[data-node-id]:last-child {
    margin-bottom: 16px;
}

.sy__backlink .protyle-wysiwyg {
    padding: 6px !important;
}

.sy__backlink .protyle-wysiwyg .protyle-breadcrumb__bar>span:last-child>.protyle-breadcrumb__text {
    opacity: 0;
}

.sy__backlink .protyle-wysiwyg .protyle-breadcrumb__bar>span:last-child:hover>.protyle-breadcrumb__text {
    opacity: 1;
    transition: all 200ms;
}

/*分界线*/
.layout__resize {
    /* z-index:1; */
    z-index: 3;
}

.layout__resize:after {
    height: 1px;
}

.layout__center+.layout__resize {
    z-index: 2;
}

.layout__center .layout__resize--lr {
    z-index: 2;
}

.fn__flex-shrink+.layout__resize--lr::after,
.layout__center+.layout__resize--lr::after {
    width: 1px;
    /*opacity:0;*/
}

.layout__resize--lr:hover::after,
.layout__resize--lr:active::after {
    width: 2px;
}

.layout__resize:hover::after,
.layout__resize--lr:hover::after,
.layout__resize--lr:active::after {
    background-color: var(--b3-border-color-hover);
    transition: background-color 300ms ease-in 0s;
}

.layout__resize--lr::after {
    top: 0px;
    height: 100%;
    width: 1px;
    margin-left: -1px;
}

.layout__dockl+.layout__resize--lr::after {
    margin-left: -1px;
    /*border颜色与background混合后看起来跟surface一样，这里将resizer移至surface容器内部*/
}

.layout__resize--lr:has(+ .layout__dockr)::after {
    margin-left: 0;
}

.graph__panel[style="right: 0px;"] {
    box-shadow:
        rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
        rgba(15, 15, 15, 0.1) 0px 3px 6px,
        rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.graph__panel {
    height: 650px;
    border-radius: 5px 0 0 5px;
}

.layout__dockl.layout--float {
    min-height: unset;
    padding-top: 0px;
    top: calc(79px + var(--toolbar-height));
    bottom: 0 !important;
    box-shadow: -1px 0 0 0px inset var(--b3-border-color);
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-radius: 0;
    overflow: hidden;
    backdrop-filter: blur(40px) saturate(3);
    -webkit-backdrop-filter: blur(40px) saturate(3);
    transform: translateZ(0);
}

.layout--float {
    opacity: 1 !important;
    z-index: 3 !important;
}

/* .layout__dockl.layout--float{
	z-index: 3 !important;
}  */
/* 避免遮挡左侧分隔线和左栏图标提示条 */
.layout__dockl.layout--float[style*="left: 34px"] {
    left: 41px !important;
}

.layout__dockr.layout--float {
    min-height: unset;
    padding-top: 0px;
    top: calc(79px + var(--toolbar-height));
    bottom: 0;
    box-shadow: 1px 0 0 0px inset var(--b3-border-color);
    border-radius: 0;
    overflow: hidden;
    backdrop-filter: blur(40px) saturate(3);
    -webkit-backdrop-filter: blur(40px) saturate(3);
    border: none;
    transform: translateZ(0);
}

.layout__dockr.layout--float[style*="right: 34px"] {
    right: 41px !important;
}

body:has(#status:not(.fn__none)) .fn__flex-column.layout__dockr:not(.layout--float)::after {
    content: "";
    display: inline-block;
    width: auto;
    height: 34px;
    background-color: var(--b3-theme-surface-glass);
}

.layout-tab-container .block__icons~.fn__flex-1 {
    margin-bottom: 0 !important;
}

:is(.layout__dockl:not(.layout--float), .layout__dockr:not(.layout--float)) .layout-tab-container>div>* {
    background-color: var(--b3-theme-surface-glass);
    /* macOS系统滚动条根据滚动元素背景色来显示滚动条颜色 */
}

:is(.layout__dockl.layout--float, .layout__dockr.layout--float) .layout-tab-container>div>* {
    background-color: rgba(var(--b3-theme-background-rgb), 0.86);
    /* macOS系统滚动条根据滚动元素背景色来显示滚动条颜色 */
}

.layout__dockl.layout--float .layout-tab-container>div>* {
    box-shadow: -1px 0 inset var(--b3-border-color);
}

.layout__dockr.layout--float .layout-tab-container>div>* {
    box-shadow: 1px 0 inset var(--b3-border-color);
}

.layout__center .layout-tab-container>div>.fn__flex-1 {
    background-color: var(--b3-theme-background);
    /* macOS系统滚动条根据滚动元素背景色来显示滚动条颜色 */
}

/* 页签大纲、反链 */
.sy__backlink .protyle-content {
    background-color: transparent;
}

.sy__backlink .b3-text-field.search__label:not(.fn__none)~.block__icon {
    opacity: 0;
}

.fn__flex-column.fn__flex-shrink.layout__dockl:not(.layout--float) {
    z-index: 1 !important;
    background-color: transparent;
}

.fn__flex-column.layout__dockr:not(.layout--float) {
    z-index: 1 !important;
    background-color: transparent;
}

.layout--float {
    background-color: transparent;
}

#layouts>div.fn__flex.fn__flex-1>div.fn__flex-column.layout__dockr.layout--float .layout-tab-container.fn__flex-1>div>div.fn__flex-1 {
    margin-bottom: 0 !important;
    padding-bottom: 0px;
}

.layout__tab--active .graph__svg,
.layout__tab--active .inbox__list {
    background-color: transparent;
}

.graph {
    background-color: transparent;
}

.graph.fullscreen {
    background: var(--b3-theme-surface);
}

*:has(.fullscreen.layout__tab--active) .layout__center:not(:has(~ .layout--float)) div[data-type="wnd"]:not(.layout__wnd--active) .protyle-breadcrumb,
*:has(.fullscreen.layout__tab--active) .dock#dockLeft,
*:has(.fullscreen.layout__tab--active) .dock#dockRight,
*:has(.fullscreen.layout__tab--active) .layout__resize,
body:has(.fullscreen.layout__tab--active) #status,
body:has(.fullscreen.layout__tab--active, .protyle.fullscreen) .toolbar,
body:has(.fullscreen.layout__tab--active) .layout__center:not(:has(~ .layout--float)) div[data-type="wnd"]:not(.layout__wnd--active)>.fn__flex:has(> .layout-tab-bar):has(+ .layout-tab-container > .protyle:not(.fn__none) > .protyle-content) {
    z-index: unset !important;
}

.dock#dockBottom {
    border-top: none;
    height: 32px;
    padding: 0 40px;
    background-color: var(--b3-toolbar-background);
}

#dockBottom .fn__flex-1 {
    flex: 0;
}

#dockBottom .dock__item {
    margin: 0 7px 7px 0;
    padding: 6px 7px;
}

.dock#dockBottom .dock__item--active {
    color: var(--b3-theme-on-background);
    background-color: var(--b3-dockleft-item-active-background);
    box-shadow:
        0 4px 9px rgba(0, 0, 0, 0.05),
        0 1.5px 2.8px rgba(0, 0, 0, 0.07),
        0 0.3px 0.7px rgba(0, 0, 0, 0.12);
}

.dock#dockBottom .dock__item:hover {
    background-color: var(--b3-dock-item-hover-background);
    transition: all 300ms;
    box-shadow:
        0 4px 9px rgba(0, 0, 0, 0.05),
        0 1.5px 2.8px rgba(0, 0, 0, 0.07),
        0 0.3px 0.7px rgba(0, 0, 0, 0.12);
}

.layout__dockb.layout--float {
    bottom: 40px !important;
    margin-left: 41px;
    margin-right: 41px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow:
        0 4px 9px rgba(0, 0, 0, 0.05),
        0 1.5px 2.8px rgba(0, 0, 0, 0.07),
        0 0.3px 0.7px rgba(0, 0, 0, 0.12);
}

.layout__dockb.layout--float[style*="bottom: 26px"] {
    bottom: 8px !important;
    margin-left: 8px;
    margin-right: 8px;
}