@use "../features/_utils.scss" as *;

[data-asri-palette="stellula"] {
  body {
    --b3-scroll-color-hover: var(--b3-theme-primary-lighter);
    --b3-scroll-color-track: var(--b3-theme-background-light);
  }

  &[data-theme-mode="light"] {
    --stellula-base-accent: #7ed5db;
    --asri-theme-accent-customized: var(--stellula-base-accent);
    --b3-theme-primary: #48b2ba;
    --b3-theme-accent: #3ea2a9;

    // --b3-theme-background: #fdf6f0;
    --b3-theme-surface: #e0ece8;

    --b3-theme-on-background: #424074;
    --b3-theme-on-surface: #373379a2;

    .layout__center
      :not(.av__views)
      > .layout-tab-bar
      .item:not(.item--readonly, .item--full.item--focus):hover,
    .layout__center :not(.av__views) > .layout-tab-bar .item--focus {
      background-color: #7ed5db8e;
    }

    [data-type="wnd"]:not(.layout__wnd--active)
      :not(.av__views)
      > .layout-tab-bar
      .item--focus {
      background-color: #7ed5db52 !important;
    }
  }

  &[data-theme-mode="dark"] {
    --stellula-base-accent: #FC8B60;
    // --stellula-base-accent: #6cc3c9;
    --asri-theme-accent-customized: var(--stellula-base-accent);
    --b3-theme-primary: var(--stellula-base-accent);

    --b3-theme-surface: #313842;
    --b3-theme-background: #232227;

    --b3-theme-on-background: #e6cfbc;
    --b3-theme-on-surface: #e6cfbca2;
  }

  .protyle-title__input,
  [data-type="NodeHeading"],
  // .b3-dialog__header,
  :where(h1, h2, h3, h4, h5, h6) {
    color: var(--b3-theme-primary);
  }
}

#{$primary-color-reverse-selectors, ".b3-button--outline"} {
  [data-asri-palette="stellula"][data-theme-mode="light"] & {
    --b3-theme-primary: var(--stellula-base-accent);
    --b3-theme-on-primary: var(--b3-theme-on-background);
  }

  [data-asri-palette="stellula"][data-theme-mode="dark"] & {
    --b3-theme-primary: #4fb1b8;
    // --b3-theme-on-primary: #fff;
  }
}

.b3-button--outline,
.protyle-breadcrumb__icon {
  [data-asri-palette="stellula"][data-theme-mode="light"] & {
    --b3-theme-primary: var(--b3-theme-accent);
  }
}
