@use "../features/_utils.scss" as *;
@use "../base" as *;
@use "sass:string";
@use "sass:color";

$vael-color-1: #96c4df;
$vael-color-2: #fff9ef;
$vael-color-3: #bfedd9;
// $vael-color-3: #eb5240;

[data-asri-palette="vael"] {
  &[data-theme-mode="light"] {
    // $vael-color-1: #bfedd9;
    $theme-surface: color.change($vael-color-2, $space: oklch, $lightness: 0.95, $chroma: 0.025);
    $theme-on-background: color.change($vael-color-1, $space: oklch, $lightness: 0.43);

    --vael-base-accent: #{color.change($vael-color-1, $space: oklch)};
    --asri-theme-accent-customized: var(--vael-base-accent);
    --b3-theme-primary: #{color.change($vael-color-1, $space: oklch, $lightness: 0.63, $chroma: 0.08)};
    --b3-theme-accent: #{toRGB(color.change($vael-color-1, $space: oklch, $lightness: 0.65, $chroma: 0.1))};

    --b3-theme-background: #{$vael-color-2};
    --b3-theme-surface: #{$theme-surface};
    --b3-theme-on-background: #{$theme-on-background};
    --b3-theme-on-surface: #{color.change($theme-on-background, $alpha: 0.7)};
  }

  &[data-theme-mode="dark"] {
    --vael-base-accent: #{color.change($vael-color-3, $space: oklch, $lightness: 0.76, $chroma: 0.08)};
    --asri-theme-accent-customized: var(--vael-base-accent);
    --b3-theme-primary: var(--vael-base-accent);

    $theme-background: color.change($vael-color-1, $space: oklch, $lightness: 0.25, $chroma: 0.015);
    --b3-theme-background: #{$theme-background};
    --b3-theme-surface: #{color.change($theme-background, $space: oklch, $lightness: 0.32, $chroma: 0.02)};

    $theme-on-background: color.change($vael-color-3, $space: oklch, $lightness: 0.85, $chroma: 0.025);
    --b3-theme-on-background: #{$theme-on-background};
    --b3-theme-on-surface: #{color.change($theme-on-background, $alpha: 0.7)};
  }

  .protyle-title__input,
  [data-type="NodeHeading"],
  .b3-dialog__header {
    color: var(--b3-theme-primary);
  }
}

#{$primary-color-reverse-selectors,
".b3-button--outline"} {
  [data-asri-palette="vael"][data-theme-mode="light"] & {
    --b3-theme-primary: var(--vael-base-accent);
    --b3-theme-on-primary: #{toRGB(color.change($vael-color-1, $space: oklch, $lightness: 0.2))};
  }

  [data-asri-palette="vael"][data-theme-mode="dark"] & {
    --b3-theme-primary: var(--vael-base-accent);
    // --b3-theme-on-primary: #fffaf1;
  }
}

.b3-button--outline,
.protyle-breadcrumb__icon {
  [data-asri-palette="vael"][data-theme-mode="light"] & {
    --b3-theme-primary: var(--b3-theme-accent);
  }
}
