@use "../features/_utils.scss" as *;
@use "sass:string";
@use "sass:color";

[data-asri-palette="muse"] {
  &[data-theme-mode="light"] {
    $muse-base-accent: #bfedd9;
    // $muse-base-accent: #024d2d;
    $theme-background: #fffcf3;
    $theme-surface: color.change($theme-background, $space: oklch, $lightness: 0.95, $chroma: 0.03);
    $theme-on-background: #395a51;

    --muse-base-accent: #{color.change($muse-base-accent, $space: oklch)};
    --asri-theme-accent-customized: var(--muse-base-accent);
    --b3-theme-primary: #{color.change($muse-base-accent, $space: oklch, $lightness: 0.6, $chroma: 0.1)};
    --b3-theme-accent: #2ea5a2;

    --b3-theme-background: #{$theme-background};
    --b3-theme-surface: #{$theme-surface};
    --b3-theme-on-background: #{$theme-on-background};
    --b3-theme-on-surface: #{color.change($theme-on-background, $alpha: 0.7)};
  }

  &[data-theme-mode="dark"] {
    --muse-base-accent: #448b83;
    --asri-theme-accent-customized: var(--muse-base-accent);
    --b3-theme-primary: var(--muse-base-accent);

    --b3-theme-on-background: #c6c9b3;
    --b3-theme-on-surface: #c6c9b3a2;
  }

  .protyle-title__input,
  [data-type="NodeHeading"],
  .b3-dialog__header {
    color: var(--b3-theme-primary);
  }
}

#{$primary-color-reverse-selectors,
".b3-button--outline"} {
  [data-asri-palette="muse"][data-theme-mode="light"] & {
    --b3-theme-primary: var(--muse-base-accent);
    --b3-theme-on-primary: #07443d;
  }

  [data-asri-palette="muse"][data-theme-mode="dark"] & {
    --b3-theme-primary: var(--muse-base-accent);
    // --b3-theme-on-primary: #fffaf1;
  }
}

.b3-button--outline,
.protyle-breadcrumb__icon {
  [data-asri-palette="muse"][data-theme-mode="light"] & {
    --b3-theme-primary: var(--b3-theme-accent);
  }
}

.protyle-wysiwyg :is([data-node-id] span[data-type~="block-ref"]:not(.av__celltext), [data-node-id] span[data-type~="file-annotation-ref"]) {
  --bg-clr: #bfedd9;
}
