@use '../base' as *;
@use 'texture-goldfoil' as *;

[data-asri-palette="auriflow"] {
    --foil-local-clr: rgb(231, 205, 164); // 本色
    --foil-base-clr: rgb(252, 243, 148); // 底色
    --foil-highlight-opacity: .5; // 高光透明度
    --foil-shadow-opacity: .4; // 阴影透明度

    @include darkmode-counterpart(true) {
        --b3-theme-on-background: #e8d9be;
        --b3-theme-on-surface: #e8d9bead;

        --foil-local-clr: rgb(190, 165, 100);
        --foil-base-clr: rgb(225, 207, 145);
        --foil-highlight-opacity: .4;
        --foil-shadow-opacity: .5;
    }

    .config-bazaar__panel .b3-card:hover {
        @include goldfoil-border(1.5px, $border-radius: 18.5px);
        outline: none !important;
    }

    .b3-switch:checked,
    .b3-button--outline:hover,
    .b3-menu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom, .b3-menu__item--disabled):not([disabled]):not([data-type=nobg]),
    .b3-menu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly, .b3-menu__item--disabled):not([disabled]):not([data-type=nobg]),
    .b3-menu__submenu .b3-menu__items .b3-menu__item:hover:not(.b3-menu__item--readonly):not(.b3-menu__item--custom, .b3-menu__item--disabled):not([disabled]):not([data-type=nobg]),
    .b3-menu__submenu .b3-menu__items .b3-menu__item--current:not(.b3-menu__item--readonly, .b3-menu__item--disabled):not([disabled]):not([data-type=nobg]),
    .protyle-wysiwyg .li.protyle-task--done>.protyle-action--task::before,
    .protyle-wysiwyg .li[data-subtype=t] .protyle-action--task::before,
    .protyle-wysiwyg[data-readonly=false] [data-node-id].asri-selected-block::before,
    #toolbar #barWorkspace:hover,
    .config__panel .config__tab-wrap .config__tab-container[data-name=account] .config-account .b3-button--text:not(#activationCode),
    .config__panel .config__tab-wrap .config__tab-container[data-name=account] .config-account button#login,
    .protyle-breadcrumb__icon:hover,
    .protyle-breadcrumb__item--active:not(:first-child) svg,
    .b3-button--text {
        @include goldfoil-background;
        // -webkit-font-smoothing: auto;
    }

    @include darkmode-counterpart(true) {
        .b3-switch:checked {
            --foil-base-clr: rgb(178, 132, 6);
        }
    }


    .protyle-title__input,
    [data-type="NodeHeading"]:not([style])>[contenteditable]:not([style]),
    .b3-dialog__header {
        @include goldfoil-background;
        background-clip: text;
        color: rgba(from var(--b3-theme-on-background) r g b / .1);

        @include darkmode-counterpart {
            color: rgba(from var(--b3-theme-on-background) r g b / .2);
        }
    }

    .protyle-wysiwyg [data-node-id].hr>div:after {
        @include goldfoil-background;
        // height: 1px;
        border-radius: 0;
        opacity: .7;
    }

    .b3-button--outline:hover {
        box-shadow: none;
    }

    .protyle-wysiwyg[data-readonly=false] [data-node-id].asri-selected-block::before {
        // opacity: .6;
        border-radius: 0;
        width: 2px;
    }

    #toolbar #barWorkspace {
        transition-property: color;
    }

    .config-bazaar__title .b3-button--outline:hover {
        background: none;
    }
}