@use "../features/_utils.scss" as *;

[data-asri-palette="everbliss"] {
  &[data-theme-mode="light"] {
    --everbliss-base-accent: #f06255;
    --asri-theme-accent-customized: var(--everbliss-base-accent);
    --b3-theme-primary: var(--everbliss-base-accent);

    --b3-theme-on-background: #4d3d5f;
    --b3-theme-on-surface: #4d3d5fa2;
  }

  &[data-theme-mode="dark"] {
    --everbliss-base-accent: #d55f4f;
    --asri-theme-accent-customized: var(--everbliss-base-accent);
    --b3-theme-primary: var(--everbliss-base-accent);

    --b3-theme-on-background: #e3c9b0;
    --b3-theme-on-surface: #e3c9b0a2;
  }

  .protyle-title__input,
  [data-type="NodeHeading"],
  .b3-dialog__header {
    color: var(--b3-theme-primary);
  }
}

#{$primary-color-reverse-selectors, ".b3-button--outline"} {
  [data-asri-palette="everbliss"][data-theme-mode="light"] & {
    --b3-theme-primary: var(--everbliss-base-accent);
    --b3-theme-on-primary: #fefaef;
    --b3-menu-item-background-hover: #de6257;
  }

  [data-asri-palette="everbliss"][data-theme-mode="dark"] & {
    --b3-theme-primary: var(--everbliss-base-accent);
    --b3-theme-on-primary: #f8f0e9;
  }
}
