@use "sass:list";
@use "../features/_utils.scss" as *;

[data-asri-palette="polar"] {
  &[data-theme-mode="light"] {
    --polar-base-accent: #000;
    --asri-theme-accent-customized: var(--polar-base-accent);
    --b3-theme-primary: var(--polar-base-accent);
    --b3-theme-accent: #1c6bff;

    --b3-theme-surface: #f5f5f7;

    --b3-theme-on-background: #1d1d1f;
    --b3-theme-on-surface: #1d1d1f87;

    // .layout__center
    //   :not(.av__views)
    //   > .layout-tab-bar
    //   .item:not(.item--readonly, .item--full.item--focus):hover,
    // .layout__center :not(.av__views) > .layout-tab-bar .item--focus {
    //   background-color: #c7ea008e;
    // }

    // [data-type="wnd"]:not(.layout__wnd--active)
    //   :not(.av__views)
    //   > .layout-tab-bar
    //   .item--focus {
    //   background-color: #c7ea0052 !important;
    // }

    :where(.b3-typography, .protyle-wysiwyg) :where([data-type="a"], a) {
      --b3-theme-primary: var(--b3-theme-accent);
    }
  }

  &[data-theme-mode="dark"] {
    --polar-base-accent: #fff;
    --asri-theme-accent-customized: #50f555;
    --b3-theme-primary: var(--polar-base-accent);

    --b3-theme-background: #000;
    --b3-theme-surface: #1f1f22;

    --b3-theme-on-background: #dddddd;
    --b3-theme-on-surface: #dddddda2;

    .code-block,
    code,
    .config-account__center:not(.config-account__center--text) {
      box-shadow: 0 0 0 1px var(--b3-border-color-trans);
    }

    :is(.layout, .b3-typography) {
      --b3-theme-primary: var(--b3-theme-accent);
      // --b3-theme-primary-light: oklch(from var(--b3-theme-primary) l c h / 0.56);
      // --b3-theme-primary-lighter: oklch(from var(--b3-theme-primary) l c h / 0.38);
      // --b3-theme-primary-lightest: oklch(from var(--b3-theme-primary) l c h / 0.2);
    }
  }

  :is(.layout, .b3-typography) {
    --b3-theme-primary-light: oklch(from var(--b3-theme-accent) l c h / 0.56);
    --b3-theme-primary-lighter: oklch(from var(--b3-theme-accent) l c h / 0.38);
    --b3-theme-primary-lightest: oklch(from var(--b3-theme-accent) l c h / 0.2);
  }

  .protyle-title__input,
  [data-type="NodeHeading"],
  :where(h1, h2, h3, h4, h5, h6) {
    color: var(--b3-theme-primary);
  }

  .layout__dockl + .layout__resize--lr::after {
    background-color: var(--b3-border-color-trans);
  }

  .config__panel {
    .b3-tab-bar,
    .item__side {
      border-right: 1px solid var(--b3-border-color-trans);
    }
  }

  &:where(:lang(ar_SA), :lang(he_IL)) {
    .config__panel {
      .b3-tab-bar,
      .item__side {
        border-right: unset;
        border-left: 1px solid var(--b3-border-color-trans);
      }
    }
  }

  .layout__dockl,
  .dock,
  .config__panel :is(.b3-tab-bar, .item__side),
  .config-account {
    --b3-theme-surface: var(--b3-theme-background);
  }

  body:not(.asri-tfp) {
    .protyle .protyle-breadcrumb {
      box-shadow: 0 -1px 0 0 var(--b3-border-color-trans) inset;
    }
  }

  body.asri-vibrancy:not(.body-asri--browser, .body-asri--fullscreen) {
    #{$vibrancy-applicable-elements} {
      @supports (color: oklch(from blue l c h)) {
        background-color: oklch(from var(--b3-theme-background) l c h / 0.5);
      }
    }
  }

  // @supports (color: oklch(from #00f l clamp(0, c, 0.2) calc(h + 0))) {
  //   :is(.layout, .b3-typography) {
  //     --heading-clr-primary-base: #50f555;
  //     --hchs: 45; // heading color hue shift. [0, 60]

  //     @for $i from 1 through 6 {
  //       --heading-clr-primary-h#{$i}: oklch(
  //         from var(--heading-clr-primary-base)
  //           0.8
  //           clamp(0, c, 2)
  //           calc(h + var(--hchs) * #{$i - 1})
  //       );
  //     }
  //   }

  //   @for $i from 1 through 6 {
  //     $lv: ":is(.h#{$i}, h#{$i})";

  //     #{$lv} {
  //       color: var(--heading-clr-primary-h#{$i});

  //       --b3-theme-primary: var(--heading-clr-primary-h#{$i});
  //     }
  //   }
  // }
}

// #barWorkspace,
// #message,
// .b3-button--outline:hover,
// .b3-dialog__action .b3-button--text,
// #transactionError + .b3-dialog__action button:last-child,
// #configBazaarReadme .item__side .b3-button:not(.b3-button--progress):hover,
// .protyle-breadcrumb__icon:hover,
// .protyle-breadcrumb__item,
// .config-account__info .b3-button,
// .b3-menu,
// .b3-switch,
// .b3-button--outline,
// .protyle-breadcrumb__icon {
//   // [data-asri-palette="polar"][data-theme-mode="light"] & {
//   //   --b3-theme-primary: var(--polar-base-accent);
//   //   --b3-theme-on-primary: var(--b3-theme-on-background);
//   // }

//   [data-asri-palette="polar"][data-theme-mode="dark"] & {
//     --b3-theme-primary: var(--polar-base-accent);
//     --b3-theme-on-primary: #000;
//   }
// }

// .b3-button--outline,
// .protyle-breadcrumb__icon {
//   [data-asri-palette="polar"][data-theme-mode="light"] & {
//     --b3-theme-primary: var(--b3-theme-accent);
//   }
// }
