@use '../base' as *;

@mixin goldfoil-background {
    // https://www.zhangxinxu.com/wordpress/2023/06/css-noise/
    background:
        repeating-radial-gradient(rgba(180, 135, 30, var(--foil-shadow-opacity)) 0 0.0001%, #0000 0 0.0002%) 30% 50% / 2500px 2500px,
        repeating-conic-gradient(var(--foil-local-clr) 0 0.0001%, #0000 0 0.0002%) 60% 60% / 2500px 2500px,
        repeating-conic-gradient(rgba(245, 227, 199, var(--foil-highlight-opacity)) 0 0.0001%, #0000 0 0.0002%) 50% 50% / 2500px 2500px,
        linear-gradient(var(--foil-base-clr) 0 0);
    background-blend-mode: multiply, normal, hard-light, normal;
}

@mixin goldfoil-border($border-width: 1px, $border-radius: 8px, $container-bg: var(--b3-theme-background)) {
    @include goldfoil-background;
    // border: $border-width solid transparent;
    // background-clip: border-box;
    position: relative;

    &::after {
        content: '';
        background: $container-bg;
        position: absolute;
        inset: $border-width;
        z-index: -1;
        border-radius: $border-radius;
    }
}
