@use '../base' as *;

.av {
    &__container[style="--av-background:var(--b3-theme-surface)"] {
        --av-background: color-mix(in srgb, var(--b3-theme-surface), var(--b3-theme-background)) !important;

        [data-type="NodeBlockQueryEmbed"][style*="var(--b3-font-background1)"] & {
            --av-background: var(--b3-theme-background) !important;
        }
    }

    .bq &__container[style="--av-background:var(--b3-theme-background)"] {
        --av-background: color-mix(in srgb, var(--b3-theme-surface), var(--b3-theme-background)) !important;
    }

    .bq[style*="var(--b3-font-background1)"] &__container[style="--av-background:var(--b3-theme-background)"] {
        --av-background: var(--b3-theme-background) !important;
    }

    // 数据库视图切换、标题
    &__header {
        .av__views {
            box-shadow: none;

            .layout-tab-bar {
                @include dialog-tabbar;
                height: auto;
                margin: 8px 0 !important;
                padding: 0;
                border-radius: calc(1em / 0.875 * 8 / 17) !important;
                border: 2.5px solid #0000; // 修复第一个页签被裁切的问题：https://github.com/mustakshif/Asri/issues/22

                .item {
                    padding: 2px 4px;
                    height: auto;
                    border-radius: calc(1em / 0.875 * 8 / 17 - 2.5px) !important;

                    &__graphic {
                        padding: .42em 4px .42em 8px;

                        .body-asri--mac & {
                            font-size: calc(1em / .875 * 15 / 17);
                        }
                    }

                    &__text {
                        padding-right: 8px;
                    }
                }

                .item:not(.item--focus) {
                    .item__graphic {
                        color: var(--b3-theme-on-surface);
                    }

                    &:hover {
                        .item__graphic {
                            color: var(--b3-theme-on-background);
                        }
                    }
                }

                .item--focus {
                    // box-shadow: 0 -1px .5px 0 rgba(0, 0, 0, .12) inset;
                    box-shadow: none;
                    color: var(--b3-theme-on-background);

                    &:hover {
                        // @include theme-variant-color(background-color, light-components, 1, 0.2, $important: true);
                        background-color: #fff !important;

                        @include darkmode-counterpart {
                            background-color: #ffffff23 !important;
                        }
                    }
                }
            }

            .block__icon {
                // &:hover {
                //     background-color: transparent !important;
                // }

                &--active {
                    background-color: transparent;
                }

                // svg {
                //     width: calc(14em / 17);
                //     height: calc(14em / 17);
                // }
            }

            // >.fn__space:last-child {
            //     width: 0;
            // }
        }


        .av__title {
            font-size: 1.2em;
            font-weight: 600;
            margin: 0 0 4px;
        }

        .av__counter {
            width: calc(100% - 8px);
            padding: 4px;
        }

        // search bar
        [data-type="av-search-icon"]+div {
            >input {
                font-size: 14px;
                background-color: transparent;
            }

            >svg {
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }

    // 数据库主体
    &__scroll {
        font-variant-numeric: tabular-nums;

        .av__row {
            border-bottom-color: var(--b3-border-color-trans);

            &--header {
                // color: var(--b3-theme-on-surface);
                font-weight: 500;

                .av__cellheadericon {
                    color: inherit;
                }

                svg.av__cellheadericon, 
                .av__celltext {
                    opacity: .68;
                }
            }

            &:hover .b3-chip[data-type=block-more] {
                opacity: 1;
            }

            .av__cell:not(.av__cell--header) {
                border-right-color: var(--b3-border-color-trans);

                .b3-chip {
                    border-radius: 20px;
                    // padding: 2px 6px;
                    color: var(--b3-theme-on-surface);
                    background-color: var(--b3-theme-surface);
                    font-size: 95%;

                    &:hover {
                        color: var(--b3-theme-on-background);
                    }

                    &.av__celltext--url {
                        // 资源列超链接或资源链接
                        text-decoration: none;
                        background-color: transparent;
                        outline: 1px solid var(--b3-border-color-trans);
                        // outline-offset: -1.5px;
                        font-size: 100%;
                        border-radius: 4px;

                        &:hover {
                            outline-color: var(--b3-theme-primary-lighter);

                            &::before {
                                background-color: var(--b3-theme-primary);
                            }
                        }

                        &::before {
                            content: "";
                            width: 1em;
                            height: 1em;
                            display: inline-block;
                            background-color: var(--b3-theme-on-surface);
                            mask-image: url(icons/icon-assets.svg);
                            mask-size: 100% 100%;
                            vertical-align: -2px;
                            margin-right: 0.2em;
                        }

                        &[data-url^="http"]::before {
                            mask-image: url(icons/icon-outerLink.svg);
                        }

                        &[data-url^="siyuan"]::before {
                            mask-image: url(icons/icon-syLink.svg);
                        }
                    }
                }

                // 「更新」按钮
                .popover__block {
                    color: var(--b3-theme-primary);
                    font-weight: 500;

                    &:hover {
                        background-color: var(--b3-theme-primary);
                        color: var(--b3-theme-on-primary);
                    }
                }

                .b3-chip[data-type=block-more] {
                    font-weight: 500;
                }

                .av__celltext--url,
                .av__celltext--ref {
                    border-bottom: none;
                    text-decoration: underline var(--b3-border-color-trans);
                    text-decoration-thickness: 0.1em;

                    transition-property: color, text-decoration-color;
                    transition-duration: .2s;

                    &:hover {
                        text-decoration-color: var(--b3-theme-primary-lighter);
                        color: var(--b3-theme-primary);

                        .ft__on-surface {
                            color: var(--b3-theme-primary-light);
                            transition: inherit;
                        }
                    }
                }

                // 复制按钮
                .block__icon {
                    border-radius: 20px;
                }

                &:hover {
                    .block__icon {
                        background-color: var(--b3-theme-surface) !important;
                    }
                }
            }

            &--footer {
                border-top-color: var(--b3-border-color-trans);
            }
        }

        // 单元格选中状态
        .av__cell--select {
            box-shadow: none;
            // outline: 3px solid var(--b3-theme-primary-light);
            // z-index: 3;
            border-radius: 0;
            background-color: var(--b3-theme-primary-lightest);
        }

        // 勾选框
        .av__cell-check>.av__checkbox {
            color: var(--b3-theme-primary);
        }
    }

    &__cell[data-wrap=true] {

        // 列开启换行时
        .b3-chip.av__celltext--url,
        .av__cellassetimg {
            // 资源列标签
            margin: 2px;
            font-size: calc(1em - 2px) !important;
        }
    }

    // 菜单
    &__panel {
        --b3-font-background1: var(--b3-theme-background);

        .b3-menu {
            >.fn__flex-column>.b3-menu__item[data-type="nobg"]:first-child {
                border-radius: 0;
                margin: 0;
                padding: 8px 8px 0; // v3.0.4

                +.fn__hr {
                    background-color: var(--b3-menu-background);
                }

                // v2.1.9: fix关联主键编辑菜单背景差异

                @include darkmode-counterpart {
                    border-top: 1px solid rgb(map-get($theme-dark, on-background), 0.1);
                    background-clip: padding-box;
                    border-left: 1px solid rgb(map-get($theme-dark, on-background), 0.1);
                    border-right: 1px solid rgb(map-get($theme-dark, on-background), 0.1);
                    border-radius: 10px 10px 0 0;
                }

                // v2.1.10: fix暗色模式下边框差异
            }

            .b3-menu__items {
                .b3-menu__item {
                    &[data-type="nobg"] {
                        cursor: default;
                        align-items: center;
                        // height: 30px;

                        .b3-menu__label {
                            font-weight: 500;
                            color: var(--b3-theme-on-surface)
                        }

                        &:first-child>.block__icon+.ft__center {
                            transform: translateX(-15px);
                            pointer-events: none;
                        }

                        // 视图标签编辑菜单emoji
                        >.block__icon[style*="font-size: 14px;"] {
                            padding-left: 0 !important;
                            margin-left: 0;

                            .body-asri--mac & {
                                font-size: 16px !important;
                                width: 16px !important;
                                line-height: 16px;
                                margin-right: 4px !important;
                            }
                        }

                        // ~.b3-menu__item {
                        //     input:focus {
                        //         background-color: var(--b3-menu-background);
                        //     }
                        // }
                    }

                    &[data-type="goUpdateColType"] {
                        // height: 30px;
                        align-items: center;
                        margin-top: 4px;
                    }

                    &[draggable=true] {
                        mix-blend-mode: normal !important;

                        .b3-chip:not(.b3-chip--primary) {
                            background-color: var(--b3-theme-surface);
                        }

                        &:hover .b3-menu__action {
                            opacity: 0.7;

                            &:hover {
                                opacity: 1;
                            }
                        }
                    }

                    .b3-menu__label {
                        input[data-type="addOption"]:focus {
                            background-color: var(--b3-menu-background);
                        }
                    }
                }
            }

            .b3-menu__item {
                .b3-chip {
                    border-radius: 99px;
                }
            }

            .b3-chips {
                border-bottom: 1px solid var(--b3-border-color-trans);
                margin-bottom: 4px;

                //多选标签
                .b3-chip--middle {
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 8px;
                        transition: var(--b3-transition);
                    }

                    .b3-chip__close {
                        opacity: 0;
                        width: 8px;
                    }

                    &:hover {
                        &::before {
                            width: 0;
                        }

                        .b3-chip__close {
                            opacity: 1;
                            width: 16px;
                        }
                    }
                }

                .b3-chip--middle,
                &~div [data-type="addColOptionOrCell"] .b3-chip {
                    border-radius: 20px;
                }

                input {
                    background-color: transparent;
                }
            }
        }

    }


    // 文本框键入
    &__mask {
        textarea {
            resize: both;
            background-color: var(--b3-theme-surface);
        }

        .b3-text-field,
        select.b3-select {
            background-color: var(--b3-theme-surface);
        }
    }

    // 图标间距
    .block__icons .fn__space {
        width: 8px;
    }
}

img.av__cellassetimg {
    border-radius: 4px;
}

.b3-chip[style*="background-color:var(--b3-font-background1);color:var(--b3-font-color1)"] {
    outline: 1px solid var(--b3-border-color-trans);
    outline-offset: -1px;
}

.b3-menu {
    &[data-name="av-col-option"] {
        .b3-menu__item {
            .color__square {
                box-shadow: none;

                &[style*="var(--b3-font-background1)"] {
                    outline: 1px solid var(--b3-border-color-trans);
                    outline-offset: -1px;
                    background-color: var(--b3-theme-background) !important;
                    color: var(--b3-theme-on-background) !important;
                }
            }
        }
    }

    &[data-name*="set-filter"],
    &[data-name="av-col-option"] {
        .b3-menu__item {
            input:focus {
                background-color: var(--b3-menu-background);
            }
        }
    }

    .b3-menu__label {
        .b3-chip {
            border-radius: 4px;

            &[data-color] {
                border-radius: 99px;
            }

            // 筛选菜单中的数据库标签
        }
    }

    &__item:not(.b3-menu__item--readonly) {
        .b3-menu__accelerator {
            svg {
                height: 24px !important;
            }
        }

        &:hover textarea:not([data-type="ocr"]),
        textarea:not([data-type="ocr"]):focus {
            background-color: var(--b3-menu-background);
            transition: none;
        }

        &:hover {
            select {
                background-color: var(--b3-menu-background);
                transition: none;
            }
        }

        .b3-button {
            @include button-primary;
        }

        .block__icon:not([data-type="hideAllCol"]) {
            font-family: var(--b3-font-family-emoji);
        }
    }

    .b3-chip {
        border-radius: 4px;

        // &[style*="background-color"] {
        //     padding: 4px 8px;
        // }

        .icon {
            font-family: var(--b3-font-family-emoji);
        }
    }

    [data-type="setRelationCell"] {
        .b3-menu__label.popover__block {
            color: var(--b3-theme-primary) !important;
            text-decoration: underline transparent;
            text-decoration-thickness: .1em;
        }

        &.b3-menu__item--current,
        &:hover {
            >.b3-menu__label.popover__block {
                color: var(--b3-theme-on-primary) !important;
                text-decoration-color: #fff8;
            }
        }
    }
}

.protyle-hint {
    &>input.b3-text-field {
        margin: 0 !important;
        background-color: var(--b3-menu-background);
        padding: 8px;
        box-sizing: content-box;
        border-bottom: 1px solid var(--b3-border-color-trans);
        border-radius: 0;

        &:focus {
            background-color: var(--b3-menu-background);
            outline: none;
        }
    }
}

// 属性面板视图
.custom-attr .block__logo.custom-attr__avheader {
    color: var(--b3-theme-primary);
    font-weight: 500;
    margin-right: 0;
    margin-bottom: 4px;
    opacity: 1;
    position: sticky;
    top: 0;
    background-color: var(--b3-theme-background);
    z-index: 1;
}

.custom-attr[data-type="NodeAttributeView"] {
    padding-bottom: 16px;

    .block__icons {
        height: auto;
        min-height: unset;
        padding: 4px 16px;
    }

    .av__row {
        .block__logo {
            font-weight: 500;
        }

        .block__logo~.fn__flex-1 {
            overflow: visible;
        }

        .custom-attr__avvalue {
            padding: 4px 0;
        }

        input,
        select,
        [data-type=text] .b3-text-field {
            min-height: unset;
            height: 28px;
            padding: 4px;

            &:hover {
                background-color: var(--b3-theme-surface);
            }

            &:focus {
                background-color: var(--b3-theme-surface);
                outline: 3px solid var(--b3-theme-primary-light);
            }
        }

        [data-type=text] {
            align-self: flex-start;
        }

        .b3-chip {
            border-radius: 20px;
            padding: 2px 6px;
        }

        .av__celltext--url,
        .av__celltext--ref {
            border-bottom: none;
            text-decoration: underline var(--b3-border-color-trans);
            text-decoration-thickness: 0.1em;
        }
    }
}