@use '../base' as *;

@function matchSelector($editor1, $selector1, $editor2, $selector2: $selector1) {
    @if $editor1 ==true {
        @return $selector1;
    }

    @if $editor2 ==true {
        @return $selector2;
    }
}

// 页面小工具条
@mixin protyle-icons {
    border-radius: 99px;
    // transition: none;

    &:hover {
        transition: none;
        opacity: 1 !important;
    }

    .protyle-icon {
        @include theme-variant-color(background-color, surface, 0.8);
        @include theme-variant-color(color, on-background, 0.6);
        padding: 5px 6px;

        &:not(.protyle-icon--text, .protyle-icon--only):hover {
            color: var(--b3-theme-on-background);
        }

        &--first {
            border-radius: 99px 0 0 99px;
            padding-left: 10px;
        }

        &--last {
            border-radius: 0 99px 99px 0;
            padding-right: 10px;
        }

        &--text {
            //调整题头图上下位置
            border-radius: 99px;
            padding: 5px 8px;
        }

        &--only {
            // 正文图片
            border-radius: 99px;
            padding: 5px;
            transition: none;

            &:hover {
                color: var(--b3-theme-on-background);
                transition: none;
            }
        }
    }
}

// 排版元素
@mixin headings {
    @for $i from 1 through 6 {

        .h#{$i},
        h#{$i} {
            margin-top: 1.2em;
            line-height: 1.5;
        }

        @for $j from 2 through 6 {
            @if $i < $j {

                .h#{$i}+.h#{$j},
                h#{$i}+h#{$j} {
                    margin-top: 0;
                }
            }
        }
    }

    .h1, h1 {
        padding: 0 4px; // 修复 gutter 错位
        margin-bottom: calc(.1em + 4px);
    }

    // .h1+.h2,
    // :is(.h1, .h2)+.h3,
    // :is(.h1, .h2, .h3)+.h4,
    // :is(.h1, .h2, .h3, .h4)+.h5,
    // :is(.h1, .h2, .h3, .h4, .h5)+.h6 {
    //     margin-top: 0;
    // }
}

@mixin block-ref {

    [data-node-id] span[data-type~=block-ref]:not(.av__celltext),
    [data-node-id] span[data-type~=file-annotation-ref] {
        --bg-clr: var(--b3-theme-primary-lightest);
        color: inherit;
        text-decoration: underline dashed;
        text-decoration-color: var(--b3-theme-primary);
        text-decoration-thickness: .1em;
        background: linear-gradient(90deg, var(--bg-clr) 100%, transparent 0%) center right;
        background-size: 0;
        background-repeat: no-repeat;
        opacity: 1;
        transition: background-size .2s;

        &:hover {
            background-position: center left;
            text-decoration-style: solid !important;
            background-size: 100% !important;
            transition-delay: .125s; // 优化鼠标划过时的闪烁
        }

        @include darkmode-counterpart {
            --bg-clr: var(--b3-theme-primary-lighter);
        }
    }
}

@mixin v-block-ref {
    [data-node-id] span[data-type=virtual-block-ref] {
        border-bottom: none;
        text-decoration: underline;
        text-decoration-thickness: .1em;
        text-decoration-color: var(--b3-theme-on-surface-light);
        text-decoration-style: dashed;
        background: linear-gradient(90deg, var(--b3-border-color) 100%, transparent 0%) center right;
        background-size: 0;
        background-repeat: no-repeat;
        transition: background-size .2s;

        &:hover {
            background-position: center left;
            text-decoration-style: solid !important;
            border: none;
            background-size: 100% !important;
            transition-delay: .125s;
        }
    }
}

@mixin superlink($protyle: true, $typography: false) {
    $selector: matchSelector($protyle, '[data-node-id] span[data-type~=a],a', $typography, 'a');

    #{$selector} {
        color: inherit;
        text-decoration: underline solid;
        text-decoration-thickness: 0.1em;
        text-decoration-color: var(--b3-theme-primary);

        &:hover {
            color: var(--b3-theme-primary);
            border-bottom: none;
        }
    }
}

@mixin bold {

    span[data-type~="strong"],
    strong {
        color: inherit;
    }
}

@mixin italic {

    span[data-type~=em],
    em {
        color: inherit;
    }
}

@mixin underline {

    span[data-type~=u],
    u {
        text-decoration: underline;
        text-decoration-thickness: 0.1em;
        border-bottom: none;
    }
}

@mixin linethrough {

    span[data-type~=s],
    s {
        color: inherit;
    }
}

@mixin highlight {

    span[data-type~=mark],
    mark {
        background: transparent;
        box-shadow: 0 -0.5em 0 0 inset var(--b3-protyle-inline-mark-background), 0 0.1em 0 0 var(--b3-protyle-inline-mark-background);
        color: inherit;
    }
}

@mixin kbd {

    span[data-type~=kbd],
    kbd {
        font: 80% SF Pro, Consolas, "Liberation Mono", Menlo, Courier, var(--b3-font-family);
        padding: 0.15em 0.5em;
        border-radius: 1em;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        vertical-align: baseline;

        @include darkmode-counterpart {
            box-shadow: inset 0 1px 0 var(--b3-theme-surface-lighter);
        }
    }
}

@mixin tag {
    [data-node-id] span[data-type~="tag"] {
        --tag-color: var(--b3-font-color4);

        font-size: 90%;
        border-radius: 1em;
        padding: 0.1em 0.5em 0.15em;
        border: none;
        box-shadow: 0 0 0 0.065em inset var(--tag-color);
        background-color: transparent;
        color: var(--tag-color);
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;

        &:hover {
            // box-shadow: 0 0 0 0.8em inset var(--tag-color);
            background-color: transparent;
            // @include theme-variant-color(color, background);
            // color: change-color($color: pickThemeColor($theme-light, secondary), $lightness: 40%);

            // @include darkmode-counterpart {
            //     color: change-color($color: pickThemeColor($theme-dark, secondary), $lightness: 70%);
            // }
        }
    }
}

@mixin inline-code {

    span[data-type~=code],
    code:not(.hljs) {
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        border-radius: 0.4em;
        color: inherit;
    }
}

@mixin inline-memo {
    span[data-type~=inline-memo] {
        background-color: transparent;
        border-bottom: none;
        text-decoration: underline;
        transition-property: background-color, text-decoration-color, box-shadow, color, border-radius;
        transition-duration: .15s;
        // transition: .15s;
        box-decoration-break: clone;
        text-decoration-color: #FFCC02;

        @include darkmode-counterpart {
            text-decoration-color: #FED709;
        }

        &:hover {
            --memo-bg: #FFE680;
            background-color: var(--memo-bg);
            box-shadow: 0 0 0 8px var(--memo-bg);
            text-decoration-color: var(--memo-bg) !important;
            color: var(--b3-theme-on-background) !important;
            border-radius: 1px;
            z-index: 1;
            position: relative;
            transition-delay: .125s; // 优化鼠标划过时的闪烁
            // padding-left: 8px;
            // padding-right: 8px;
            // margin-left: -8px;
            // margin-right: -8px;

            @include darkmode-counterpart {
                // box-shadow: 0 -1.2em 0 0 inset mix(map-get($theme-dark, font-color5), map-get($theme-dark, background), 85%);
                --memo-bg: #DDBA0D;

                color: var(--b3-theme-background) !important;
            }
        }
    }
}

@mixin blockquote {

    .bq,
    blockquote {
        border-radius: 10px;
        padding: 12px 16px;
        border: 1.5px solid var(--b3-border-color-trans);
        margin: 1em 0;
        background-color: var(--b3-theme-surface-light);

        &>[data-type='NodeHeading']:first-child {
            margin-top: 0;
        }
    }
}

@mixin table ($protyle: true, $typography: false) {
    $selector: matchSelector($protyle, '[data-node-id].table table', $typography, 'table');

    #{$selector} {
        width: auto;
        font-variant-numeric: tabular-nums;
        border-radius: 8px;
        border: 1px solid var(--b3-border-color-trans);

        td,
        th {
            border: 1px solid var(--b3-border-color-trans);
            // background-color: var(--b3-theme-background);
            // @include theme-variant-color(background-color, background, 0.5);
            background-color: transparent;
        }

        thead {
            tr {
                th {
                    background-color: oklch(from var(--b3-theme-surface) .95 c h / .8);

                    @include darkmode-counterpart {
                        background-color: oklch(from var(--b3-theme-surface) .36 c h / .7);
                    }
                    @supports not (color: oklch(from red calc(l * 0.5) 0 h)) {
                        @include theme-variant-color(background-color, on-surface-gray, 0.05, 0.15);
                    }
                    
                    border-top: none;

                    &:first-child {
                        border-left: none;
                    }

                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }

        tbody {
            tr {
                &:nth-child(2n) {
                    td {
                        background-color: oklch(from var(--b3-theme-surface) .95 c h / .8);
                        @include darkmode-counterpart {
                            background-color: oklch(from var(--b3-theme-surface) .36 c h / .7);
                        }
                        @supports not (color: oklch(from red calc(l * 0.5) 0 h)) {
                            @include theme-variant-color(background-color, on-surface-gray, 0.05, 0.15);
                        }
                    }
                }

                &:last-child {
                    td {
                        border-bottom: none;
                    }
                }

                td:first-child {
                    border-left: none;
                }

                td:last-child {
                    border-right: none;
                }
            }
        }
    }
}

@mixin hljs {
    .hljs {
        border-radius: 10px;
        background-color: var(--b3-theme-surface-light);
        padding: 2em 16px;
    }
}

@mixin wysiwyg-elements {

    //所有内容块 ————————————————————————
    [data-node-id] {
        border-radius: 10px;
    }

    @include headings;

    [data-type='NodeSuperBlock']>[data-type='NodeHeading']:first-child,
    .protyle-wysiwyg__embed>[data-type='NodeHeading']:first-child,
    .protyle-wysiwyg__embed>.protyle-breadcrumb__bar+[data-type='NodeHeading'] {
        margin-top: 0;
    }

    // 块引用 ————————————————————————————————————
    @include block-ref;

    // 虚拟引用 ——————————————————————————————————————
    @include v-block-ref;

    // 超链接 ————————————————————————————————————————
    @include superlink;

    //加粗、倾斜 ——————————————————————————————————————
    @include bold;
    @include italic;

    // 下划线 —————————————————————————————————————————
    @include underline;

    // 删除线 ————————————————————————————————————————
    @include linethrough;

    //高亮标记 ——————————————————————————————————————
    @include highlight;

    // 快捷键 ——————————————————————————————————————
    @include kbd;

    // 标签 ——————————————————————————————————————
    @include tag;

    [data-node-id] span[data-type~="tag"] {
        &[data-type~="block-ref"] {
            color: var(--b3-theme-primary);
            box-shadow: none;
            border: .08em solid var(--b3-theme-primary);
            text-decoration: none;
        }
    }

    // 行级代码 ————————————————————————————————————
    @include inline-code;

    // 备注 ——————————————————————————————————————
    @include inline-memo;

    // 引用块 ——————————————————————————————————————
    @include blockquote;

    .sb .bq,
    .sb blockquote {
        border: none;
    }

    //代码块 ——————————————————————————————————————
    .code-block {
        margin: 0.4em 0;

        .protyle-action .protyle-action__language {
            margin-top: 0;
            padding-left: 12px;
        }

        .protyle-linenumber__rows {
            padding: 2em 4px;
        }

        @include hljs;
    }

    // 列表 ——————————————————————————————————————
    .li {

        // 列表项序号、图标
        .protyle-action {
            opacity: 0.8;
            color: inherit !important;

            //任务列表
            &--task {
                color: inherit;

                &:hover {
                    color: var(--b3-theme-primary) !important;
                    opacity: 1;
                }
            }
        }
    }

    [data-node-id].li {

        // 缩进参考线
        &::before {
            border-left: 1px solid;
            border-left-color: inherit;
            mask-image: linear-gradient(to bottom, transparent 1px, black 1px); // 隐藏原有的1px 剩余
            opacity: 0.1;
            transition: opacity 0.2s;
        }

        &:hover::before {
            border-left-color: inherit;
            opacity: 0.3;
        }

        // 引用块 
        &>:is(.bq, blockquote) {
            padding-right: 16px;
        }

        //折叠时序号背景
        &[fold="1"]>.protyle-action:after {
            border-radius: 99px;
            transform: scale(1.5);
            @include theme-variant-color(background-color, on-background, 0.1);
        }
    }

    // 任务列表项 ————————————————————————————————
    .protyle-task--done {
        &>div[data-node-id].p {
            opacity: 0.45;
            color: inherit;
            text-decoration: none;
        }

        &>.protyle-action--task {
            opacity: 0.45;
        }
    }

    // 图片 ——————————————————————————————————
    [data-node-id] .img {
        img {
            border-radius: 6px;
        }

        &--select {
            filter: none;

            img {
                // filter: brightness(0.8);
                opacity: .8;
            }
        }

        &__net {
            top: 0;
            left: 0;
            padding: 5px;
            color: var(--b3-theme-on-surface);
            background-color: var(--b3-theme-surface-light);
            // mix-blend-mode: luminosity; // 和backdrop-filter一起导致卡顿、对话框闪烁
            border-radius: 6px 0 6px 0;
        }

        .protyle-action {
            opacity: 0;
        }

        .protyle-action__drag {
            top: 50%;
            transform: translateY(-50%);
        }

        .protyle-action__title {
            padding: .5em 0 0;
        }

        &:hover {
            .protyle-action__drag {
                box-shadow: 0 0 0 1px var(--b3-theme-on-surface);

                &:hover {
                    transform: scale(1.2) translateY(-40%);
                }
            }
        }
    }

    // 表格 ——————————————————————————————————————
    @include table;

    [data-node-id].table[custom-pinthead=true] thead {
        position: sticky;
        z-index: 1;
        box-shadow: 0px -1px 0px var(--b3-border-color-trans) inset;
        background-color: var(--b3-theme-background);
    }

    .table[custom-pinthead="true"] {
        thead {
            tr {
                th {
                    background-color: var(--b3-theme-surface);
                }
            }
        }
    }

    // 分隔线 ————————————————————————————————————
    [data-node-id].hr>div:after {
        background-color: var(--b3-border-color-trans);
        height: 2px;
        border-radius: 2px;
    }

    // 视频 ——————————————————————————————————————
    video {
        border-radius: 4px;
    }


    // 超级块 ————————————————————————————————————
    $sb-gap: 24px;

    &>.sb+.sb,
    [data-node-id].sb[data-sb-layout=row]>.sb:not(:first-child) {
        margin-top: $sb-gap;
    }

    [data-node-id].sb[data-sb-layout=col]>div {
        margin-right: $sb-gap;
    }

    // [data-node-id].sb[data-sb-layout=row]>.sb:first-child {
    //     margin-top: 0;
    // }
    [data-node-id].sb[data-sb-layout=col]>.sb {
        margin-top: 0;
    }

    .sb>.bq {
        margin: 0;
    }

    .sb>.code-block {
        margin: 0.2em 0;
    }

    .sb[data-sb-layout=row]> :where(.bq, .sb, blockquote)+ :where(.bq, blockquote) {
        margin-top: $sb-gap;
    }

    // 嵌入块 ——————————————————————————————————————
    [data-node-id].render-node[data-type=NodeBlockQueryEmbed] {
        border-left: none;
        padding: 12px 16px;
        background-color: var(--b3-theme-surface-light);

        &>.protyle-wysiwyg__embed {
            border-top: 1px solid var(--b3-border-color-trans);
        }
    }

    // iframe ————————————————————————————————————————
    [data-node-id].iframe {
        iframe {
            border-radius: 4px;
            border-color: transparent;
            transition: border-color 0.2s;
            color-scheme: auto;
        }

        &:hover {
            iframe {
                border-color: var(--b3-border-color-trans);
            }

            .protyle-action__drag {
                opacity: 0.5;
            }
        }

        .protyle-action__drag {
            height: 24px;
            width: 24px;
            background-color: var(--b3-theme-on-surface);
            mask-image: url(img/iframeResizer.svg);
            mask-size: contain;
            mask-repeat: no-repeat;
            box-shadow: none;
            border-radius: 0;
            right: -8px;
            bottom: -8.5px;
            filter: brightness(0.5);
            display: inline-block;
            opacity: 0;

            @include darkmode-counterpart {
                filter: none;
            }

            &:hover {
                box-shadow: none;
                opacity: 0.8;
                background-color: var(--b3-theme-on-background);
                transform: scale(1.2);
            }

            &::after {
                display: none;
            }
        }
    }
}

@mixin protyle-font {
    .color__square {
        width: 20px;
        height: 20px;
        box-shadow: none;
        border-radius: 50%;
        line-height: 20px;
        font-size: 14px;

        &:hover {
            box-shadow: 0 0 0 1px inset var(--b3-border-color-trans);
            transform: scale(1.2);
            font-weight: bold;
        }
    }

    .protyle-font__style {
        font-size: 14px;

        &:hover {
            transform: scale(1.1);
            box-shadow: none;
            border-color: transparent;
            background-color: var(--b3-list-hover);
        }
    }

    .b3-button {
        @include button-action('normal');
    }
}

.layout-tab-container {
    background-color: var(--b3-theme-background);
    transition: padding 0.2s;
}

.protyle {
    // font-variant-emoji: emoji; // 不受支持

    // background-color: transparent; // 全屏视图下是透明的

    // 题头图区域
    &-background {

        // 工具条
        .protyle-icons {
            .protyle-icon {
                height: 30px;
                padding: 8px 6px;

                &--first {
                    padding-left: 12px;
                }

                &--last {
                    padding-right: 12px;
                }
            }
        }

        // 图标工具条
        &__icon:not(.fn__none)+.protyle-icons {
            margin-top: 50px;
        }

        // 文档图标
        // &__iconw {
        // }

        // 文档标签
        .b3-chips {
            padding: 8px 16px;
            justify-content: flex-end;

            .b3-chip--pointer {
                opacity: 1;
            }

            position: relative;

            .b3-chip--middle {
                padding: 4px 8px;

                &::before {
                    content: '';
                    width: 8px;
                    transition: var(--b3-transition);
                }

                &:hover::before {
                    width: 0px;
                }

                .b3-chip__close {
                    width: 8px;
                    opacity: 0;
                    // transform: scale(0);
                    margin-right: -4px;
                }

                &:hover .b3-chip__close {
                    width: 16px;
                    opacity: 0.7;

                    &:hover {
                        opacity: 1;
                    }
                }

                $chip-colors: (
                    secondary: font-color4,
                    primary: font-color5,
                    info: font-color6,
                    success: font-color8,
                    warning:font-color9,
                    error: font-color10,
                    "pink": font-color12
                );

            @each $chip-type, $chip-color in $chip-colors {
                &.b3-chip--#{$chip-type} {
                    @include theme-variant-color(background-color, $chip-color, 1);
                    font-weight: 500;
                    mix-blend-mode: luminosity;
                    @include theme-variant-color(background-color, surface, 1);
                    @include theme-variant-color(color, on-background, 0.8, 1);
                    // color: rgba(128, 128, 128, .8);
                    // background-color: #fffd;
                    // @include darkmode-counterpart {
                    //     background-color: rgba(112, 112, 112, .5);
                    //     color: #fffd;
                    // }
                }
            }
        }
    }
}

&-icons {
    // 工具条
    @include protyle-icons;
    @include border-or-not($border: false);
}

&-action {
    // 代码块
    @include protyle-icons;
}

//文档标题
&-title {
    &__input {
        font-weight: 600;
        font-size: 2.4em;
        line-height: 1.4;
        padding-top: 8px;
        padding-bottom: 8px;

        &:empty:after {
            opacity: 0.6;
        }
    }


    &__icon {
        top: 50% !important;
    }
}

// 正文内容
&-wysiwyg {
    @include wysiwyg-elements;
    font-variant-ligatures: normal;

    // 正文紧挨文档标题的标题块
    &>div[data-type="NodeHeading"]:first-child,
    &>[data-node-id].sb:first-child .sb:first-child {
        margin-top: 0;
    }

    // 折叠块--标题块、列表块
    div[fold="1"] {
        &[data-type=NodeHeading] {
            background-color: var(--b3-theme-surface-light);
            outline: 1px solid var(--b3-border-color-trans);
            opacity: .6;

            &::before {
                display: none;
            }
        }

        &:not(.li):not([data-type=NodeHeading]).list {
            background-color: var(--b3-theme-surface-light);
            outline: 1px solid var(--b3-border-color-trans);
            opacity: .6;
        }
    }
}

//文字格式工具条
&-toolbar {
    animation: toolbar 0.2s ease-in-out;
    border: none;
    border-radius: 40px;
    padding: 4px;
    // transform: translateY(-12px);
    background-color: var(--b3-theme-surface);
    @include menu-shadow;
    @include border-or-not($border: false);

    &__item {
        height: 30px;
        width: 30px;
        padding-top: 3px;
        border-radius: 20px;

        &:first-child,
        &:last-child {
            border-radius: 20px;
        }

        &:hover {
            @include theme-variant-color(background-color, on-background, 0.1);
        }

        &:not(.protyle-toolbar__item--current) {
            @include theme-variant-color(color, on-background, 0.8);

            &:hover {
                @include theme-variant-color(color, on-background, 1);
            }
        }
    }

    &__divider {
        border-left: 1px solid var(--b3-border-color-trans);
    }
}

// 块定位滚动条
&-scroll {
    opacity: 0;
    transform: scale(0.95, 0.9);
    transition: opacity 0.2s cubic-bezier(0, 0, 0.2, 1),
        transform 0.2s cubic-bezier(0, 0, 0.2, 1);
    transition-delay: 1s;
    pointer-events: none;

    >* {
        pointer-events: all;
    }

    &:hover {
        opacity: 1;
        transform: none;
        transition-delay: 0s;
    }

    // 溢出显示
    >.protyle-scroll__bar {
        overflow: visible
    }

    &__bar {
        top: calc(50% - 12px);
    }
}


// 文字外观
&-font {
    @include protyle-font();
}

// 框选框
// &-select {
// outline: 1px solid var(--b3-theme-primary-lighter);
// }

// 预览模式 ————————————————————————————
.protyle-preview__action {
    background-color: var(--b3-theme-background);
    border-bottom: 1px solid var(--b3-border-color-trans);

    button {
        background-color: transparent;

        &.protyle-preview__action--current {
            background-color: transparent;
            font-weight: 600;
        }

        &:not(.protyle-preview__action--current):hover {
            background-color: transparent;
            color: var(--b3-theme-on-background);
        }
    }
}
}

.b3-typography {
    font-variant-ligatures: normal;
    // font-variant-emoji: emoji; // 不受支持

    // @extend .protyle-wysiwyg;
    &:not(#searchUnRefPreview) > * {
        border-radius: 8px;
    }

    @include headings;
    @include superlink(false, true);
    @include bold;
    @include italic;
    @include underline;
    @include linethrough;
    @include highlight;
    @include kbd;
    @include inline-code;
    @include blockquote;
    @include hljs;
    @include table(false, true);

    a {
        transition: var(--b3-transition);
    }

    table {
        // width: max-content;
        border: none;
        box-shadow: 0 0 0 1px var(--b3-border-color-trans);
        overflow: hidden;
    }

    img {
        border-radius: 6px;
    }

    hr {
        background-color: transparent;
        border: 1px solid var(--b3-border-color-trans);
    }

    video,
    iframe {
        border-radius: 4px;
        border-color: transparent;
    }
}
