@use "../../base" as *;
@use "../utils" as *;
@use "sass:string";

@mixin headings {
  // @for $i from 1 through 6 {

  //     :is(.h#{$i}, h#{$i}) {
  //         margin-top: 1.2em;
  //         line-height: 1.5;
  //     }

  //     @for $j from 2 through 6 {
  //         @if $i < $j {

  //             :is(.h#{$i}+.h#{$j}, h#{$i}+h#{$j}) {
  //                 margin-top: 0;
  //             }
  //         }
  //     }
  // }

  :is(.h1, .h2, .h3, .h4, .h5, .h6),
  :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 1.2em;
    line-height: 1.5;
  }

  [data-type="NodeHeading"] [spellcheck],
  :is(h1, h2, h3, h4, h5, h6) {
    word-break: auto-phrase; // 允许自动断字，目前仅支持日文
    // text-wrap-style: balance; // 平衡断字
  }

  :is(.h1, h1) {
    padding: 0 4px; // 修复 gutter 错位
    margin-bottom: calc(0.1em + 4px);
  }

  .h1 + .h2,
  h1 + h2,
  :is(.h1, .h2) + .h3,
  :is(h1, h2) + h3,
  :is(.h1, .h2, .h3) + .h4,
  :is(h1, h2, h3) + h4,
  :is(.h1, .h2, .h3, .h4) + .h5,
  :is(h1, h2, h3, h4) + h5,
  :is(.h1, .h2, .h3, .h4, .h5) + .h6,
  :is(h1, h2, h3, h4, h5) + h6 {
    margin-top: 0;
  }
}

@mixin blockquote {
  :is(.bq, blockquote) {
    $corner-radius: 10px;
    $corner-size: 16px;

    padding: 16px 20px;
    
    // border: .5px solid var(--b3-border-color-trans);
    box-shadow: 0 0 0 0.5px inset var(--b3-border-color-trans);
    margin: 1em 0;
    background-color: var(--b3-theme-surface-light);
    // outline: 1px solid var(--b3-border-color-trans);
    // outline-offset: -1px; //https://github.com/mustakshif/Asri/issues/208

    &::before {
      display: none;
    }
    // corner-shape: superellipse(0);
    // border-radius: 0 $corner-size 0 0;
    &:not([custom-callout], [custom-b], [custom-cssclasses]) {
      // @include superellipse($corner-radius);

      clip-path: polygon($corner-size 0%, $corner-size -2em, calc(100% + 2em) -2em, calc(100% + 2em) calc(100% + 1px), 0 calc(100% + 1px), 0 $corner-size);

      &::before {
        content: "";
        display: block;
        height: $corner-size;
        width: $corner-size;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 0 0 calc($corner-radius / $superellipse-k) 0;
        background-color: var(--b3-border-color-trans);
        // background: linear-gradient(-45deg, var(--b3-border-color-trans) 50%, transparent 50%);
      }
    }

    // &::after {
    //   // corner-shape: superellipse(0);
    //   // border-radius: 0 $corner-size 0 0;
    //   @include superellipse($corner-radius);
    // }

    & > [data-type="NodeHeading"]:first-child {
      margin-top: 0;
    }

    &+:is(.bq, blockquote, .callout) {
      margin-top: 0;
    }
  }

  [data-node-id].li > [data-node-id]:not(.code-block).bq {
    // 选择器:not(.code-block)仅为覆盖默认主题
    padding-right: 16px;
  }
}

@mixin table($protyle: true, $typography: false) {
  // $selector: matchSelector($protyle, '[data-node-id].table table', $typography, 'table');

  // #{$selector}

  table {
    font-variant-numeric: tabular-nums;
    border-radius: 8px;
    border: 1px solid var(--b3-border-color-trans);
    @include superellipse(8px);

    td,
    th {
      border: 1px solid var(--b3-border-color-trans);
      // background-color: var(--b3-theme-background);
      // @include theme-variant-color(background-color, background, 0.5);
      background-color: transparent;
    }

    thead {
      tr {
        th {
          @include theme-variant-color(background-color, on-surface-gray, 0.05, 0.15);

          border-top: none;

          &:first-child {
            border-left: none;
          }

          &:last-child {
            border-right: none;
          }
        }
      }
    }

    tbody {
      tr {
        &:nth-child(2n) {
          td {
            @include theme-variant-color(background-color, on-surface-gray, 0.05, 0.15);
          }
        }

        &:last-child {
          td {
            border-bottom: none;
          }
        }

        td:first-child {
          border-left: none;
        }

        td:last-child {
          border-right: none;
        }
      }
    }
  }
}

@mixin hljs {
  .hljs {
    border-radius: 10px;
    padding: 24px 28px;
  }
}

@mixin code-block {
  :is(.code-block, code.hljs) {
    // background-color: var(--b3-theme-surface-light);
    [data-theme-mode="light"] & {
      background-color: var(--b3-theme-surface-light);
    }

    [data-theme-mode="dark"] & {
      background-color: #0004;
    }

    .protyle-action {
      mix-blend-mode: luminosity;
    }
  }
}

@mixin list {
  .protyle-action:not(.protyle-action--task):hover {
    color: var(--b3-theme-primary) !important;
    // opacity: 1;
  }

  [data-node-id].li {
    > .protyle-action {
      color: inherit;
      left: unset;
      inset-inline-start: 0;
    }

    > [data-node-id] {
      margin-left: unset;
      margin-inline-start: 34px;
    }

    // 缩进参考线
    &::before {
      border-left: 1px solid;
      border-left-color: inherit;
      // mask-image: linear-gradient(to bottom, transparent 1px, black 1px); // 隐藏原有的1px 剩余
      opacity: 0.1;
      transition: opacity 0.2s;
      left: unset;
      inset-inline-start: 17px;
    }

    &:hover::before {
      border-left-color: inherit;
      opacity: 0.2;
    }

    // 引用块
    > :is(.bq, blockquote) {
      padding-right: 16px;
    }

    div.bq {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    //折叠时序号背景
    &[fold="1"] > .protyle-action:after {
      border-radius: 99px;
      transform: scale(1.5);
      background-color: var(--b3-list-hover);
      @supports (background-color: rgb(from var(--b3-theme-on-background) r g b / 0.1)) {
        background-color: rgb(from var(--b3-theme-on-background) r g b / 0.1);
      }
    }
  }

  /* 任务列表 */
  .protyle-task--done {
    & > div[data-node-id].p {
      opacity: 0.5;
      color: inherit;
      text-decoration: none;
    }
  }

  .li > div[data-node-id].p {
    transition: opacity 0.3s;
  }

  .li[data-subtype="t"] {
    .protyle-action--task {
      @include bouncy-check-box;

      &:hover {
        color: inherit !important;
      }

      > svg {
        visibility: hidden;
      }
    }
  }

  .protyle-action--task {
    // fix https://github.com/mustakshif/Asri/issues/147
    contain: strict; // avoid unnecessary mousewheel event listener in other blocks (check the render tab of the inspector)
  }

  .li.protyle-task--done {
    > .protyle-action--task {
      @include bouncy-check-box(true);
    }
  }

  [data-node-id][style*="font-color"],
  .protyle-task--done[style*="font-color"] {
    .protyle-action--task::before {
      background-color: currentColor;
    }
  }
}

@mixin image {
  [data-node-id] .img {
    img {
      border-radius: 6px;
    }

    &--select {
      filter: none;

      img {
        // filter: brightness(0.8);
        opacity: 0.8;
      }
    }

    &__net {
      top: 0;
      left: 0;
      padding: 5px;
      color: var(--b3-theme-on-surface);
      background-color: var(--b3-theme-surface-light);
      // mix-blend-mode: luminosity; // 和backdrop-filter一起导致卡顿、对话框闪烁
      border-radius: 6px 0 6px 0;
    }

    .protyle-action {
      opacity: 0;
    }

    .protyle-action__drag {
      top: 50%;
      transform: translateY(-50%);
    }

    .protyle-action__title {
      padding: 0.5em 0 0;
    }

    &:hover {
      .protyle-action__drag {
        box-shadow: 0 0 0 1px var(--b3-theme-on-surface);
        transition: transform 100ms ease-in-out;

        &:hover {
          transform: scale(1.2) translateY(calc(-50% / 1.2));
          transition-timing-function: var(--asri-ease-spring-3);
          transition-duration: 450ms;
        }
      }
    }
  }
}

@mixin superblock {
  $sb-gap: 24px;

  & > .sb + .sb,
  [data-node-id].sb[data-sb-layout="row"] > .sb:not(:first-child) {
    margin-top: $sb-gap;
  }

  // [data-node-id].sb[data-sb-layout=col]>div {
  //     margin-right: $sb-gap;
  // }

  [data-node-id].sb[data-sb-layout="col"] {
    column-gap: $sb-gap;
  }

  // [data-node-id].sb[data-sb-layout=row]>.sb:first-child {

  //     margin-top: 0;
  // }
  [data-node-id].sb[data-sb-layout="col"] > .sb {
    margin-top: 0;
  }

  .sb > div {
    height: fit-content;
  }

  .sb > .bq {
    margin: 0;
  }

  .sb > .code-block {
    margin: 0.2em 0;
  }

  .sb[data-sb-layout="row"] > :where(.bq, .sb, blockquote) + :where(.bq, blockquote) {
    margin-top: $sb-gap;
  }
}

@mixin embedblock {
  [data-node-id].render-node[data-type="NodeBlockQueryEmbed"] {
    border: none;
    padding: 16px 20px;
    background-color: var(--b3-theme-surface-light);

    & > .protyle-wysiwyg__embed {
      border-top: 1px solid var(--b3-border-color-trans);
    }

    // &:hover {
    //     .protyle-wysiwyg__embed:nth-child(1 of .protyle-wysiwyg__embed) {
    //         .protyle-attr>div {
    //             transform: translateX(-86px);
    //         }

    //         .protyle-attr .protyle-attr--refcount {
    //             transform: translateX(0) translateY(24px);
    //         }
    //     }
    // }
  }

  .protyle-wysiwyg__embed .code-block > .protyle-action {
    // justify-content: flex-start;
    .protyle-action__language {
      margin-right: 8px;
    }
    > :not(.protyle-action__language) {
      display: none;
    }
  }
}

@mixin iframe {
  [data-node-id].iframe {
    iframe {
      border-radius: 4px;
      border-color: transparent;
      transition: border-color 0.2s;
      color-scheme: auto;
    }

    &:hover {
      iframe {
        border-color: var(--b3-border-color-trans);
      }

      .protyle-action__drag {
        opacity: 0.5;
      }
    }

    .protyle-action__drag {
      height: 24px;
      width: 24px;
      background-color: var(--b3-theme-on-surface);
      mask-image: url('data:image/svg+xml,<svg width="86" height="85" viewBox="0 0 86 85" xmlns="http://www.w3.org/2000/svg"><path d="M9.50597 84.5022H43.939C71.2952 84.5022 85.0258 70.6822 85.0258 43.8861V9.49452C85.0258 3.48172 81.6459 0 75.6259 0C69.6047 0 66.3308 3.48172 66.3308 9.49452V42.8317C66.3308 58.0225 57.9865 65.8297 43.5161 65.8297H9.50597C3.48484 65.8297 0 69.2055 0 75.1135C0 81.1263 3.48484 84.5022 9.50597 84.5022Z" fill="white" fill-opacity="0.85"/></svg>');
      mask-size: contain;
      mask-repeat: no-repeat;
      box-shadow: none;
      border-radius: 0;
      right: -8px;
      bottom: -8.5px;
      filter: brightness(0.5);
      display: inline-block;
      opacity: 0;

      @include darkmode-counterpart {
        filter: none;
      }

      &:hover {
        box-shadow: none;
        opacity: 0.8;
        background-color: var(--b3-theme-on-background);
        transform: scale(1.2);
      }

      &::after {
        display: none;
      }
    }
  }
}

@mixin callout {
  .callout {
    padding-left: unset;
    padding-inline-start: 0.5em;
    padding-inline-end: 0.5em;
    margin: 1em 0;
    padding-top: 0.5em;
    padding-bottom: calc(0.5em + 4px);
    color: var(--callout-text-color, var(--b3-theme-on-surface));
    background-color: var(--callout-background-color, var(--b3-theme-surface));
    box-shadow: 0 0 0 0.5px inset var(--callout-border-color, var(--b3-border-color-trans));

    &-icon {
      font-size: 120%;
    }

    &-title {
      margin-left: 0;
      text-transform: uppercase;
      font-feature-settings: normal;
    }

    &-content {
      padding-inline-start: calc(1.2em + 8px);
    }

    &::before {
      display: none;
    }

    @each $type in ("NOTE", "TIP", "WARNING", "IMPORTANT", "CAUTION") {
      &[data-subtype=#{$type}] {
        --callout-text-color: var(--b3-callout-#{string.to-lower-case($type)}-text);
        --callout-border-color: var(--b3-callout-#{string.to-lower-case($type)}-border);
        --callout-background-color: var(--b3-callout-#{string.to-lower-case($type)}-background);
      }
    }

    &+:is(.callout, .bq, blockquote) {
      margin-top: 0;
    }
  }
}
