@use './base' as *;

:root {
    --b3-border-radius-b: 16px; // 对话框圆角

    &,
    &:lang(zh_CN) {
        @include font-family;
    }

    &:lang(ja_JP) {
        --b3-font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans", "Yu Gothic UI", "PingFang SC", "Segoe UI", "Microsoft Yahei", "Hiragino Sans GB", sans-serif, "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    }

    // interpolate-size: allow-keywords;  // https://developer.chrome.com/docs/css-ui/animate-to-height-auto/
}

// dark first to fix font color and background color abnormality in pdf export 
[data-theme-mode="dark"] {
    &:root {
        color-scheme: dark;
        // https://stackoverflow.com/questions/21157231/mac-os-x-scrollbar-is-sometimes-white-transparent-and-sometimes-black-transpare
    }

    &:root,
    body.has-exportimg {
        @include theme-root($theme-dark);
    }
}

[data-theme-mode="light"] {

    &:root,
    // fix being overridden by other themes
    body.has-exportimg {
        @include theme-root($theme-light)
    }

    body {
        ::selection {
            background-color: var(--b3-theme-primary-lightest);
        }
    }


    .body-asri--mobile {
        --b3-theme-background: #fff;
        --b3-parent-background: var(--b3-theme-background);
    }

    // use hex to fix https://github.com/mustakshif/Asri/issues/39
}

body {
    -webkit-font-smoothing: auto;
    text-underline-position: under;
    text-decoration-skip-ink: all; // not supported yet

    @include cssvars; // fix being overridden by other themes

    @include darkmode-counterpart {
        -webkit-font-smoothing: antialiased;
    }

    &[arco-theme] {
        font-family: var(--b3-font-family);
    }
}