@use "./base" as *;

:root {
  --b3-border-radius-b: 16px; // SiYuan 定义的对话框圆角

  // https://github.com/mustakshif/Asri/issues/240
  @include theme-root($theme-light);
  @include theme-root-light;
  @include cjk-rounded-quotes;

  --b3-body-background: var(--b3-theme-surface);

  &,
  &:lang(zh-CN) {
    --b3-font-family:
      "CJKRoundedQuotes", "Emojis Additional", "Emojis Reset",
      BlinkMacSystemFont, "SF Pro Text", "SF Pro Icons", Helvetica,
      "PingFang SC", "Luxi Sans", "DejaVu Sans", "Microsoft Yahei",
      "Hiragino Sans GB", "Source Han Sans SC", sans-serif, emojis;
  }

  &:lang(zh-TW) {
    --b3-font-family:
      "CJKRoundedQuotes", "Emojis Additional", "Emojis Reset",
      BlinkMacSystemFont, "SF Pro Text", "SF Pro Icons", Helvetica,
      "PingFang TC", "Luxi Sans", "DejaVu Sans", "Microsoft JhengHei",
      "Hiragino Sans TC", "Source Han Sans TC", sans-serif, emojis;
  }

  &:lang(ja) {
    --b3-font-family:
      "CJKRoundedQuotes", "Emojis Additional", "Emojis Reset",
      BlinkMacSystemFont, "SF Pro Text", "SF Pro Icons", Helvetica, "Luxi Sans",
      "DejaVu Sans", "Yu Gothic UI", sans-serif, emojis;
  }

  // interpolate-size: allow-keywords;  // https://developer.chrome.com/docs/css-ui/animate-to-height-auto/

  @include common-anim-css-vars;
}

// dark first to fix font color and background color abnormality in pdf export
.asri-mode-dark {
  color-scheme: dark;
  // https://stackoverflow.com/questions/21157231/mac-os-x-scrollbar-is-sometimes-white-transparent-and-sometimes-black-transpare

  @include theme-root($theme-dark);
  @include theme-root-dark;

  // use hex to fix ios top bar color
  .body-asri--iosApp {
    --b3-theme-background: #161616;
    --b3-parent-background: var(--b3-theme-background);
  }
}

.asri-mode-light {
  @include theme-root($theme-light);
  @include theme-root-light;

  // use hex to fix https://github.com/mustakshif/Asri/issues/39
  .body-asri--mobile {
    --b3-theme-background: #fff;
    --b3-parent-background: var(--b3-theme-background);
  }
}

body {
  text-underline-position: under; //https://github.com/mustakshif/Asri/issues/265
  text-decoration-skip-ink: all; // not supported yet
  text-spacing-trim: trim-start;
  text-autospace: normal;
  background-image: unset;

  &:not(.body--win32, .body-asri--linux) {
    scrollbar-color: var(--b3-scroll-color-hover)
      var(--b3-theme-background-light, #0000);
  }

  --b3-toolbar-left-mac: 80px;
  --toolbar-height: 32px;
  &.body--toolbar-hide {
    --toolbar-height: 42px;
  }
}

// 选中背景颜色问题 https://github.com/mustakshif/Asri/issues/242 https://github.com/mustakshif/Asri/issues/241
// :root {
//   @supports (color: color-mix(in srgb, currentColor, #0000)) {
//     ::selection {
//       background-color: color-mix(in srgb, currentColor 25%, #0000);
//     }
//   }
// }
